//sass --watch button.scss:button.css
$gray: #dedddd;
$red:  #f32f3a;
$black: #424242;
$red-sinopsis: #cc4242;
$tags: #354f5e;
$stars: #eec74e;
$green: #3db29c;
$blue: #354f5e;

.book-information{
	margin-bottom:20px;
	font-family:'open_sansregular';
	font-size: 16px;
	padding-right:0;
	position:relative;	
	.book-content{
		@media only screen and (max-width : 2000px){		
			min-width: 689px;
		}
		@media only screen and (max-width : 880px){		
			min-width: 300px;
		}	
		@media only screen and (max-width : 631px){		
			display: none;
		}			
	}

	.mini-book{
		display: none;
		text-align: justify;
		@media only screen and (max-width : 631px){		
			display: block;
		select{
			width: 100% !important;
			padding: 3px;
		}
		#mini-sinopsis, #mini-detail{
			display: none;
		}			
		.mini-detail{
			border-bottom:1px solid $gray;
			padding:3px;
			margin-bottom: 10px;
			font-family:'montserratregular';
			font-size: 16px;
		}
		.mini-text{
			font-family:'open_sanslight';
			font-size: 14px;
			padding-right: 20px;
		}
		.mini-hover{
			cursor: pointer;
		}
		.btn{
			width:100% !important;
			max-width:100% !important;
		}	
		.btn-add-library{
			cursor: pointer;
			margin-top: 20px;
			padding:8px 10px 8px 10px;
			border-radius: 30px;
			background-color: #FFF;
			border-color: $blue;
			border:1px solid $blue;
			font-family:'montserratregular';
			font-size: 12px;	
			color: $blue;
			width: 175px;
			&:hover{
				background-color:$blue;
				color:#FFF !important;
			}
		}
		.btn-add-library-mini{
			cursor: pointer;
			margin-top: 20px;
			padding:8px 10px 8px 10px;
			border-radius: 30px;
			background-color: #FFF;
			border-color: $blue;
			border:1px solid $blue;
			font-family:'montserratregular';
			font-size: 12px;	
			color: $blue;
			width: 100%;
			&:hover{
				background-color:$blue;
				color:#FFF !important;
			}
		}			

		}

	}		
	.add-list{
		text-align:left;
		p{
			margin-bottom: 5px;
			text-align: left;
		}		
	}
	.add-list-mini{
		text-align:left;
		p{
			margin-bottom: 5px;
			text-align: left;
		}		
	}
	.coverbook{
		text-align: center;
		max-width: 230px !important;
		min-width: 230px;
		float: left;
		.cover{
			width: 175px;
			height: 270px;
			margin-bottom: 20px;
		}
		@media only screen and (max-width : 631px){		
			text-align: center;
			float: none;
			margin: 0 auto;
		}	
		.rate{
			font-family: 'open_sansregular';
			background-image: url('../images/detail/estrella_calificacion.svg');
			background-repeat:no-repeat;
			padding:0;
			padding-top: 15px;
			height:45px;
			width: 48px;
			font-size: 14px;
			margin-right: 5px;
			float: left;
		}
		.rating{
			text-align: center;
			margin-top: 15px;
			margin-bottom: 10px;
		}
		#div-library {
			padding-left:19px;
		}		
	}
	h3.title{
		font-family:'Montserrat';		
		font-size: 20px;
		display:inline;
	}
	.isbn{
		font-family:'open_sanslight';			
		font-size: 14px;
	}
	.type{
		width: 35px;
		height: 35px;
		margin-right:15px;
		display: inline;
	}	
	.authors{
		font-size: 18px;		
		text-align: justify;
		margin: 15px 0 15px 0;
	}
	.nav-tabs {
	  border: 0;
	}		
	.info{
		padding: 28px 15px 35px 15px;
		border:1px solid $gray;	
		p{
			font-family: 'open_sanslight';
			font-size: 16px;
			max-width: 565px !important;
		}

	}
	.info-detail{
		padding: 28px 15px 35px 15px;
		border:1px solid $gray;		
		display:none;				
	}	
	.nav-tabs>li {		
	  >a{
	  	  line-height: 1.42857143;
		  font-family:'montserratregular';	  	  
		  border: 1px solid $gray;
		  border-radius:0;
		  margin-right: 0;
		  text-decoration: none;
		  color: $black;
		}	  
		>a.active{
	  	  line-height: 1.42857143;
		  text-decoration: none;
		  font-family:'montserratregular';
		  background-color: $red-sinopsis;
		  color: #FFF;
		}	
		>a.sinopsis{
			border-right: 0px;	  	
		}

	}

 .btn-add-library{
		padding:8px 10px 8px 10px;
		border-radius: 30px;
		margin-right: 4´x;
		background-color: #FFF;
		border-color: $blue;
		border:1px solid $blue;
		font-family:'montserratregular';
		font-size: 12px;	
		color: $blue;
		width: 175px;
		&:hover{
			background-color:$blue;
			color:#FFF !important;
		}
	}	
	p{
		margin-bottom: 15px;
	}
}
