@import 'helper';

$standard-menu-screen: 1279px;
$large-menu-screen: 1132px;
$medium-menu-screen: 1059px;
$small-menu-screen: 1019px;
$extra-small-menu-screen: 987px;
$claimoff-menu-screen: 949px;
$xsmall-menu-screen: 830px;
$mobile-menu-screen: 767px;
$mobile-screen: 767px;
$mobile-book-detail: 599px;

$green:  #3db29c;
$dark_green: #354f5e;
$red: #CC4242;
$dark_red: #BA0404;
$orange: #ef6c15;
$brown: #d8b645;

.home-activity {	
	padding: 30px 17px 37px 40px;

	@media screen and (max-width: $mobile-screen) {
  	padding: 37px 15px 37px 15px;  	
  }

  h2 {
		color:black;
		font-family: 'Open Sans', sans-serif;
		font-size:24px;
		font-weight: 400;
		margin: 0;

		@media screen and (max-width: $mobile-screen) {
	  	font-size: 18px;
	  }
	}

	hr {
		margin-top: 12px;
	  border: 0;
	  border-top: 2px solid $green;
	}

	.activity-container {
		margin: 16px 0!important;
	  padding: 11px 12px;
	  border: 1px solid #ddd;

	  .activity-who {
	  	color: $green;
	  	font-family: 'Open Sans', sans-serif;
	  	font-weight: 400;
	  	font-size: 16px;
	  		

	  	@media screen and (max-width: $mobile-screen) {
	  		font-size:14px;
	  		
	  	}

	  	 &:hover {
	  	 	text-decoration:none;
	  	 }
	  }

	  .activity-who-list {
	  	color: black;
	  	font-family: 'Open Sans', sans-serif;
	  	font-weight: 400;
	  	font-size: 16px;
	  		

	  	@media screen and (max-width: $mobile-screen) {
	  		font-size: 14px;
	  	}

	  	 &:hover {
	  	 	text-decoration:none;
	  	 }
	  }

	  .portrait {
	  	margin: 0 0 0 1%;
	  	min-width: 74px;
	  	min-height: 74px;
	  	border-radius: 74px;
	    border: 1px solid #DEDEDE;
	    padding: 2px;

	    @media screen and (max-width: $mobile-screen) {
		  	width: 40px!important;
		    height: 40px!important;
		    min-width: 40px!important;
		    min-height: 40px!important;
		  }
	  }
	}

	.actividad_amigos {
		.detalles  {
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			span {
				font-size: 16px;				
			}
		}

		.share_like {
		  float: right;
		  width: 87%;
		  margin: 5px 0 2px 0;

		  a {
		  	font-family: 'Open Sans', sans-serif;
		  	font-size: 14px;
		  	color: $dark_green;
		  	margin-right: 5px;
		  	font-weight: 600;
		  }

		  .active {
		  	color:$green!important;
		  }

		  .bar {
		  	font-family: 'Open Sans', sans-serif;
		  	font-size: 14px;
		  	color: $dark_green;
		  	margin-right: 3px;	
		  	font-weight: 600;
		  }

		  .like-count {
		  	font-family: 'Open Sans', sans-serif;
		  	font-size: 14px;
		  	color: #989898;
		  	font-weight: 600;
		  }
		}
	}
}

.home-activity-recomendations {	
	padding: 30px 17px 37px 40px;

	@media screen and (max-width: 992px) {
	  	display: none;  	
	}

	@media screen and (max-width: $mobile-screen) {
  	padding: 37px 15px 37px 15px;  	
  }

  h2 {
		color:black;
		font-family: 'Open Sans', sans-serif;
		font-size:24px;
		font-weight: 400;
		margin: 0;

		@media screen and (max-width: $mobile-screen) {
	  	font-size: 18px;
	  }
	}

	hr {
		margin-top: 12px;
	  margin-bottom: 38px;
	  border: 0;
	  border-top: 2px solid red;
	}
}

.actividad_amigos {
	.detalles {
		width:87%;
	}
}

.activity-desc-col {
	padding: 0 4px 0 35px;

	span {
		font-family: 'Open Sans', serif;
		font-weight: 400;
	  font-size: 16px;
	  

	  @media screen and (max-width: $mobile-screen) {
	  	font-size:14px;
	  	
	  	display: inline-block;
	  }
	}

	@media screen and (max-width: $mobile-screen) {
		padding: 0 0 0 8px;
	}
}

.time-lapse { 
	font-weight: 400;
	color: #939393;
	font-size: 14px!important;
	padding: 0 !important;

	@media screen and (max-width: $mobile-screen) {
		margin-top: -19px;
    font-size: 12px!important;
    color: black!important;
	}
}

.activity-book-img {
	width: 98px!important;
	height:152px!important;
	margin: 15px 15px 7px 0 !important;
	border-radius: 0!important;

	@media screen and (max-width: $mobile-screen) {
		width:102px!important;
		height:155px!important;
		margin-right:0!important;
		margin-bottom:0!important;
	}
}

.activity-book-data {
	display:block;
	span {
		font-weight: 400;
    font-family: 'Open Sans', serif;
		display: block;
	}

	.top-line {
		font-family: "Open Sans", sans-serif;
		margin-top: 11px;
		
		a {
			color:black;
			&:hover {
				text-decoration:none;
			}
		}
	}
}

.actividad_amigos {
	section {
		width:100%!important;
	}
}

.home-activity {
	.actividad_amigos {
		.share_like {
			float:left;
		}
	}
}

.actividad_amigos {
	.post {
		margin: 0;
	}

	.title {
    display: block;
    padding: 6px 0 0 8px;
    border-top: 1px solid #d6d6d6;
    border-bottom: none!important;
    width: 100%;
    margin: 15px 0 0px 0;
    text-align: center;
	}

	.comments {
		h5 {
			margin-bottom:0;
			margin-top:0;
		}

		input {
			font-family: 'Open Sans', serif;
			font-weight: 600;
			padding: 6px 10px;
		}

		textarea {
			font-family: 'Open Sans', serif;
	    font-weight: 600;
	    padding: 6px 10px;
	    width: 100%;
	    height: 37px;
	    font-size: 16px;
	    resize: vertical;
	    transition: none;
		}

		section {
			margin: 15px 0 0 0;
			padding: 0!important;

			.text {
				margin: 0 0 0 3px;
			}

			p {
				padding-bottom:0px;
				color:black;
				font-family: "Open Sans", serif;
			}

			img {
				position:relative;
				left: 0;
				width: 45px;
				height: 45px;
				border-radius: 45px;
		    border: 1px solid #DEDEDE;
		    padding: 2px;
			}

			
		}
	} 
}

.activity-comment-text {
  font-family: 'Open Sans', serif!important;
  font-weight: 400!important;
  font-size: 16px!important;
  display: block!important;
  font-style: normal!important;
  margin: 0!important;  
}

.comment-like-bar {
	font-family: 'Open Sans', sans-serif!important;
	font-size: 14px!important;
	color: $dark_green!important;
	margin-right: 3px!important;	
	font-weight: 600!important;
	display: inline-block!important;
	font-style: normal!important;
	margin: 0 6px 0 0 !important;
  padding: 0px!important;

  @media screen and (max-width: $mobile-screen) {
  	margin:0!important;
  }
}

.comment-like-count {
	font-family: 'Open Sans', sans-serif!important;
	font-size: 14px!important;
	color: #989898!important;
	font-weight: 600!important;
	display: inline-block!important;
	font-style: normal!important;
	margin: 0 5px 0 0!important;

	@media screen and (max-width: $mobile-screen) {
  	font-size: 12px!important;
  }  
}

.ver-mas-link {
	font-family: 'Open Sans', sans-serif!important;
	font-size: 14px!important;
	font-weight: 600!important;
	display: inline-block!important;
	font-style: normal!important;
	margin: 0px 0 0px !important;
  color: #3db29c !important;
  position: relative !important;
  padding-left: 10px!important;

	&:hover {
		color: $green!important;			
	}
}

.comment-time {
	margin: 2px 0 15px!important;
	font-style: normal!important;
}

.show-more-comments-button {
	font-family: 'Open Sans', serif;
	color:$green!important;
	font-size: 16px;
	text-align: center;
	text-decoration:none!important;

	&:hover {
		text-decoration:none;
	}
}

.activity-quote {
	background: #E0E0E0;
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

.low-separator {
	  margin-top: 5px;
    margin-bottom: 5px;
    color: #ddd!important;
    border-top: 1px solid #ddd!important;
}

.show-activities-btn {
  font-family: 'Open Sans', serif;
  color: $green !important;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;

  @media screen and (max-width: 1024px) {
  	font-size: 14px;
  }

  @media screen and (max-width: $mobile-screen) {
  	font-size: 14px;
  }

  &:hover {
  	text-decoration: none !important;
  }
}

.show-comments-btn {
  font-family: 'Open Sans', serif;
  color: $green !important;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
  padding-top: 10px;

  @media screen and (max-width: $mobile-screen) {
  	font-size:14px;
  }

  &:hover {
  	text-decoration: none !important;
  }
}

.show-activities-arrow {
  color: $green !important;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding-left: 10px;
}

.col-centered-text {
	text-align: center;
}

.profile-info-row {
	min-height: 420px;
  margin-bottom: 20px;

  img {
  	display: block;
    margin: 20px auto 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 100px;
    border: 2px solid $dark_green;
    padding: 3px;

    @media screen and (max-width: $mobile-screen) {
    	width:118px;
    	height:118px;
    	margin: -15px auto 0 auto;
    }
  }

  @media screen and (max-width: $mobile-screen) {
  	min-height:294px;
  }
}

.username-row {
	font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  text-align: center;
  margin-top: 26px;
  color: $dark_green;

  @media screen and (max-width: $mobile-screen) {
  	font-size: 20px;
  	margin-top: 16px;
  }
}

.dotted-underline {
  border:none;
  border-top:2px dotted black!important;
  color:#fff;
  background-color:#fff;
  height:4px;
  margin-bottom: 5px;
  margin-top: 10px!important;

  @media screen and (max-width: $mobile-screen) {
  	border-top: 1px dotted black!important;
  	margin-top: 6px!important;
  	margin-bottom: 0px;
  }
}

.profile-bio {
	font-family: 'Open sans', serif;
  font-size: 16px;
  font-weight: 400;
  color: $dark_green;
  text-align: center;
  line-height: 25px;

  @media screen and (max-width: $mobile-screen) {
  	font-size:15px;
  }
}

.profile-info-col {
	font-family: 'Open Sans', sans-serif;
	color: $green;
	text-align: center;
	font-size: 20px;
	margin-bottom: 18px;

	@media screen and (max-width: $mobile-screen) {
		font-size: 14px;
	}
}

.profile-info-bignumber {
	font-size: 28px;
	margin-top: 0px;
  color: black;
  padding-bottom: 15px;

  @media screen and (max-width: $mobile-screen) {
		font-size: 25px;
    margin-top: -4px;
	}
}

.profile-info-smallnumber {
	font-size: 14px;
  margin-top: -9px;
  color: black;

  @media screen and (max-width: $mobile-screen) {
		font-size: 9px;
    margin-top: -5px;
	}
}

.profile-info-icon {
	border-radius: 0!important;
  border: none!important;
  width: initial!important;
  height: initial!important;
  margin: 0!important;

  @media screen and (max-width: $mobile-screen) {
		width: 38px!important;
	}
}

.profile-info-rank-col {
	font-family: 'Open Sans', sans-serif;
	color: $green;
	text-align: center;
	font-size: 20px;

	@media screen and (max-width: $mobile-screen) {
		font-size: 14px;
	}
}

.extended-row {
	margin-left: -27px;
	margin-right: -23px;
}

.perfil-cita {
		h2 {
			color:black;
			font-family: 'Open Sans', sans-serif;
			font-size:24px;
			font-weight: 400;
			margin: 0;
			margin-top:30px;

			@media screen and (max-width: $mobile-screen) {
		  	font-size: 18px;
		  }
		}

		hr {
			margin-top: 12px;
		  margin-bottom: 5px;
		  border: 0;
		  border-top: 2px solid #EFC84E;
		}

		h4 {
			  font-family: 'Open Sans', sans-serif;
			  font-size: 18px;
			  font-weight: 400;
			  margin: 0;
			  margin-top: 10px;
			  display: block;

			  @media screen and (max-width: $mobile-screen) {
			  	font-size: 16px;
			  }
		}

		span {
			font-family: 'Open Sans', sans-serif;
		  font-size: 18px;
		  font-weight: 400;
		  margin: 0;
		  margin-top: 11px;
		  display: block;
		  text-align: right;

		  @media screen and (max-width: $mobile-screen) {
		  	font-size: 16px;
		  }
		}

		a {
			font-family: 'Open Sans', sans-serif;
		  font-size: 14px;
		  font-weight: 400;
		  margin: 0;
		  margin-top: 0;
		  display: inline-block;
		  color: #C5A849;
		  text-decoration: none;

		  @media screen and (max-width: $mobile-screen) {
		  	font-size: 14px;
		  }
		}
	}

	.book-info-col {
		padding-right: 0!important;
		padding-left:5px;
		min-height: 169px;
	}

	.activity-btns {
		position:absolute;
		bottom:0;
	}

	.activity-btn {
		display: inline-block;
    border-radius: 30px;
    border: 1px solid $dark_green;
    background: white;
    color: $dark_green;
    padding: 8px 28px;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    &:hover {
    	border: 1px solid white;
	    background: $dark_green;
	    color: white;
    }
	}

	.activity-add-book-btn {
		padding: 9px 14px !important;
    font-size: 13px;
    margin-right: 15px;

    @media screen and (max-width: $mobile-screen) {
    	padding: 9px 10px !important;
	    font-size: 12px;
	    margin-right: 5px;
	    margin-top: 13px;
	    margin-left: 0;
    }
  }

  .activity-read-btn {
  	font-size: 16px;
    padding: 7px 35px!important;

    @media screen and (max-width: $mobile-screen) {
    	padding: 9px 9px !important;
    	font-size: 12px;
    	margin-top: 13px;
    }
  }

  .comment-like-button {
		font-family: 'Open Sans', sans-serif;
    font-size: 14px!important;
    margin-right: 5px;
    font-weight: 600!important;
    position:inherit;
    cursor:pointer;
    display:inline-block!important;

    @media screen and (max-width: $mobile-screen) {
    	font-size:12px!important;
    }
	}

	.activity-like-button {
		font-family: 'Open Sans', sans-serif;
    font-size: 14px!important;
    margin-right: 5px;
    font-weight: 600!important;
    position:inherit;
    cursor:pointer;

    @media screen and (max-width: $mobile-screen) {
	  	display: inline-block;
	  	font-size: 12px!important;
	  	margin: 0;
	  }
	}

	.activity-like-No {
		color: $dark_green;
		padding: 0!important;

		&:hover {
    	color: $dark_green;
    }
	}

	.activity-like-Yes {
		color: $green;
		padding: 0!important;

		&:hover {
    	color: $green;
    }
	}

	.post {
		textarea {
			font-family: 'Open Sans', serif;
	    font-weight: 400;
	    padding: 4px 10px;
	    width: 100%;
	    height: 33px;
	    font-size: 16px;
	    resize: vertical;
	    transition: none;
	    margin-top: 15px;
	    overflow: hidden;
		}
	}

.activity-rating-img {
	width: 17px !important;
  height: 17px !important;
  margin-top: -6px!important;
  float: none!important;
  margin-left: -1px!important;

  @media screen and (max-width: $mobile-screen) {
  	width: 13px !important;
    height: 13px !important;
    margin-top: 2px !important;
    float: none !important;
    margin-left: -1px !important;
  }
}

.like-row {
	margin: 0;
	margin-top: 10px;
}

.hidden {
	display:none!important;
}

.comment-item-row {
	margin:0;
	margin-top: 13px;
}

.small-portrait {
	position:relative;
	left: 0;
	width: 45px!important;
	height: 45px!important;
	border-radius: 45px;
  border: 1px solid #DEDEDE;
  padding: 2px;
  margin:0 !important;

  @media screen and (max-width: $mobile-screen) {
  	width: 40px!important;
		height: 40px!important;
  }
}

.activity-comment-wrapper {
	margin:0;
	margin-top:3px;

	.time-lapse {
		@media screen and (max-width: $mobile-screen) {
		 	display:none!important;
		}
	}
}

.comment-info-row {
	  margin-top: -20px;
    padding-left: 4%;
   	
 	 	@media screen and (max-width: 1028px) {
 	 		padding-left: 8%;
 	 	}

    @media screen and (max-width: $mobile-screen) {
    	margin-left: 15px;
    	margin-right: 0;
    	margin-top: 0px;
    	padding: 0;
    }

    span {
    	display:block;
    	margin-top:4px;
    	font-weight: 400;
    	font-family: 'Open Sans', serif;

    	@media screen and (max-width: $mobile-screen) {
    		font-size:12px;
    	}
    }
}

.like-comment-row {
	margin: 0;
	margin-top:1px;	
}

.see-more-activities {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color:$green;
	font-size: 16px;

	hr {
		border-top: 1px solid #ddd;
	}
}

.show-more-comments {
	margin: 0;
	margin-top:15px;
	border-top: 1px solid #ddd;
	text-align: center;
}

.activity-renowned-hr {
	margin-top: 12px;
	border: 0;
	border-top: 2px solid $orange!important;
}

.renowned-book-item {
	margin:0;
	margin-bottom:24px;
}

.renowned-book-act-info {
	margin: 0;

	.act-book-title {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color:black!important;
		margin-bottom: 10px;
		text-decoration: none!important;
		display:block;

		&:hover {
			color:$orange!important;
		}
	}

	.act-book-author {
		font-family: 'Open Sans', serif;
		font-size: 14px;
		font-weight: 400;
		color:black;
		margin-bottom: 5px;
		display:block;
	}
}

.activity-extra-book {
	width:67px;
	height:103px;
}

.renowned-act-info-col {
	padding-left:20px;
}

.act-extra-book-star {
	width:16px;
	height:16px;
	display: inline-block;
}

.act-extra-right {
	margin-left:-1px;
}

.renowned-title {
	margin-top: 38px!important;
}

.reason-act-book-col {
	margin-bottom: 10px!important;

	a {
		color:$red!important;
		text-decoration: none!important;
		font-family: 'Open Sans', serif!important;
		font-weight: 600;

		&:hover {
			color:$red!important;
			text-decoration: none!important;
		}
	}	
}

.activity-dsk-column {
	@media screen and (max-width: $mobile-screen) {
		display:none!important;
	}
}

.activity-mbl-column {
	display: none!important;

	@media screen and (max-width: $mobile-screen) {
		display:block!important;
	}
}

.act-pre-desc {
	display: inline-block!important;
}

.mbl-act-info-row {
	margin-top:-4px;
}

.activity-book-title {
	@media screen and (max-width: $mobile-screen) {
			font-size:12px!important;
		}
}

.activity-book-author {
	@media screen and (max-width: $mobile-screen) {
			font-size:12px!important;
		}
}

.activity-comment-button {
	font-family: 'Open Sans', sans-serif;
  font-size: 14px!important;
  margin-right: 5px;
  font-weight: 600!important;
  position:inherit;
  cursor:pointer;

  @media screen and (max-width: $mobile-screen) {
  	display: inline-block;
  	font-size: 12px!important;
  	margin: 0;
  }
}

.textfield_comment {
	@media screen and (max-width: $mobile-screen) {
		display:none;
	}
}

.textfield_comment-mbl {
	min-height:100px!important;
	border-color: #ddd;
	font-size: 14px!important;
	margin-bottom:0!important;
}

.textfield_comment-submit {
	width:100%;
	height:61px;
	display:block;
	margin-top:-5px;
	border: 1px solid #ddd!important;
	border-top: 0px solid #ddd!important;;
	background-color: white;
	color: #A5A5A5!important;
	line-height: 61px;
	text-align: center;
	font-family: 'Open Sans',serif;
  font-weight: 600;
  text-decoration: none!important;

	&:hover {
		border: 1px solid $green!important;
		border-top: 0px solid $green!important;;
		background-color: $green;
		color: white!important;		
		text-decoration: none!important;
	}
}

.activity_quote
{
	 font-family: 'Open Sans', serif;
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
}