/**
*  Estilos comunes que se cargan a lo largo de la pagina katamanicos.com 
*
*
*  Para poder compilar este archivo es necesario Sass CSS Importer Plugin
* 
*     https://github.com/chriseppstein/sass-css-importer
*     sass -r sass-css-importer advanced_search.scss advanced_search.css
*     sass -r sass-css-importer -t compressed advanced_search.scss advanced_search.css
*
*     (sass -r sass-css-importer --watch sass_dir:css_dir)
* 
*/

$blue: #354f5e;
$green: #3db29c;
$open_sanssemibold: 'open_sanssemibold';

.ajax-loader{
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.clear{
  clear: both;
}

/*
 *=============================================================================
 *========================== Búsqueda Avanzada=================================
 *=============================================================================
*/

.advance-search-bg{
  background-color: #233b48;
  .advance-search-container{
    background-color: #fff;
    min-height: 400px;
    .advance-search-content{
      width: 100%;
      h2{
        font-size: 24px;
        font-family: 'Open Sans';
        border-bottom: 1px solid $green;
        padding-bottom: 10px;
        margin-bottom: 30px;
      }
      .input-filtro{
        margin: 10px 0;
      }
      .chosen-container .chosen-results li.highlighted {
        background-color: $green;
      }
      .chosen-container-single{
        width: 80% !important;
        .chosen-single{
          width: 100%;
          background-color: #fff;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #ffffff), color-stop(52%, #ffffff), color-stop(100%, #ffffff));
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          color: #555;
          border: 1px solid #354f5e;
          -webkit-border-radius: 1px;
             -moz-border-radius: 1px;
                  border-radius: 1px;
          div b{
            background-position: 0 8px;
          }
          .chosen-drop{
            width: 100%;
          }
        }
      } 
      .input-filtro{
        select{
          background-image: url(../images/backend/bullet_arrow_down.png);
          background-repeat: no-repeat;
          background-position: 96% center;
          display: inline;
          width: 90%;
        }
        .filter-remove{
          background-color: #fff;
          background-image: url(../images/cerrar.svg);
          background-repeat: no-repeat;
          border: 0;
          cursor: pointer;
          display: inline;
          height: 11px;
          margin-right: 5px;
          width: 11px;
        }
      }
      .advance-search-btns{
        margin: 20px 0;
        text-align: center;
        button{
          background-color: transparent;
          border-style: solid;
          border-width: 1px;
          font-size: 16px;
          font-family: 'Open Sans';
          height: 32px;
          margin-bottom: 5px;
          padding: 0 15px;
          vertical-align: bottom;
          -webkit-border-radius: 15px;
             -moz-border-radius: 15px;
                  border-radius: 15px;
        }
        .big{
          width: 50%;
        }
        .small{
          width: 25%;
        }
        .green-button{
          border-color: $green;
          color: $green;
        }
        .green-button:hover{
          color: #fff;
          background-color: $green;
        }
        .blue-button{
          border-color: #354f5e;
          color: #354f5e;
        }
        .blue-button:hover{
          color: #fff;
          background-color: #354f5e;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .advance-search-bg{
    .advance-search-container{
      .advance-search-content{
        .advance-search-btns{
          .big{
            width: 90%;
          }
          .small{
            width: 45%;
          }
        }
      }
    }
  }
}

.center-modal {
  margin: 30px auto;
  float: none !important;
}

#see_more_results {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
#add_book_list {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 30px;
}

a.advanced-search-lnk {
  color: #354f5e;
}
