@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'helper';

.atlas_location_comments {
  .row {
    h2 {
      border-bottom: 2px solid $color-green;
      font-family: $font-opsans-regular;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      margin-top: 20px;
      padding-bottom: 10px;
    }
  }

  .start-a-discussion-wrapper {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  .start-a-discussion {
    h3 {
      font-family: $font-opsans-regular;
      font-size: 16px;
      color: $color-green;
      margin: 10px 0;
    }
    textarea {
      margin-top: 10px;
      padding: 1.5em;
      height: 100px;
      border: 1px solid #dedddd;
      resize: vertical;
      width: 100%;
      font-weight: 500;
      @include placeholder {
        color: $color-grey;
        font-weight: normal;
      }
      &:active, &:focus {
        border-color: $color-green;
      }
    }
    .start-a-discussion-action {
      padding-top: 10px;
      .lm-btn-green {
        background-color: $color-white;
        border: 1px solid $color-green;
        border-radius: 15px;
        color: $color-green;
        height: 30px;
        font-family: $font-opsans-regular;
        font-size: 14px !important;
        min-width: 100px;
        .fa {
        color: $color-green;
        }
        &:hover, &:active {
        .fa {
          color: $color-white;
        }
        background-color: $color-green !important;
        color: $color-white !important;
        }
      }
    }
  }

  .discussion-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    .discussion {
      border: 1px solid $color-grey;
      .main-topic {
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #f0f8ff;
      }
      .direct-main-topic-child {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .topic-child-child {
        padding-bottom: 15px;
      }
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
    .profile-photo-normal {
      width: 75px;
      height: 75px;
      border: 1px solid #DDD;
      padding: 3px;
      vertical-align: middle;
    }
    .profile-photo-mini {
      width: 40px;
      height: 40px;
      border: 1px solid #DDD;
      padding: 0;
    }
    .topic {
      font-family: $font-opsans-regular;
      font-size: 14px;
      font-weight: normal;
      color: $color-dark-grey;
      .topic-profile-photo {
        padding: 0;
      }
      .topic-data {
        padding-left: 30px;
        .topic-header {
          .topic-header-profile {
            float: left;
            a {
              color: $color-green;
            }
          }
          .topic-header-time {
            float: right;
          }
        }
        .topic-comment {
          color: black;
          font-size: 16px;
          margin-top: 15px;
        }
        .topic-social,
        .topic-actions {
          padding-top: 15px;
          a {
            color: $color-blue;
            &:hover, &:active {
              color: $color-blue;
              text-decoration: none;
            }
          }
        }
        .topic-action {
          padding-top: 15px;
          textarea {
            border: 1px solid $color-grey;
            color: black;
            font-size: 16px;
            margin: 0;
            padding: 15px 15px;
            @include transition('all 5s');
            width: 100%;
            &:focus,
            &:hover,
            &:active {
              height: 150px;
            }
          }
        }
      }
    }
  }
}