@import 'helper';

#new-location-modal {
  .modal-header {
    padding-bottom: 10px;
    .modal-title {
      font-size: 22px !important;
    }
  }
  .modal-footer {
    margin-top: 15px;
  }
  .modal-row {
    margin-bottom: 15px;
  }
  .form-input {
    margin-bottom: 15px;
    width: 100%;
    input {
      width: 100%;
    }
  }
  .lm_modal_ajax_sender {
    .modal-body {
      p {
        font-size: 16px;
        line-height: 1.42857143;
        padding-bottom: 15px;
      }
      .form-input {
        .text-label {
          font-size: 14px;
          line-height: 1.42857143;
          padding: 5px 0;
        }
      }
    }
  }
  .select-list-wrapper {
    background-position-x: right;
    select {
      width: 300px;
      padding-left: 10px;
      height: 32px;
      border: 1px solid #dedddd;
      option {
        font-size: 14px !important;
      }
    }
    select:focus {
      border-color: #3db29c !important;
    }
  }
}