@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'helper';

$standard-menu-screen: 1279px;
$large-menu-screen: 1132px;
$medium-menu-screen: 1059px;
$small-menu-screen: 1019px;
$extra-small-menu-screen: 987px;
$claimoff-menu-screen: 949px;
$xsmall-menu-screen: 830px;
$mobile-menu-screen: 767px;
$mobile-screen: 767px;
$mobile-book-detail: 599px;

$green:  #3db29c;
$dark_green: #354f5e;
$red: #CC4242;
$dark_red: #BA0404;
$orange: #ef6c15;
$brown: #d8b645;

.atlas-searchbar {
    width: 100%;
    background-color: $dark_green;

    .atlas-bararea {
        max-width: 1280px;
        min-height: 136px;
        float: none;
        margin: 0 auto;
    }

    .atlas-searchar-padding {
        padding-left:45px;
        padding-right:45px;
    }

    .atlas-searchbar-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:0px;
        padding-right:0px;
        color: white;
    }

    .atlas-searchbox-padding {
        padding:0;
    }

    .atlas-search-input {
        height: 42px;
        margin-bottom: 20px;
        width: 100%;
        padding-left: 15px;
        padding-right: 42px;
        font-family: 'Open Sans',sans-serif;
        color: white;
        border: 1px solid white;
        background-color: $dark_green;        
    }

    .location-pointer {
        position: absolute;
        left: 90%;
        z-index: 15;
        top: 3px;
        cursor: pointer;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .buscador-anadir {
        background-color: white;
        border: 1px solid white;
        max-height: 325px;
        overflow: auto;
        display:none;
        position: absolute;
        z-index: 999;
        width: 100%;
        margin-top: -20px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        background-color: white;
        font-family: 'Open Sans',sans-serif;
        
        .location-item {
             width:100%; 
             min-height:40px; 
             padding-top:10px; 
             padding-bottom:10px;
             padding-left: 20px;
             padding-right: 20px;
             cursor:pointer;
             background-color: white;
            color: $dark_green;

            &:hover {
                color: white;
                background-color: $dark_green;
                
            }
        }
    }

    .show {
        display:block!important;
    }

    .search_btn {
        margin: 0 auto;
        width: 25px;
        height:100%;
        cursor:pointer;
        background-image: url("../images/icono_buscar_blanco.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;        

        @media screen and (max-width: $mobile-book-detail) {
            display:none;
        }
    }

     .search_btn-mbl {
        display:none;
        margin: 0 auto;
        width: 125px;
        height: 100%;
        cursor: pointer;
        border-radius: 40px;
        border: 1px solid #3db29c;
        color: #3db29c;
        float: left;
        font-family: 'Open Sans',sans-serif;
        font-size: 17px;
        padding-top: 6px;
        text-align: center;

        .icon-search-mbl {
            color:$green;
        }        

        @media screen and (max-width: $mobile-book-detail) {
            display:block;
        }      
    }
}

.atlas-title {
    color: $dark_green;
    font-family: 'Open Sans',sans-serif;
    font-size: 36px;
    max-width: 1280px;
    float: none;
    margin: 0 auto;
    height:94px;

    .atlas-title-col {
        padding: 24px 17px 0px 40px;
        a {
            color: $color-blue;
            text-decoration: none;
            &:hover, &:active {
                text-decoration: none;
            }
        }
        @media screen and (max-width: $mobile-book-detail) {
            padding-left: 8px;
            font-size: 32px;
        }
    }

    .atlas-results-title-col {
        padding: 24px 17px 0px 40px;
        margin-top: -30px;

        @media screen and (max-width: $mobile-book-detail) {
            padding-left: 8px;
            font-size: 32px;            
        }
    }

    .atlas-results-filter-col {
        padding: 0px 17px 0px 40px;
        margin-bottom: 5px;
        margin-top: -5px;

        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        
        @media screen and (max-width: $mobile-book-detail) {
            padding-left: 8px;
            font-size: 32px;
        }
    }
}
.arrow-link-down {
    font-size: 24px !important;
    cursor: pointer;
    color: black;
    display: inline-block;
    height: 25px;
    bottom: 0;
    left: 65px;
    position: absolute;
}

.btnCancel {
  margin: 0!important;
}

.btnCancel {
  margin: 0!important;
}

.atlas-results-filter-col-mbl {
    padding: 0px 17px 0px 40px;
    margin-bottom: 15px;
    margin-top: -5px;
    cursor:pointer;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display:none;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid black;

    @media screen and (max-width: $mobile-book-detail) {
        display:block;
    }
}


.arrow-link-down-green {
    color:#3db29c!important;
}

.atlas-results-filter-col-mbl-green {
    border-bottom: 2px solid #3db29c!important;    
}

.atlas-results-filter-items-mbl {
    padding: 0px 17px 0px 40px;
    margin-bottom: 5px;
    margin-top: -5px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}

.fieldset-mbl {
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
    border-bottom:2px solid black;

    @media screen and (min-width: $mobile-book-detail) {
        display:none;
    }
}

.fieldset-mbl-green {
    border-bottom:2px solid #3db29c;   
}

.atlas-map-section {
    padding: 0px 17px 37px 40px;

     @media screen and (max-width: $mobile-book-detail) {
        padding-left: 10px;
        padding-bottom: 20px;
    }
}

.atlas-results-title {
    font-family: 'Open Sans',sans-serif;
    color: black;
    font-size: 18px;
    padding-bottom: 0px;
    display: inline-block; 

    @media screen and (max-width: $mobile-book-detail) {
        display:none;
    }
}

.atlas-filter-title {
    font-family: 'Open Sans',sans-serif;
    color: black;
    font-size: 18px;
    padding-bottom: 0px;
    display: inline-block; 

    @media screen and (max-width: $mobile-book-detail) {
        display:none;
    }
}

.atlas-filter-title-mbl {
    font-family: 'Open Sans',sans-serif;
    color: black;
    font-size: 18px;
    padding-bottom: 0px;
    display: inline-block; 
}

.atlas-results-col {
    text-align: right;

    @media screen and (max-width: 992px) {
        text-align: left;        
    }
}

.atlas-results-amount {
    display: inline-block;
    color: $green;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    line-height: 14*1.25px;
    margin-bottom: 15px;
    padding: 4px 0px;
    @media screen and (max-width: $mobile-screen) {
        margin-bottom:7px;
    }  
}

.atlas-results-map {
    min-height:709px;

    @media screen and (max-width: $mobile-screen) {
        min-height:400px;
    }   
}

.fieldset-dsk {
    border-bottom:1px solid #dedddd;
}

.atlas-results-column {
    padding: 0px 5px 37px 5px;
}

.atlas-no-results {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.location-result {
    border: 1px solid #DDD;
    margin: 0 auto;
    max-width: 276px;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
        max-width: 250px;
    }


}

.atlas-item-header {
    position: relative;
    border-bottom: 1px solid #ddd;

    .header-icon {
        width:100%;
        max-height:149px;
    }

    .atlas-location-number {
        top: 5px;
        position: absolute;
        left: 5px;
        z-index: 2;
        width: 27px;
        height: 31px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 27px 31px;
        text-align: center;
        padding-top: 1px;
        font-family: 'Open Sans',sans-serif;
        color: white;
        font-size: 18px;
    }

    .yellow-number {
        background-image: url("../images/maps/asset-amarillo.svg");
    }

    .blue-number {
        background-image: url("../images/maps/asset-azul.svg");
    }

    .red-number {
        background-image: url("../images/maps/asset-rojo.svg");
    }

    .orange-number {
        background-image: url("../images/maps/asset-naranja.svg");
    }

    .green-number {
        background-image: url("../images/maps/asset-verde.svg");
    }

    .atlas-location-rating {
        position: absolute;  
        width:96px;
        height:17px;
        bottom:0;
        right:0;
        z-index: 2;
        background-color: white;

        .location-rating-img {
            width: 16px;
            padding: 0px;
            padding-bottom: 6px;
        }
    }
}

.location-result-likes-link {
    color:$dark_green;
    cursor:pointer;
}

.atlas-data-col {
    .location-result-title {
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        padding-top: 5px;

        a {
            color:black;
            text-decoration: none;
        }
    }

    .location-result-likes {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 4px;
        font-weight: 400;
        display: inline-block;
    }

    .location-result-address {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        font-weight: 400;
        display: inline-block;
        padding-top: 2px;

        a { 
            color: $green; 
            text-decoration: none;
        }

        .location-rating-img {
            width: 16px;
            padding: 0px;
            padding-bottom: 2px;
        }
    }
}

.location-tags-col {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;

    span {
        color: white;
        padding: 2px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;
        border-radius: 5px;
    }

    .span-biblioteca {
        background-color: #3db29c;
    }
    .span-libreria {
        background-color: #f27e30;
    }
    .span-centro-de-lectura {
        background-color: #354f5e;
    }
    .span-sala-de-lectura {
        background-color: #cc4242;
    }
    .span-otros {
        background-color: #d8b645;
    }
    .span-tienda-departamental {
        background-color: #039093;
    }
    .span-papeleria {
        background-color: #76aa1a;
    }
    .span-paralibros {
        background-color: #fea628;
    }
}

.location-more {
    padding-bottom:5px;
    text-align: right;
    span {
        a {
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            color: black;
        }
    } 
}


.atlas-no-results {
    text-align: center;
}

.tag_checkbox {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400!important;
    padding-left: 10px;
    padding-right: 18px;
    padding-bottom:10px;
    padding-top:0px;
    color: black;
    font-size: 15px!important;

    @media screen and (max-width: 768px) {
       padding-left: 4px;
        padding-right: 9px;
    }
}

.atlas-results-filter-col {
    padding-left: 20px!important;
    padding-right: 20px!important;
    padding-bottom: 15px!important;

    @media screen and (max-width: $mobile-book-detail) {
        display:none;
    }
}

.page-wrapper-container { 
    width: 100%;
}

.atlas-result-page-items {
  height: 626px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gm-style-iw {
   width: 200px !important;
}

.location-infobox-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.location-infobox-address {
    margin-bottom: 6px;
    margin-top: -6px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.infobox-location {
    width: 250px;
    min-height: 170px;
    background-image: url('../images/maps/contenedor_mapa.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.marker-labels {
     color: white;
     font-family: "Open Sans", sans-serif;
     font-size: 13px;     
     text-align: center;
     width: 40px;     
     white-space: nowrap;
   }

.infobox-biblioteca {
    font-family: 'Open Sans',sans-serif;
    color:#3db29c;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 36px;
    display:block;
    background-image: url("../images/markers/biblioteca.svg");
    background-repeat: no-repeat;
}
.infobox-libreria {
    font-family: 'Open Sans',sans-serif;
    color:#f27e30;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 36px;
    display:block;
    background-image: url("../images/markers/librerias.svg");
    background-repeat: no-repeat;
}
.infobox-centro { 
    font-family: 'Open Sans',sans-serif;
    color:#354f5e;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 36px;
    display:block;
    background-image: url("../images/markers/centro de lectura.svg");
    background-repeat: no-repeat;
}
.infobox-sala {
    font-family: 'Open Sans',sans-serif;
    color:#cc4242;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 36px;
    display:block;
    background-image: url("../images/markers/sala de lectura.svg");
    background-repeat: no-repeat;
}
.infobox-otros {
    font-family: 'Open Sans',sans-serif;
    color:#d8b645;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 36px;
    background-image: url("../images/markers/otros.svg");
    background-repeat: no-repeat;
}
/* UI Styles *****************************************************************************/

div.select-main {
    background-color: $dark_green!important;
    border: 1px solid white!important;
    box-shadow: 0 0 2px #2DB2FF;
    border-radius: 0px!important;
    font-size: 16px;
    height: 40px;
    position: relative;
    width: 100%;
    font-family: 'Open Sans',sans-serif!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

div.select-arrow {
    border-top: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    cursor: pointer;
    height: 0px;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 0px;
    z-index: 7;
}

div.select-set {
    background-color: $dark_green!important;
    border-radius: 0px!important;
    color: white!important;
    cursor: pointer;
    height: 37px!important;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    padding: 0 35px 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    z-index: 5;
}

div.select-arrow.reverse {
    border-top: 7px solid transparent!important;
    border-bottom: 7px solid white!important;
    top: 10px;
}

div.select-block {
    background-color: $dark_green;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0px;
    box-shadow: 0 0 2px #2DB2FF;
    left: -1px;
    line-height: 20px;
    position: absolute;
    top: 40px;
    width: 100%;
}

li.select-items {
    color: white;
    padding: 7px 15px;
}

/* Pagination styles ******************************************************************/

.top-item {
         margin-bottom:20px;
    }
    .show-label {
        line-height: 33px;
        font-family: 'Open Sans',sans-serif;
        color: #888;
    font-weight: 400;
    }
    .pages-item {
        line-height: 33px; 
        text-align: right;
        font-family: 'Open Sans',sans-serif;
    }
    .page-divider {
        padding-left: 10px;
        padding-right: 10px;
    }

    .arrow-prev {
        position: absolute;
        top: 0px;
    }

    .arrow-next {
        position: absolute;
        right: -10px;
    top: -2px;
    }

    .arrow-link {
        font-size: 19px!important;
        cursor: pointer;
        color: #898989;
    }
    .number-link {
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        padding: 0 7px;
        cursor: pointer;
        color: #898989;
        font-weight: 400;
    }
    .number-link:hover {
        text-decoration: underline!important;
    }
    .number-bar {
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        color: #898989;
        font-weight: 400;
    }
    .pagination-word {
        font-size: 14px;
        font-family: 'Open Sans',sans-serif;
        color: #898989;
        font-weight: 400;
        padding-left: 5px;
        padding-right: 5px;
    }
    .pagination-col {
        float: right;
        text-align: right;
        position:relative;
    }
    .prev-word {
        padding-left: 17px;
    }

    .first-page-btn {
        cursor: pointer;
        position: relative;
    width: 20px;
    padding-right: 24px;
  }

  .last-page-btn {
        cursor: pointer;
        position: relative;
    width: 20px;
    padding-left: 20px;
  }

  .next-page-btn {
    position:relative;
  }

  .arrow-first {
    top: -2px!important;
  }
  .arrow-last {
    top: -2px!important;
  }
  .last-btns {
    position: absolute;
    display: inline-table;
    top: -2px;
  }

/************************************************************/

.SumoSelect {
    width:100%!important;

    .CaptionCont {
        label {
            i {
                background-image: url("../images/down-arr.png");
            }
        }
    }
}

.SumoSelect > .optWrapper.multiple > .options > li.selected span i, .SumoSelect .select-all.selected > span i, .SumoSelect .select-all.partial > span i {
    background-color:white;
    border: 1px solid #AEAEAE;
    background-image:url("../images/recomendado.png");
    background-size: 12px;
}

.SumoSelect > .optWrapper.multiple > .options > li span i, .SumoSelect .select-all > span i {
    width: 16px;
    height: 16px;
}

.SumoSelect > .optWrapper > .options > li label {
    padding-top:5px;
}   

.SlectBox {
    width:100%!important;
    height:42px!important;
    font-family: 'Open Sans',sans-serif!important;
    color:white!important;
    background-color: $dark_green!important;
    border:1px solid white!important;

    span {
        font-size: 16px;
        padding-top: 5px;
    }
}

/***  Autocomplete overwrites ******************************************************************************************************************/

.pac-container {
    overflow-y: scroll;
    max-height: 300px;
}

.pac-icon {
    display:none!important;
}

.pac-item {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 14px!important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    white-space: normal;

    span {
        display:block;
        line-height: 20px;
    }

    &:hover {
        background-color: $dark_green;
        
        span {
           color: #999;

           .pac-matched {
                color:#999;   
            }
        }

        .pac-item-query {
            color:white;

            .pac-matched {
                color:white;   
            }
        }

        
    }
}

.pac-item-query {
    font-size: 14px!important;
    display:inline-block!important;
    margin-top:0px!important;
}

.pac-matched {
    font-size: 14px!important;
    display:inline-block!important;
}