/*Vista desktop*/

/*barra de busqueda*/
.SumoSelect {
    text-align: left;
}

.lugar-detalle hr {
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.calificaciones hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #3db29c;
}

.foto-lugar-main img {
	width: 100%;
	height:auto;
}

.page-title h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #354F5E;
    text-transform: none !important;
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.home-atlas-wrapper .home-title-section {
    margin-bottom: 15px !important;
}

.home-title-section {
    padding-left:15px;
    padding-right:15px;
}

.lugar-title {
    padding:0px;
    p {
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0px;
    }
}

.desc-div p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    text-align: left;
}

.lugar-data-normal {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 16*1.5px;
    margin: 0;
    text-align: left;
    color:#000000;
}

.lugar-data-bold {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 16*1.5px;
    margin: 0;
    text-align: left;
    color:#000000;
}

.lugar-data-share {
    margin-top: 12px;
    margin-bottom: 12px;
}

.like-div {
    padding:0px;
}

.likes {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #354f5e;
    margin-bottom: 20px;
}

.like-link {
    cursor:pointer!important; 
    color:#354f5e;
}

.tags {
    margin-bottom: 0px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    padding:0px;
}

.tag-biblioteca {
    background-color: #3db29c;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag-libreria {
    background-color: #f27e30;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag-centro-de-lectura {
    background-color: #354f5e;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tag-sala-de-lectura {
    background-color: #cc4242;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag-paralibros    {
    background-color: #fea628;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tag-tienda-departamental    {
    background-color: #039093;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.tag-papeleria   {
    background-color: #76aa1a;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag-otros    {
    background-color: #d8b645;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tag-otros2   {
    background-color: #d8b645;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.separador-lugar hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #000000;
}

.sup_div {
    display:inline;
}

.sup-izq-div {
    padding-left: 0px;

}

.sup-der-div {

    margin-top: 10px;
    padding-left: 95px;
    padding-right: 0px;


    float:right;
}

/*Calificaciones*/
.no-padding {
    text-align: center;
}


.rating {
    /*width:100%;*/
    padding:0px;
    
}

.rate  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    background-image: url("../images/detail/estrella_calificacion.svg");
    background-repeat: no-repeat;
    padding: 0;
    padding-top: 15px;
    height: 45px;
    width: 48px;
    font-size: 14px;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px !important;
}

.texto-rate span {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
}

.stars-gral  {
    display: inline-block;
}

.stars-gral input  {
    display: none;
}

.stars-gral label:before  {
    content: url("../images/detail/estrella_gris_xm.svg");
}

.stars-gral label  {
    float: right;
    padding: 2px;
    transition: all .2s;
    
}

.star-gral:hover {
    float: right;
    padding: 2px;
    transition: all .2s;
    
    content: url("../images/detail/estrella_gris_xm.svg");
}
.star-gral-ranked {
    float: right;
    padding: 2px;
    transition: all .2s;
    
    content: url("../images/detail/estrella_amarilla_xm.svg");
}

.star-gral-ranked:hover {
    float: right;
    padding: 2px;
    transition: all .2s;
    
    content: url("../images/detail/estrella_amarilla_xm.svg");
}

.stars  {
    display: inline-block;
}

.stars input  {
    display: none;
}

.stars label:before  {
    content: url("../images/detail/estrella_gris_xm.svg");
}

.stars label  {
    float: right;
    padding: 2px;
    transition: all .2s;
    cursor: pointer;
}

.star:hover {
    float: right;
    padding: 2px;
    transition: all .2s;
    cursor: pointer;
    content: url("../images/detail/estrella_gris_sm.svg");
}

.star-ranked {
    float: right;
    padding: 2px;
    transition: all .2s;
    cursor: pointer;
    content: url("../images/detail/estrella_amarilla_xm.svg");
}

.star-ranked:hover {
    float: right;
    padding: 2px;
    transition: all .2s;
    cursor: pointer;
    content: url("../images/detail/estrella_amarilla_sm.svg");
}

/*links Twitter y FB*/
.lugar-data-img img {
   
    cursor:pointer!important;
    width:32px;
    height:32px;
    border-radius: 3px;

}

.title-calif p {
    border-bottom: 2px solid #3db29c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin-top:20px;
    margin-bottom: 20px;
    text-transform: none !important;
    padding-bottom: 10px;
}

/* 
**Estos estilos serian de la barra lateral
*/
.title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    text-transform: none !important;
    /*padding-bottom: 12px;
    margin-bottom: 20px;*/
}

.lugar-lista-pop  {
    margin-top:25px !important;
}
.lugar-lista-com  {
    margin-top:25px !important;
}
.lugar-lista-near {
    margin-top:25px !important;
}

.lugar-lista-pop hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #cc4242;
}

.lugar-lista-com hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #1f3f50;
}

.lugar-lista-near hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #ee6c14;
}

.element hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #dedddd;
}

.foot-pop p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #cc4242;
    text-transform: none !important;
    text-align: right;
}
.foot-com p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1f3f50;
    text-transform: none !important;
    text-align: right;
}
.foot-near p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ee6c14;
    text-transform: none !important;
    text-align: right;
}

.foot-map p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-transform: none !important;
    text-align: right;
}

.foot-pop a {
    text-decoration: none;
}
.foot-com a {
   text-decoration: none;
}
.foot-near a {
    text-decoration: none;
}
.foot-map a {
    text-decoration: none;
}



.element {
    display:inline;
    padding: 0px;
}

.element-img {
    float:left;
}

.element-txt {
    float: right; 
    padding: 0px;
}

.element-title  {
    padding-right: 0px;
}

.element-title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 16 * 1.25px;
}
.element-title-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color:#000000;
}
.element-title-link:hover {
    text-decoration: none;
}

.element-dir p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 16*1.25px;
}

.element-foot p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-transform: none !important;
    text-align: right;
}

.element-foot a:hover {
    text-decoration: none;
}


.element-rate {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    background-image: url("../images/detail/estrella_calificacion.svg");
    background-repeat: no-repeat;
    padding: 0;
    padding-top: 10px;
    height: 40px;
    width: 40px;
    background-size: 40px;
    font-size: 14px;
    text-align: center;
}

.element-rate-side {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    background-image: url("../images/detail/estrella_calificacion.svg");
    background-repeat: no-repeat;
    padding: 0;
    padding-top: 10px;
    height: 40px;
    width: 40px;
    background-size: 40px;
    font-size: 14px;
    text-align: center;
}

/*
**Comentarios
*/
.lugar-comentarios {
    border:1px solid #dedddd;
    padding:15px;
    margin-top:10px;
    margin-bottom:10px;

}

.lugar-comentarios-img img {
    border:1px solid #dedddd;
    border-radius: 50%;
    padding:5px;
    border-color:#dedddd;
}
.lugar-comentarios-title {
    padding:0px;
}

.mis-comentarios-title {
    padding:0px;
}

.lugar-comentarios-title p  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

}

.mis-comentarios-title p  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;

}

.lugar-comentarios-fecha p  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.lugar-comentarios-comment p  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
}

.mis-comentarios-comment {
    padding: 0px;
    width:81%;
}

.mis-comentarios-comment input {
    width: 105%;
}

.mi-comentario {
    padding:15px;
    margin-top:10px;
    margin-bottom:10px;

}
/*
**Mapita
*/
#map2  {
    height:365px;
}

.bocadillo {
    background-image: url("../images/detail/estrella_calificacion.svg");
    background-repeat: no-repeat;
    width: 57px !important;
    height: 18px !important;
    position:absolute;
}

.gm-style-iw {
   width: 450px !important;
   top: 0 !important;
   left: 15px !important;
   /*border: 2px solid #000000*/
}
.gm-style-iw {
   width: 200px !important;
}

.gm-style-iw h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.gm-style-iw p  {
    margin-bottom: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.infobox-location {
    width: 250px;
    min-height: 170px;
    background-image: url('../images/maps/contenedor_mapa.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mis-comentarios-comment input[type="submit"] {
    display:none;
}

/*mapa*/
.lugar-map {
    height: auto;

}

/*Infobox*/
.infobox-location {
    padding:10px;
}

.col-xs-6  {
    width: 35%;
}

@media screen and (max-width: 420px) {
    .element-img 
    {
        padding: 0px !important;
        width: 110px;
    }
    .col-xs-4
    {
        padding: 0px;
    }

   
    .element-txt
    {
        padding-left: 3px;
        width: 175px;
    }

    .element-title p 
    {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
    }

    .lugar-title p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
}

    .element-rate-side {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    background-image: url("../images/detail/estrella_calificacion.svg");
    background-repeat: no-repeat;
    padding: 0;
    padding-top: 3px;
    height: 20px;
    width: 20px;
    background-size: 20px;
    font-size: 10px;
    text-align: center;
}
}

@media screen and (max-width: 350px) {
    .col-xs-6 {
    width: 100%;
    }
    .sup-der-div
    {
        width:200px;
        margin-top:0px;
        float:left;
        padding:0px;
        margin-left:0px;
    }

    .topic-data
    {
        padding-left: 65px !important;
        padding-right:0px !important;
    }

}

@media screen and  (min-width: 351px) and (max-width: 400px) {
    .col-xs-6 {
    width: 80%;
    }
    .sup-der-div
    {
        width:200px;
        margin-top:0px;
        float:left;
        padding:0px;
        margin-left:0px;
    }
    .topic-data
    {
        padding-left: 65px !important;
        padding-right:0px !important;
    }
}
@media screen and  (min-width: 401px) and (max-width: 460px) {
    .col-xs-6 {
    width: 70%;
    }
    .sup-der-div
    {
        width:200px;
        margin-top:0px;
        float:left;
        padding:0px;
        margin-left:0px;
    }
    .topic-data
    {
        padding-left: 65px !important;
        padding-right:0px !important;
    }
}
@media screen and  (min-width: 460px) and (max-width: 573px) {
    .sup-der-div
    {
        width:200px;
        margin-top:0px;
        float:left;
        padding:0px;
        margin-left:0px;
    }
    .topic-data
    {
        padding-left: 85px !important;
        padding-right:0px !important;
    }
}

@media screen and  (min-width: 574px) and (max-width: 685px) {
    .col-xs-6 {
    width: 300px;
    }
}

@media screen and  (min-width: 687px) and (max-width: 1000px) {
    .col-xs-6 {
    width: 300px;
    }
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .sup-der-div
    {
        width:300px;
        margin-top:0px;
        float:left;
        padding:0px;
        margin-left:0px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1217px) {
    .sup-der-div
    {
        width:300px;
        margin-top:0px;
        padding-left: 55px;
        float:left;
        padding:0px;
        margin-left:0px;
    }
}


@media screen and (min-width: 465px) and (max-width: 1000px) {
    .primer-columna
    {
        width:100%;
    }
    .segunda-columna
    {
        width:100%;
    }

    
    .sup-div
    {
        display:block;
    }
    .sup-izq-div
    {
    }
    .sup-der-div
    {
        width:300px;
        margin-top:0px;
        float:left;
        padding:0px;
        margin-left:0px;
    }

    .rating
    {
        width:70%;
        margin: 10px;
        top: 0px;
    }

    .lugar-comentarios-img
    {

        width:30%;
        padding-left: 0px;
    }

    .lugar-comentarios-txt-block
    {
        width:70%;
        padding-left: 0px;
    }
    .lugar-comentarios-title
    {
        width:70%;
    }
     .mis-comentarios-title
    {
        padding-left: 15px;
        padding-right: 15px;
        margin-top:10px;
        width:65%;
    }

    .mis-comentarios-comment
    {
        padding-left: 0px;
        padding-right: 0px;
        width:100%;
        height:auto;
        margin-top:10px;
        width:70%;
    }
}

@media screen and (max-width: 464px) {
    .primer-columna
    {
        width:100%;
    }
    .segunda-columna
    {
       width:100%
    }
    .sup-div
    {
        display:block;
    }
    .sup-izq-div
    {
        width:100%;
    }
    
    .like-div
    {
        width:100%;
    }

    .tags
    {
        width:100%;
    }

    .rating
    {
        width:100%;
        margin: 10px;
        top: 0px;
    }

    .lugar-comentarios
    {
        margin:5px;
        padding:5px;
    }

    .lugar-comentarios-img
    {
        padding:0px;
    }
    .lugar-comentarios-img img
    {
        width:60px;
        height:auto;
        padding:2px;
    }
    .lugar-comentarios-title
    {
        width:65%;
    }
    .lugar-comentarios-fecha
    {
        width:20%;
    }
    .lugar-comentarios-comment
    {
        width:120%;
    }
    .lugar-comentarios-txt-block
    {
        width:75%;
        margin-left: 5px;
    }
    .lugar-comentarios-fecha p 
    {
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 12px;
   }
   .mi-comentario
    {
        margin:5px;
        padding:5px;
    }
    .mi_comentario-txt
    {
        width:75%;
        margin-left: 5px;
    }

    .mis-comentarios-title
    {
        padding-left: 15px;
        padding-right: 15px;
        margin-top:10px;
    }

    .mis-comentarios-comment
    {
        padding-left: 0px;
        padding-right: 0px;
        width:100%;
        height:auto;
        margin-top:10px;
    }

    .mis-comentarios-comment input[type="text"]
    {
        padding: 0px;
        width:100%;
        height:100px;
        border-color: #dedddd;
    }
    .mis-comentarios-comment input[type="submit"]
    {
        border-color: #dedddd;
        color:#dedddd;
        padding: 0px;
        width:100%;
        height:48px;
        display: inline;
    }

}

.hr-map-mbl {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #1f3f50;
}

@media screen and (min-width: 1001px) {
   .only-mbl {
        display: none;
    } 
}

