@charset "UTF-8";
/* Reset 
------------------------------------------------------------------------------------------------------ */
body, ul, ol, li, form, fieldset, legend, label, p, h1, h2, h3, h4, h5, h6, img, dl, dt, dd, input, select, textarea, checkbox, button, table, tr, th, td, hr { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}
ul, ol { 
	list-style-type: none; 
}
a, button, input, select, textarea { 
	outline: none; 
}
h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
}
a { 
	text-decoration: none; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button::-moz-focus-inner { 
	padding: 0;
	border: 0; 
}

/* new styles */
.language {
	margin: 10px 0 0 0;
}


/* --- fonts --- */
@font-face { font-family: Open Sans; font-weight: normal; src: url('../fonts/OpenSans-Regular.ttf'); }
@font-face { font-family: Open Sans; font-weight: bold; src: url('../fonts/OpenSans-Bold.ttf'); }




/* UI elements 
------------------------------------------------------------------------------------------------------ */
input[type='text'], input[type='password'], select, textarea {
	float: left;
	border: 1px #b3b3b3 solid;
	background: #fafafa;
	font-size: 14px;
	color: #333;
	/*padding: 7px 5px;*/
	padding: 5px;
	border-radius: 2px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
}
input[type='text']:focus, input[type='password']:focus, select:focus, textarea:focus {
	border: 1px #aaa solid;
	box-shadow: inset 0px 0px 3px #ccc;
	/*border-color: #89bbc5;*/border-color: #c0750f;
}
select {
	padding: 6px 5px;
	/*height: 31px;*/
}
input[type='text'].error, input[type='password'].error, select.error, textarea.error {
	background-color: #ffecce !important;
	border-color: #d7b277;
}
input.date {
	background-image: url(../images/backend/input-date.png);
	background-repeat: no-repeat;
	background-position: right top;
	cursor: pointer;
	width: 110px;
	text-align: left;
}
input.numeric, input.currency, input.quantity {
	text-align: right;
}
input[name='select-all'] {
	cursor: pointer;
	position: relative;
}

.button {
	display: block;
	position: relative;
	float: left;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	/*text-shadow: 1px 1px 1px #0a5d6a;*/text-shadow: 1px 1px 1px #c0750f; /* Modificado 20/Sep/13 */
	/*border: 1px #2c7f8c solid;*/border: 1px #eb931a solid;/* Modificado 20/Sep/13 */
	border-radius: 3px;
	padding: 6px 12px;
	margin-bottom: 10px;
	cursor: pointer;
	/*box-shadow: 0px 1px 0px #70afba inset;*/box-shadow: 0px 1px 0px #eb931a inset;/* Modificado 20/Sep/13 */
	background: -webkit-linear-gradient(top, #eb931a, #c0750f);/* Modificado 20/Sep/13 */
	background: -o-linear-gradient(top, #eb931a, #c0750f);/* Modificado 20/Sep/13 */
	background: -moz-linear-gradient(top, #eb931a, #c0750f);/* Modificado 20/Sep/13 */
	background: -ms-linear-gradient(top, #eb931a, #c0750f);/* Modificado 20/Sep/13 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb931a', endColorstr='#c0750f', gradientType='0')";
	/*background: -moz-linear-gradient(top, #4296a3, #2c7f8c);
	background: -o-linear-gradient(top, #4296a3, #2c7f8c);
	background: -ms-linear-gradient(top, #4296a3, #2c7f8c);*/
}
.button:hover {
	background: -webkit-linear-gradient(top, #c0750f, #eb931a);/* Modificado 20/Sep/13 */
	background: -o-linear-gradient(top, #c0750f, #eb931a);/* Modificado 20/Sep/13 */
	background: -ms-linear-gradient(top, #c0750f, #eb931a);/* Modificado 20/Sep/13 */
	background: -moz-linear-gradient(top, #c0750f, #eb931a);/* Modificado 20/Sep/13 */
	/*background: -moz-linear-gradient(top, #2c7f8c, #4296a3);
	background: -o-linear-gradient(top, #2c7f8c, #4296a3);
	background: -ms-linear-gradient(top, #2c7f8c, #4296a3);*/
	box-shadow: 0px 1px 1px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0750f', endColorstr='#eb931a', gradientType='0')";
}
.button:active {
	top: 1px;
	box-shadow: none !important;
}
.button.cancel, .button.disabled {
	text-shadow: 1px 1px 1px #666;
	border: 1px #808080 solid;
	background: -moz-linear-gradient(top, #b0b0b0, #808080);
	background: -webkit-linear-gradient(top, #b0b0b0, #808080);
	background: -o-linear-gradient(top, #b0b0b0, #808080);
	background: -ms-linear-gradient(top, #b0b0b0, #808080);
	box-shadow: 0px 1px 0px #c3c3c3 inset;
}
.button.cancel:hover {
	background: -moz-linear-gradient(top, #808080, #b0b0b0);
	background: -webkit-linear-gradient(top, #808080, #b0b0b0);
	background: -o-linear-gradient(top, #808080, #b0b0b0);
	background: -ms-linear-gradient(top, #808080, #b0b0b0);
	box-shadow: 0px 1px 1px #ccc;
}
.button.delete {
	color: #c82323;
	color: #fff;
	text-shadow: 1px 1px 1px #be1414;
	border: 1px #cf2525 solid;
	background: -moz-linear-gradient(top, #f73838, #cf2525);
	background: -webkit-linear-gradient(top, #f73838, #cf2525);
	background: -o-linear-gradient(top, #f73838, #cf2525);
	background: -ms-linear-gradient(top, #f73838, #cf2525);
	box-shadow: 0px 1px 0px #f96a6a inset;
}
.button.delete:hover {
	background: -moz-linear-gradient(top, #cf2525, #e62727);
	background: -webkit-linear-gradient(top, #cf2525, #e62727);
	background: -o-linear-gradient(top, #cf2525, #e62727);
	background: -ms-linear-gradient(top, #cf2525, #e62727);
	box-shadow: 0px 1px 1px #ccc;
}
.button.small {
	font-size: 12px;
	padding: 3px 10px;
}
.button.disabled {
	color: #ccc;
	cursor: default;
	box-shadow: none;
}
.button.disabled:hover {
	box-shadow: none;
}
.button.disabled:active {
	top: 0px;
}
.button.add {
	/*float: right;*/
	padding: 3px 12px;
	font-size: 14px;
	position: absolute; 
	right: 0;
	top: 105px;
}


.field {
	overflow: hidden;
	float: left;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 16px;
}
	.field label {
		font-weight: bold;
	}
	.field label { 
		display: block;
		padding: 2px 0;
	}
	.field .unit {
		display: block;
		float: left; 
		padding-right: 8px;
		line-height: 31px;
	}
.option {
	cursor: pointer;
	line-height: 16px;
	font-size: 12px;
}
	.option input {
		margin-right: 2px;
	}


.box {
	position: relative;
	border: 1px #ccc solid;
	background: #fff;
	border-radius: 4px;
}

.box-select {
	margin: 5px 0 0 0;
	background: #fff;
	border-radius: 4px;
}

.box-header {
	background: #f0f0f0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px #f4f4f4 solid;
	border-bottom: 1px #ccc solid;
}
	.box-header h2 {
		float: left;
		/*color: #2c7f8c;*/
		color: #eb931a;/* Modificado 19/Sep/13 */
		font-weight: bold;
		text-transform: uppercase;
		font-size: 20px;
		line-height: 18px;
		padding: 15px 20px;
	}
	.box-header .view {
		float: right;
		display: block;
		margin-right: 20px;
		font-size: 11px;
		line-height: 18px;
		padding: 15px 0;
	}
	.box-header .view:before {
		content: "> ";
	}
.box-msg {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	padding: 8px 12px 8px 28px;
}
.box-body {
	position: relative;
	overflow: hidden;
}
.box-body .loading {
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/backend/ajax-loader.gif) no-repeat;
	margin: 18px 0 0 -10px;
}


.disabled {
	cursor: default;
}
a.disabled {
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
	filter: gray; /* IE5+ */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
	opacity: 0.5;
}

html, body { 
	height: 100%; 
}
body { 
	position: relative;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	color: #3e4248;
	background: #f8f8f8;
}
#wrapper {
	min-height: 100%;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { 
	display: inline-table; 
}
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}
a {
	/*color: #8c2c2c;*/
	color: #eb931a; /* Modificado 19/Sep/13 */
}
hr {
	height: 1px;
	background: #ccc;
	margin-bottom: 15px;
}




/* header 
------------------------------------------------------------------------------------------------------ */
#header {
	padding: 6px 0 8px 0;
	margin-bottom: 60px;
	border-bottom: 1px #babbbd solid;
}
	#header h2 {
		font-size: 20px;
		line-height: 26px;
		float: left;
	}
		#header h2  span {
			font-size: 12px;
		}
	#header .identity {
		float: right;
		font-size: 12px;
		line-height: 26px;
		position: relative;
	}
	#header .identity:hover {
		background-color: #d9d9d9;
	}
		#header .identity a {
			display: block;
		}
		#header .identity > a {
			background:  url(../images/backend/identity-arrow.png) no-repeat right top;
			padding: 0 23px 0 9px;
			color: #3e4248;
		}
		#header .identity ul {
			display: none;
			position: absolute;
			top: 26px;
			right: 0;
			background: #d9d9d9;
			padding: 5px 13px;
			z-index: 10;
			border-top-left-radius: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			border-top: 1px #f8f8f8 solid;
			width: 100%;
		}
		#header .identity li {
			border-top: 1px #aeaeae solid;
			line-height: 14px;
			padding: 8px 0;
			white-space: nowrap;
		}
		#header .identity li:first-child {
			border: 0;
		}
		

#menu {
	border: 1px #000 solid;
	border-radius: 4px;
	/*margin: -32px 0 20px 0;*/
	background: -moz-linear-gradient(top, #4c4c4c, #1b1b1b);
	background: -webkit-linear-gradient(top, #4c4c4c, #1b1b1b);
	background: -o-linear-gradient(top, #4c4c4c, #1b1b1b);
	background: -ms-linear-gradient(top, #4c4c4c, #1b1b1b);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#1b1b1b', gradientType='0')";

	position: absolute;
	width: 958px;
	top: 42px;
}
#menu.sticky {
	position: fixed;
	width: 958px;
	top: -2px;
	left: 50%;
	margin-left: -480px;
	z-index: 50;
	box-shadow: 0px 4px 4px -3px #333;
}
	#menu > li {
		float: left;
		padding: 9px 0 8px;
		position: relative
	}
	#menu a {
		display: block;
		color: #b3b3b3;
		font-weight: bold;
		font-size: 12px;
		line-height: 23px;
		border-left: 1px #676767 solid;
		padding: 0 10px 0 9px;
		position: relative;
	}
	#menu > li:first-child > a {
		border-left: 0;
		padding-left: 10px;	
	}
	#menu a span {
		display: inline-block;
		position: relative;
		top: 1px;
		border-color: #b3b3b3 transparent transparent;
		border-style: solid;
		border-width: 3px;
		height: 0;
		width: 0;
	}
	#menu a:hover, #menu > li:hover > a, #menu .selected {
		color: #fff;
	}
	#menu > li ul {
		display: none;
		background: #373737;
		border-top: 1px #000 solid;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		width: 185px;
		padding: 0 12px 5px 12px;
		position: absolute;
		left: 8px;
		top: 40px;
		z-index: 10;
	}
	#menu > li li {
		border-top: 1px #5f5f5f solid;
		line-height: 16px;
		padding: 8px 0;
		color: #b3b3b3;
	}
	#menu > li li:first-child {
		border-top: 0;
	}
	#menu > li li a {
		color: #eb931a;
		border-left: 0;
		padding: 0;
	}
	#menu > li a:hover ul{
	display:block;
	}
	#menu a.third {
		margin-left: 8px;
		font-weight: normal;
		font-size: 11px;
	}
	#menu a.third:before {
		content: "+ ";
	}
	#menu ul span {
		font-size: 11px;
		line-height: 13px;
		display: block;
		padding-bottom: 2px;
	} 
	#menu ul a.action {
		font-weight: normal;
		font-size: 11px;
		line-height: 22px;
		padding-left: 7px;
	}
	#menu ul strong {
		font-size: 12px;
		display: block;
	}

		

/* footer 
------------------------------------------------------------------------------------------------------ */
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	font-size: 12px;
	line-height: 16px;
	padding-top: 5px;
	border-top: 1px #babbbd solid;
}
	#footer .help {
		float: left;
	}
	#footer .powered {
		float: right;
		text-align: right;
	}
	
	
	
/* login 
------------------------------------------------------------------------------------------------------ */
form.login {
	width: 378px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -220px 0 0 -190px;
	padding-top: 85px;
/*	background: url(../images/backend/logoAbargonColor_Small.png) top center no-repeat;/* Nuevo 22/Dic/14 */
}
	form.login .box {
		margin-bottom: 8px;
	}
	form.login .box-body {
		overflow: hidden;
		padding: 12px 19px 10px 19px;
	}
	form.login input[type="text"], form.login input[type="password"] {
		width: 327px;
	}
	form.login .option {
		margin-top: 20px;
		float: right;
		font-weight: bold;
		font-size: 11px;
	}
	form.login button {
		margin: 10px 20px 10px 0;
	}
	form.login p {
		font-size: 12px;
		line-height: 15px;
	}
		form.login .box-body p {
			margin-bottom: 10px;
		}
#password {
	display: none;
}

#content {
	padding-bottom: 90px;
	font-size: 12px;
	line-height: 16px;
}
#content-title {
	margin-bottom: 15px;
}
#content h1 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}
#content h2 {
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}
#content h2 .info {
    color: #777777;
    font-size: 11px;
    font-weight: normal;
}
#content > p {
	margin-bottom: 15px;
}
#content .breadcrumb {
	margin-bottom: 15px;
	overflow: hidden;
}
#content .breadcrumb li {
	float: left;
}
#content .box {
	margin-bottom: 15px;
}

.box-body form {
	float: left;
	width: 100%;
	/* fix border bottom left */
	border-bottom-left-radius: 4px;
	overflow: hidden;
}
.box-body .message {
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	font-weight: normal;
}
.box-header h2 {
	line-height: 18px !important;
	margin-bottom: 0 !important;
	padding: 12px 15px;
}
.box-header .filters {
	float: right;
	line-height: 18px;
	padding: 12px 15px;
}
.box-header .filters span {
	text-transform: uppercase;
}
.box-header .filters span, .box-header .filters a {
	display: inline-block;
	margin-left: 7px;
}
.box-header .filters .selected {
	border-bottom: 1px #333 dotted;
}

.box-header .dropdown {
	float: right;
	width: 200px;
	margin-right: 8px;
	position: relative;
	margin-top: 8px;
}
.box-header .dropdown p {
	background: #fafafa;
	border: 1px #d9d9d9 solid;
	line-height: 16px;
	padding: 4px 5px;
	border-radius: 3px;
	cursor: pointer;
	overflow: hidden;
}
.box-header .dropdown.hover p {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.box-header .dropdown span {
	display: block;
	border-color: #666 transparent transparent;
	border-style: solid;
	border-width: 4px;
	height: 0;
	width: 0;
	float: right;
	margin: 6px 2px 0 0;
}
.box-header .dropdown ul {
	display: none;
	position: absolute;
	top: 25px;
	z-index: 5;
	background: #fff;
	border: 1px #d9d9d9 solid;
	width: 198px;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0 2px 3px #ddd;
}
.box-header .dropdown li {
	line-height: 16px;
	border-bottom: 1px #d9d9d9 solid;
}
.box-header .dropdown li:last-child {
	border-bottom: 0;
}
.box-header .dropdown a {
	display: block;
	padding: 4px 5px;
	color: #999;
}
.box-header .dropdown a:hover {
	background: #fafafa;
	color: #000;
}
.box-header .dropdown li.selected a {
	color: #000;
}

.box-table {
	padding: 0 9px;
	position: relative;
}

.box-table .sortable-head {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 9px;
	background: #fff url(../images/backend/text_linespacing.png) no-repeat 11px 7px;
	width: 891px;
	height: 30px;
	line-height: 29px;
	padding: 0 0 0 49px;
	z-index: 1;
	color: #000;
	display: none;
}
.box-table div.small {
	width: 660px;
}
.box-table .sortable-head button {
	float: right;
	margin-top: 1px;
	margin-left: 10px;
}
.box-table .nested-sortable {
	position: absolute;
	top: 31px;
	left: 9px;
	background: #fff;
	width: 940px;
	z-index: 1;
	display: none;
}
.box-table .nested-sortable .placeholder {
	background: #fffede;
}
.box-table .nested-sortable div {
	padding: 7px 12px 7px 49px;
	border-bottom: 1px #ccc solid;
	background: url(../images/backend/sort.gif) no-repeat 14px 12px;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.box-table .nested-sortable div:active {
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.box-table .nested-sortable ol div {
	padding-left: 72px;
}
.box-table .nested-sortable ol ol div {
	padding-left: 107px;
}

.box-table table {
	width: 100%;
	margin: 10px 0 15px 0;
}
.box-table th, .box-table td {
	border-bottom: 1px #ccc solid;
	padding: 7px 12px;
}
.box-table th {
	color: #000;
	border-color: #999;
	text-align: left;
}
.box-table tr:nth-child(2n+1), .box-table tr.selected {
  background-color: #f8f8f8;
}
.box-table tr:first-child {
  background-color: #fff !important;
}
.box-table tr:hover, .box-table tr.selected {
  background-color: #fffedf;
}
.box-table td a {
	color: #408b97;
}
.box-table .actions {
	white-space: nowrap;
}
.box-table .actions a {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	text-indent: -5000px;
}
.box-table .actions .blank {
	background: none;
	cursor: default;
}
.box-table .actions .view {
	background: url(../images/backend/magnifier.png) no-repeat;
}
.box-table .actions .add {
	background: url(../images/backend/add.png) no-repeat;
}
.box-table .actions .add_table {
	background: url(../images/backend/application_view_list.png) no-repeat;
}
.box-table .actions .edit {
	background: url(../images/backend/pencil.png) no-repeat;
}
.box-table .actions .table {
	background: url(../images/backend/table.png) no-repeat;
}
.box-table .actions .order_down {
	background: url(../images/backend/bullet_arrow_down.png) no-repeat;
}
.box-table .actions .order_up {
	background: url(../images/backend/bullet_arrow_up.png) no-repeat;
}
.box-table .actions .list {
	background: url(../images/backend/application_view_list.png) no-repeat;
}
.box-table .actions .delete {
	background: url(../images/backend/delete.png) no-repeat;
}
.box-table .status {
	color: #2c8c35;
}
.box-table .inactive, .box-table .inactive .status {
	color: #888;
}
.box-table .subpage {
	padding-left: 35px;
}
.box-table .subpage_2 {
	padding-left: 70px;
}
.box-table .bulk {
	float: left;
	overflow: hidden;
	margin-bottom: 2px;
}
.box-table .bulk select {
	font-size: 12px;
	padding: 1px;
	margin: 1px 5px 0 0;
}
.box-table .bulk .sep {
	display: block;
	float: left;
	width: 1px;
	background: #ccc;
	line-height: 22px;
	border-right: 1px #eee solid;
	margin: 0 8px;
	position: relative; 
	top: 2px;
}
.box-table .pagination {
	float: right;
	line-height: 22px;
	color: #000;
}
.box-table .pagination a {
	display: inline-block;
	background: #f0f0f0;
	border: 1px #ccc solid;
	border-radius: 0 2px 2px 0;
	width: 25px;
	position: relative;
	text-indent: -5000px;
}
.box-table .pagination a:after {
	content: "";
	background: #000;
	border-bottom: 5px solid #f0f0f0;
	border-top: 5px solid #f0f0f0;
	border-left: 6px solid transparent;
	position: absolute;
	top: 6px;
	left: 11px;
}
.box-table .pagination a:hover {
	border: 1px #aaa solid;
	box-shadow: 0px 1px 1px #ccc;
}
.box-table .pagination .prev {
	margin-left: 10px;
	border-radius: 2px 0 0 2px;
}
.box-table .pagination .prev:after {
	border-bottom: 5px solid #f0f0f0;
	border-top: 5px solid #f0f0f0;
	border-right: 6px solid transparent;
	border-left: 0;
	left: 9px;
}
.box-table .pagination .next {
	margin-left: -5px;
}
.box-table .pagination .disabled, .box-table .pagination .disabled:hover {
	background: #f7f7f7;
	border-color: #e5e5e5;
	cursor: default;
	box-shadow: none;
}
.box-table .pagination .disabled:after {
	background: #949494;
}
.box-table .pagination .next.disabled {
	margin-left: -5px;
	border-left: 1px #ccc solid;
}

br.clear {
	clear: both;
	height: 5px;
}
.box-search {
	float: left;
	width: 200px;
	padding: 15px 15px 0 15px;
	border-right: 1px #ccc solid;
	background: #fafafa;
}
.box-table.search {
	margin-left: 230px;
}
.box-table .message {
	position: relative;
	left: -9px;
	width: 887px;
}
.box-table.search .message {
	position: relative;
	left: -8px;
	width: 656px;
}
.box-search p {
	font-size: 11px;
}
.box-search h3, .box-search label {
	font-weight: bold;
	margin-bottom: 3px;
}
.box-search label {
	display: block;
	margin-bottom: 2px;
}
.box-search label span {
	font-weight: normal;
	font-size: 11px;
}
.box-search li {
	overflow: hidden;
	padding-bottom: 10px;
}
.box-search input[type="text"] {
	font-size: 12px;
	width: 190px;
	padding: 3px 4px;
	background: #fff;
}
.box-search input.date {
	background: #fff url(../images/backend/input-date-small.png) no-repeat right center;
	width: 95px;
}
.box-search select {
	font-size: 12px;
	padding: 1px;
	width: 200px;
	background: #fff;
}
.box-search .option {
	display: block;
	margin-bottom: 1px;
	font-weight: normal;
}

/* messages 
------------------------------------------------------------------------------------------------------ */
div.message {
	border: 1px #ccc solid;
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 10px 35px 10px 36px;
	font-weight: bold;
	position: relative;
}
	div.message .close {
		text-indent: -5000px;
		display: block;
		width: 22px;
		height: 22px;
		position: absolute;
		right: 6px;
		top: 6px;
		background: url(../images/backend/msg-close.png) no-repeat;
	}
div.success {
	border-color: #b8d48f;
	background: #edfbd8 url(../images/backend/tick.png) no-repeat 10px 9px;
	color: #3d6600;
}
div.error {
	border-color: #d7b277;
	background: #ffecce url(../images/backend/exclamation.png) no-repeat 10px 9px;
	color: #c82323;
}
div.info {
	border-color: #90ccd6;
	background: #e2f6f9 url(../images/backend/information.png) no-repeat 10px 9px;
}
div.message.error ul {
	list-style-type: disc;
	margin-left: 15px;
}

.form {
	border: 1px #ccc solid;
	background: #fff;
	padding: 2px 15px 12px 15px;
	border-radius: 4px;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}
.form .fieldset {
	width: 670px;
	float: left;
}
.form h2 {
	border-bottom: 1px #ccc solid;
	padding-top: 10px;
	padding-bottom: 3px;
	clear: both;
	width: 650px;
	margin-bottom: 10px !important;
}
.form h2 .add {
	display: inline-block;
	width: 16px;
	height: 20px;
	background: url(../images/backend/add.png) left 4px no-repeat;
	text-indent: -5000px;
}
.form .last-modified {
	clear: both;
	padding-left: 25px;
	background: url(../images/backend/page_edit.png) no-repeat left top;
}
.form label span { 
	font-weight: normal;
	font-size: 11px;
	color: #777;
}
.form span.req {
	color: #c82323;
	font-weight: bold;
}
.form br {
	clear: both;
}
.form input[type="text"], .form input[type="password"] {
	width: 303px;
	margin-right: 20px;
	height: 19px;
}
.form textarea {
	width: 303px;
	margin-right: 20px;
}
.form select {
	padding: 3px 5px;
	width: 315px;
	height: 31px;
	margin-right: 20px;
}
.form .field.full input[type="text"] {
	width: 638px;
}
.form .field.full textarea {
	width: 638px;
}
.form .field.full select {
	width: 650px;
}
.form input.date {
	width: 105px;
}
.form select.hour, .form select.minute {
	width: 55px;
}
.form input.currency, .form input.numeric {
	width: 105px;
	text-align: right;
}
.form .field .option {
	font-weight: normal;
}
.form .field .list {
	width: 303px;
	padding: 5px;
	border-radius: 2px;
	border: 1px solid #b3b3b3;
	overflow-y: scroll;
	height: 98px;
	background: #fafafa;
	margin-right: 20px;
}
.form .field.full .list {
	width: 637px;
}
.form .field .list .option:hover {
	background: #fff;
}
.form .buttons {
	overflow: hidden;
	border-top: 1px #ccc solid;
	padding-top: 15px;
	margin-top: 15px;
	width: 650px;
}
.form .buttons .button {
	margin-bottom: 5px;
}
.form .buttons .cancel, .form .buttons .delete {
	float: right;
	margin-left: 15px;
}
.form .sidebar {
	width: 230px;
	float: right;
	background: #fafafa;
	border-left: 1px #ccc solid;
	position: absolute;
	top: 0;
	right: 0;
	width: 257px;
	padding: 2px 10px 0 10px;
	height: 100%;
}
.form .sidebox {
	margin-bottom: 2px;
	overflow: hidden;
}
.form .sidebox h2 {
	font-size: 14px !important;
}
.form .message {
	width: 577px;
	margin-bottom: 5px;
}
.form .sidebox .lbl {
	display: block;
	float: left;
	width: 100px;
	line-height: 23px;
	margin-bottom: 8px;
}
.form .sidebox .note {
	display: block;
	float: left;
	color: #999;
	font-size: 11px;
	line-height: 15px;
	padding: 6px 0;
	margin-left: -10px;
}
.form .sidebox select {
	font-size: 12px;
	width: 257px;
	height: 27px;
	background: #fff;
}
.form .sidebox input[type="text"] {
	font-size: 12px;
	width: 245px;
	height: 15px;
	background: #fff;
}
.form .sidebox input.date {
	width: 95px;
	background: #fff url(../images/backend/input-date-small.png) no-repeat right center;
}
.form .sidebox input.quantity {
	width: 95px;
}
.form .sidebox .field .option {
	float: left;
	padding-right: 20px;
}
.form .help {
	cursor: help;
	display: inline-block;
	width: 13px;
	height: 16px;
	line-height: 16px;
	background: url(../images/backend/help-small.png) no-repeat left top;
}
.form .choices {
	padding: 5px 0;
}
.form .choices li {
	overflow: hidden;
}
.form .choices input {
	font-size: 12px;
	margin-bottom: 8px;
	height: auto;
}
.form .choices input.date {
	background-position: 85px -2px;
}
.form .choices .delete {
	background: url(../images/backend/delete.png);
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	text-indent: -5000px;
	margin: 5px 0 0 -10px;
}
.form .choices .handle {
	background: url(../images/backend/sort.gif) no-repeat 2px 10px;
	display: block;
	float: left;
	width: 16px;
	height: 29px;
	margin-right: 10px;
	cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.form .choices .handle:active {
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.form .permissions th, .form .permissions td {
	padding: 2px 5px;
}
.form .permissions tr:hover {
  background-color: #fffedf;
}
.form .permissions tr:first-child {
  background-color: #fff !important;
}
.form .permissions th {
	text-align: left;
	border-bottom: 1px #dedede solid;
}
/*
.form .permissions th, .form .permissions td {
	border-bottom: 1px #ccc solid;
}
.form .permissions th {
	color: #000;
	border-color: #999;
	text-align: left;
}
*/
.form .permissions .level2 {
	padding-left: 20px;
}
.form .permissions .level3 {
	padding-left: 40px;
}

.form .sidebox div.select {
	width: 257px;
	position: relative;
	padding-bottom: 4px;
}
.form .sidebox div.select p {
	border: 1px #b3b3b3 solid;
	background: #fff;
	border-radius: 2px;
	padding: 5px 25px 5px 5px;
	line-height: 15px;
	position: relative;
	cursor: default;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.form .sidebox div.select p:after {
	position: absolute;
	content: "";
	display: block;
	top: 10px;
	right: 5px;
	border-color: #666 transparent transparent;
	border-style: solid;
	border-width: 5px;
	height: 0;
	width: 0;
}
.form .sidebox div.select > ul {
	position: absolute;
	top: 26px;
	background: #fff;
	box-shadow: 0px 2px 3px #666;
	max-height: 178px;
	overflow-y: scroll;
	z-index: 31;
	border: 1px #999 solid;
	display: none;
}
.form .sidebox div.select span {
	display: block;
	padding: 3px 5px !important;
	width: 230px;
	float: none !important;
	border-bottom: 1px #ddd dotted;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.form .sidebox div.select span.option:hover, .form .sidebox div.select span.selected {
	background: #3973dd;
	color: #fff;
}
.form .sidebox div.select li li li span {
	padding-left: 30px !important;
	width: 205px;
}
.form .sidebox div.select li li span {
	padding-left: 15px !important;
	width: 220px;
}
#select-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
	z-index: 30;
}


#modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -moz-radial-gradient(center, #999, #000) no-repeat #000;
	background: -webkit-radial-gradient(center, #999, #000) no-repeat #000;
	background: -o-radial-gradient(center, #999, #000) no-repeat #000;
	background: -ms-radial-gradient(center, #999, #000) no-repeat #000;
	opacity: 0.8;
	z-index: 100;
}
#modal-confirm {
	display: none;
}
#modal-confirm .box {
	width: 340px;
	left: 50%;
	top: 50%;
	margin-left: -170px;
	margin-top: -72px;
	position: fixed;
	z-index: 101;
	box-shadow: 0px 0px 7px #000;
}
#modal-confirm .box-header h2 {
	padding: 6px 9px;
	font-size: 18px;
}
#modal-confirm .box-header .close {
	text-indent: -5000px;
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	right: 4px;
	top: 4px;
	background: url(../images/backend/msg-close.png) no-repeat;
}
#modal-confirm .box-body {
	font-size: 14px;
	text-align: center;
	padding: 22px;
}
#modal-confirm .box-body p {
	margin-bottom: 12px;
}
#modal-confirm .box-body .ellipsis {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 296px;
	padding-bottom: 10px;
}
#modal-confirm .buttons {
	overflow: hidden;
	padding: 0 42px;
}
#modal-confirm .buttons button {
	width: 90px;
	font-size: 14px;
}
#modal-confirm .buttons .cancel {
	float: right;
}
#modal-confirm label {
	font-size: 11px;
}

#tooltip {
	display: none;
	position: absolute;
	z-index: 10;
	font-size: 11px;
	line-height: 13px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	max-width: 120px;
	padding: 7px 10px;
	border-radius: 3px;
}
#tooltip:after {
	content: "";
	border-bottom: 6px solid #000;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -5px;
	opacity: 0.8;
}


div.file { position: relative; overflow: hidden; width: 257px; }
.form .sidebox div.file > input.file { float: left; width: 145px; margin-right: 0; border-right:0; border-top-right-radius: 0; border-bottom-right-radius: 0; }
div.file > div.uploadify { float: right; }
div.file > div.preview { text-align: center; padding-top: 10px; clear: both; }
div.file > div.preview img { max-width: 100%; }

.uploadify-queue {
	/*margin-bottom: 1em;*/
}
.uploadify-queue-item {
	/*
	background-color: #f00;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	*/
	font: 10px font-family: Open Sans, Helvetica, Arial, sans-serif;
	margin-top: 36px;
	max-width: 350px;
	/*padding: 10px;*/
}
.uploadify-error {
	background-color: #f0f !important;
}
.uploadify-queue-item .cancel a {
	background: url(../images/backend/uploadify-cancel.png) 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #0ff;
}
.uploadify-progress {
	background: -moz-linear-gradient(top, #b3b3b3, #e6e6e6);
	background: -webkit-linear-gradient(top, #b3b3b3, #e6e6e6);
	background: -o-linear-gradient(top, #b3b3b3, #e6e6e6);
	background: -ms-linear-gradient(top, #b3b3b3, #e6e6e6);
	margin-top: 10px;
	height: 14px;
	/*width: 100%;*/
	width: auto;
	border: 1px #8c8c8c solid;
	border-radius: 4px;
}
.uploadify-progress-bar {
	background: url(../images/backend/upload-progress.png);
	height: 14px;
	width: 1px;
}


#table-rows, #table-rows ul {
	background: #fff;
	width: 650px;
	clear: both;
}
#table-rows li {
	border-top: 1px #ddd solid;
	overflow: hidden;
	position: relative;
	padding: 15px 0 0 26px;
	background: #fff;
}
#table-rows > li:first-child {
	border-top: 0;
	padding-top: 0;
}
#table-rows > li li {
	border-top: 1px #ddd dotted;
}
#table-rows ul {
	width: 534px;
	position: relative;
	margin: 0 0 0 90px;
}
#table-rows li.ui-sortable-helper {
	opacity: 0.8;
}
#table-rows li .handle, #table-rows li .add, #table-rows li .delete {
	position: absolute;
	left: 0;
	top: 15px;
}
#table-rows > li:first-child > .handle, #table-rows > li:first-child > .add, #table-rows > li:first-child > .delete {
	top: 0;
}
#table-rows li .add {
	right: 22px;
	left: auto;
	background: url("../images/backend/application_form_add.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin: 5px 0 0 -10px;
    text-indent: -5000px;
    width: 16px;
}
#table-rows li .delete {
	right: 0;
	left: auto;
}
#table-rows .field {
	overflow: hidden;
	margin: 0;
}
#table-rows .field label {
	float: left;
	width: 75px;
	line-height: 25px;
	padding-right: 15px;
}
#table-rows .field input[type="text"], #table-rows .field textarea {
	font-size: 12px;
	width: 455px;
	margin: 0;
}
#table-rows .field input[type="text"] {
	margin-bottom: 8px;
}
#table-rows .field textarea {
	margin-bottom: 15px;
}
#table-rows ul input[type="text"], #table-rows ul textarea {
	width: 338px !important;
}



#challenge-questions, #challenge-questions ul {
	background: #fff;
	width: 650px;
	clear: both;
}
#challenge-questions li {
	border-top: 1px #ddd solid;
	overflow: hidden;
	position: relative;
	padding: 15px 0 0 26px;
	background: #fff;
}
#challenge-questions > li:first-child {
	/*
	border-top: 0;
	padding-top: 0;
	*/
}
#challenge-questions > li li {
	border-top: 1px #ddd dotted;
}
#challenge-questions ul {
	width: 534px;
	position: relative;
	margin: 0 0 0 90px;
}
#challenge-questions li.ui-sortable-helper {
	opacity: 0.8;
}
#challenge-questions li .handle, #challenge-questions li .add, #challenge-questions li .delete {
	position: absolute;
	left: 0;
	top: 15px;
}
#challenge-questions > li:first-child > .handle, #challenge-questions > li:first-child > .add, #challenge-questions > li:first-child > .delete {
	/*top: 0;*/
}
#challenge-questions li .add {
	right: 22px;
	left: auto;
	background: url("../images/backend/application_form_add.png") repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin: 5px 0 0 -10px;
    text-indent: -5000px;
    width: 16px;
}
#challenge-questions li .delete {
	right: 0;
	left: auto;
}
#challenge-questions .field {
	overflow: hidden;
	margin: 0;
}
#challenge-questions .field label {
	float: left;
	width: 75px;
	line-height: 25px;
	padding-right: 15px;
}
#challenge-questions .field input[type="text"] {
	font-size: 12px;
	width: 455px;
	margin: 0 0 15px 0;
}
#challenge-questions .field input[type="radio"] {
	width: auto;
	height: auto;
	position: absolute;
	right: 50px;
	top: 23px;
}
#challenge-questions ul input[type="text"] {
	width: 338px !important;
}



#challenge-tools, #challenge-tools ul {
	background: #fff;
	width: 650px;
	clear: both;
}
#challenge-tools li {
	border-top: 1px #ddd solid;
	overflow: hidden;
	position: relative;
	padding: 15px 0 0 26px;
	background: #fff;
}
#challenge-tools > li:first-child {
	border-top: 0;
	padding-top: 0;
}
#challenge-tools > li li {
	border-top: 1px #ddd dotted;
}
#challenge-tools ul {
	width: 534px;
	position: relative;
	margin: 0 0 0 90px;
}
#challenge-tools li.ui-sortable-helper {
	opacity: 0.8;
}
#challenge-tools li .handle, #challenge-tools li .add, #challenge-tools li .delete {
	position: absolute;
	left: 0;
	top: 15px;
}
#challenge-tools > li:first-child > .handle, #challenge-tools > li:first-child > .add, #challenge-tools > li:first-child > .delete {
	top: 0;
}
#challenge-tools li .delete {
	right: 0;
	left: auto;
}
#challenge-tools .field {
	overflow: hidden;
	margin: 0;
}
#challenge-tools .field label {
	float: left;
	width: 75px;
	line-height: 25px;
	padding-right: 15px;
}
#challenge-tools .field input[type="text"] {
	font-size: 12px;
	width: 455px;
	margin: 0 0 15px 0;
}

.box-body .dashboardTable { padding: 15px; }
.box-body .dashboardTable .status { font-size: 13px; line-height: 16px; margin-bottom: 12px; padding-bottom: 10px; border-bottom: 1px #ccc solid; }
.box-body .dashboardTable .status span { color: #8c2c2c; }
/*.box-body .dashboardTable table { width: 100%; }*/
.box-body .dashboardTable td { padding-bottom: 12px; font-size: 13px; line-height: 16px; vertical-align: top; padding-right: 40px; white-space: nowrap; }
.box-body .dashboardTable td h3 { text-transform: uppercase; font-weight: bold; font-size: 14px; }
.box-body .dashboardTable td.sum { text-align: right; }
.box-body .dashboardTable td.sum span { display: inline-block; min-width: 50px; color: #8c2c2c; }
.box-body .dashboardTable td.avg span { display: inline-block; min-width: 30px; text-align: right; color: #8c2c2c; }

.box-body .dashboardTable ul { border-top: 1px #ccc solid; padding-top: 15px; }
.box-body .dashboardTable ul li { border-top: 1px #efefef dotted; padding: 10px 0; overflow: hidden; position: relative; }
.box-body .dashboardTable ul li:first-child { border-top: 0; padding-top: 0; }
.box-body .dashboardTable ul h3 { font-weight: bold; font-size: 13px; }
.box-body .dashboardTable ul p { padding: 0 180px 0 20px; }
.box-body .dashboardTable ul a.button { position: absolute; right: 0; top: 10px; }
.box-body .dashboardTable ul a.report { position: absolute; right: 0; top: 10px; }
.box-body .dashboardTable ul li:first-child a.report { top: 0; }

.box-body .dashboardTable form { display: none; }
.box-body .dashboardTable fieldset { background: #efefef; border-radius: 3px; overflow: hidden; margin-top: 7px; padding: 10px 10px 4px 10px; position: relative; }
/*.box-body .dashboardTable fieldset p { overflow: hidden; clear: both; }*/
.box-body .dashboardTable fieldset input.date { background: #fff url(../images/backend/input-date-small.png) no-repeat right top; width: 95px; font-size: 12px; height: 15px; margin-right: 10px;  }
.box-body .dashboardTable fieldset button { margin-right: 10px; }
.box-body .dashboardTable fieldset span, .box-body .dashboardTable fieldset label { display: block; float: left; padding-right: 5px; line-height: 27px; }
.box-body .dashboardTable fieldset span { padding-right: 20px; }
.box-body .dashboardTable fieldset .close { position: absolute; right: 8px; top: 8px; display: block; width: 16px; height: 16px; background: url(../images/backend/uploadify-cancel.png) no-repeat; text-indent: -5000px; }


.ui-datepicker { font-size: 12px; color: #666; border: 1px #999 solid; background: #f8f8f8; padding: 4px 6px 6px 4px; box-shadow: 0 2px 5px #999; border-radius: 2px; display: none; }
	.ui-datepicker th { text-align: right; padding: 0 2px 2px 0; color: #000; font-weight: normal; }
	.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 0 3px; text-align: right; text-decoration: none; margin: 0 2px 2px 0;  margin: 0 -2px -2px 0; color: #333; }
	.ui-datepicker td a:hover { background: #eee; }
	.ui-datepicker .ui-state-default { border: 2px #ccc solid; background: #fff; }
	.ui-datepicker .ui-datepicker-header { overflow: hidden; background: #333; border-radius: 2px; padding: 3px; margin-bottom: 2px; margin-right: -2px; }
	.ui-datepicker .ui-datepicker-title { text-align: center; color: #333; }
		.ui-datepicker .ui-datepicker-title select { padding: 1px; font-size: 12px; margin-left: 4px; }
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { float: left; width: 16px; height: 16px; text-indent: -2000px; cursor: pointer; position: relative; top: 3px; }
	.ui-datepicker .ui-datepicker-next { float: right; }
	.ui-datepicker .ui-datepicker-prev:after { content: ""; background: #fff; border-bottom: 6px solid #333; border-top: 6px solid #333; border-right: 6px solid transparent; position: absolute; top: 3px; left: 6px; }
	.ui-datepicker .ui-datepicker-next:after { content: ""; background: #fff; border-bottom: 6px solid #333; border-top: 6px solid #333; border-left: 6px solid transparent; position: absolute; top: 3px; left: 6px; }
	.ui-datepicker .ui-datepicker-today a { background: #FFFEDF !important; }
	.ui-datepicker td a.ui-state-active { background: #f60 !important; color: #fff; }
	
	
	
	
.overview { font-size: 12px; color: #666; overflow: hidden; }
	.overview p { margin-bottom: 15px; }
	.overview .welcome { font-size: 16px; }
	.overview .left, 
	.overview .right { width: 625px; }
		.overview .right a { font-size: 13px; }
		.overview .right a:before { content: "⇢ "; }
	.overview h3 { color: #333; font-size: 16px; border-bottom: 1px #dbd9e2 solid; margin: 15px 0 10px 0; overflow: hidden; }
		.overview h3 img { float: right; }
	.overview dl { margin-top: 5px; }
	.overview dt { clear: left; float: left; margin: 0; width: 165px; }
	.overview dd { float: left; font-weight: bold; margin: 0; width: 260px; }
	.overview table { width: 100%; margin-bottom: 15px; }
	.overview th, .overview td { padding: 4px 5px; background: #fff; vertical-align: top; text-align: left; }
	.overview th { background: url(../images/backend/bg-data-header.png) repeat-x bottom; }
	.overview th.date { width: 100px; }
	.overview th.action { width: 20px; }
	.overview .even td { background: #f5f5f9; }
	.overview .stat { margin-bottom: 20px; overflow: hidden; width: 930px; }
		.overview .stat .sub { width: 290px; margin-right: 20px; float: left; }
		.overview .stat h4 { color: #000; font-weight: bold; margin-bottom: 5px; }
			.overview .stat .sub .center { text-align: center; padding-right: 90px; }
			.overview .stat .sub ol { padding-left: 30px; list-style-type: decimal; }	