//sass --watch book_detail.scss:book_detail.css
$gray: #dedddd;
$red:  #f32f3a;
$black: #424242;
$red-sinopsis: #cc4242;
$tags: #354f5e;
$stars: #eec74e;
$green: #3db29c;
$blue: #354f5e;
$fontm: 'Open Sans';
textarea{
  overflow: hidden !important;
}
::-webkit-input-placeholder { font-family: 'Open Sans'; }
::-moz-placeholder { font-family: 'Open Sans'; }
:-ms-input-placeholder {font-family: 'Open Sans'; }
input:-moz-placeholder { font-family: 'Open Sans'; }

input[type='text'].discuss-input:focus,input[type='text'].discuss-input:active{
  border-color: #3db29c;
}
input[type='text'].discuss-input{
  font-family: 'Open Sans';
}
textarea.book-review-content:active,textarea.book-review-content:focus{
  border-color: #3db29c;
}
.error{
  color: #cc4242;
  font-size: 12px;
  font-family: $fontm;
  display:none;
}
p.error{
  margin-top: 0px;
}
.like-it{
  color:#354f5e;
}

.contenedor {
  width: 260px;
  height: 170px;
  margin: 10px 13px auto;
  position: absolute;

}

.contenedor-left{
  width: 260px;
  height: 170px;
  margin: 10px 30px;
  position: absolute;

}


.tip {
  color: white;
  font-size: 16px;
  text-align: left;
  font-family:  $fontm, sans-serif; font-weight: 400;
  margin-top: -8px;


}

.titulo-tip {
  color: #3db29c;
  font-size: 14px;
  text-align: left;
  font-family:  $fontm, sans-serif; font-weight: 400;
  margin-top: 5px;

}

.small {
  color: white;
  font-size: 14px;
  text-align: left;
  font-family:  $fontm, sans-serif; font-weight: 100;
  line-height: 1.5em;
  margin-top: 3px;
}

.indicador {
  color: white;
  font-size: 12px;
  text-align: right;
  font-family:  $fontm, sans-serif; font-weight: 100;
  line-height: 1.5em;
}

.hr {
  height: 1px;
  border: 0;
  background-color: white;
  margin: -5px auto;

}
.contenedor-botones {
  float: right;
  margin-top: 9px;
}
.boton-omitir {
  color: #78919f;
  font-size: 12px;
  text-align: right;
  font-family:  $fontm, sans-serif; font-weight: 200;
  text-decoration: none;

}

.boton {

  display:inline-block;
  padding: 5px 0px;
  margin-bottom: 0px;
  width: 100px;
  background-image: none;
  color: white;
  font-size: 12px;
  font-family:  $fontm, sans-serif; font-weight: 200;
  margin:3px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  -webkit-user-select: none;
  cursor: pointer;

}

.boton-rounded {
  border-radius: 15px;

}

.boton-siguiente {
  margin-left: 10px;
  color: #fff;
  border: 1px solid #fff;
}

.no-hover-tooltip:hover {
  color: white !important;

}

.omitir-hover:hover {
  color: #78919f !important;
}

 p span.tool-span {
  color: #cfb047;
 }
 .margen {
  margin-top: 60px;
 }

 #tooltip-2 {
  position: absolute;
  z-index: 10;
 }

#tooltip-3 {
  position: absolute;
  z-index: 15;
 }
#tooltip-4 {
  position: absolute;
}

#pdf-modal .modal-container,
#pdf-modal-preview .modal-container {
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 0px;
  background-color: white;
  max-width: 80%;
  min-height: 640px;
  padding: 15px;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 15px;
}
.modal-pdf {
  width: 100%;
}

#list-name-mini {
  margin-bottom: 5px;
}

.blue-background {
  background-color: #354f5e !important;
}

.book-ultimos-calificados {
  hr {
    margin-top: 5px;
  }
}

section.section-book-detail{
  margin-top: 20px;
  width: 90% !important;
  @media screen and (min-width: 768px) and (max-width: 880px) {
    float: left;
  }
}

/**
 * Hack que hace que la informacion del libro se despliegue a todo el contenedor
 */
@media (min-width: 1200px) {
  .col-lg-8.col-hack-lg-8 {
    width: 70%;
  }
}

.book-information{
  margin-bottom:20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-right:0;
  position:relative;
  .book-content{

    @media only screen and (max-width : 880px){
      min-width: 300px;
    }
    @media only screen and (max-width : 631px){
      display: none;
    }

  }

  .mini-book{
    display: none;
    text-align: justify;
    @media only screen and (max-width : 631px){
      display: block;
    select{
      width: 100% !important;
      padding: 3px;
    }
    #mini-sinopsis, #mini-detail{
      display: none;
    }
    .mini-detail{
      border-bottom:1px solid $gray;
      padding:3px;
      margin-bottom: 10px;
      font-family:  $fontm;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
    }
    .mini-text{
      font-family: 'Open Sans'
;            font-style: normal;
      font-weight: 300;
      font-size: 14px;
      padding-right: 20px;
    }
    .mini-hover{
      cursor: pointer;
    }
    .btn{
      width:100% !important;
      max-width:100% !important;
    }
    .btn-add-library{
      cursor: pointer;
      margin-top: 20px;
      padding:8px 10px 8px 10px;
      border-radius: 30px;
      background-color: #FFF;
      border-color: $blue;
      border:1px solid $blue;
      font-family:  $fontm;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: $blue;
      width: 175px;
      &:hover{
        background-color:$blue;
        color:#FFF !important;
      }
    }
    .btn-add-library-mini{
      cursor: pointer;
      margin-top: 20px;
      padding:8px 10px 8px 10px;
      border-radius: 30px;
      background-color: #FFF;
      border-color: $blue;
      border:1px solid $blue;
      font-family:  $fontm;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: $blue;
      width: 100%;
      &:hover{
        background-color:$blue;
        color:#FFF !important;
      }
    }

    }

  }
  .add-list{
    text-align:left;
    p{
      margin-bottom: 5px;
      text-align: left;
    }
  }
  .add-list-mini{
    text-align:left;
    p{
      margin-bottom: 5px;
      text-align: left;
    }
  }
  .coverbook{
    text-align: center;
    max-width: 230px !important;
    min-width: 230px;
    float: left;
    .cover{
      width: 175px;
      height: 270px;
      margin-bottom: 20px;
    }
    @media only screen and (max-width : 631px){
      text-align: center;
      float: none;
      margin: 0 auto;
    }
    .rate{
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      background-image: url('../images/detail/estrella_calificacion.svg');
      background-repeat:no-repeat;
      padding:0;
      padding-top: 15px;
      height:45px;
      width: 48px;
      font-size: 14px;
      margin-right: 5px;
      float: left;
    }
    .rating{
      text-align: center;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    #div-library {
      padding-left:19px;
    }
  }
  h3.title{
    font-family:$fontm;
    font-size: 20px;
    display:inline;
  }
  .isbn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px
  }
  .type{
    width: 35px;
    height: 35px;
    margin-right:15px;
    display: inline;
  }
  .authors{
    font-size: 18px;
    text-align: justify;
    margin: 15px 0 15px 0;
  }
  .nav-tabs {
    border: 0;
  }
  .info{
    padding: 28px 15px 15px 15px;
    border:1px solid $gray;
    p {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      max-width: 565px !important;
      line-height: 20px;
    }

  }
  .info-detail{
    padding: 28px 15px 15px 15px;
    border:1px solid $gray;
    display:none;
  }
  .nav-tabs>li {
    >a{
      line-height: 1.42857143;
      font-family:  $fontm;
      font-style: normal;
      font-weight: 400;
      border: 1px solid $gray;
      border-radius:0;
      margin-right: 0;
      text-decoration: none;
      color: $black;
    }
    >a.active{
      line-height: 1.42857143;
      text-decoration: none;
      font-family:  $fontm;
      font-style: normal;
      font-weight: 400;
      background-color: $red-sinopsis;
      color: #FFF;
    }
    >a.sinopsis{
      border-right: 0px;
    }

  }

 .btn-add-library{
    padding:8px 10px 8px 10px;
    border-radius: 30px;
    margin-right: 4px;
    background-color: #FFF;
    border-color: $blue;
    border:1px solid $blue;
    font-family:  $fontm;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: $blue;
    width: 175px;
    &:hover{
      background-color:$blue;
      color:#FFF !important;
    }
  }
  p{
    margin-bottom: 15px;
  }
}
.div-share{
  max-width: 230px !important;
  min-width: 230px;
  text-align: right;
  @media only screen and (max-width : 631px){
    text-align: center;
    float: none;
    margin: 0 auto;
  }
}

.book-sections{
  padding-left: 22px;
  padding-right: 0px;
  @media only screen and (max-width : 691px) {
    padding-left:0px;
  }
}

#club-sections {
  margin-top: 20px;
}

.related-phrase{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  color: #333;
}
.get-copy{
  width: 280px;
  height:30px;
  border: 1px solid #dedddd;
  padding: 5px;
  padding-top: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  background-image: url('../images/detail/flecha_select_black.svg');
  background-repeat: no-repeat;
  background-position: right;
}
.not-available{
  width: 280px;
  height:30px;
  border: 1px solid #dedddd;
  padding: 5px;
  padding-top: 3px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  @media only screen and (max-width : 691px){
    width: 100%;
  }
}

a.title-rel{
  text-decoration: none;
  color: #000;
  font-family: 'Open Sans';
  font-size: 16px;
}
p.author-rel{
  text-decoration: none;
  color: #000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}
.check-it{
  color:$green;
}
  .add-list{
    text-align:left;
    p{
      margin-bottom: 5px;
      text-align: left;
    }
  }
  .add-list-mini{
    text-align:left;
    p{
      margin-bottom: 5px;
      text-align: left;
    }
  }
  .add-list{
    display: none;
  }
  .add-list-mini{
    display: none;
  }
.stars {
  display: inline-block;
   input{
    display: none;
  }
  label{
    float: right;
    padding: 2px;
    transition: all .2s;
    cursor: pointer;
  }
  input:checked ~ label.star:before {
    content: url('../images/detail/estrella_verde_xm.svg');
    color: #FD4;
    transition: all .25s;
  }
  label:hover{
    transform: translate(0px,-3px) scale(1.3);
  }
  label:before {
    content: url('../images/detail/estrella_gris_xm.svg');
  }
  label.stch:before {
    content: url('../images/detail/estrella_verde_xm.svg') !important;
  }
}
.p-inf {
  font-family: 'Open Sans';
  min-width:5px;
  min-height:5px;
}
.detail-hidden{
  display:none;
}
#see-more-det{
  &:hover{
    cursor: pointer;
  }
}
.li-detail{
  &:hover{
    cursor:pointer;
  }
}
.star-rate{
  float:left;
   input{
    display: none;
  }
  label{
    float: right;
    padding: 2px 0px 4px 0px;
    transition: all .2s;
  }
  label:before {
    content: url('../images/detail/estrella_gris_xm.svg');
    font-family: FontAwesome;
  }

  label.check:before {
    content: url('../images/detail/estrella_amarilla_xm.svg');
  }
}
.detail-para {
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.star-rate-desk{
  display: inline-flex;
  padding-left: 0;
}
.star-rate-desk input {
  display: none;
}

.star-rate-desk label {
  float: right;
  padding: 2px 0px 4px 0px;
}
.star-rate-desk label:before {
  content: url("../images/detail/estrella_gris_xm.svg");
}
.star-rate-desk label.check:before {
  content: url("../images/detail/estrella_amarilla_xm.svg");
}
.add-list {
  color:#FFF;
   input{
    display: none;
  }
  label{
    padding: 2px;
    transition: all .2s;
  }
  input:checked ~ label.tick:before {
    content: url('../images/detail/checkbox_select.svg');
    color: #FD4;
    transition: all .25s;
  }
  label:before {
    content: url('../images/detail/checkbox.svg');
    &:hover{
    cursor:pointer;
    }
  }
  input[type='text']{
    display: inline;
    width: 100%;
    height: 23px;
  }
  p{
    margin-bottom: 10px;

  }
  .text-list{
    display: none;
  }
}
.create-list{
  &:hover{
    color:$green;
    cursor: pointer;
  }
}
.add-list-mini{
  color:#FFF;
   input{
    display: none;
  }
  label{
    padding: 2px;
    transition: all .2s;
  }
  input:checked ~ label.tick:before {
    content: url('../images/detail/checkbox_select.svg');
    color: #FD4;
    transition: all .25s;
  }
  label:before {
    content: url('../images/detail/checkbox.svg');
  }
  input[type='text']{
    display: inline;
    width: 100%;
    height: 23px;
  }
  p{
    margin-bottom: 10px;

  }
  .text-list{
    display: none;
  }
}
.red-link{
  a{
    color:$red-sinopsis;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
}
.social-medios{
  width:27px;
  height: 27px;
  margin-left:5px;
  vertical-align: middle;
}
.social-medios-mini{
  margin-left:5px;
}
.get-copy{
  margin-left:24px;
}
.book-share{
  margin: 10px 0 10px 0;
  padding-left:45px;
  @media only screen and (max-width : 631px){
    text-align: center;
  }
}
.rating-share{
  padding-right:0;
  text-align: right;
    @media only screen and (max-width : 631px){
      text-align: center;
      float: none;
      margin: 0 auto;
    }
}
a.tags{
  background-color: $tags;
  color:#FFF;
  text-decoration: none;
  padding: 3px;
  border: 0px;
  border-radius: 4px;
  margin-left:5px;
  font-size:15px;
}
.rate-width{
  margin-right: 5px;
}
p.tag-word{
  line-height: 30px;
}
a.tags:hover{
  background-color: $green;
}
textarea.form-control:focus{
  border: 0;
  box-shadow:none !important;
}
textarea.form-control:hover{
  border: 0;
  box-shadow:none !important;
}
textarea.form-control:active{
  border: 0;
  box-shadow:none !important;
}
textarea.form-control:visited{
  border: 0;
  box-shadow:none !important;
}
.ratings-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.people-review,
.people-rating {
  padding: 20px 15px 10px 15px;
  background-color: 'aliceblue';
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  @media only screen and (max-width : 767px){
    padding: 20px 10px 10px 10px;
  }
  .mini-profile{
      display:none;
      @media only screen and (max-width : 767px){
      display:inline;
    }
  }
  .div-photo{
    padding-left:10px;
    max-width: 100px !important;
    height: 100% !important;
    text-align: center;
    @media only screen and (max-width : 767px){
      min-width: 60px !important;
      padding-right:0;
    }
  }
  p.date{
    position:absolute;
    margin-top: 5px;
  }
  p.p-comment{
    margin:0;
    font-size: 16px;
  }
  .div-comment{
    display:none;
    @media only screen and (max-width : 767px){
    display:inline;
    margin-top: 15px;
    padding-left:0px;
    margin-left:0px;
    }
  }
  .people-photo{
    width: 75px;
    height: 75px;
    border: 1px solid #DDD;
    padding:3px;
    @media only screen and (max-width : 767px){
      width: 50px;
      height: 50px;
      padding: 0;
    }
  }
  .people-photo-mini{
    width: 40px;
    height: 40px;
    border: 1px solid #DDD;
    padding:0;
    @media only screen and (max-width : 767px){
      width: 30px;
      height:30px;
    }
  }
  a.profile{
    text-decoration: none;
    color: $green;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    margin-right: 5px;
  }
  p.like
  {
    margin-top: 15px;
    span.like-it{
      cursor:pointer;
    }
    span.counter{
      color:#898989;
    }
  }
}

/**
 * Cancela que se pueda ver el rating en los comentarios
 */
.people-review {
  .rate-width,
  .star {
    display: none;
  }
}

/**
 * Manejo individual de calificacion
 */
.people-rating {
  border-bottom: 1px solid $gray;
  padding: 20px 15px;
}

/**
 * Div que se muestra cuando no existen calificaciones
 */
.the-ratings-are-empty {
  color: #898989;
  margin-top: 20px;
  text-align: center;
  font-family:  $fontm;
}

/**
 * Div para que puedas hacer tu calificacion
 */
.your-rating-action {
  & > div.stars {
    height: 20px;
    & > div {
      padding-top: 0px;
    }
  }
  .rating-label {
    display: inline-block;
  }
}

p.pad-10{
padding-left:10px;
}
.coverbook-related{
  width: 70px;
  height: 105px;
  margin-bottom: 20px;
}

.load-related-books {
  .book-related-title {
  h2 {
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
  }
  }
}

.book-related-title {
  border-bottom: 2px solid $red;
  padding-bottom: 10px;
  h2 {
    font-family:  $fontm;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
  }
}

.book-review-title {
  border-bottom: 2px solid $green;
  padding: 0;
  h2 {
    font-family: $fontm;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .book-review-title-header,
  .book-review-title-action {
  padding-left: 0px;
  padding-right: 0px;
  }
}

.book-related-phrase {
  border-bottom: 2px solid #efc84e;
  h2 {
    font-family:  $fontm;
  font-style: normal;
  font-weight: 400;
    font-size: 24px;
  }
}
.book-phrase-content{
  margin-top:40px;
  a{
    text-decoration: none;
  }
  h4,h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
  }
  .share-it{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color:#b79d46;
  }
}
.book-related-content{
  margin-top: 20px;
  line-height: 20px;
  .book-title{
    font-family: $fontm;
    font-style: normal;
    font-weight: 400;
    font-size:14px;
  }
  .book-author{
    font-family:  $fontm;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
}
textarea.book-review-content{
  margin-top: 10px;
  padding: 1.5em;
  height:100px;
  border: 1px solid $gray;
  resize: vertical;
  width:100%;
  font-weight: 600;
  @media only screen and (max-width : 865px){
    width:100%;
    padding: 1.5em;
  }
}
.no-padding{
  padding: 0px;
}
.no-padding-left{
  padding-left: 0px;
}
.seemore{
  padding-top: 10px;
  color:$green;
}
.see-more-review{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top:20px;
  margin-bottom:0px;
  padding-left:0;
  padding-right:0;
}
.time-ago{
  text-align: right;
  font-size: 13px;
  color: #898989;
  @media only screen and (max-width : 767px){
    text-align: left;
  }
}
.author-rate{
  margin-bottom: 26px;
  &:hover{
    cursor:pointer;
  }
}
 .green-border{
  &:hover{
    border:1px solid $green;
  }
 }
.review-publish{
  color: #898989;
  margin-top: 40px !important;
  padding:0;
  border:1px solid $gray;
  border-left: 0;
  text-align:center;
  padding-top: 40px;
  height: 100px !important;
  line-height: 100px;
  &:hover{
    cursor:pointer;
    background-color: $green;
    color: #FFF;
  }
  @media only screen and (max-width : 767px){
      margin-top: 5px;
      padding: 0;
      border: 1px solid #dedddd;
      text-align: center;
      padding-top: 20px;
      height: 60px !important;
  }
}
.no-side-pad{
  padding-left:0;
  padding-right:0;
}
.adjust-text{
  padding-right:171px;
  @media only screen and (max-width : 911px){
    padding-right: 15px;
  }
  @media only screen and (max-width : 631px){
    padding-right: 20px;
  }
}
.desk{
  @media only screen and (max-width : 631px){
    display: none;
  }
}
.desk-mini{
  @media only screen and (max-width : 767px){
    display: none;
  }
}
.rank-mini{
  display: none;
  @media only screen and (max-width : 767px){
    display: inline-block;
    padding: 0px 0px 0px 5px;
  }
}
.margin-bottom{
  margin-bottom:20px;
}
.link{
  cursor: pointer;
}
textarea.book-review-content{
  font-family: 'Open Sans';
  font-size: 14px;
}
input[type='text'].discuss-input{
  border: 1px solid $gray;
  width: 100%;
  font-family:'Open Sans';
  font-size: 14px !important;
  height: 35px;
  margin-top: 0px;
  padding:1.5em;
  font-weight: 600;
  color: #000;
}
.discuss-input{
  margin: 10px 0px 0px 0px;
  input{
    padding:1.5em;
    font-weight: 600;
    color: #000;
  }
  span{
    font-family:  $fontm;
    font-size: 16px;
    color: $green;
  }
  .btn-club{
    font-size: 16px !important;
    border-radius:30px;
    border: 1px solid $blue;
    color: $blue;
    background-color: #FFF;
    padding: 7px 35px 7px 35px;
    &:hover{
      background-color: $blue;
      color: #FFF;
    }
  }
}
.text-comment{
  margin-top: 10px;
  textarea{
    width: 100%;
    border: 1px solid $gray;
    height: 35px;
    resize: vertical;
  }
}
.text-right{
  text-align:right;
}
.pointer{
  cursor:pointer;
}

.review-book {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px;
}

.word-wrap{
  word-wrap: break-word;
}
.btn-like{
  color:$blue;
  font-weight: 400;
}
.people-review-hide{
  display:none;
}
.no-padding-right{
  padding-right: 0px;
}

.detail-footer {
  border-top: 1px solid $gray;
  color: #9C9C9C;
  font-family: "Open Sans";
  font-size: 12px;
  padding-top: 10px !important;
}

.report-detail{
  color: $blue !important;
  text-align: right;
}
.people-photo-comment{
  width: 43px;
  height:43px;
  border: 1px solid $gray;
  padding:3px;
}
.comment-first{
  margin:0px;
}
.create-club{
  color:$green !important;
  background-color: #FFF;
  border-radius:30px;
  border: 1px solid $green !important;
  font-family:  $fontm;
  padding: 5px 25px 5px 25px;
  &:hover{
    background-color: $green;
    color: #FFF !important;
  }
  @media only screen and (max-width : 767px){
    width:100%;
    margin-bottom: 10px;
    padding: 6px 12px;
    font-size: 12px;
  }
}

.content-btn-club {
  text-align: right;
  @media only screen and (max-width : 767px) {
    margin-top: 10px;
  }
}

.trophy{
  position: absolute;
  right: 15px;
  top: 45px;
  @media only screen and (max-width : 767px){
    position: absolute;
    top: 30px;
  }
}
.trophy-mini{
  position: absolute;
  right: 0px;
  top: 20px;
}
.trophy-nested{
  position: absolute;
  right: 10px;
  top: 20px;
}
.troph{
  width: 15px;
}

.normal-paraph {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 10px 0 !important;
}

textarea.write-comment{
  font-weight: 600;
  color: #000;
  height: 35px;
  display:none;
  &:active,
  &:focus,
  &:hover {
    padding-top: 1em;
    height:80px;
  }
}
.discuss-container{
  margin:10px 0px 10px 0px;
  border: 1px solid $gray;
}
.root-discuss{
  background-color: #f0f8ff;
}
.nest-discuss{
  padding:0 0 0 10px;
}
.mini-nested{
  padding-left:0px!important;
  padding-right:0px!important;
}
.modal-row{
  border-bottom: 1px solid #dedddd;
  font-size: 14px;
  font-family:$fontm;
  min-height:  40px;
  padding-top: 10px !important;
  a{
    text-decoration: none;
    color: #000;
  }
}
.library-title{
  color: $blue;
  font-family:$fontm;
}
#club{
  margin-bottom: 15px;
}
.club-title{
  margin-bottom:0px !important;
}
.body-club{
  padding-top:0px !important;
}
.font-green{
  color:$green;
  font-family:  $fontm;
  font-size: 16px;
  padding: 10px 0px;
}
.load-more{
  margin-top: 15px;
}
.line-more{
  align: center;
  color: #858585;
  border-width: 1px;
}
.spinner-discuss{
  height:20px !important;
}
.no-top{
  padding-top:3px;
}
.modal-foot{
  border-top: 2px solid $green;
  text-align: center;
  font-size: 13px;
  padding-top:10px;
  font-family:  $fontm;
}
.link-green{
  color:$green;
  font-family:  $fontm;
  font-size: 13px;
  text-decoration: none;
  &:hover{
    color:$green;
  }
}
.book-modal{
    @media only screen and (max-width : 767px){
    text-align: center;
  }
}
.share-in{
  font-family: $fontm;
  font-size:12px;
  font-weight: 600;
  color: #333;
}
.counter-gray{
  color: #898989;
}
.display-discuss{
  display: inline-block !important;
}
// Donde comprar
.btn-buy-where{
  background-color: #FFF;
  border: 1px solid #354f5e;
  border-color: #354f5e;
  border-radius: 30px;
  color: #354f5e;
  cursor: default;
  font-family:  $fontm;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-right: 4px;
  padding: 8px 10px 8px 10px;
}

// Seccion de ratings
.ratings-section {
  margin-top: 10px;
  .ratings-loader-spinner {
    margin-top: 50px;
  }
}

.no-padding-fix-resp {
  @media only screen and (max-width : 991px){
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
