//sass --watch tick.scss:tick.css
$gray: #dedddd;
$red:  #f32f3a;
$black: #424242;
$red-sinopsis: #cc4242;
$tags: #354f5e;
$stars: #eec74e;
$green: #3db29c;
$blue: #354f5e;

.book-information{
	margin-bottom:20px;
	font-family:'Open Sans';
	font-size: 16px;
	padding-right:0;
	position:relative;

 .btn-add-library{
		padding:8px 10px 8px 10px;
		border-radius: 30px;
		margin-right: 4px;
		background-color: #FFF;
		border-color: $blue;
		border:1px solid $blue;
		font-family:'Open Sans';
		font-size: 12px;	
		color: $blue;
		width: 175px;
		&:hover{
			background-color:$blue;
			color:#FFF !important;
		}
	}	
	p{
		margin-bottom: 15px;
		vertical-align:middle;		
	}
.add-list {
	color:#FFF;
	 input{ 
		display: none; 
	} 
	label{
	  padding: 2px;
	  transition: all .2s;
	}	
	input:checked ~ label.tick:before {
	  content: url('../images/detail/radio-button_active.svg');  
	  color: #FD4;
	  transition: all .25s;
	}	
	label:before {
	  content: url('../images/detail/radio-button_inactive.svg');
	  &:hover{
	  	cursor:pointer;
	  }
	}
	input[type='text']{
		display: inline;
		width: 70%;
		height: 23px;		
	}
	p{
		margin-bottom: 10px;

	}
	.text-list{
		display: none;
	}
}	
}
.pointer{
	cursor:pointer;
}