h2 {
	margin-top: 20px !important;
}
h3.common-subtitle {
	margin-top: 10px;
	font-family: "Open sans";
	font-weight: 300;
	font-size: 16px;
	color: #000;
	span.list-name {
		a {
			font-weight: 600;
			color: #359685;
		}
	}
	span.owner-name {
		a {
			font-weight: 600;
			color: #354f5e;
		}
	}
}

.top-comparing-links {
	font-family: "Open sans";
	font-weight: 600;
	font-size: 16px;
	color: #000;
	margin-top: 25px;
	a {
		font-family: "Open sans";
		font-weight: 600;
		font-size: 16px;
		color: #000;
	}
	.comparing-block {
		float: left;
		height: 36px;
		line-height: 36px;
		@media screen and (max-width: 1288px) {
			clear: both;
			margin-bottom: 5px;
		}
	}
	.f-block {
		width: 100%;
	}
	.block-link {
		padding-left: 12px;
		padding-right: 12px;
		&:hover {
			background-color: #359685;
			color: #fff;
		}
		@media screen and (max-width: 1288px) {
			width: 100%;
		}
	}
	.b-left {
		border-top: 1px solid #dedddd;
		border-bottom: 1px solid #dedddd;
		border-left: 1px solid #dedddd;
		@media screen and (max-width: 1288px) {
			border: 1px solid #dedddd;
		}
	}
	.b-center {
		border-top: 1px solid #dedddd;
		border-bottom: 1px solid #dedddd;
		border-left: 1px solid #dedddd;
		border-right: 1px solid #dedddd;
		@media screen and (max-width: 1288px) {
			border: 1px solid #dedddd;
		}
	}
	.b-right {
		border-top: 1px solid #dedddd;
		border-bottom: 1px solid #dedddd;
		border-right: 1px solid #dedddd;
		@media screen and (max-width: 1288px) {
			border: 1px solid #dedddd;
		}
	}
	.active {
		color: #fff;
		background-color: #359685;
	}
}

h4.common-b {
	float: left;
	width: 100%;
	font-family: 'Open Sans';
	font-size: 18px;
	color: #000;
	border-bottom: 2px solid #359685;
	padding-bottom: 18px;
	margin-top: 40px;
}
.show-lbl {
	color: #999;
}

select.list-show {
	min-width: 110px;
}
.select-list-wrapper {
	margin-left: 10px;
}
.align-r {
	float: right;
	text-align: right;
}
#inf-pag {
	font-family: "Open sans";
	font-weight: 400;
	font-size: 14px;
	color: #898989;
}
.inf-pag {
	margin-top: 5px;
}

.item-book {
	height: 138px;
	padding-top: 16px;
	border-bottom: 1px solid #dedddd;
	.img-book {
		float: left;
		img {
			width: 70px;
			height: auto;
		}
	}
	.inf-book {
		max-width: 280px;
		float: left;
		margin-left: 12px;
		@media screen and (max-width: 1288px) {
			max-width: 60%;
		}
		.title {
			font-family: 'Open Sans';
			font-size: 16px;
			color: #000;
			margin-bottom: 5px;
			@media screen and (max-width: 1288px) {
				font-size: 14px;
			}
		}
		.author {
			font-family: "Open sans";
			font-weight: 300;
			font-size: 16px;
			color: #000;
			@media screen and (max-width: 1288px) {
				font-size: 14px;
			}
		}
	}
}
.editor {
	font-family: "Open sans";
	font-weight: 300;
	font-size: 16px;
	color: #000;
	margin-bottom: 0px;
	@media screen and (max-width: 1288px) {
		font-size: 12px;
	}
}

.pagination-links {
	font-family: "Open sans";
	font-weight: 400;
	font-size: 14px;
	color: #3db29c;
	margin-top: 20px;
	text-align: right;
	a, span {
		color: #898989;
	}
	
}

a.result-to-list-btn {
	float: right;
	border: 1px solid #354f5e;
	width: 145px;
	height: 30px;
	line-height: 30px;
	font-family: 'Open Sans';
	font-size: 14px;
	color: #354f5e;
	text-align: center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: #354f5e;
	}
}

.adj-flt {
	float: left;
	width: 100%;
}

.no-results-lbl {
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 16px;
	color: #ccc;
	margin-top: 20px;
}

.comp-item {
	cursor: pointer;
}
.comp-item-normal {
	cursor: default;
}





