.contact-form {
    max-width: 545px;
    margin: 30px auto 100px;
}

#dibujitos {
    padding-bottom: 30px;
    li {
        padding-right: 15%;
        padding-top: 10px;
        a {
            font-size: 20px;
            text-decoration: none;
            i {
                font-size: 1.3em;
                color: #555;
                &:hover {
                    font-size: 1.3em;
                    color: #3db29c;
                }
            }
        }
    }
}

.main-content {
    background-color: #233b48;
}

.static-wraper {
    max-width: 842px;
    margin: -20px auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    background-color: #fff;
}

.static-body p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #359685;
    padding-bottom: 15px;
    margin: 20px auto 30px;
    font-family: 'Open Sans',serif;
    font-weight: 400;
    font-size: 22px;
} 

ul li {
    float: none;
}

/*---- Select style -----*/
input[type="text"]:focus, 
input[type="email"]:focus, 
.textarea:focus {
    border: solid 1px #04ab81;
    outline-style: none;
} 

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.bootstrap-select {
    width: 100%;
    margin-bottom: 20px;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.bootstrap-select .input-group-btn {
    position: static;
    width: 0px !important;
}

.div .input-group-btn .open {
    width: 0px !important;
}

.input-group-btn>.btn {
    position: relative;
}

.bootstrap-select .dropdown-menu {
    width: 100%;
    min-width: 0;
    overflow-y: auto;
    outline: 0;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.pull-right {
    float: right!important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0px 0;
    margin: 0px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    font-family: 'Open Sans',sans-serif;
}

.bootstrap-select .success.dropdown-menu>li.active a {
    background: #3db29c;
    color: #FFF;
}

.bootstrap-select .success.dropdown-menu>li>:focus, 
.bootstrap-select .success.dropdown-menu>li:hover {
    padding-left: 15px; 
    background: #3db29c;
    color: #FFF;
    cursor: pointer;
}

.bootstrap-select .success.dropdown-menu>li>:focus, 
.bootstrap-select .success.dropdown-menu>li{
    padding-left: 15px; 
    padding-top: 8px;
    padding-bottom: 8px; 
    text-align: justify;
}
.bootstrap-select .dropdown-menu {
    width: 100%;
    min-width: 0;
    overflow-y: auto;
    outline: 0;
}
.open>.dropdown-menu {
    display: none;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.pull-right {
    float: right!important;
}

:focus {
    border-color: none !important;
    box-shadow: none !important;
}

#my_select_label {
    background-image: url("assets/images/flecha_select.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.dropdown-menu>li {
    float: none;
}

.form-control[readonly] {
    background-color: #fff !important;
}

.dibujitos {
    cursor: pointer;
}

.selected-captcha i {
    color: #3db29c !important;
}

.state-error {
    border: solid 1px #B91515 !important;
}

.contact-form label.f-lbl {
    font-family: 'Open Sans',serif!important;      
    font-weight: 400;
}

.error-contact {
    width: 100% !important;
    color: #B91515 !important;
    font-size: 12px !important;
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 400 !important;
    position: relative !important;
    bottom: 15px;
    display: none;
}

.contact-form button {
    font-family: 'Open Sans',serif!important;      
    font-weight: 400; 
}

.captcha_text {
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 400 !important;
}

.p-error {
    text-align: left !important;
}


