@import 'helper';

$blue_color: #233b48;

.library-content {

	a {
		transition: initial;
	}
	max-width: 1280px;
	margin: 20px auto;
	.lists-panel {
		padding-left: 40px;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 100px;
		@media screen and (max-width: 991px) {
			padding-left: 15px;
		}
		.list-section {
			margin-bottom: 45px;
			.no-margin-bottom {
				margin-bottom: 0px !important;
				@media screen and (max-width: 480px) {
					margin-bottom: 20px !important;
				}
			}

			h2.list-title {
				font-size: 24px;
				text-transform: uppercase;
				padding-bottom: 15px;
				cursor: default;
				margin-top: 0px;
				margin-bottom: 0px;
				@media screen and (max-width: 480px) {
				    margin-bottom: 35px;
				}
				button {
					float: right;
					color: #f27e30;
					font-size: 12px;
					width: 80px;
					height: 24px;
					vertical-align: bottom;
					background-color: transparent;
					border: 1px solid #f27e30;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					line-height: 1;
					&:hover {
						color: #fff;
						background-color: #f27e30;
					}
				}
			}
			.green-btm-border {
				border-bottom: 2px solid #3db29c;
			}
			.orange-btm-border {
				border-bottom: 2px solid #f27e30;
			}
			.dark-blue-btm-border {
				border-bottom: 2px solid #354f5e;
			}
			.red-btm-border {
				border-bottom: 2px solid #f32f3a;
			}
			.hide-mobile {
				@media screen and (max-width: 480px) {
				    display: none;
				}
			}
			.list-item {
				border-bottom: 1px solid #ddd;
				min-height: 54px;
				line-height: 54px;
				a {
					font-size: 16px;
					color: #000;
				}
				p.new-books-lbl{
					font-size: 12px;
					font-family: 'Open Sans';
					font-weight: 300;
					color: #359585;
					cursor: default;
					margin-bottom: 0px;
					line-height: 15px;
					position: relative;
					bottom: 10px;
				}
			}
			input[type="text"].search-list {
				margin-top: 20px;
				border: solid 1px #98a2a6;
				&:focus {
					border: solid 1px #98a2a6;
					outline-color: transparent;
	  				outline-style: none;
	  				-webkit-appearance: none;
	  				-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
				}
			}
			div.all-lists-link {
				text-align: center;
				margin-top: 15px;
				float: none;
				a {
					@media screen and (max-width: 480px) {
					    position: relative;
					    bottom: 15px;
					}
				}
				a.all-list-orange {
					color: #f27e30;
					cursor: pointer;
					&:hover {
						text-decoration: none;
					}
				}
				a.all-list-dark-blue {
					color: #354f5e;
					cursor: pointer;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.list-hidden {
				display: none;
			}
			.list-recomm {
				float: left;
				width: 100%;
				padding-bottom: 20px;
				padding-top: 5px;
				h4 {
					font-family: 'Open Sans';
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					color: #000;
					margin-bottom: 15px;
					span, a {
						font-family: 'Open Sans';
						font-style: normal;
						font-weight: 600;
						font-size: 14px;
						color: #cc4242;
						&:hover {
							color: $color-red;
						}
					}
				}
				.recomm-container {
					float: none;
					.img-panel {
						float: left;
						img {
							height: 105px;
							width: auto;
						}
					}
					.info-panel {
						position: relative;
						float: left;
						height: 105px;
						padding-left: 15px;
						line-height: 12px;
						min-width: 140px;
						max-width: 250px;
						.book-title {
							a {
								font-family: 'Open Sans', sans-serif;
								font-size: 14px;
								color: #000;
								text-decoration: none;
							}
						}
						.book-author {
							font-family: 'Open Sans';
						    font-style: normal;
						    font-weight: 300;
							font-size: 14px;
							color: #000;
						}
						.fix-bottom {
							position: absolute;
							padding-top: 10px;
						}
					}
				}
				.no-padding-sides {
					padding-left: 0px;
					padding-right: 0px;
				}
			}
		}
		.green-list-hov {
			.active-link a{
				color: #3db29c;
			}
			.list-item a:hover {
				color: #3db29c;
				text-decoration: none;
			}
		}
		.orange-list-hov {
			.active-link a{
				color: #f27e30;
			}
			.list-item a:hover {
				color: #f27e30;
				text-decoration: none;
			}
		}
		.dark-blue-list-hov {
			.active-link a{
				color: #354f5e;
			}
			.list-item a:hover {
				color: #354f5e;
				text-decoration: none;
			}
		}












		/* seccion de filtros para el buscador */
		.filter-section {
			margin-bottom: 45px;
			h2.filter-main {
				font-size: 18px;
				font-family: 'Open Sans', sans-serif;
				padding-bottom: 15px;
				cursor: default;
				margin-top: 0px;
				margin-bottom: 0px;
				border-bottom: 1px solid #f27e30;
			}
			.filter-wrapper {
				border-bottom: 1px solid #f27e30;
				h3.filter-title {

					cursor: pointer;
					font-size: 16px;
					font-family: 'Open Sans', sans-serif;
					background-image: url(../images/black_arrow_down.svg);
					background-repeat: no-repeat;
					background-position: right 25px center;
					padding-left: 25px;
					padding-right: 25px;
					margin-top: 15px;
					margin-bottom: 15px;
				}
				.container-resizable {

					input[type="text"].search-filter {
						margin-top: 15px;
						border: solid 1px #98a2a6;
						&:focus {
							border: solid 1px #98a2a6;
							outline-color: transparent;
			  				outline-style: none;
			  				-webkit-appearance: none;
			  				-webkit-box-shadow: none;
							-moz-box-shadow: none;
							box-shadow: none;
						}
					}
					.add-list {
						display: block !important;
						overflow-y: hidden;
						span.item-filter {
							color: #000;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 300;
							font-size: 14px;
							position: relative;
							bottom: 2px;
							cursor: default;
						}
						label.tick {
							margin-right: 8px;
							cursor: default;
						}
						label.tick:before {
							transform: scale(1.3, 1.4);
							display: inline-block;
						}
						p {
							margin-bottom: 0px;
							height: 33px;
							line-height: 33px;
							&.hidden-filter-item {
								display: none;
							}
						}
					}
					.show-options-link {
						cursor: pointer;
						font-size: 14px;
						font-family: "Open Sans" serif;
						font-weight: 600;
						color: #000;
						&:hover {
							text-decoration: none;
						}
					}
					.lnk-wrp {
						margin-bottom: 10px;
						text-align: right;
						padding-right: 25px;
					}
				}
			}
			button.smart-list-btn {
				width: 100%;
				height: 36px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				background-color: transparent;
				border: 1px solid #354f5e;
				color: #354f5e;
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 16px;
				font-family: 'Open Sans';
				&:hover {
					background-color: #354f5e;
					color: #fff;
				}
			}
			h2.filter-header {
				font-size: 24px;
				font-family: "Open Sans";
				font-weight: 600;
				text-transform: uppercase;
				color: #000;
				padding-bottom: 15px;
				margin-bottom: 25px;
				margin-top: 25px;
			}
			.green-bottom {
				border-bottom: 2px solid #359685;
			}
			.red-bottom {
				border-bottom: 2px solid #cc4242;
			}

			.no-left-padd {
				padding-left: 0px;
			}
			.no-right-padd {
				padding-right: 0px;
			}
			.row-gender-lnk {
				margin-bottom: 5px;
				a.gender-lnk {
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					color: #000;
					text-transform: capitalize;
					&:hover {
						text-decoration: none;
						color: #359685;
					}
				}
			}
			.topics-wrapper {
				float: left;
				width: 100%;
				max-height: 800px;
				overflow-x: hidden;
				overflow-y: hidden;
				.topics-container {
					float: left;
					position: relative;
					section {
						float: left;
						width: auto;
						.column-mode {
							clear: both;
						}
						.container-level {
							float: left;
							p {
								border-top: 1px solid #ddd;
								margin-bottom: 0px;
								height: auto;
								line-height: initial;
								padding-left: 22px;
								padding-right: 40px;
								padding-bottom: 15px;
								padding-top: 15px;
								cursor: pointer;
								&:hover{
									a {
										text-decoration: none;
										color: #cc4242;
									}
								}
								a {
									cursor: pointer;
									font-size: 18px;
									font-family: "Open Sans" serif;
									font-weight: 500;
									color: #000;
									text-transform: capitalize;
								}
							}
							a{
								cursor: pointer;
								font-size: 18px;
								font-family: "Open Sans" serif;
								font-weight: 500;
								color: #000;
								text-transform: capitalize;
								&:hover{
									text-decoration: none;
									color: #cc4242;
								}
								p{
									border-top: 1px solid #ddd;
									margin-bottom: 0px;
									height: auto;
									line-height: initial;
									padding-left: 22px;
									padding-right: 40px;
									padding-bottom: 15px;
									padding-top: 15px;
									cursor: pointer;
								}
							}
							.next-level {
								background-image: url(../images/flecha-gris-d.svg);
								background-repeat: no-repeat;
								background-position: right 22px center;
							}
							.level-title {
								background-image: url(../images/flecha-roja-i.svg);
								background-repeat: no-repeat;
								background-position: left 22px center;
								text-align: center;
								padding-left: 40px;
								a {
									color: #cc4242;
								}
							}
							.all-topics-lnk {
								&:hover {
									a {
										text-decoration: none;
									}
								}
								a {
									color: #000;
									text-decoration: none;
									&:hover {
										color: #cc4242;
										text-decoration: none;
									}
								}

							}
						}
					}

				}
			}
		}
		/* seccion de filtros para el buscador */



















	}
	.books-panel {
		padding-right: 40px;
		@media screen and (max-width: 991px) {
			float: left;
			margin-top: 60px;
			padding-right: 15px;
		}
	}
}

.hidden-list {
	display: none;
}

/* Ventana modal para agregar el libro en la vista a detalle de la lista */
#addBook {
	.modal-footer {
		.float-left {
			a {
				color: #354f5e;
				font-size: 14px;
			}
		}
	}
}


/* detalle de lista */

.select-list-wrapper {
	display: inline-block;
	background: url(../images/flecha_select.svg);
	background-repeat: no-repeat;
	background-position: right 5px center;
	select {
		background: transparent !important;
		&:focus {
			border: solid 1px #98a2a6;
			outline-color: transparent;
	  		outline-style: none;
	  		-webkit-appearance: none;
	  		-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}
}

.no-padding-sides {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.small-profil-pic {
	width: 45px;
}

.block-com-opt {
	min-height: 40px;
}

img.social-fb {
	width: 18px !important;
	vertical-align: middle;
}
img.social-tw {
	width: 20px !important;
}

.social-share-row {
	margin-top: 10px;
	margin-bottom: 20px;
}

.clear-sides {
	clear: both;
}





.achiev-wrp {
	max-width: 786px;
	margin: 0 auto;
	margin-bottom: 100px;
	@media screen and (max-width: 991px) {
		width: 480px;
	}
	@media screen and (max-width: 480px) {
		width: 310px;
	}
	h1 {
		text-transform: none !important;
		border-bottom: 2px solid #354F5E;
		color: #000;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 25px;
		padding-bottom: 20px;
		margin-top: 30px;
		margin-bottom: 40px;
		a.ranking-list {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			float: right;
			color: #359685;
			border: 1px solid #359685;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			padding: 7px 12px 7px 12px;
			transition-duration: 0s;
			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: #359685;
			}
		}
		@media screen and (max-width: 991px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 480px) {
			font-size: 18px;
		}
	}
	.info-achievments-row {
		width: 100%;
		float: left;
		border-bottom: 2px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 100px;
		@media screen and (max-width: 767px) {
			border-bottom: 1px solid #ddd;
			margin-bottom: 40px;
		}
		@media screen and (max-width: 480px) {
			margin-bottom: 15px;
		}
		.midd-sec-inf {
			margin-left: 75px;
			@media screen and (max-width: 991px) {
				margin-left: 25px;
			}
			@media screen and (max-width: 480px) {
				margin-left: 5px;
			}
		}
		.last-sec-inf {
			float: right !important;
			@media screen and (max-width: 991px) {
				position: relative;
				left: 20px;
			}
			@media screen and (max-width: 480px) {
				left: 5px;
			}
		}
		.sec-inf {
			float: left;
			width: auto;
			.inf-text {
				float: left;
				width: 150px;
				p.qty {
					color: #000;
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-size: 56px;
					line-height: 1em;
					position: relative;
					bottom: 7px;
					text-align: center;
					margin-bottom: 0px;
					.super-ind {
						font-size: 35px;
						position: absolute;
						bottom: 20px;
						@media screen and (max-width: 991px) {
							font-size: 25px;
							bottom: 12px;
						}
						@media screen and (max-width: 480px) {
							font-size: 16px;
							bottom: 5px;
						}
					}
					@media screen and (max-width: 991px) {
						font-size: 35px;
					}
					@media screen and (max-width: 480px) {
						font-size: 20px;
					}
				}
				p.name {
					color: #000;
					font-family: "Open Sans" serif;
					font-weight: 300;
					font-size: 19px;
					text-align: center;
					line-height: 1em;
					position: relative;
					bottom: 3px;
					@media screen and (max-width: 991px) {
						font-size: 15px;
					}
					@media screen and (max-width: 480px) {
						font-size: 12px;
					}
				}
				@media screen and (max-width: 991px) {
					width: 100px;
				}
				@media screen and (max-width: 480px) {
						width: 70px;
				}
			}
			img {
				float: left;
				@media screen and (max-width: 991px) {
					width: 50px;
				}
				@media screen and (max-width: 480px) {
					width: 30px;
				}
			}
		}
	}
	.achiev-content {
		@media screen and (max-width: 767px) {
			float: left;
			width: 100%;
		}
		@media screen and (max-width: 480px) {
			width: initial;
		}
		.achiev-item {
			position: relative;
			border-bottom: 3px solid #ddd;
			padding-bottom: 8px;
			min-height: 295px;
			margin-bottom: 45px;
			@media screen and (max-width: 767px) {
				border-bottom: 1px solid #ddd;
				min-height: 125px;
			}
			@media screen and (max-width: 480px) {
				float: left;
				min-height: 50px;
				margin-bottom: 15px;
			}
			.inf-wrp {
				@media screen and (max-width: 767px) {
					float: left;
					max-width: 345px;
				}
				@media screen and (max-width: 480px) {
					max-width: 240px;
				}
			}
			.img-wrp {
				text-align: center;
				.lnk-award-img {
					cursor: pointer;
				}
				img {
					@media screen and (max-width: 767px) {
						width: 100px;
					}
					@media screen and (max-width: 480px) {
						width: 60px;
					}
				}
				@media screen and (max-width: 767px) {
					float: left;
				}
			}
			hr.gray-line {
				border-top: 3px solid #ddd;
				margin-bottom: 0px;
				@media screen and (max-width: 767px) {
					display: none;
				}
			}
			hr.red-line {
				border-top: 1px solid #cb3232;
				margin-bottom: 0px;
				width: 20%;
				margin-top: 10px;
				@media screen and (max-width: 767px) {
					display: none;
				}
			}
			.name {
				position: relative;
				bottom: 13px;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 14px;
				margin-bottom: 0px;
				span {
					background-color: #fff;
					padding-left: 10px;
					padding-right: 10px;
					@media screen and (max-width: 767px) {
						padding-left: 30px;
					}
				}
				@media screen and (max-width: 767px) {
					text-align: left;
					bottom: 0px;
					width: 100%;
				}
			}
			.description {
				text-align: center;
				font-family: "Open Sans" serif;
				font-weight: 400;
				font-size: 14px;
				min-height: 40px;
				@media screen and (max-width: 767px) {
					float: left;
					text-align: left;
					padding-left: 30px;
					margin-top: 20px;
					width: 100%;
					min-height: 20px;
				}
				@media screen and (max-width: 480px) {
					max-width: 215px;
					margin-top: 2px;
					margin-bottom: 5px;
					font-size: 12px;
				}
			}
			.date {
				text-align: center;
				font-family: "Open Sans" serif;
				font-weight: 400;
				font-size: 12px;
				color: #a5a5a5;
				margin-top: 10px;
				position: absolute;
				bottom: 0px;
				width: 100%;
				@media screen and (max-width: 767px) {
					float: left;
					text-align: left;
					padding-left: 30px;
					width: 100%;
					position: initial;
				}
				@media screen and (max-width: 480px) {
					margin-top: 0px;
				}
			}
		}
	}
}

.top-users-wrp {
	max-width: 786px;
	margin: 0 auto;
	margin-bottom: 100px;
	@media screen and (max-width: 991px) {
		width: 480px;
	}
	@media screen and (max-width: 480px) {
		width: 310px;
	}
	h1 {
		text-transform: uppercase;
		border-bottom: 2px solid #359685;
		color: #000;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 25px;
		padding-bottom: 20px;
		margin-top: 30px;
		margin-bottom: 40px;
		a.ranking-list {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 14px;
			float: right;
			color: #359685;
			border: 1px solid #359685;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			padding: 7px 12px 7px 12px;
			transition-duration: 0s;
			&:hover {
				text-decoration: none;
				color: #fff;
				background-color: #359685;
			}
		}
	}
	.users-select-row {
		.users-select {
			div {
				border: 1px solid #ddd;
				color: #010101;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 24px;
				padding: 3px;
				text-align: center;
				&:hover {
					background-color: #359685;
					color: #fff;
					border: 1px solid #ddd;
				}
				@media screen and (max-width: 480px) {
					font-size: 16px;
				}
			}
			.users-selected {
				background-color: #359685;
				color: #fff;
				border: 1px solid #359685;
			}
		}
	}
	.top-labels {
		color: #010101;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
		.lbl-1 {
			float: left;
			width: 90px;
			@media screen and (max-width: 991px) {
				width: 80px;
			}
			@media screen and (max-width: 480px) {
				width: 55px;
			}
		}
		.lbl-2 {
			float: left;
			width: 90px;
		}
		.lbl-3 {
			float: right;
			width: 90px;
			text-align: right;
		}
		@media screen and (max-width: 480px) {
			padding-left: 0px !important;
			padding-right: 0px !important;
			font-size: 11px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.active-top-row {
		background-color: #359685;
		cursor: pointer;
		.score {
			span {
				color: #fff;
			}
		}
		.usr-name {
			color: #fff !important;
		}
		.thumb {
			img {
				padding: 0px !important;
				border: 2px solid #c6c6c6 !important;
			}
		}
	}
	.middle-points {
		text-align: center;
		padding-top: 35px !important;
		padding-bottom: 35px !important;
	}
	.row-item {
		border-bottom: 1px solid #ddd;
		padding-bottom: 15px;
		padding-top: 15px;
		.medal {
			width: 60px;
			height: auto;
			float: left;
			position: relative;
			.lbl-black {
				color: #000 !important;
			}
			label {
				color: #fff;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 30px;
				position: absolute;
				top: 8px;
				width: 100%;
				text-align: center;
				@media screen and (max-width: 991px) {
					font-size: 24px;
				}
				@media screen and (max-width: 480px) {
					font-size: 18px;
					top: 6px;
				}
			}
			img {
				width: 100%;
			}
			@media screen and (max-width: 991px) {
				width: 50px;
			}
			@media screen and (max-width: 480px) {
				width: 40px;
			}
		}
		.thumb {
			width: 80px;
			height: 80px;
			margin-left: 30px;
			float: left;
			img {
				width: 100%;
				height: 100%;
				border: 1px solid #c6c6c6;
				padding: 2px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}
			@media screen and (max-width: 991px) {
				width: 60px;
				height: 60px;
			}
			@media screen and (max-width: 480px) {
				width: 45px;
				height: 45px;
				margin-left: 10px;
			}
		}
		.usr-name {
			color: #359685;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 18px;
			margin-left: 30px;
			float: left;
			margin-top: 25px;
			a {
				color: #359685;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 18px;
			}
			@media screen and (max-width: 991px) {
				margin-left: 15px;
				max-width: 140px;
				font-size: 16px;
				margin-top: 10px;
			}
			@media screen and (max-width: 480px) {
				margin-left: 10px;
				max-width: 120px;
				font-size: 12px;
			}
		}
		.score {
			float: right;
			color: #000;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 30px;
			margin-top: 18px;
			img {
				width: 38px;
				@media screen and (max-width: 991px) {
					width: 35px;
				}
				@media screen and (max-width: 480px) {
					width: 25px;
				}
			}
			@media screen and (max-width: 991px) {
				margin-top: 10px;
				font-size: 25px;
			}
			@media screen and (max-width: 480px) {
				font-size: 16px;
				margin-top: 15px;
			}
		}
		@media screen and (max-width: 480px) {
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
	}

}


















#notifPosWrp {
	display: none;
	opacity: 0;
}
.notif-pos-wrp {
	position: absolute;
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	.notif-content {
		position: relative;
		width: 580px;
		height: 560px;
		background-color: #fff;
		margin: 20px auto;
		border: 1px solid $blue_color;
		-webkit-box-shadow: 6px 6px 7px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    6px 6px 7px 0px rgba(50, 50, 50, 0.5);
		box-shadow:         6px 6px 7px 0px rgba(50, 50, 50, 0.5);
		@media screen and (max-width: 767px) {
			width: 400px;
		}
		@media screen and (max-width: 489px) {
			width: 280px;
			height: 390px;
		}
		.blue-bar {
			position: absolute;
			width: 100%;
			height: 32px;
			background-color: $blue_color;
			.not-close-lnk {
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				color: #fff;
				font-weight: 500;
				font-size: 20px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.top-bar {
			top: 0px;
			left: 0px;
			text-align: right;
			padding-right: 10px;
		}
		.bottom-bar {
			bottom: 0px;
			left: 0px;
		}
		.title-row1 {
			margin-top: 40px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 48px;
			text-align: center;
			color: #000;
			text-transform: uppercase;
			@media screen and (max-width: 489px) {
				font-size: 32px;
				margin-top: 30px;
				margin-bottom: 0px;
			}
		}
		.title-row2 {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 24px;
			text-align: center;
			color: #000;
			@media screen and (max-width: 489px) {
				font-size: 22px;
			}
		}
		.award-desc {
			float: left;
			width: 100%;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 20px;
			text-align: center;
			color: #000;
			margin-top: 20px;
			padding-left: 10px;
			padding-right: 10px;
			@media screen and (max-width: 489px) {
				margin-top: 25px;
				font-size: 14px;
			}
		}
		.social-links {
			width: auto;
			height: auto;
			clear: both;
			text-align: center;
			.tw-link {
				margin-left: 10px;
			}
			a:hover {
				text-decoration: none !important;
			}
			label {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 16px;
				position: relative;
				top: 7px;
				@media screen and (max-width: 489px) {
					font-size: 10px;
				}
			}
			.share-lbl {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 18px;
				@media screen and (max-width: 489px) {
					font-size: 12px;
				}
			}
			@media screen and (max-width: 489px) {
				margin-top: 10px;
			}
		}
		.main-img-container {
			float: left;
			width: 100%;
			clear: both;
			text-align: center;
			position: relative;
			img.main-img {
				width: 205px;
				@media screen and (max-width: 489px) {
					width: 100px;
				}
			}
			.pos-number {
				position: absolute;
				width: 100%;
				top: 20px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 110px;
				color: #fff;
				@media screen and (max-width: 489px) {
					top: 9px;
					font-size: 55px;
				}
			}
		}
		.award-name-wrp {
			float: left;
			width: 100%;
			clear: both;
			height: 80px;
			padding-top: 10px;
			color: #fff;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 30px;
			line-height: 1em;
			text-align: center;
			background-image: url(../images/tira-roja.svg);
			background-repeat: no-repeat;
			background-position: center 0px;
			margin-top: 15px;
			@media screen and (max-width: 489px) {
					background-size: 90%;
					font-size: 16px;
					height: 60px;
			}
		}

		.social-row {
			margin-top: 20px;
			.awards-link {
				color: #233b48;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 15px;
				border: 1px solid #233b48;
				padding: 7px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				transition: 0s;
				&:hover {
					text-decoration: none;
					color: #fff;
					background-color: #233b48;
				}
				@media screen and (max-width: 489px) {
					font-size: 10px;
				}
			}
			@media screen and (max-width: 767px) {
				margin-top: 5px;
			}
		}

	}
}

.search-bar-wrp {
	width: 100%;
	height: 136px;
	background-color: #233b48;
	border-top: 1px solid #f00;
	@include respond-to('mobile') {
 		height: auto;
 	}
}

.more-commented-section {
	width: 100%;
	height: auto;
	background-color: #eff1f3;
	float: left;
}

.home-atlas-wrapper {
	max-width: 1220px;
	margin: 0 auto;
	h3.sub-section {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 24px;
		color: #000;
		padding-bottom: 15px;
		margin-bottom: 40px;
		@media screen and (max-width: 480px) {
			font-size: 20px;
		}
	}
	.sub-red {
		border-bottom: 2px solid #cc4242;
	}
	.sub-blue {
		border-bottom: 2px solid #354f5e;
	}
	.sub-orange {
		border-bottom: 2px solid #cb750a;
	}
	.home-title-section {
		margin-bottom: 25px;
		h1 {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 36px;
			color: #354F5E;
			text-transform: none !important;
			padding-top: 12px;
			a {
        color: $color-blue;
        text-decoration: none;
        &:hover, &:active {
            text-decoration: none;
        }
      }
			@media screen and (max-width: 480px) {
				font-size: 28px;
			}
		}
		h2 {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 26px;
			color: #000;
			margin-top: 30px;
			@media screen and (max-width: 480px) {
				font-size: 17px;
				margin-top: 15px;
			}
		}
		@media screen and (max-width: 480px) {
			margin-bottom: 20px;
		}
	}
	.images-sections-lnks {
		.image-section {
			position: relative;
			margin-bottom: 32px;
			height: 90px;
			.lnk-wrp {
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				position: relative;
				width: 100%;
				height: 100%;
				&:hover {

				}
			}
			.atl-btn-orange {
				background-color: #f27e30;
				&:hover {
					background-color: #dd5f19;
				}
			}
			.atl-btn-green {
				background-color: #3db29c;
				&:hover {
					background-color: #359685;
				}
			}
			.atl-btn-blue {
				background-color: #354f5e;
				&:hover {
					background-color: #233b48;
				}
			}
			.atl-btn-red {
				background-color: #cc4242;
				&:hover {
					background-color: #ad3b3b;
				}
			}
			.atl-btn-yellow {
				background-color: #d8b645;
				&:hover {
					background-color: #c9a43d;
				}
			}
			.atl-btn-yellow2 {
				background-color: #fea628;
				&:hover {
					background-color: #e28d27;
				}
			}
			img.img-bg-lnk {
				width: 100%;
				height: 100%;
			}
			@media screen and (max-width: 767px) {
				margin-bottom: 20px;
			}
			@media screen and (max-width: 480px) {
				padding-left: 15px;;
				padding-right: 15px;
				margin-bottom: 20px;
			}
			.pic-info {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				text-align: center;
				margin-top: 30px;
				img {
					position: relative;
					bottom: 7px;
					margin-right: 5px;
					@media screen and (max-width: 480px) {
						-webkit-transform: scale(0.8); /* Saf3.1+, Chrome */
					    -moz-transform: scale(0.8); /* FF3.5+ */
					    -ms-transform: scale(0.8); /* IE9 */
					    -o-transform: scale(0.8); /* Opera 10.5+ */
					    transform: scale(0.8);
					}
				}
				.section-name {
					font-family: 'Open Sans', sans-serif;
					font-weight: 400;
					font-size: 24px;
					color: #fff;
					@media screen and (max-width: 480px) {
						margin-top: 20px;
						font-size: 22px;
					}
				}
				@media screen and (max-width: 480px) {
					margin-top: 15px;
				}
			}
			@media screen and (max-width: 480px) {
				height: 58px;
			}
		}
	}
	.home-section-wrapper {
		.main-more-btn {
			margin-top: 45px;
			margin-bottom: 45px;
			text-align: center;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
			a {
				padding: 13px 55px 13px 55px;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				transition: 0s;
			}
			.main-more-btn-red {
				border: 1px solid #cc4242;
				color: #cc4242;
				&:hover {
					color: #fff;
					background-color: #cc4242;
					text-decoration: none;
				}
			}
			.main-more-btn-blue {
				border: 1px solid #354F5E;
				color: #354F5E;
				&:hover {
					color: #fff;
					background-color: #354F5E;
					text-decoration: none;
				}
			}
			.main-more-btn-orange {
				border: 1px solid #cb750a;
				color: #cb750a;
				&:hover {
					color: #fff;
					background-color: #cb750a;
					text-decoration: none;
				}
			}
			.fix-padd-100
			{
				padding-left: 100px;
				padding-right: 100px;
			}
			.fix-padd-90
			{
				padding-left: 90px;
				padding-right: 90px;
			}


			.main-more-btn-blue {

			}
			.main-more-btn-orange {

			}
		}
		.block-info-section {
			position: relative;
			z-index: 99;
			.section-container {


				.panel-image {
					height: auto;
					img {
						width: 100%;
					}
				}
				.white-panel-inf {
					border: 1px solid #fff !important;
					background-color: #fff !important;
				}
				.panel-inf {
					border-top: 0px solid #dedddd;
					border-right: 1px solid #dedddd;
					border-bottom: 1px solid #dedddd;
					border-left: 1px solid #dedddd;
					width: 100%;
					float: left;
					padding-left: 10px;
					padding-right: 10px;
					min-height: 202px;
					position: relative;
					z-index: -1;
					.fix-btm-panel {
						position: absolute;
						bottom: 0px;
						width: 100%;
						padding-right: 15px;
						@media screen and (max-width: 480px) {
							position: initial;
							padding-right: 0px;
						}
					}
					.inf-title {
						margin-top: 10px;
						a {
							font-family: 'Open Sans', sans-serif;
							font-weight: 400;
							font-size: 18px;
							color: #3DB29C;
							line-height: 20px;
							@media screen and (max-width: 480px) {
								font-size: 16px;
							}
						}
					}
					.inf-address {
						font-size: 16px;
						font-family: 'Open Sans';
						font-weight: 300;
						color: #000;
						@media screen and (max-width: 480px) {
							font-size: 14px;
						}
					}
					.bottom-panel {
						width: 100%;
						height: 30px;
						float: left;
						text-align: right;
						padding-top: 0px;
						padding-right: 15px;
						a {
							font-family: 'Open Sans', sans-serif;
							font-weight: 400;
							font-size: 16px;
							color: #000;
							&:hover {
								text-decoration: none;
							}
							@media screen and (max-width: 480px) {
								font-size: 14px;
							}
						}
						@media screen and (max-width: 480px) {
							padding-top: 10px;
						}
					}
					.stars-row {
						width: 100%;
						float: left;
					}
					.likes-row {
						width: 100%;
						float: left;
						margin-top: 10px;
						.like-btn {
							font-size: 16px;
							font-family: 'Open Sans';
							font-weight: 300;
							color: #354f5e;
							cursor: pointer;
							@media screen and (max-width: 480px) {
								font-size: 14px;
							}
						}
						.likes-counter {
							font-size: 16px;
							font-family: 'Open Sans';
							font-weight: 300;
							color: #000;
							cursor: default;
							@media screen and (max-width: 480px) {
								font-size: 14px;
							}
						}
					}
					@media screen and (max-width: 480px) {
						min-height: 150px;
					}
				}
			}
			@media screen and (max-width: 991px) {
				margin-bottom: 25px;
			}
			@media screen and (max-width: 767px) {
				float: left;
				width: 100%;
			}
		}
	}
}

.no-height {
	height: 0px !important;
}
.no-margin-bottom {
	margin-bottom: 0px !important;
}
.fix-25-margin-btm {
	margin-bottom: 25px;
}
.fix-top-border-pag {
	border-top: 1px solid #ddd;
	padding-top: 25px;
}

.btn-fix-wdth {
	@media screen and (min-width: 992px) and (max-width: 1160px) {
		width: 145px !important;
	}
}


.list-owner-detail {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #359685;
}


.btn-fix-wdth {
	@media screen and (min-width: 992px) and (max-width: 1160px) {
		width: 145px !important;
	}
}

.inf-pan-fix-wdth {
	@media screen and (min-width: 992px) and (max-width: 1160px) {
		max-width: 220px !important;
	}
}


.list-owner-detail {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #359685;
}
