/**
*
*  Para poder compilar este archivo es necesario Sass CSS Importer Plugin
*
*     https://github.com/chriseppstein/sass-css-importer
*     sass -r sass-css-importer custom_r.scss custom_r.css
*     sass -r sass-css-importer -t compressed custom_r.scss custom_r.css
*
*     (sass -r sass-css-importer --watch sass_dir:css_dir)
*
*/

$blue: #354f5e;
$green: #3db29c;
$open_sanssemibold: 'open_sanssemibold';
$montserrat: 'Open Sans';

.ajax-loader{
	text-align: center;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 5px;
}
.clear{
	clear: both;
}

/*
 *=============================================================================
 *========================= Detalles de Lista =================================
 *=============================================================================
*/
.list_details_section{
	.list-title{
		position: relative;
		.mis-listas{
			min-height: 70px;
		}
		h2{
			font-size: 24px;
			font-family: $montserrat;
			text-transform: uppercase;
			padding-bottom: 15px;
			margin-top: 0;
			margin-bottom: 5px;
			padding-bottom: 5px;
			width: 75%;
		}
		.sub-title{
			font-family: $montserrat;
			font-size: 16px;
			text-transform: uppercase;
			width: 75%;
			color: $blue;
			margin-bottom: 5px;
		}
		.search-params{
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			color: $blue;
			margin-bottom: 10px;
			.param_key{
				font-weight: 800;
				font-size: inherit;
				color: #000;
			}
			.param_val{
				font-size: 13px;
				color: #000;
			}
		}
		.list-description{
			width: 75%;
			text-align: justify;
			font-size: 16px;
		}
		.add-book{
			position: absolute;
			top: 8px;
			right: 15px;
			button{
				font-size: 12px;
				font-family: 'Open Sans';
				margin-bottom: 5px;
				width: 120px;
				height: 24px;
				vertical-align: bottom;
				background-color: transparent;
				-webkit-border-radius: 10px;
					 -moz-border-radius: 10px;
								border-radius: 10px;
			}
			button.green-button:hover{
				color: #fff;
				background-color: $green;
			}
			button.orange-button:hover{
				color: #fff;
				background-color: #f27e30;
			}
			button.blue-button:hover{
				color: #fff;
				background-color: #354f5e;
			}
		}
	}
	.list-search{
		padding: 8px 0;
		input[name="search_book"]{
			float: left;
			width: 90%;
			@media screen and (max-width: 480px) {
				width: 85%;
			}
		}
		button{
			background-image: url('../images/icono_buscar.svg');
			background-color: transparent;
			background-size: cover;
			border: 0 solid #fff !important;
			float: right;
			height: 30px;
			width: 30px;
		}
	}
	.list-order{
		padding: 8px 0;
		color: #999;
		select {
			margin: 0 10px;
			min-width: 100px;
			/* -webkit-appearance: menu;
			-moz-appearance: menu;
			-ms-appearance: menu;
			-o-appearance: menu; */

		}
		@media screen and (max-width: 480px) {
			float: left;
		}
	}
	.table_list{
		border-bottom: 1px solid #dedddd !important;
		thead{
			display: none;
		}
		.dataTables_wrapper .dataTables_length{
			display: none !important;
		}
		.table_list_filter{
			display: none !important;
		}
		.hide{
			display: none;
		}
		td{
			padding: 8px 5px;
			vertical-align: top;
		}
		.td_img{
			width: 10%;
		}
		.td_title{
			width: 35%;
			position: relative;
		}
		.td_editorial{
			width: 25%;
		}
		.td_rating{
			width: 20%;
		}
		.td_close button{
			background-color: #fff;
			background-image: url('../images/cerrar.svg');
			background-repeat: no-repeat;
			border: 0;
			cursor: pointer;
			width: 11px;
			height: 11px;
		}
	}
	.each_list{
		border-bottom: 1px solid #eee;
		font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
		margin: 8px 0;
		padding: 8px 0;
		position: relative;
		p{
			margin: 0 0 3px;
		}
		img{
			width: 90px;
			height: auto;
		}
		.num_list{
			font-size: 16px;
			font-weight: 600;
			left: 10px;
			position: absolute;
			top: 10px;
		}
		.img_list{
			text-align: right;
		}
		.book_title{
			font-family: 'Open Sans' !important;
            font-style: normal;
            font-weight: 400;
			font-size: 16px;
			font-weight: 400;
			a{
				color: rgb(51, 51, 51);
			}
		}
		.book_autor{
			font-size: 16px;
		}
		.book_editorial{
			font-size: 16px;
		}
		.book_new{
			color: $green;
			position: absolute;
			bottom: 5px;
		}
		.list-rating{
			text-align: center;
			img{
				width: 20px;
			}
		}
		.list-delete{
			position: absolute;
			top: 12px;
			right: 0;
			cursor: pointer;
			img{
				width: 10px;
			}
		}
		.list-del{
			img{
				width: 10px;
			}
		}

	}
	.list_pagination{
		font-size: 16px;
		margin: 10px 0;
	}
	.aling-r{
		text-align: right;
		float: left;
	}
	.green-btm-border {
		border-bottom: 2px solid $green;
	}
	.green-button{
		color: $green;
		border: 1px solid $green;
	}
	.orange-btm-border {
		border-bottom: 2px solid #f27e30;
	}
	.orange-button{
		color: #f27e30;
		border: 1px solid #f27e30;
	}
	.blue-btm-border{
		border-bottom: 2px solid #354f5e;
	}
	.blue-button{
		color: #354f5e;
		border: 1px solid #354f5e;
	}
}
.list-msg{
	color: #a0a0a0;
	font-size: 18px;
	font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
	margin: 15px 0 0 15px;
}
.dataTables_wrapper .dataTables_paginate{
	.paginate_button{
		background-color: #fff;
	}
	.paginate_button:hover, .paginate_button:active, .paginate_button:focus{
		background-image: none !important;
		background-color: #fff !important;
		border: 1px solid transparent !important;
		color: $green !important;
		text-decoration: underline !important;
	}
	.paginate_button.current, .paginate_button.current:hover{
		//background: linear-gradient(to bottom, #fff 0%, #fff 100%);
		background-image: none;
		background-color: #fff;
		border: 1px solid transparent;
		cursor: default;
		text-decoration: none !important;
	}
	.paginate_button.disabled, .paginate_button.disabled:hover{
		background-image: none;
		background-color: #fff;
		border: 1px solid transparent;
		color: #fff !important;
		text-decoration: none !important;
	}
}
.modal{
	.div_add_book_search{
		width: 66%;
	}
	#search_param{
		background-image: url("../images/backend/bullet_arrow_down.png");
		background-position: 96% center;
		background-repeat: no-repeat;

	}
	#add_book_search{
		width: 100%;
		&:focus {
			border: solid 1px #98a2a6;
			outline-color: transparent;
	  		outline-style: none;
	  		-webkit-appearance: none;
	  		-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
	}

	.btn-search-book{
		background-image: url('../images/icono_buscar.svg');
		background-color: transparent;
		background-size: cover;
		border: 0 solid #fff !important;
		//float: right;
		height: 30px;
		width: 30px;
	}
	select{
		background-image: url("../images/backend/bullet_arrow_down.png");
		background-position: 96% center;
		background-repeat: no-repeat;
		border-color: #354f5e;
		color: #354f5e;
		font-family: 'Open Sans';
		font-size: 16px;
		width: 110px;
		-webkit-border-radius: 0;
			 -moz-border-radius: 0;
						border-radius: 0;
	}
	.ajax-loader{
		display: none;
		margin-left: auto;
		margin-right: auto;
		top: 20px;
		left: 0;
		right: 0;
		position: absolute;
		width: 24px;
		z-index: 2;
	}
	.each_list{
		border-bottom: 1px solid #eee;
		font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
		margin: 8px 0;
		padding: 8px 0;
		position: relative;
		.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-10{
			padding-right: 10px;
			padding-left: 10px;
		}
		.chk-add-book{
			left: 10px;
			position: absolute;
			top: 10px;
		}
		p{
			margin: 0 0 3px;
		}
		img{
			width: 50px;
			height: auto;
		}
		.img_list{
			text-align: right;
		}
		.book_title{
			font-family: 'Open Sans' !important;
            font-style: normal;
            font-weight: 400;
			font-size: 16px;
			font-weight: 00;
			a{
				color: rgb(51, 51, 51);
				&:hover {
					text-decoration: none;
				}
			}
		}
		.book_autor{
			font-size: 12px;
		}
		.book_editorial{
			font-size: 12px;
		}
		.list-rating{
			text-align: center;
			img{
				width: 15px;
			}
		}
		.list-delete{
			position: absolute;
			top: 12px;
			right: 0;
			cursor: pointer;
			img{
				width: 10px;
			}
		}
	}
	#search_result{
		max-height: 360px;
		overflow: scroll;
	}
	.hiderow{
		display: none;
	}
	.showrow{
		display: block;
	}
	.float-left{
		float: left;
	}
	.modal-footer{
		button{
			font-size: 12px;
			width: 120px;
			height: 24px;
			vertical-align: bottom;
			background-color: transparent;
			-webkit-border-radius: 10px;
				 -moz-border-radius: 10px;
							border-radius: 10px;
		}
	}
	.modal-footer{
		.del-book-cancel{
			border: 1px solid #354f5e !important;
			color: #354f5e !important;
			padding: 0;
		}
		.del-book-ok{
			border: 1px solid #cc4242 !important;
			color: #cc4242 !important;
			padding: 0;
		}
	}
}

.div-add-book-xs{
	.add-book-xs, .config-list-xs{
		background-color: transparent;
		color: #354f5e !important;
		font-size: 12px;
		height: 34px;
		margin: 8px 10px;
		padding: 0;
		width: 90%;
		vertical-align: bottom;
		border: 1px solid #354f5e !important;
		-webkit-border-radius: 10px;
			 -moz-border-radius: 10px;
						border-radius: 10px;
	}
}

#configlist{
	label{
		color: $green;
		font-size: 18px;
		font-weight: 300;
	}
	textarea.form-control:hover{
		border: 1px solid #ccc;
	}
	.modal-footer{
		text-align: center;
		button{
			background-color: transparent;
			font-size: 12px;
			height: 40px;
			padding: 0;
			width: 200px;
			vertical-align: bottom;
			-webkit-border-radius: 20px;
				 -moz-border-radius: 20px;
							border-radius: 20px;
		}
		button:hover{
			background-color: rgb(50, 70, 77);
			color: #fff !important;
		}
	}
}

@media screen and (max-width: 768px){
	.list_details_section{
		.list-title{
			h2{
				font-size: 20px;
				padding-bottom: 10px;
			}
			.list-description{
				width: 100%;
			}
		}
		.table_list{
			td{
				vertical-align: middle;
			}
			#rating_xs img{
				width: 15px;
			}
			.td_rating, .td_editorial, .td_num{
				display: none;
			}
			.td_title{
				width: 75%;
			}
		}
		.each_list{
			.list-rating{
				text-align: left;
			}
		}
	}
	.panel-default>.panel-heading{
		background-color: #fff;
		background-image: none;
		border: 0;
		border-top: 0 solid #fff;
		border-bottom: 1px solid #ddd;
		.panel-title{
			text-align: right;
		}
	}
	.modal{
    .div_add_book_search{
      width: 100%;
    }
    .div_add_book_select{
      width: 80%;
      display: inline-block;
    }
    .btn_add_book_search{
      display: inline-block;
    }
    #add_book_search{
      width: 100%;

    }
  }
}

@media screen and (max-width: 1200px){
	.list_details_section{
		.each_list{
			.num_list{
				left: 0;
			}
		}
	}
}




.catalogo-conaculta{
	color: #fff;
	text-align: center;
	border-bottom: 3px solid #d90000;
	.catalogo-conaculta-title{
		background-color: #d90000;
		font-size: 36px;
		font-family:'Open Sans',serif;
		p{
			max-width: 980px;
			margin: 0 auto;
			padding: 20px 40px;
		}
	}
	.catalogo-conaculta-description{
		background-color: #1d1d1d;
		font-size: 20px;
		line-height: 20 * 1.2px;
		font-family: 'Open Sans', sans-serif;
		p{
			max-width: 980px;
			margin: 0 auto;
			padding: 40px;
		}
	}
}


.search_data{
	.search-search{
		margin-bottom: 15px;
	}
	h2{
		color: #354f5e;
		font-size: 24px;
		font-family: 'Open Sans';
		margin-top: 0;
		padding-bottom: 5px;
		/* width: 75%; */
	}
	.form-book-search{
		.txt_book_search{
			width: 420px;
			border-color: #354f5e;
			font-family: 'Open Sans';
			font-size: 16px;
			color: #354f5e;
		}
		.btn-search-book{
			background-image: url('../images/icono_buscar.svg');
			background-color: transparent;
			background-size: cover;
			border: 0 solid #fff !important;
			margin: 0 10px;
			height: 30px;
			width: 30px;
		}
		select{
			background-image: url("../images/backend/bullet_arrow_down.png");
			background-position: 96% center;
			background-repeat: no-repeat;
			border-color: #354f5e;
			color: #354f5e;
			font-family: 'Open Sans';
			font-size: 16px;
			width: 110px;
			-webkit-border-radius: 0;
				 -moz-border-radius: 0;
							border-radius: 0;
		}
		p{
			font-family: 'Open Sans';
			font-size: 15px;
			color: #354f5e;
		}
	}
	.search-order, .precio-unico{
		color: #999;
		padding: 8px 0;
		margin-bottom: 15px;
		select {
			background-image: url("../images/backend/bullet_arrow_down.png");
			background-position: 96% center;
			background-repeat: no-repeat;
			margin: 0 10px;
			width: 120px;
			-webkit-border-radius: 0;
				 -moz-border-radius: 0;
							border-radius: 0;
		}
		label{
			font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
			font-size: 14px;
		}
		#list_show{
			width: 100px;
		}
	}
	.search-filter{
		margin-bottom: 15px;
		.txt-filter{
			color: rgb(153, 153, 153);
			font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
			font-size: 14px;
		}
		.label-filter{
			background-color: #354f5e;
			color: #fff;
			padding: 1px 4px;
			margin: 0 4px;
			font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
			font-size: 12px;
			-webkit-border-radius: 3px;
				 -moz-border-radius: 3px;
							border-radius: 3px;
		}
	}
	.search-book-data{
		border-bottom: 1px solid #ccc;
		padding-bottom: 30px;
		position: relative;
		.search-book-data-container{
			position: relative;
			.search-book-img{
				text-align: left;
				margin: 10px 0;
				.label-tipo{
					position: absolute;
					bottom: 30px;
					right: 15px;
					background-color: red;
					color: #fff;
					padding: 2px 10px;
					font-family: $montserrat;
					font-size: 16px;
				}
				img{
					width: 177px;
					height: 270px;
				}
				.book_without_cover{
					display: block;
				}
				.book_with_cover{
					display: none;
				}
				.search-book-info{
					cursor: pointer;
					position: absolute;
					top: 0;
					left: 1px;
					width: 182px;
					height: 270px;
					margin: 10px;
					a{
						color: #fff;
						text-decoration: none;
					}
					.search-book-info-mask{
						background-color: rgba(36, 60, 73, 0.9);
						color: #fff;
						height: 100%;
						padding: 10px;
						text-align: left;
						p.title{
							font-size: 14px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 600;
							max-height: 45px;
							overflow: hidden;
							margin-bottom: 8px;
							line-height: 14px;
						}
						p.autor{
							font-size: 14px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 300;
							max-height: 40px;
							overflow: hidden;
							margin-bottom: 8px;
							line-height: 14px;
						}
						p.editorial{
							font-size: 12px;
							font-family: 'Open Sans';
							font-style: normal;
							font-weight: 300;
							max-height: 40px;
							overflow: hidden;
							margin-bottom: 8px;
							line-height: 13px;
						}
						.key-words{
							position: absolute;
							bottom: 8px;
							overflow: hidden;
							max-width: 90%;
							max-height: 108px;
							p{
								font-size: 12px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 300;
							}
							a{
								.sp-keyword{
									background-color: #359685;
									color: #fff !important;
									font-family: 'Open Sans';
									font-style: normal;
									font-weight: 600;
									font-size: 12px;
									margin: 0;
									padding: 0 3px;
									text-decoration: none;
									-webkit-border-radius: 3px;
										 -moz-border-radius: 3px;
													border-radius: 3px;
								}
							}

						}
					}
				}
			}

		}

	}
	.search-pagination{
		margin: 15px 0;
		text-align: right;
		font-family: 'Open Sans';
  		font-style: normal;
  		font-weight: 400;
		font-size: 14px;
		color: #898989;
		a{
			color: inherit;
		}
		a:hover{
			color: $green;
		}
		.current-page{
			color: $green;
		}
		.flechadoble-i, .flechadoble-d{
			background-image: url(../images/flechas.svg);
			background-repeat: no-repeat;
			cursor: pointer;
			display: inline-block;
			height: 13px;
			width: 13px;
		}
		.flechasencilla-i, .flechasencilla-d{
			display: inline-block;
			height: 13px;
			width: 13px;
		}
		.flechasencilla-i{
			background-position: -14px 0;
		}
		.flechasencilla-i:hover{
			background-position: -14px -13px;
		}
		.flechasencilla-d{
			background-position: -26px 0;
		}
		.flechasencilla-d:hover{
			background-position: -26px -13px;
		}
		.flechadoble-i{
			background-position: 0 0;
		}
		.flechadoble-i:hover{
			background-position: 0 -13px;
		}
		.flechadoble-d{
			background-position: -39px 0;
		}
		.flechadoble-d:hover{
			background-position: -39px -13px;
		}
	}

}
.filter-section{
	.container-resizable{
		position: relative;
	}
	form.add-list{
		max-height: 300px;
		overflow: auto !important;
		.p-item{
			line-height: 28px;
			height: auto;
			div{
				margin-top: 6px;
				vertical-align: top;
				float: left;
			}
			.item-filter{
				margin-left: 8px;
				float: left;
				width: 90%;
			}
		}
	}
	.lnk-wrp{
		a{
			cursor: pointer;
			font-size: 14px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			color: #000;
		}
	}
}
#create-dynamic-list{
	.modal-body{
		textarea{
			color: #626262;
		}
	}
}

@media screen and (min-width: 992px){
  .library-content{
    .tab-content>.tab-pane{
      display: block;
    }
  }
}
@media screen and (max-width: 991px){
  .library-content{
    .lists-panel{
      margin-top: 20px;
    }
    .books-panel{
      margin-top: 20px;
      .search_data{
        .search-book-data{
          .search-book-data-container{
            .search-book-img{
              .label-tipo{
                bottom: 10px;
                left: 105px;
                right: initial;
                font-size: 10px;
              }
              .search-book-info-xs{
                p{
                  margin: 0 0 7px;
                  a{
                  	color: #000;
                  }
                }
                .editorial{
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px){
	.library-content{
		.lists-panel{
			margin-top: 20px;
		}
		.books-panel{
			margin-top: 20px;
			.search_data{
				.search-search{
					margin-bottom: 0;
					h2{
						font-size: 16px;
						width: 100%;
					}
					.form-book-search{
						.form-group{
							display: inline-block;
						}
						.txt_book_search{
							width: 100%;
						}
						select{
							width: 100%;
						}
						.btn-search-book{
							width: 25px;
							height: 25px;
							margin: 0;
						}
					}
				}
				.search-order{
					margin-bottom: 0;
				}
				.search-filter{
					margin-bottom: 0;
				}
				.search-book-data{
					.search-book-data-container{
						.search-book-img{
							img{
								width: 80px;
								height: 130px;
								float: left;
							}
							.search-book-info-xs{
								float: left;
								margin-left: 10px;
								font-family: 'Open Sans';
								font-style: normal;
								font-weight: 400;
								width: 67%;
								.title{
									font-size: 16px;
									font-weight: 700;
								}
								.autor{
									font-size: 14px;
								}
								.editorial{
									font-size: 12px;
								}
								.label-tipo{
									bottom: 10px;
									left: 105px;
									font-size: 10px;
								}
							}
						}
					}
				}
			}
		}
	}



}


.advance-search-content{
      width: 100%;
      h2{
        font-size: 24px;
        font-family: 'Open Sans';
        border-bottom: 1px solid $green;
        padding-bottom: 10px;
        margin-bottom: 30px;
      }
      .input-filtro{
        margin: 10px 0;
      }
      .chosen-container .chosen-results li.highlighted {
        background-color: $green;
      }
      .chosen-container-single{
        width: 80% !important;
        .chosen-single{
          width: 100%;
          background-color: #fff;
          background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #ffffff), color-stop(52%, #ffffff), color-stop(100%, #ffffff));
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          color: #555;
          border: 1px solid #354f5e;
          -webkit-border-radius: 1px;
             -moz-border-radius: 1px;
                  border-radius: 1px;
          div b{
            background-position: 0 8px;
          }
          .chosen-drop{
            width: 100%;
          }
        }
      }
      .input-filtro{
        select{
          background-image: url(../images/backend/bullet_arrow_down.png);
          background-repeat: no-repeat;
          background-position: 96% center;
          display: inline;
          width: 90%;
        }
        .filter-remove{
          background-color: #fff;
          background-image: url(../images/cerrar.svg);
          background-repeat: no-repeat;
          border: 0;
          cursor: pointer;
          display: inline;
          height: 11px;
          margin-right: 5px;
          width: 11px;
        }
      }
      .advance-search-btns{
        margin: 20px 0;
        text-align: center;
        button{
          background-color: transparent;
          border-style: solid;
          border-width: 1px;
          font-size: 16px;
          font-family: 'Open Sans';
          height: 32px;
          margin-bottom: 5px;
          padding: 0 15px;
          vertical-align: bottom;
          -webkit-border-radius: 15px;
             -moz-border-radius: 15px;
                  border-radius: 15px;
        }
        .big{
          width: 50%;
        }
        .small{
          width: 25%;
        }
        .green-button{
          border-color: $green;
          color: $green;
        }
        .green-button:hover{
          color: #fff;
          background-color: $green;
        }
        .blue-button{
          border-color: #354f5e;
          color: #354f5e;
        }
        .blue-button:hover{
          color: #fff;
          background-color: #354f5e;
        }
      }
    }

@media screen and (max-width: 768px){
  .advance-search-content{
    .input-type{
    	margin-top: 8px;
    	margin-bottom: 12px;
    }
    .chosen-container-single{
    	width:92% !important;
    }
    .advance-search-btns{
      .big{
        width: 90%;
      }
      .small{
        width: 45%;
      }
    }
  }
}

.center-modal {
  margin: 30px auto;
  float: none !important;
}

#see_more_results {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
#add_book_list {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  height: 30px;
}

a.advanced-search-lnk {
  color: #354f5e;
}
