/**
*
*  Para poder compilar este archivo es necesario Sass CSS Importer Plugin
* 
*     https://github.com/chriseppstein/sass-css-importer
*     sass -r sass-css-importer editoriales.scss editoriales.css
*     sass -r sass-css-importer -t compressed editoriales.scss editoriales.css
*
*     (sass -r sass-css-importer --watch sass_dir:css_dir)
* 
*/

$blue: #354f5e;
$green: #3db29c;
$open_sanssemibold: 'open_sanssemibold';

/*
 *=============================================================================
 *============================= Editoriales ===================================
 *=============================================================================
*/

.editorial-content{
  max-width: 1280px;
  margin: 20px auto;
  .data-panel{
    padding-left: 40px;
    font-family: 'Open Sans';
    margin-bottom: 100px;
    h1{
      font-size: 24px;
      text-transform: uppercase;
      padding-bottom: 15px;
      margin-top: 20px;
      margin-bottom: 40px;
      border-bottom: 2px solid $green;
    }

    .editorial-search{
      padding: 8px 0;
      input[name="search_editorial"]{
        float: left;
        width: 90%;
        @media screen and (max-width: 480px) {
          width: 85%;
        }
      }
      button{
        background-image: url('../images/icono_buscar.svg');
        background-color: transparent;
        background-size: cover;
        border: 0 solid #fff !important;
        float: right;
        height: 30px;
        width: 30px;
      }
    }
    .editorial-abc{
      ul{
        li{
          display: inline;
          a{
            color: #999;
          }
          a:hover{
            color: $green;
          }
        }
      }
    }
    .editorial-order{
      padding: 8px 0;
      color: #999;
      select {
        background-image: url("../images/backend/bullet_arrow_down.png");
        background-position: 96% center;
        background-repeat: no-repeat;
        margin: 0 10px;
        min-width: 100px;
        /* -webkit-appearance: menu;
        -moz-appearance: menu;
        -ms-appearance: menu;
        -o-appearance: menu; */
        
      }
      .align-r{
        text-align: right;
      }
    }
    #table_editoriales{
      thead{
        background-color: $green;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid $green;
      }
      tbody{
        tr{
          background-color: #fff;
        }
        td {
          a {
            color: #000;
          }
          border: 0px;
          border-bottom: 1px solid #ddd;
        }
      }
      
    }
    .dataTables_wrapper .dataTables_info{
      text-align: left;
    }
    .dataTables_wrapper .dataTables_paginate{
      text-align: left;
      .paginate_button{
        background-color: #fff;
        min-width: 1.2em;
        padding: 0.5em 0;
        font-size: 10px;
      }
      .paginate_button:hover, .paginate_button:active, .paginate_button:focus{
        background-image: none !important;
        background-color: #fff !important;
        border: 1px solid transparent !important;
        color: $green !important;
        text-decoration: underline !important;
      }
      .paginate_button.current, .paginate_button.current:hover{
        //background: linear-gradient(to bottom, #fff 0%, #fff 100%);
        background-image: none;
        background-color: #fff;
        border: 1px solid transparent;
        cursor: default;
        text-decoration: none !important;
      }
      .paginate_button.disabled, .paginate_button.disabled:hover{
        background-image: none;
        background-color: #fff;
        border: 1px solid transparent;
        color: #fff !important;
        text-decoration: none !important;
      }
    }

  }
  .aside-panel{
    .section-see-list-own a{
      margin-bottom: 10px !important;
      font-family: 'Open Sans';
      font-size: 18px;
      text-decoration: none;
      color: #354f5e;
    }
    .own-list a{
      text-align: right;
    }
  }
}