@import 'helper';

.btn-anadir {
  border: 1px solid $color-blue;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: $color-blue;
  background: none;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 8px;
  float: right;
  position: relative;
  display: block;
  font-size: 12px;
  &.fixed-width {
    min-width: 75px;
    max-width: 145px;
  }
  &.no-float {
    float: none;
    display: inline-block;
  }
  &:hover {
    background: $color-blue;
    color: #fff;
  }
  &[disabled],
  &[disabled]:active,
  &[disabled]:hover {
    background: $color-new-grey;
    color: #fff;
    border: 1px solid $color-new-grey;
    .btn-spinner {
      margin-left: 10px;
    }
    &.success {
      border: 0px;
      color: $color-dark-green;
      margin: 0px;
      background: white;
      .btn-spinner {
        margin-left: 0px;
      }
    }
  }
  .btn-spinner {
    margin-left: 0px;
    position: relative;
  }
  
}

.owner {

}

.friendship-status {
  color: $color-new-grey;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: 'Open Sans';
  &.pull-right {
    text-align: right !important;
  }
  .aprobado {
    
  }
  .tu_rechazo {

  }
  .el_rechazo {

  }
  .tu_espera {

  }
  .el_espera {

  }
}
