h2{border-bottom:2px solid #cc4242;padding-bottom:15px;margin-bottom:30px;font-family:'Open Sans',serif;font-weight:400;font-size:22px}.static-wraper{max-width:842px;margin:0 auto 60px;padding-left:10px;padding-right:10px;font-family:'Open Sans',sans-serif;font-weight:400;font-size:14px}.static-wraper p{font-size:16px;font-family:'Open Sans',sans-serif;font-weight:400}.static-body p{font-family:'Open Sans',sans-serif;font-weight:300;text-align:justify;font-size:14px}h3{font-family:'Open Sans',sans-serif;font-weight:600;font-size:26px;margin-bottom:20px;padding-bottom:15px;border-bottom:1px solid #dedddd}.block_1{width:100% !important}.open_article a{color:#000000}.open_article a:hover{text-decoration:none}.type_A p{color:#000}
/*# sourceMappingURL=help_index.css.map */
