// Montserrat font
$font-montserrat: 'Montserrat';
// Open sans font
$font-opsans-regular: 'Open Sans';
$font-opsans-light: 'Open Sans';
$font-opsans-semibold: 'Open Sans';

// Color palette
$color-dark-red: #cc4242;
$color-red: #f32f3a;
$color-dark-yellow: #d8b645;
$color-yellow: #efc84e;
$color-dark-orange: #ef6c15;
$color-orange: #f27e30;
$color-dark-green: #359685;
$color-green: #3db29c;
$color-dark-blue: #233b48;
$color-blue: #354f5e;
$color-grey: #dedddd;
$color-light-grey: #f4f4f4;
$color-dark-grey: #989898;
$color-op-grey: #ba0404;
$color-black: #000000;
$color-white: #ffffff;
$color-alt-light-grey: #a0a0a0;
$color-facebook: #44619d;

// Color palette (new colors not stablished on styleguide)
$color-new-grey: #898989;
$color-grey-divider: #ddd;
$color-new-yellow: #FD4;

.btn-blue {
	border: 1px solid $color-blue;
	border-radius: 15px;
	width: 100%;
	height: 30px;
	font-family: $font-opsans-regular;
	color: $color-blue;
	background-color: $color-white;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-top: 8px;
	float: right;
	position: relative;
	display: block;
	font-size: 12px;
	&:hover {
		background-color: $color-blue !important;
		color: #fff;
	}
}

.lm-btn {
  background-color: $color-white !important;
  border: 1px solid $color-blue !important;
  border-radius: 15px !important;
  color: $color-blue !important;
  height: 30px !important;
  font-family: $font-opsans-regular !important;
  font-size: 12px !important;
  min-width: 100px !important;
  .fa {
    color: $color-blue !important;
  }
  &:hover {
    .fa {
      color: $color-white !important;
    }
    background-color: $color-blue !important;
    color: $color-white !important;
  }
}

.lm-btn-blue {
  background-color: $color-white;
  border: 1px solid $color-blue;
  border-radius: 15px;
  color: $color-blue;
  height: 30px;
  font-family: $font-opsans-regular;
  font-size: 12px;
  min-width: 100px;
  .fa {
    color: $color-blue;
  }
  &:hover {
    .fa {
      color: $color-white;
    }
    background-color: $color-blue !important;
    color: $color-white;
  }
}

.lm-btn-grey {
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: 15px;
  color: $color-grey;
  height: 30px;
  font-family: $font-opsans-regular;
  font-size: 12px;
  min-width: 100px;
  .fa {
    color: $color-grey;
  }
  &:hover {
    .fa {
      color: $color-white;
    }
    background-color: $color-grey !important;
    color: $color-white;
  }
}

.lm-btn-green {
  background-color: $color-white;
  border: 1px solid $color-green !important;
  border-radius: 15px;
  color: $color-green !important;
  height: 30px;
  font-family: $font-opsans-regular;
  font-size: 12px;
  min-width: 100px;
  .fa {
    color: $color-green !important;
  }
  &:hover, &:active {
    .fa {
      color: $color-white;
    }
    background-color: $color-green !important;
    color: $color-white;
  }
}

.lm-btn-full-green {
  background-color: $color-green !important;
  border: 1px solid $color-green !important;
  border-radius: 15px !important;
  color: white !important;
  height: 30px !important;
  font-family: $font-opsans-regular !important;
  font-size: 12px !important;
  min-width: 100px !important;
  .fa {
    color: $color-blue !important;
  }
  &:hover {
    .fa {
      color: $color-green !important;
    }
    background-color: transparent !important;
    color: $color-green !important;
  }
}

.btn-large {
	height: 36px !important;
	font-size: 16px !important; 
	border-radius: 36px !important;
}



/**
 * Muestra el boton mucho mas pequeno
 */
.btn-small {
  max-width: 100px !important;
}

/**
 * Profile images
 */
.small-portrait {
  position: relative;
  left: 0;
  width: 45px !important;
  height: 45px !important;
  border-radius: 45px;
  border: 1px solid #DEDEDE;
  padding: 2px;
  margin: 0 !important;
}

.portrait {
  margin: 0 0 0 1%;
  width: 74px;
  height: 74px;
  border-radius: 74px;
  border: 1px solid #DEDEDE;
  padding: 2px;
}

.md-portrait {
  margin: 0 0 0 1%;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid #DEDEDE;
  padding: 2px;
}

.big-portrait {
  display: block;
  margin: 20px auto 0 auto;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 2px solid #354f5e;
  padding: 3px;
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

h1.border-blue {
  border-color: $color-blue;
}

h1.border-green {
  border-color: $color-green;
}

/**
 * Mixin para placeholders
 * .foo {
 *    @include placeholder {
 *      color: green;
 *   }
 *  }
 * @include placeholder {
 *   color: red;
 * }
 */
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

// Breakpoints
// USAGE:
/*
 * .home-slider {
 *  @include respond-to('mobile') { 
 *    display: none;
 *  }
 * }
 */
$breakpoints: (
  'mobile' : ( max-width:  480px ),
  'small'  : ( min-width:  767px ),
  'medium' : ( max-width:  992px ),
  'large'  : ( min-width: 1200px )
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

/*
  a:link - a normal, unvisited link
  a:visited - a link the user has visited
  a:hover - a link when the user mouses over it
  a:active - a link the moment it is clicked
*/

/*
 * .home-slider {
 *  @include transition('all 2s');
 * }
 */
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

/*
p {
  @include vendor-prefix(hyphens, auto)
}
*/

/**
 * Radio del borde
 * Uso: 
 * .box { 
 *   @include border-radius(10px); 
 * }
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


