@import 'helper';

.own-list a{
  font-family: 'open_sanssemibold';
  font-size: 16px;
  text-decoration: none;
  text-align: right;
  color: #354f5e; 
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.own-list {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px !important;
}
.renowned_list{
  display: none;
}
.see-more-list span{
  font-family: 'Open Sans';
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #354f5e;    
}
.see-more-list{
    text-align: center;   
}
.list-push-right-own{
  margin-right: 3px;
}
@media screen and (max-width: 691px) {
  .list-push-right-own{ 
      margin: 0 auto;
      float: none;
      text-align: center;
      margin-right: -4px;
  }
}
.section-see-list-own a{
      margin-bottom: 10px !important;
    font-family: 'Open Sans';
      font-size: 18px;
      text-decoration: none;
      color: #354f5e;         
      
}
.section-see-list-own{
    font-family: 'Open Sans';
      font-size: 18px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px !important; 
      text-align: right;      
}
.section-see-list-more a{
      margin-bottom: 10px !important;
    font-family: 'Open Sans';
      font-size: 18px;
      text-decoration: none;
      text-align: center !important;
      color: #354f5e;         
}
.section-see-list-more{ 
      margin-bottom: 10px !important;
    font-family: 'Open Sans';
      font-size: 18px;
      text-decoration: none;
      text-align: center !important;
      color: #354f5e;         
}
.section-list-title-own{
  font-family: 'Open Sans';
  font-size: 18px;  
    margin-bottom: 10px !important;
}
.section-list-title-own a{
  color:#000;
  text-decoration: none;
}
@media screen and (max-width: 691px) {
  .home-list-book{  
    width: 68px !important;
      height: 104px !important;
  }
}
.contenedor {
  width: 260px;
  height: 170px;
  margin: 10px 13px auto; 
  position: absolute;
  
}

.contenedor-left{
  width: 260px;
  height: 170px;
  margin: 10px 30px;
  position: absolute;
  
}


.tip {
  color: white;
  font-size: 16px;
  text-align: left;
  font-family: 'Open Sans', sans-serif; font-weight: 400;
  margin-top: -8px;


}

.titulo-tip {
  color: #3db29c;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans', sans-serif; font-weight: 400;
  margin-top: 5px;

}

.small {
  color: white;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans', sans-serif; font-weight: 100;
  line-height: 1.5em;
  margin-top: 3px;
}

.indicador {
  color: white;
  font-size: 12px;
  text-align: right;
  font-family: 'Open Sans', sans-serif; font-weight: 100;
  line-height: 1.5em;
}

.hr {
  height: 1px;
    border: 0;
    background-color: white;
    margin: -5px auto;

}
.contenedor-botones {
  float: right;
  margin-top: 9px;
}
.boton-omitir {
  color: #78919f;
  font-size: 12px;
  text-align: right;
  font-family: 'Open Sans', sans-serif; font-weight: 200;
  text-decoration: none;

}

.boton {
  
  display:inline-block;
  padding: 5px 0px;
  margin-bottom: 0px;
  width: 100px;
  background-image: none;
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif; font-weight: 200;
  margin:3px;
  text-align: center;
  white-space: nowrap;
    vertical-align: middle;
  text-decoration: none;
  -webkit-user-select: none;
  cursor: pointer;
  
}

.boton-rounded {
  border-radius: 15px;
  
}

.boton-siguiente {
  margin-left: 10px;
    color: #fff;
    border: 1px solid #fff;
}

.no-hover-tooltip:hover {
  color: white !important;

}

.omitir-hover:hover {
  color: #78919f !important;
}

 p span {
  color: #cfb047;
 }
 .margen { 
  margin-top: 60px;
 }

 #tooltip-1 { 
  position: absolute;
  z-index: 10;
 }

#link-siguiente{

}
@media screen and (max-width: 767px){
  h1.signup-title {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 767px){
  span.home-signup-span{
      font-size: 22px;
  }
}
@media screen and (max-width: 767px){
  span.home-signup-span-small{
      font-size: 15px;
  }
}

.signup-title {
  font-size: 36px!important;
  padding-top: 26px!important;
  padding-bottom: 0px!important;

}

.home-signup-span {
    color: #fff;
    font-size: 30px;
    margin-top: -2px;
    text-align: center;
    text-transform: none;
    display: block;
 }

 .home-signup-span-small {
    color: #fff;
    font-size: 18px;
    margin-top: 6px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: none;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
 }

 .home-signup {
    background-color: #354f5e!important;
    min-height: 253px!important;
    width: 100%!important;
}

.signup-btn {
    border: 1px solid #3db29c!important;
    color: #3db29c!important;
    background: none!important;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px!important;
    display: block;
    width: 290px;
}

.signup-btn:hover {
    border: 1px solid #3db29c!important;
    color: white!important;
    background-color: #3db29c!important;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    width: 290px;
}

.home-portrait {
  width: 48px!important;
  height: 48px!important;
  border: 1px solid #ddd;
  padding: 1px;
  margin-bottom: 10px!important;
}

.activity-who {
    color: #3db29c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-right: 8px;
}

.activity-who:hover {
  color: #3db29c;
  text-decoration: none;
}

.activity-desc-col {
    padding: 0 4px 0 23px!important;
}

.activity-hr {
  margin-bottom:20px!important;
}

.activity-who-list {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-right: 0px;
}

.activity-who-list:hover {
  text-decoration: none;
}

.more-tag {
  font-size: 18px;
  font-family: 'Open Sans';
  text-align: right;
  display: block;
  position: relative;
  padding-right: 15px;
  text-decoration: none;
}

.more-arrow {
  font-size: 26px;
  position: absolute; 
  right: 0;
  top:0;
  font-size: 26px!important;
  position: absolute;
  color: #ef6c15!important;
}

.top-line a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.home-header-row {
  background-color: $color-blue;
  color: white;
  font-size: 18px;
  font-family: $font-opsans-regular;
  padding: 15px 0;
  .home-header-container {
    margin: 0 auto;
    max-width: 1280px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    color: white;
    font-size: 24px;
  }
  h3 {
    color: $color-green;
    font-size: 18px;
  }
  a {
    color: $color-green;
    &:hover {
      color: $color-green;
      text-transform: none;
    }
  }
  .home-header-info {
    h1, h2 {
      padding-left: 15px;
    }
  }
  .home-header-login {
    border-left: 1px solid $color-green;
    padding-right: 35px;
    @include respond-to('mobile') { 
      padding-left: 25px;
    }
    h2 {
      color: $color-green;
    }
    label {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
    input[type=text],
    input[type=email],
    input[type=password] {
      color: white;
      border: 1px solid white;
      width: 100%;
      background-color: $color-blue;
      padding-left: 10px;
      @include placeholder {
        color: white;
      }
    }
    .home-header-terms {
      font-size: 12px;
      font-weight: normal;
      a {
        color: white;
        font-weight: bold;
        &:hover, &:active {
          color: white;
          text-transform: none;
        }
      }
    }
    .home-header-actions {
      input {
        display: inline-block;
        &:first-child {
          margin-right: 15px;
        }
        @include respond-to('mobile') { 
          margin-bottom: 15px;
          width: 266px;
        }
        @include respond-to('medium') { 
          margin-bottom: 15px;
          width: 181px;
        }
      }
      .btn-fb {
        background-color: $color-facebook !important;
        color: white !important;
        font-size: 12px;
        &:hover {
          background-color: lighten($color-facebook, 5%) !important;
        }
        .social-icon {
          height: 18px;
        }
      }
    }
    #home-header-form-error {
      color: red;
      font-size: 16px;
      font-weight: normal;
    }
  }
}

.listas-destacadas-body {
  min-height: 35px;
}






