@import 'helper';

.hm_row {
  width: 100%;
}

.hm_text_header {
  background: -webkit-linear-gradient(#f3f3f3,  #f9f9f9);
  background: -moz-linear-gradient(#f3f3f3,  #f9f9f9);
  background: -o-linear-gradient(#f3f3f3,  #f9f9f9);
  background: linear-gradient(#f3f3f3,  #f9f9f9);
  .hm_container {
    .hm_content {
      .hm_text {
        color: #454545;
        font-family: 'Open Sans';
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        padding: 25px 80px;
      }
    }
  }
  @include respond-to('mobile') {
    .hm_container {
      width: 100%;
      .hm_content {
        .hm_text {
          font-family: 'Open Sans', sans-serif;
          font-size: 16px;
          font-weight: 300;
          padding: 15px;
        }
      }
    }
  }
}

.hm_options {
  background: -webkit-linear-gradient(#f9f9f9,  #ebebeb);
  background: -moz-linear-gradient(#f9f9f9,  #ebebeb);
  background: -o-linear-gradient(#f9f9f9,  #ebebeb);
  background: linear-gradient(#f9f9f9,  #ebebeb);
  .hm_container{
    .hm_content {
      .article {
        text-align: center;
        background: -webkit-linear-gradient(#f9f9f9,  #fff);
        background: -moz-linear-gradient(#f9f9f9,  #fff);
        background: -o-linear-gradient(#f9f9f9,  #fff);
        background: linear-gradient(#f9f9f9,  #fff);
        height: 365px;
        .hm_background {
          position: absolute;
          width: 100%;
          left: 0;
          .hm_background_image {
            width: 230px;
            margin: 0 auto;
            transform: scale(0);
            //position: absolute;
          }
        }

        .hm_content_article{

        }
        .hm_header {
          background: none !important;
          padding-top: 20px;
          padding-bottom: 0px;
          position: relative;
          .hm_title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
          }
        }
        .hm_sepador {
          position: relative;
        }
        .text {
          font-family: 'Open Sans', sans-serif;
          color: #636363;
          font-size: 14px;
          font-weight: 300px;
          line-height: 20px;
          padding: 0 8px 18px 8px;
        }
        .hm_btn {
          font-family: 'Open Sans', sans-serif;
          font-size: 12px;
          font-weight: 300;
          text-align: center;
          display: block;
          border-radius: 30px;
          width: 188px;
          padding: 10px 0;
          margin:  5px auto;
          text-decoration: none;
          border: 1px solid #404040;
          color: #404040;
          background: #fff;
          opacity: .8;
          .line {
            display: inline;
            position: relative;
            top: 0;
            left: 5px;
            padding: 9px 5px 9px 5px;
          }
          .ico {
            height: 14px;
          }
          .ico-hover {
            display: none;
          }
        }
        .hm_btn:hover {
          border: 1px solid #935356;
          color: #fff;
          background: #935356;
          opacity: .8;
        }
      }
      @media (max-width: 1200px) and (min-width: 992px){
        .article {
          padding: 0;
        }
      }
      @media (max-width: 991px) and (min-width: 769px){
        .article {
          height: 345px;
        }
      }
      @media (max-width: 768px) and (min-width: 0px){
        .article {
          padding: 0;
          height: auto;
        }
      }
      .social {
        background: -webkit-linear-gradient(#f9f9f9,  #ebebeb);
        background: -moz-linear-gradient(#f9f9f9,  #ebebeb);
        background: -o-linear-gradient(#f9f9f9,  #ebebeb);
        background: linear-gradient(#f9f9f9,  #ebebeb);

        .hm_title {
          color: #9b1d20;
        }
        .hm_sepador {
          border-color: #9b1d20;
          width: 165px;
          margin: 20px auto;
          display: block;
        }
        .hm_btn {
          opacity: 1;
        }
        .hm_btn:hover {
          background: #9b1d20;
          color: #fff;
          opacity: 1;
          border-color: #9b1d20;
        }
      }
      .social:hover {
        .hm_background_image {
          height: 230px;
          background: url(../../assets/images/hover_redsocial.png) center center no-repeat;
          overflow: hidden;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
      .catalogos {

        .hm_background_image {
        }
        .hm_title {
          color: #6a0c0e;
        }
        .hm_sepador{
          border-color: #6a0c0e;
          width: 165px;
          margin: 20px auto;
          display: block;
        }
        .hm_btn {
          border: 1px solid #6a0c0e;
          color: #6a0c0e;
          background: #fff;
          opacity: 1;
          position: relative;
          .ico {
            float: right
          }
          .line {
            border-left: .5px solid #6a0c0e;
            left: initial;
            right: 20px;
            float: right;
            height: 34px;
            top: -10px;
          }

        }
        .hm_btn:hover {
          opacity: .7;
          background: #6a0c0e;
          border: 1px solid #6a0c0e;
          .ico {
            display: none;
          }
          .ico-hover {
            display: inline-block;
          }
          .line {
            border-left: 1px solid #fff;
          }
        }
        .hm_btn_hover {
          background: #6a0c0e;
          opacity: .8;
          color: #fff;
          .ico {
            display: inline-block;
          }
          .line {
            border-left: .5px solid #fff;
          }
        }
        .hm_btn_hover:hover {
          background: #6a0c0e;
          opacity: 1;
          .line {
            border-left: .5px solid #fff;
          }
        }
      }
      .catalogos:hover {
        .hm_background_image {
          height: 230px;
          background: url(../../assets/images/hover_catalogos.png) center center no-repeat;
          overflow: hidden;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
      .atlas {
        .hm_background_image {
        }
        .hm_title {
          color: #c48d02;
        }
        .hm_sepador{
          border-color: #c48d02;
          width: 165px;
          margin: 20px auto;
          display: block;
        }
        .hm_btn {
          border: 1px solid #404040;
          color: #404040;
          position: relative;
          opacity: 1;
          .ico {
            float: right
          }
          .line {
            border-left: 1px solid #404040;
            left: initial;
            right: 20px;
            float: right;
            height: 34px;
            top: -10px;
          }
        }
        .hm_btn:hover {
          border: 1px solid #c38c20;
          color: #fff;
          background: #c38c20;
          opacity: 1;
          .ico {
            float: right
          }
          .line {
            border-left: 1px solid #fff;
            left: initial;
            right: 20px;
            float: right;
            height: 34px;
            top: -10px;
          }
          .ico {
            display: none;
          }
          .ico-hover {
            display: inline-block;
          }
        }
      }
      .atlas:hover {
        .hm_background_image {
          height: 230px;
          background: url(../../assets/images/hover_atlas.png) center center no-repeat;
          overflow: hidden;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
      .profecionales {
        .hm_title {
          color: #000;
        }
        .hm_sepador{
          border-color: #000;
          width: 165px;
          margin: 20px auto;
          display: block;
        }
        .hm_btn {
          border: 1px solid #000;
          display: inline-block;
          width: auto;
          height: 35px;
          font-size: 12px;
          padding: 10px 12px;
          color: #fff;
          background: #000;
          opacity: .8;
          .ico {
            float: right;
            position: relative;
            right: -15px;
          }
          .line {
            border-left: 1px solid #878787;
            left: initial;
            right: 1px;
            float: right;
            height: 34px;
            top: -10px;
          }
        }
        .hm_btn_gray {
          background: #fff;
          border: 1px solid rgba(0,0,0,.8);
          color: #000;
          opacity: 1;
          .line {
            border-left: 1px solid rgba(0,0,0,.8);
          }
        }
        .hm_btn_gray:hover {
          background: rgba(0,0,0,.7);
          color: #fff;
          border: 1px solid #fff;
          opacity: 1;
          .ico {
            display: none;
          }
          .ico-hover {
            display: inline-block;
          }
          .line {
            border-left: 1px solid #fff;
          }
        }
        .hm_btn_hover:hover {
          background: #000;
          opacity: 1;
          color: #fff;
          border: 1px solid #000;
          .line {
            border-left: 1px solid #fff;
          }
        }
      }
      .profecionales:hover {
        .hm_background_image {
          height: 230px;
          background: url(../../assets/images/hover_pro.png) center center no-repeat;
          overflow: hidden;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
        }
      }
      .angle-right{
        position: absolute;
        right: 10px;
        top: 2px;
      }
    }
  }
}
.hm_search_row {
  background: #ebebeb;
  padding: 20px 0;
  .hm_container {
    color: #454545;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 33.5*1.3px;
    font-size: 20px;
    text-align: center;
    .hm_search_input {
      display: inline-block;
      background-color: #dbdbdb;
      background-repeat: no-repeat;
      border: 0;
      @include border-radius(25px);
    }
    input {
      background: transparent;
      border: 0;
      font-size: 18px;
      min-width: 280px;
      padding: 0 15px;
      @include placeholder {
        color: #ff0000;
        font-style: italic;
        font-weight: 350;
        text-align: center;
      }
      &:focus {
        outline-width: 0;
      }
    }
    .img-search {
      position: relative;
      right: 6px;
      top: 4px;
      cursor: pointer;
    }
    @media (max-width: 767px) and (min-width: 0px) {
      .img-search {
        top: 5px;
      }
    }
    a {
      border-bottom: 2px solid #ff0000;
      color: #454545;
      font-style: italic;
      font-weight: 400;
      text-decoration: none;
    }
  }
}

.hm_search_row.visible-xs-block {
  .hm_container{
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    input {
      font-size: 16px;
      min-width: initial;
      width: 260px;
    }
  }
}
@media(max-width: 300px){
  .hm_search_row.visible-xs-block {
    .hm_container{
      font-size: 14px;
      input{
        font-size: 12px;
        width: 190px;
      }
    }
  }
  .hm_text_header .hm_container .hm_content .hm_text{
    font-size: 14px;
    margin: 5px;
    padding: 10px 5px;
    text-align: left;
  }
  .hm_text{

  }
}

#hm_form_search{
  line-height: 30px;
}

.hm_banner{
  background-color: #ebebeb;
  padding: 10px 0;
  .banner_wrapper{
    border: 1px solid #f00;
    background-color: #fff;
    color: #f00;
    font-size: 12px;
    margin-top: 15px;
    padding: 15px 50px;
    .probadita{
      font-size: 2em;
      letter-spacing: 6.3px;
    }
    .una_de_libros{
      position: relative;
      .una_de{
        float: left;
        font-size: 5em;
        font-weight: 600;
      }
      .conoce{
        bottom: 5px;
        border-left: 2px solid #000;
        color: #000;
        font-size: 1.5em;
        position: absolute;
        padding: 0 0 0 5px;
        right: 5px;
      }
    }
  }
  @media (max-width: 1200px) and (min-width: 992px){
    .banner_wrapper{
      .probadita{
        letter-spacing: 2px;
      }
      .una_de_libros{
        .una_de{
          font-size: 4em;
        }
      }
    }
  }
  @media (max-width: 991px) and (min-width: 768px){
    .banner_wrapper{
      .probadita{
        font-size: 1.6em;
        letter-spacing: 7px;
      }
      .una_de_libros{
        .una_de{
          font-size: 4em;
        }
        .conoce{
          right: 35px;
        }
      }
    }
  }
  @media (max-width: 767px) and (min-width: 599px){
    .banner_wrapper{
      padding: 15px 30px;
      .probadita{
        font-size: 1.6em;
        letter-spacing: 3px;
      }
      .una_de_libros{
        .una_de{
          font-size: 3em;
        }
        .conoce{
          font-size: 1em;
        }
      }
    }
  }
  @media (max-width: 598px) and (min-width: 351px){
    .banner_wrapper{
      padding: 15px 20px;
      .probadita{
        font-size: 1em;
        letter-spacing: 1px;
      }
      .una_de_libros{
        .una_de{
          font-size: 2.5em;
        }
        .conoce{
          font-size: 0.8em;
        }
      }
    }
  }
  @media (max-width: 350px) and (min-width: 300px){
    .banner_wrapper{
      padding: 5px;
      .probadita{
        font-size: 0.8em;
        letter-spacing: 1px;
      }
      .una_de_libros{
        .una_de{
          font-size: 2em;
        }
        .conoce{
          font-size: 0.7em;
        }
      }
    }
  }
  @media (max-width: 299px){
    .banner_wrapper{
      padding: 5px;
      .probadita{
        font-size: 0.7em;
        letter-spacing: 1px;
      }
      .una_de_libros{
        .una_de{
          font-size: 1.5em;
        }
        .conoce{
          font-size: 0.7em;
          bottom: 0;
        }
      }
    }
  }
}

.hm_categories {
  padding-top: 1px;
  border-bottom: 1px solid #ebebeb;
  background: #ebebeb;
  .line-separation {
    border-top: 1px solid #fff;
    margin-bottom: 30px;
  }
  .hm_container {
    display: block;
    text-align: center;
    .hm_content {
      display: block;
      width: 100%;
      .hm_content-cat,
      .hm_book {
        width: 188px;
        height: 230px;
        display: inline-block;
        margin-bottom: 40px;
      }

      .hm_content-cat {
        padding-left: 0;
        .hm_header {
          color: #4c4c4c;
          display: block;
          width: 100%;
          margin: 0;
          background: none !important;
          .hm_title {
            display: block;
            color: #4c4c4c;
            margin-top: 0;
            text-align: left;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin-bottom: 15px;
          }
        }
        .hm_line {
          background: #4c4c4c;
          width: 65px;
          height: 4px;
          display: block;
          margin: 0 auto;
          text-align: left;
          margin-right: 125px;
          margin-bottom: 10px;
          float: left;
        }
        .hm_description {
          color: #4c4c4c;
          display: block;
          padding: 20px 0;
          font-size: 14px;
          text-align: left;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          line-height: 20px;
          .load-popular-list-info{
            a{
              color: #4c4c4c;
              text-transform: uppercase;
            }
          }
        }
        .hm_link-cat {
          display: inline-block;
          color: #9b1d20;
          border-radius: 30px;
          border: 1px solid #9b1d20;
          text-align: center;
          padding: 10px 10px;
          width: 160px;
          text-decoration: none;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          position: relative;
          left: -8px;
          .ico {
            float: right;
          }
          .angle-right{
            position: absolute;
            right: 10px;
            top: 2px;
          }
          .line {
            border-left: 1px solid #9b1d20;
            position: relative;
            display: inline;
            right: -25px;
            padding: 8px 0;
          }
        }
        .hm_link-cat:hover {
          color: #fff;
          background: #9b1d20;
          .line {
            border-left: 1px solid #fff;
          }
        }
      }

      .hm_book {
        .image {
          width: 162px;
          height: 230px;
          text-align: center;
        }
      }
      @media (max-width: 1200px) and (min-width: 993px){
        .hm_content-cat,
        .hm_book {
          width: 33.33%;
          .biblos-circle {
            left: 25%;
          }
        }
      }
      @media (max-width: 992px) and (min-width: 768px){
        .hm_content-cat,
        .hm_book {
          width: 33.33%;
          .biblos-circle {
            left: 18%;
          }
        }
      }
      @media (max-width: 767px) and (min-width: 599px){
        .hm_content-cat,
        .hm_book {
          width: 33.33%;
          .biblos-circle {
            left: 16%;
          }
        }
      }
      @media (max-width: 598px) and (min-width: 406px){
        .hm_content-cat,
        .hm_book {
          width: 50%;
          .biblos-circle {
            left: 20%;
          }
        }
      }
      @media (max-width: 405px){
        .hm_content-cat{
          width: 100%;
          height: auto;
          .hm_header{
            .hm_title{
              text-align: center;
            }
            .hm_line{
              width: 100%;
              margin: 0 10px;
            }
          }
          .hm_description{
            text-align: center;
          }
        }
        .hm_book{
          width: 100%;
          .biblos-circle{
            left: 80px;
          }
        }
      }
    }
  }
}
.hm_tickes_tabs {
  text-align: center;
  padding: 60px 0 40px 0;
  .container {
    .hm_content {
      display: inline-block;
      .tooltip_arrow_brown {
        color: #690e12;
        border: 4px solid #6a0c0e;
      }
      .tooltip_arrow_red {
        color: #991f24;
        border: 4px solid #991f24;
      }
      .tooltip_arrow_black {
        color: #535353;
        border: 4px solid #000;
      }
      .tooltip_arrow_brown:before {
        border-top: 20px solid #690e12;
      }
      .tooltip_arrow_red:before {
        border-top: 20px solid #991f24;
      }
      .tooltip_arrow_black:before {
        border-top: 20px solid #000;
      }
      .hm_tooltip_arrow {
        text-align: center;
        background: #fff;
        background-clip: padding-box;
        border-radius: 0px;
        position: relative;
        width: 100%;
        padding: 25px 0;
        bottom: 100%;
        margin-bottom: 30px;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -ms-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        p {
          margin: 0;
          font-family: 'Open Sans', sans-serif;
          font-size: 19px;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      .hm_tooltip_arrow:before, .hm_tooltip_arrow:after {
        content: "";
        position: absolute;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: 100%;
        left: 50%;
        margin-left: -20px;
      }
      .hm_tooltip_arrow:before {
        margin-top: 4px;
      }
      .hm_tooltip_arrow:after{
        border-top: 20px solid #fff;
        margin-top: -1px;
        z-index: 1;
      }
      .hm_description {
        .hm_text {
          font-size: 14px;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif;
          margin: 5px 55px;
        }
        .line {
          width: 50px;
          height: 5px;
          display: inline-block;
          margin: 10px auto 35px auto;
          border-radius: 3px;
        }
        .brown {
          background: #690e12;
        }
        .red {
          background: #991f24;
        }
        .black {
          background: #535353;
        }
      }
      @media (min-width: 768px) and (max-width: 991px){
        display: block;
      }
    }
    @media (max-width: 300px){
      .hm_content{
        .hm_description{
          .hm_text{
            margin: 5px;
            text-align: left;
          }
        }
      }
    }
  }
  .hm_content {
    a {
      .hm_description {
        .hm_text {
          color: black;
        }
      }
      &:hover {
        .hm_description {
          .hm_text {
            text-decoration: underline;
          }
        }
      }
    }
  }
}