.btn-blue {
  border: 1px solid #354f5e;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  font-family: "Montserrat";
  color: #354f5e;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 8px;
  float: right;
  position: relative;
  display: block;
  font-size: 12px; }
  .btn-blue:hover {
    background-color: #354f5e !important;
    color: #fff; }

.btn-large {
  height: 36px !important;
  font-size: 16px !important;
  border-radius: 36px !important; }

/**
 * Profile images
 */
.small-portrait {
  position: relative;
  left: 0;
  width: 45px !important;
  height: 45px !important;
  border-radius: 45px;
  border: 1px solid #DEDEDE;
  padding: 2px;
  margin: 0 !important; }

.portrait {
  margin: 0 0 0 1%;
  width: 74px;
  height: 74px;
  border-radius: 74px;
  border: 1px solid #DEDEDE;
  padding: 2px; }

.big-portrait {
  display: block;
  margin: 20px auto 0 auto;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 2px solid #354f5e;
  padding: 3px; }

.menu-empty-list-message {
  color: #a0a0a0 !important;
  font-size: .9em;
  margin-top: 1em; }

/*# sourceMappingURL=library_menu.css.map */
