/**
 * List Detail CSS 
 */
@import 'helper';

.owner {
	display: table;
	width: 100%;
	.owner-profile {
		
		margin-top: 1em;

		div {
			float: left;
			vertical-align: middle;
		}

		.owner-image,
		.owner-name {
			height: 74px;
			line-height: 74px;
		}

		.owner-name {
			margin-left: 1em;
		}
		
	}
}
