//sass --watch modal.scss:../librosmexico.mx/assets/styles/modal.css
$green: #3db29c;
$red: #cc4242;
$blue: #354f5e;

.modal{
	background-color:rgba(36,60,73,.9);
}
#create-list-content.modal-content{
  width:375px;   
  @media screen and(max-width: 450px) {
    width:275px;
  }      
}
#create-list-dialog.modal-dialog{
  width:375px;
  @media screen and(min-width: 320px) {
    margin: 30px auto;
  }      
  @media screen and(max-width: 450px) {
    width:275px !important;
  }    
  
}

#create-list-header.modal-header{
  border: 0;
}
.modal-header{
  border-bottom: 2px solid $green;
}

#create-header .modal-header{
	border-bottom: 0px;
}
.margin-butt{
  width: 100%;
  height: 30px;
}
.modal-content{
	border-radius:0;
	padding:0 15px 0 15px;
	font-family: 'Open Sans';
	font-size: 20px; 
}
.modal-buttons{
  margin-top: 20px;
  text-align: right;
}
.list-error{
  font-family: 'Open Sans';
  font-size: 12px;
  display: none;
  color: $red;
  margin: 5px 0;
}
.modal-buttons-create{
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.modal-input-text{
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  font-size:14px;  
}
.modal-input-textarea{
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  border: solid 1px $blue; 
  overflow: hidden;  
  font-size:14px; 
}
select.modal-input-select{
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  border: solid 1px $blue;  
  font-family:'Open Sans'; 
  font-size:14px; 
  background-image: url(../images/detail/flecha_select.svg);
  background-position: right;
  background-repeat: no-repeat;
}
.modal-input-text::-webkit-input-placeholder { font-family:'Open Sans'; font-size:14px;}
.modal-input-select::-webkit-input-placeholder { font-family:'Open Sans'; font-size:14px;}
.modal-input-textarea::-webkit-input-placeholder { font-family:'Open Sans'; font-size:14px;}

input[type="text"],.modal-input-textarea {
    font-family: 'Open Sans';
    font-size: 14px;
}
input[type="text"]:focus, input[type="email"]:focus, .modal-input-textarea:focus {
    border: solid 1px $blue;
}
input[type="text"], .modal-input-textarea:focus {
    border: solid 1px $blue ;
}
.btn-modal-create{
  border-radius:20px;
  background-color: #FFF;
  font-family: 'Open Sans';
  font-size: 16px;  
  width: 200px; 
  &:hover {
    color: #fff !important;
    background-color: #32464d!important;
  }
}
.no-margin-bottom{
  margin-bottom: 0;
}
.text-label{
  font-size: 16px;
  color:$green;
}
.text-mini-label{
  font-size: 12px;
  color:#000;
  font-family: 'Open Sans';
  font-weight: 400;
}

.btn-modal{
  border-radius:20px;
  background-color: #FFF;
  width: 100px;
}
.modal-delete{
  border: 1px solid $red !important;
  color:$red !important;
  border-radius:20px;
  width: 100px;
  background-color: #FFF;  
  &:hover{
    background-color:$red;
    color:#FFF;
  }
}