//sass --watch modal-register.scss:modal-register.css
$green: #3db29c;
$red: #cc4242;
$blue: #354f5e;


.modal{
	background-color:rgba(36,60,73,.9);
}

.modal-body{
  font-family: "Open Sans";
  font-size: 14px;
  padding: 20px;  

  input[type=text],
  input[type=email],
  input[type=password]{
    border-color: #dedddd !important;
    font-family: 'Open Sans' !important;
    font-size: 14px;
  }
  .error-register{
    display: none;
    margin-top: 50px; 
    color:#cc4242 ;
    font-size: 12px;
  }
  .modal-row{
    margin-bottom: 15px;
  }
  .btn-row{
    text-align: center;
  }
  .btn-session-row{
    text-align: right;
  }
  .btn-session{
    border-radius:30px;
    color: $blue;
    border:1px solid $blue;
    background-color:#FFF;
    width: 100%;
    height: 35px;
    margin-top: 20px;    
    margin-bottom: 20px;    
    &:hover{
          background-color:$blue;
          color:#FFF;
    }    
  }
  .btn-register{
    border-radius:30px;
    color: $green;
    border:1px solid $green;
    background-color:#FFF;
    width: 100%;
    height: 35px;
    margin-top: 20px;    
    &:hover{
          background-color:$green;
          color:#FFF;
    }  
  }
}

#register-modal-header.modal-content,#login-modal-header.modal-content{
  width:375px;   
  @media screen and(max-width: 450px) {
    width:275px;
  }      
}
#register-modal.modal-dialog,#login-modal.modal-dialog{
  width:375px;
  @media screen and(min-width: 320px) {
    margin: 30px auto;
  }      
  @media screen and(max-width: 450px) {
    width:275px !important;
  }    
  
}
.modal-header{
  font-family: "Open Sans";
  border: 0;
  background-color: #3db29c;  
  color: #FFF;
  text-align: center;
  padding-bottom: 0px;
  h4 {
    font-size: 16px !important;
    margin-bottom: 10px;
    color: #fff !important;
  }
  h2 {
    font-size: 16px !important;
  }
  .btn-fb{
    margin-bottom: 15px;
    background: #44619d;
    border-color: #44619d !important;
    border-radius: 30px !important;
    color: #fff !important;  
  }
}

.form-group{
  margin-bottom: 0px !important;
   input[type=checkbox] {
    display: none; 
  }
 input[type=text],
  input[type=email],
  input[type=password],
  {
    display: inline-block !important; 
  }
   label.tick{
    padding: 2px;
    transition: all .2s; 
  }
   input:checked ~ label.tick:before {
    content: url("../images/detail/checkbox_select.svg");
    color: #FD4;
    transition: all .25s;
  }
   label.tick:before {
    content: url("../images/detail/checkbox_hover.svg"); 
  }
  label.tick:before:hover {
    cursor: pointer; 
  }
  label{
    font-weight: normal !important;
  }
  .gray-text{
    color:#979797;
  }
  a{
    color:#979797;
    &:hover{
        color:#979797;  
    }
  }
}

@import 'activity';
@import 'profile';