/**
 * My Friends main style
 */

@import 'helper';

/*	Version de escritorio */
.main-content {
	overflow: hidden;
  width: 100%;
  display: block;
}

.misamigos {
	max-width: 1280px;
  margin: 20px auto;
}

.no-padding {
	padding: 0px;
}

.amigos {
	//margin-bottom: 40px;
	padding-left: 40px;
}

/* Buscar */
.buscar {
	width: 100% !important;
	padding: 0px 15px 0px;
}

.buscador {
	width: 90%;
	height: 46px;
	font-family: $font-opsans-regular !important;
	border-radius: 3px !important;
	border-color: $color-blue !important;
	float: left;
	display: block;
}

.lupa {
	background-color: #fff !important;
	border: none !important;
	float: right;
	margin-top: 6px;
}

/* Selectores */

.indicador1 {
	color: $color-new-grey;
	margin-top: 20px;
	margin-bottom: 30px;
}

.indicador2 {
	text-align: right;
	color: $color-new-grey;
	margin-top: 20px;
	margin-bottom: 30px;
}

.abc {
	letter-spacing: 2px;
	float: left;
	cursor: default;
	a {
		color: $color-new-grey;
		&:hover {
			color: $color-green;
		}
	}
}

.ver {
	float: left;
}

/* Amigos tarjetas */

.tarjeta {
	padding: 10px;
	border: 1px solid $color-grey;
	border-radius: 3px;
}

.foto_usuario {
	padding: 0px;
	a {
		img {
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			border: 1px solid #A19FA1;
			padding: 3px;
		}
	}
}

.info_usuario {
	padding-left: 5px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	p {
		a {
			font-family: $font-opsans-light;
			font-weight: 300;
			font-size: 14px;
			color: $color-new-grey;
		}
	}
}

h2 {
	font-family: $font-opsans-regular;
	font-weight: 400;
	font-size: 16px;
	padding-top: 0px;
	margin-top: 0px;
	text-transform: none;
	color: $color-blue;
}

.btn_comparar {
	height: 24px;
	width: 130px;
	padding-top: 2px;
	border: 1px solid $color-green;
	border-radius: 12px;
	font-family: $font-opsans-regular;
	font-weight: 400;
	font-size: 12px;
	color: $color-green;
	background-color: #fff;
	text-align: center;
}

.comparison-nav-wrap {
	width: 160px;
	color: $color-green;
	font-family: $font-opsans-regular;
	font-weight: 400;
	.compare-nav {
		.pill {
			border: 1px solid $color-green;
			border-radius: 12px;
			padding: 4px 12px 4px 12px;
		}
	}

	ul.active {
		width: 160px;
		background: $color-blue !important;
		-webkit-border-top-left-radius: 12px;
		-webkit-border-top-right-radius: 12px;
		-moz-border-radius-topleft: 12px;
		-moz-border-radius-topright: 12px;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		border: 1px solid $color-green;
		border-bottom: 0px;
		& > li {
			width: 100%;
			text-align: center;
		}
		span {
			background: transparent;
			border-style: none !important;
		}
		ul {
			display: block;
			text-align: left;
			li:first-child {
				margin-top: 10px;
			}
			li {
				margin-bottom: 5px;
			}
		}
	}

	ul li {
		position: relative;
		a {
			color: $color-white;
		}
	}
	
	ul ul {
		width: 160px;
		display: none;
		position: absolute;
		top: 100%;
		left: -1px;
		padding-left: 10px;
		padding-bottom: 5px;
		z-index: 10;
		background: $color-blue !important;
		border: 1px solid $color-green;
		border-top: 0px;
		-webkit-border-bottom-right-radius: 12px;
		-webkit-border-bottom-left-radius: 12px;
		-moz-border-radius-bottomright: 12px;
		-moz-border-radius-bottomleft: 12px;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
	}
}

.delete-friendship {
	float: right;
	min-height: 30px;
	position: relative;
	text-align: right;
	padding-top: 10px;
	color: $color-blue;
	font-size: 14px;
	a {
		font-family: $font-opsans-light;
		font-weight: 300;
		font-size: 14px;
		text-decoration: none;
		color: $color-blue;
		&:hover {
			color: $color-blue;
			text-decoration: none;
		}
	}
	a.confirm {
		&:hover {
			color: $color-green;
		}
	}
	a.cancel {
		color: $color-dark-grey;
		&:hover {
			color: $color-dark-red;
		}
	}
}

.margen-abajo {
	margin-top: 20px;
}

/* Paginacion */

.margen-arriba {
	margin-top: 20px;
	padding: 15px;
	border-top: 1px solid $color-grey;
}

.dataTables_paginate {
  color: $color-new-grey;
  cursor: default;
  font-family: $font-opsans-regular;
  font-weight: 400;
  float: right;
  a {
  	color: $color-new-grey;
  	&:hover {
  		color: $color-green;
  	}
  }
}

.imagen1 {
	background: url("assets/images/flecha-gris-izq.svg") no-repeat;
	padding-left: 12px;
	&:hover {
		background: url("assets/images/flecha-verde-izq.svg") no-repeat;
		padding-left: 12px;
	}
}

.imagen2 {
	background: url("assets/images/flecha-gris-der.svg") no-repeat;
	padding-right: 13px;
	&:hover {
		background: url("assets/images/flecha-verde-der.svg") no-repeat;
		padding-right: 13px; // TODO: this shouldn't be here... it has the same padding
	}
}

/* Sidebar */
h1 {
	font-family: $font-opsans-regular;
	font-weight: 400;
	font-size: 24px;
	padding-top: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	border-bottom: 2px solid;
}

.opciones {
	margin-bottom: 40px;
	min-height: 450px;
	padding-right: 40px;
}

/* Anadir amigos */
.anade-amigos {
	h1 {
		border-color: $color-blue;
	}
	p{
		font-family: $font-opsans-light;
		font-weight: 300;
		font-size: 16px;
		margin-top: 30px;
	}
}

.buscador-anadir {
	background-color: white;
	border: 1px solid $color-new-grey;
	display: none;
	max-height: 325px;
	overflow: auto;
	position: absolute;
	top: 100%;
	z-index: 10;
	width: 100%;
	a {
		font-family: $font-opsans-regular;
		font-weight: 400;
		font-size: 16px;
		color: $color-blue;
	}
	&.show {
		display: block;
	}
	.no-results {
		color: $color-dark-grey;
		text-align: center;
		min-height: 40px;
		p {
			margin: 0;
			padding: 0;
			line-height: 40px;
		}
	}
}

.search-user-result {
	border-bottom: 1px solid $color-grey;
	min-height: 75px;
}

.tarjeta-anadir {
	padding: 10px;
	.foto-usuario-sm,
	.tarjeta-name {
		float: left;
		padding-top: 10px;
	}
	.tarjeta-name {
		width: 65%;
	}
	.foto-usuario-sm {
		padding: 10px 10px 10px 0;
	}
	.tarjeta-add {
		float: right;
		padding-top: 10px;
	}

}



.ver-mas-resultados {
	a {
		font-family: $font-opsans-regular;
		font-weight: 400;
		font-size: 14px !important;
		color: $color-blue;		
		margin: 0px;
		padding: 0px;
	}
	p {
		text-align: center;
		margin-top: 15px !important;
		margin-bottom: 15px !important;
	}
}

@import 'send-friend-request';

.input-amigos {
	width: 100%;
	height: 32px;
	border: $color-grey;
	font-family: $font-opsans-light;
	font-weight: 300;
	display: block;
}

/* Solicitudes */
.solicitudes {
	margin-top: 40px;
	h1 {
		border-color: $color-dark-green;
	}
}

.foto-usuario-md {
	padding: 0px;
}

.solicitud-tarjeta {
	margin-bottom: 20px;
	border-bottom: 1px solid $color-grey;
	padding: 0px;
}

.info-usuario-solicitud {
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;	
	p {
		font-family: $font-opsans-light;
		font-weight: 300;
		font-size: 14px;
	}
	a {
		font-family: $font-opsans-semibold;
		font-weight: 600;
		color: $color-dark-green;
	}
	#controllers[class] {
		min-height: 45px;
	}
	#controllers.accepted {
		color: $color-dark-green;
		text-align: right;
	}
	#controllers.rejected {
		color: $color-dark-red;
		text-align: right;
	}
}

.btn-solicitud {
	border: 1px solid $color-blue;
	border-radius: 15px;
	width: 90px;
	height: 30px;
	font-family: $font-opsans-regular;
	font-weight: 400;
	color: $color-blue;
	background: none;
	margin-bottom: 15px;
	margin-left: 10px;
	float: right;
	&:hover {
		background: $color-blue;
		color: #fff;
	}
	&[disabled],
	&[disabled]:active,
	&[disabled]:hover {
		background: $color-new-grey;
		color: #fff;
		border: 1px solid $color-new-grey;
		.btn-spinner {
			margin-left: 5px;
		}
		&.success {
			border: 0px;
			color: $color-dark-green;
			margin: 0px;
			background: white;
			.btn-spinner {
				margin-left: 0px;
			}
		}
	}
	&.disabled {
		background: $color-new-grey;
		color: #fff;
		border: 1px solid $color-new-grey;
		pointer-events: none;
		cursor: default; 
	}
	.btn-spinner {
		margin-left: 0px;
		position: relative;
	}
}

#pending-requests-wrapper {
	min-height: 100px;
}

.ver-mas-solicitudes {
	a {
		font-family: $font-opsans-regular;
		font-size: 14px;
		color: $color-dark-green;		
		margin: 0px;
	}
	p {
		text-align: center;
	}
}

/* Amigos sugeridos */

.amigos-sugeridos {
	margin-top: 30px;
	h1 {
		border-color: $color-dark-red;
	}
}

.ver-mas-amigos-sug {
	a {
		font-family: $font-opsans-regular;
		font-weight: 400;
		font-size: 14px;
		color: $color-dark-red;		
		margin: 0px;
	}
	p {
		text-align: center;
	}
}

.margen-sep {
	margin-top: 30px;
}

/* Libros */
.libros {
	h1 {
		margin-top: 30px;
  	border-color: $color-dark-orange !important;
	}
	p {
		font-family: $font-opsans-light;
		font-weight: 300;
		font-size: 16px;
		margin-top: 30px;
	}
}

.img-panel {
	position: relative;
  float: left;
  height: 105px;
  line-height: 12px;
  img {
  	height: 105px;
	  width: auto;
	  padding: 0px;
	  margin: 0px;
  }
}

.info-panel {
	position: relative;
  float: left;
  height: 105px;
  padding-left: 15px;
  line-height: 12px;
}

.book-title {
	a {
		font-family: $font-opsans-regular;
		font-weight: 400;
	  font-size: 14px;
	  color: #000;
	  text-decoration: none;
	}
}

.book-author {
  font-family: $font-opsans-light;
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.fix-bottom {
  position: absolute;
  bottom: -10px;
}

.star-rate {
  float: left;
}

.list-recomm {
  float: left;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.list-item {
  border-bottom: 1px solid $color-grey-divider;
  min-height: 54px;
  line-height: 54px;
}

.pag-resp {
	visibility: hidden;
	height: 0px;
	margin: 0px;
}

/* Comparar libros */

.form-list {
	color:#FFF;
	text-align: left;
	display: none;
}

input{ 
	display: none; 
} 
label{
  padding: 2px;
  transition: all .2s;
}	
input:checked ~ label.tick:before {
  content: url('assets/images/radiobutton-on1.svg');  
  color: $color-new-yellow;
  transition: all .25s;
}	
label:before {
  content: url('assets/images/radiobutton-off1.svg');
  &:hover{
  	cursor:pointer;
  }	  
}

/*	PRUEBA RESPONSIVE */
@media screen and (max-width: 991px) {
	.amigos {
		padding-left: 15px;
	}

	.opciones {
		padding-right: 15px;
	}

	.foto-usuario-md {
		margin-bottom: 15px;
	}

	.list-item {
		width: 50%;
	}

	.pag-resp {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}

}

/*	PRUEBA RESPONSIVE*/
@media screen and (max-width: 767px) {
	.amigos {
		padding-left: 15px;
	}

	.opciones {
		padding-right: 15px;
	}

	.foto-usuario-md {
		margin-bottom: 15px;
	}

	.indicador1 {
		margin-bottom: 15px;
	}

	.indicador2 {
		visibility: hidden;
	}

	.tarjeta {
		margin-bottom: 20px;
	}

	.margen-abajo {
		margin-top: 0px;
	}

	.list-item {
		width: 100%;
	}
	.margen-sep {
		height: 0px;
	}

	.ver-mas-solicitudes {
		max-height: 20px; 
		p {
			max-height: 20px;
		}
	}

	.ver-mas-amigos-sug {
		max-height: 20px;
		p {
			max-height: 20px;
		}
	}

	.pag-resp {
		visibility: hidden;
		height: 0px;
	}

}

/*	PRUEBA RESPONSIVE*/
@media screen and (max-width: 479px) {
	.amigos {
		padding-left: 15px;
	}

	.opciones {
		padding-right: 15px;
	}

	.foto-usuario-md {
		margin-bottom: 15px;
	}

	.indicador1 {
		margin-bottom: 15px;
	}

	.indicador2 {
		visibility: hidden;
	}

	.tarjeta {
		margin-bottom: 20px;
	}

	.margen-abajo {
		margin-top: 0px;
	}

	.libros {
		visibility: hidden;
	}

	.indicador1 {
		visibility: hidden;
		height: 0px;
		margin-bottom: 0px;
	}

	.indicador2 {
		height: 0px;
		margin-bottom: 0px;
	}
	
	.buscador {
		width: 85%;
	}

	.dataTables_paginate {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}

	.margen-sep {
		height: 0px;
	}

	.ver-mas-solicitudes {
		max-height: 20px;
		p {
			max-height: 20px;
		}
	}

	.ver-mas-amigos-sug {
		max-height: 20px;
		p {
			max-height: 20px;
		}
	}

	.dataTables_paginate_resp {
		width: 190px;
		margin-right: auto;
		margin-left: auto;
		span {
			padding: 5px 25px 5px;
			border: 1px solid $color-grey;
			&:hover {
				padding: 5px 25px 5px;
				border: 1px solid $color-grey;
				background: $color-green;
			}
		}
	}

	.num {
		background: $color-green;
		border: 1px solid $color-green;
		font-family: $font-opsans-regular;
		font-weight: 400;
		font-size: 16px;
		a {
			color: #fff;
		}
	}

	.pag-resp {
		visibility: visible;
	}

	.margen-arriba {
		border: none;
		margin-top: 0px;
	}

	.margen-arriba2 {
		border-top: 1px solid $color-grey;
		padding-top: 15px;
	}
}

a.disabled {
	color: $color-grey;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
}


/**
 * Dialogos para invitar a los demas usuarios
 */

.friends_input,
.contacts_input {
	display: inline-block;
}

#import-contacts-gmail-modal {
	.modal-dialog {
		min-width: 700px;
	}
	#auth-invite-gmail-table {
		font-size: 12px;
	}
}

#import-contacts-ms-modal {
	.modal-dialog {
		min-width: 700px;
	}
	#auth-invite-ms-table {
		font-size: 12px;
	}
}

#lm-invite-wrapper {
	margin-bottom: 20px;
	li {
		margin-bottom: 10px;
	}
}

.dataTables_length,
.dataTables_info,
.dataTables_filter, 
.dataTables_paginate,
.modal-body {
	font-size: 12px;
	font-weight: normal !important;
	label {
		font-size: 12px;
		font-weight: normal !important;
	}
	input {
		display: inline-block;
		border: 1px solid $color-blue;
		border-radius: 4px;
	}
	select {
		background-image: url('../images/backend/bullet_arrow_down.png');
		background-position: 96% center;
		background-repeat: no-repeat;
		width: 40px;
		padding-left: 5px;
	}
}

.contacts-selected {
	font-size: 12px;
	font-weight: normal !important;
}

#invite-email { 
	.modal-body {
		font-size: 12px;
		font-weight: normal !important;
		input.email-list {
			width: 100%;
			border-radius: 2px;
		}
	}
}

.row.tabs {
	margin-bottom:15px; 
	margin-top:10px;
	.tabs-wrapper {
		width:100%;
		margin-bottom:15px;
		.tab {
			border: 1px solid $color-grey;
			float: left;
			font-family: $font-opsans-regular;
			font-size: 24px;
			text-align: center;
			padding: 5px;
			width: 50%;
		}
		.tab.active {
			background-color: $color-blue;
			color: white;
		}
		.tab:first-child {
			/*-webkit-border-top-left-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;*/
		}
		.tab:last-child {
			/*-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-radius-topright: 10px;
			-moz-border-radius-bottomright: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;*/
			border-left: 0 solid transparent;
		}
	}
}
