/* notificaciones en mobile */
@media screen and (max-width: 480px) {
  .notifyjs-corner {
    left: 0% !important;
    width: 98%;
  }
  .notifyjs-bootstrap-base span {
  	white-space: pre-wrap;
  }
  .notifyjs-bootstrap-base {
  	text-align: center;
  }
}

/* notificaciones en mobile */