.notifyjs-bootstrap-warn {
  color:  #344F5F;
  background-color: white!important;/*#DFF0D8;*/
  border: 1px solid  #344F5F!important;
  background-image: url('assets/images/biblos-low.png')!important;
  background-size: 48px 100%!important;
  background-repeat: no-repeat!important;
  background-position:left center!important;
  box-shadow: 4px 4px 4px #777777!important;
  span {
    color: #344F5F!important;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400!important;    
  }
}

.notifyjs-bootstrap-error {
  color:  #CC4242;
  background-color: white!important;/*#DFF0D8;*/
  border: 1px solid  #CC4242!important;
  background-image: url('assets/images/error-low.png')!important;
  background-size: 48px 100%!important;
  background-repeat: no-repeat!important;
  background-position:left center!important;
  box-shadow: 4px 4px 4px #777777!important;
  span {
    color: #CC4242!important;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400!important;    
  }
}

.notifyjs-bootstrap-success {
  color: #3db29c;
  background-color: white!important;/*#DFF0D8;*/
  border: 1px solid #3db29c!important;
  background-image: url('assets/images/palomita_sm-low.png')!important;
  background-size: 48px 100%!important;
  background-repeat: no-repeat!important;
  background-position:left center!important;
  box-shadow: 4px 4px 4px #777777!important;
  span {
    color: #3db29c!important;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400!important;
  }
}

.notifyjs-bootstrap-base {
  font-weight: bold;
  padding: 15px 10px 15px 68px!important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  white-space: nowrap;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 3px 7px;
}