$blue_color: #233b48;
#notifWrp {
	display: none;
	opacity: 0;
}
.notif-wrp {
	position: absolute;
	z-index: 9999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	.notif-content {
		position: relative;
		width: 580px;
		height: 700px;
		background-color: #fff;
		margin: 20px auto;
		border: 1px solid $blue_color;
		-webkit-box-shadow: 6px 6px 7px 0px rgba(50, 50, 50, 0.5);
		-moz-box-shadow:    6px 6px 7px 0px rgba(50, 50, 50, 0.5);
		box-shadow:         6px 6px 7px 0px rgba(50, 50, 50, 0.5);
		@media screen and (max-width: 767px) {
			width: 400px;
		}
		@media screen and (max-width: 489px) {
			width: 280px;
			height: 450px;
		}
		.blue-bar {
			position: absolute;
			width: 100%;
			height: 32px;
			background-color: $blue_color;
			.not-close-lnk {
				font-family: 'Open Sans', sans-serif;
				font-weight: 600;
				color: #fff;
				font-weight: 500;
				font-size: 20px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.top-bar {
			top: 0px;
			left: 0px;
			text-align: right;
			padding-right: 10px;
			padding-top: 5px;
		}
		.bottom-bar {
			bottom: 0px;
			left: 0px;
		}
		.title-row1 {
			margin-top: 40px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 48px;
			text-align: center;
			color: #000;
			text-transform: uppercase;
			@media screen and (max-width: 489px) {
				font-size: 32px;
				margin-top: 30px;
				margin-bottom: 0px;
			}
		}
		.title-row2 {
			font-family: 'Open Sans';
			font-weight: 300;
			font-size: 24px;
			text-align: center;
			color: #000;
			@media screen and (max-width: 489px) {
				font-size: 22px;
			}
		}
		.award-desc {
			float: left;
			width: 100%;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 20px;
			text-align: center;
			color: #000;
			margin-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			@media screen and (max-width: 489px) {
				margin-top: 0px;
				font-size: 14px;
			}
		}
		.social-links {
			width: auto;
			height: auto;
			float: right;
			clear: both;
			text-align: center;
			.tw-link {
				margin-left: 10px;
			}
			a:hover {
				text-decoration: none !important;
			}
			label {
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 16px;
				position: relative;
				top: 7px;
				@media screen and (max-width: 489px) {
					font-size: 10px;
				}
			}
		}
		.main-img-container {
			float: left;
			width: 100%;
			clear: both;
			text-align: center;
			img.main-img {
				width: 232px;
				@media screen and (max-width: 489px) {
					width: 100px;
				}
			}
		}
		.award-name-wrp {
			float: left;
			width: 100%;
			clear: both;
			height: 80px;
			padding-top: 10px;
			color: #fff;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 30px;
			line-height: 1em;
			text-align: center;
			background-image: url(../images/tira-roja.svg);
			background-repeat: no-repeat;
			background-position: center 0px;
			margin-top: 15px;
			@media screen and (max-width: 489px) {
					background-size: 90%;
					font-size: 16px;
					height: 60px;
			}
		}

		.social-row {
			margin-top: 45px;
			.awards-link {
				color: #233b48;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 15px;
				border: 1px solid #233b48;
				padding: 7px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				transition: 0s;
				&:hover {
					text-decoration: none;
					color: #fff;
					background-color: #233b48;
				}
				@media screen and (max-width: 489px) {
					font-size: 10px;
				}
			}
			@media screen and (max-width: 767px) {
				margin-top: 25px;
			}
		}

	}
}


.main-active-menu {
  color: #cc4242 !important;
  border-bottom: 2px solid #cc4242 !important;
}