
select.add-list {
	appearance: menulist;
	-moz-appearance: menulist; /* Firefox */
	-webkit-appearance: menulist; /* Safari and Chrome */
}

.SelectStyle {
	width: 220px;
	position: relative;
}
 
select.add-list {
	width: 100%;
	background: #F3F3F3;
	color: #585757;
	padding: 5px;
	font-size: 13px;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	line-height: 100%;
	border: 1px solid #C1C1C1;
	border-radius: 0;
	height: 30px;
	-webkit-appearance: none;
}
 
select.add-listoption option {
	padding: 10px;
}
.SelectStyle:after {
	width: 30px;
	height: 30px;
	display: block;
	content: '';
	position: absolute;
	top: 0;right: 0;
	pointer-events: none;
	border: 1px solid #C1C1C1;
	background:#ebebeb;
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif');
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -moz-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dfdfdf),color-stop(100%,#f6f6f6));
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -webkit-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -o-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), -ms-linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-image: url('http://www.ideup.com/sites/all/themes/ideup/img/bullet--arrow--down.gif'), linear-gradient(top,#dfdfdf 0%,#f6f6f6 100%);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.add-list-btn-wrp {
	display: none;
	margin-top: 20px;
	margin-bottom: 20px;
}
.create-list-btn-wrp {
	display: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.add-list-btn-wrp input[type=submit] {
	width: 220px;
}

.create-list-btn-wrp input[type=text] {
	margin-bottom: 10px;
	width: 200px;
}

.create-list-btn-wrp input[type=submit] {
	width: 220px;
}
.create-list-btn-wrp textarea {
	width: 220px;
	height: 100px;
}

label.list-desc {
	display: none;
	font-size: 12px;
	color: #999;
}

a.pi_link {
	color: #1973DA;
	text-decoration: underline;
}
a.pi_link:hover {
	color: #31649E;
}