	
	.save-btn{
		text-align: center;
		padding-top: 30px !important;
	}
	.btn-centered{
		text-align: center;
	}
	.input-centered{
		float:none;
		clear: both;
		text-align: left;
	}
	.datos-inicio{
		float:left;
		width: 100%;
		height: 975px;
		position: relative;
		margin-top: -15px;
		padding-top: -15px;
		vertical-align: baseline;
		background: transparent;
	}
	.profile-info-row{
		min-height: 330px;
		height: 330px;
	}
	
	.profile-info-row > .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding:nth-child(1){
		height: 170px;
	}
	input[type=text]:disabled,
	input[type=email]:disabled,
	input[type=password]:disabled{
		border-color: #dedddd ;
		background-color: #FFF;
	}

	input[type=text]:focus,
	input[type=email]:focus,	input[type=password]:focus{
		border-color: #3db29c !important;
	}
	textarea:focus{
		border: 1px !important;
		border-color: #3db29c !important;
		border: 1px solid #3db29c !important;	
	}
	.home-activity h2.titulo-datos{
		margin: 0% 0px -2% 2.5% !important;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px){
		.datos-inicio{
		height: 650px;	
		}	
	}

	@media screen and (min-width: 1025px) and (max-width: 1350px){
		.datos-inicio{
		height: 700px;	
		}	
	}

	@media screen and (min-width: 1351px) and (max-width: 1610px){
		.datos-inicio{
		height: 775px;	
		}	
	}

	@media screen and (min-width: 1611px) and (max-width: 1861px){
		.datos-inicio{
		height: 825px;	
		}
	}

	@media screen and (min-width: 1862px) and (max-width: 2048px){
		.datos-inicio{
		height: 875px;	
		}	
	}

	@media screen and (min-width: 2049px) and (max-width: 2255px){
		.datos-inicio{
		height: 925px;	
		}	
	}
	
	.block-inicio{
		width: 100% !important;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		display: block;
		z-index: 10;
	}

	.inner-block-inicio{
		width: 90% !important;
		margin: 1px solid #dedddd; 
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		display: block;
	}


	#menu{
		background-color:white;
		width: 25%;
		height: 100%;
		border: 1px solid #dedddd;
		float: left; 
	}

	

	.datos-perfil{
	background-color:#f6f7f7;
	border: 1px solid #dedddd;
	border-left: 0px !important;
	width: 75%;
	height: 100%;
	float: left; 
	display: none;
	}

	.menu {
		border-top: 0px !important;
		color: black;
	    text-align: left;
	    display: block;
	    background: none;
	    text-decoration: none;
	    width:100%;
	    height: 80px;
	    font-family: 'Open Sans', sans-serif; 
	    font-weight: 400;
	    font-size: 16px;
	    position: absolute;
	    padding: 30px 20px;
	    cursor: pointer;
	}

	.hover-menu:hover {
		color: white;
	    text-align: left;
	    display: block;
	    background: #3cb19c;
	    text-decoration: none;
	    width:100%;
	    height: 80px;
	    font-family: 'Open Sans', sans-serif; 
	    font-weight: 400;
	    font-size: 16px;
	    position: absolute;
	    text-decoration: none;
	    padding: 30px 20px;
	    cursor: pointer;
	}

	.activar a{
		color: white!important;
	    background-color: #3cb19c!important;
	}

	.menu-generales{
		background-color:white;
		width: 100%;
		height: 80px;
		position: relative;
	}
	
	.hr {
		height: 1px !important;
	    border: 0 !important;
	    background-color: #dedddd !important;
	    margin: 0 !important;
    }

    .hr-mobile{
	    border: 1px solid #dedddd !important;
	    margin-top: 80px !important;
	    margin-bottom: 1px;
	    width: 100%!important;
    }

    .nopadding-form{
    	padding: 0 0 !important;
    }

	.titulo-datos{
		color: #354f5e;
		font-size: 22px;
		text-align: left;
		font-family: 'Open Sans', sans-serif; font-weight: 400;
		padding-top: 25px;
		padding-left: 10px;
		position: absolute;
	}

	.campo{
		width: 80% !important;
		float:left;
		border: 1px solid #dedddd !important;
		color: black !important;
		font-size: 14px !important;
		text-align: left;
		font-family: 'Open Sans', sans-serif!important; 
		font-weight: 300 !important;		
	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.campo-responsive{
			width: 100% !important;
			float:left;
			border: 0px solid #dedddd !important;
			color: black !important;
			font-size: 14px !important;
			text-align: left;
			font-family: 'Open Sans', sans-serif!important; 
			font-weight: 300 !important;		
		}
	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.campo-mobile{
			width: 100% !important;
			float:left;
			border: 1px solid #dedddd !important;
			color: black !important;
			font-size: 14px !important;
			text-align: left;
			font-family: 'Open Sans', sans-serif!important; 
			font-weight: 300 !important;		
		}
	}
	


	.campo:focus{
		border: 1px solid #3cb19c !important;	
	}

	.campo-descripcion{
		width: 80% !important;
		float:left;
		margin-bottom: 5%;
		border: 1px solid #dedddd !important;
		color: black !important;
		font-size: 14px !important;
		text-align: left;
		font-family: 'Open Sans', sans-serif; 
		font-weight: 300 !important;		
	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.campo-descripcion-responsive{
			width: 100% !important;
			float:left;
			margin-bottom: 5%;
			border: 1px solid #dedddd !important;
			color: black !important;
			font-size: 14px !important;
			text-align: left;
			font-family: 'Open Sans', sans-serif; 
			font-weight: 300 !important;		
		}
	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.descripcion-responsive{
			width: 100% !important;
			float:left;
			border: 0px solid #dedddd !important;
			color: black !important;
			font-size: 14px !important;
			text-align: left;
			font-family: 'Open Sans', sans-serif; 
			font-weight: 300 !important;		
		}
	}
	.campo-descripcion:focus:hover{
		border: 1px solid #3cb19c !important;	
	}

	input[type=radio].css-checkbox{
	display: none;
	}

	input[type=radio].css-checkbox + label.css-label{
	padding-left: 27px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer;
	}

	input[type=radio].css-checkbox:checked + label.css-label{
	background-position: 0 -18px;
	}

	label.css-label{
	background-image: url(assets/images/radio_buttons.svg);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select:none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300 !important;
}


	input[type=radio].css-radio{
	display: none;

	}

	input[type=radio].css-radio + label.css-label-1{
	padding-left: 27px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
	cursor: pointer;
	}

	input[type=radio].css-radio:checked + label.css-label-1{
	background-position: 0 -18px;
	}

	label.css-label-1{
	background-image: url(assets/images/radio_buttons.svg);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select:none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Open Sans'; 
	font-weight: 300 !important;
	}
	
	.margen-input-principal{
		margin:10% 0 4% 4% !important;

	}

	.margen-input-principal-mobile{
		margin:0 !important;

	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.margen-input-principal{
		margin:-5px 0 4% 4% !important;

	}
	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.margen-input-principal-delete{
		margin:-20px 0 4% 4% !important;

	}
	}

	@media screen and (min-height: 380px) and (max-width: 767px){
		.margen-priv{
		margin:20px 0!important;

	}
	}

	.margen-input{
		margin:3% 0px 4% 4% !important;

	}

	.margen-input-mobile{
		margin:3% 0px!important;

	}

	.nombre-datos {
	color: black;
	font-size: 16px;
	text-align: left;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
	}

	.text-indicacion{
	color: #979797;
	font-size: 10px;
	text-align: left;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 100;
	margin: 10px 0 0 0;
	}
	.menu-data-hidden{
		display: none;
	}
	.text-indicacion-mobile{
	color: #979797;
	font-size: 12px;
	text-align: left;
	font-family: 'Open Sans'; 
	font-weight: 100;
	margin: 10px 0 0 0;
	}

	.no-margin-label{
	margin-bottom: 0 !important;
	margin-top:25px !important;
	}

	@media screen and (min-width: 1611px) and (max-width: 1861px){
		.margen-input{
			margin:3% 0px 3% 4% !important;
		}

	}
	@media screen and (min-width: 1351px) and (max-width: 1610px){
		.margen-input{
			margin:3% 0px 3% 4% !important;
		}
	}
	@media screen and (min-width: 1025px) and (max-width: 1350px){
		.margen-input-principal{
			margin: 9% 0px 4% 4% !important;

		}
		.margen-input{
			margin: 2% 0px 2% 4% !important;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1024px){
		.margen-input-principal{
			margin: 9% 0px 4% 4% !important;

		}
		.margen-input{
			margin:3% 0px 3% 4% !important;
		}	
	}
	@media screen and (min-height: 380px) and (max-width: 767px){
	.no-margin-label{
	margin-bottom: 0 !important;
	margin-top:5px !important;
	}
	textarea:focus{
		border: 1px !important;
		border-color: #3db29c !important;	
	}
	}

	.guardar-cambios {
		color: #3cb19c !important;
	    text-align: center!important;
	    border: solid 1px #3cb19c!important;
	    text-decoration: none!important;
	    padding: 6px 2% 6px 2%!important;
	    border-radius: 100px!important;
	    width: 180px!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    font-weight: 400!important;
	    font-size: 14px!important;
	}

	.hover-guardar-cambios:hover{
		color: white!important;
	    text-align: center!important;
	    border: solid 1px #3cb19c!important;
	    background: #3cb19c!important;
	    text-decoration: none!important;
	    padding: 6px 2% 6px 2%!important;
	    border-radius: 100px!important;
	    width: 180px!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    font-weight: 400!important;
	    font-size: 14px!important;
	}

	.guardar-cambios-mobile {
		color: #3cb19c !important;
	    text-align: center!important;
	    display: block !important;
	    border: solid 1px #3cb19c!important;
	    background: none!important;
	    text-decoration: none!important;
	    padding: 6px 2% 6px 2%!important;
	    border-radius: 100px!important;
	    width: 100%!important;
	    margin: 20px 0!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    font-weight: 400!important;
	    font-size: 14px!important;
	}

	.hover-guardar-cambios-mobile:hover{
		color: white!important;
	    text-align: center!important;
	    display: block!important;
	    border: solid 1px #3cb19c!important;
	    background: #3cb19c!important;
	    text-decoration: none!important;
	    border-radius: 100px!important;
	    width: 100%!important;
	    margin: 20px 0!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    font-weight: 400!important;
	    font-size: 14px!important;
	}
	.eliminar-cuenta {
		color: #cc4242!important;
	    text-align: center!important;
	    display: block!important;
	    border: solid 1px #cc4242!important;
	    background: none!important;
	    text-decoration: none!important;
	    border-radius: 100px!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    padding: 6px 2% 6px 2%!important;	    
	    }

	.hover-eliminar-cuenta:hover{
		color: white!important;
	    text-align: center!important;
	    display: block!important;
	    border: solid 1px #cc4242!important;
	    background: #cc4242!important;
	    text-decoration: none!important;
	    padding: 6px 2% 6px 2%!important;
	    border-radius: 100px!important;
	}

	.eliminar-cuenta-mobile { 
		color: #cc4242!important;
	    text-align: center!important;
	    display: block!important;
	    border: solid 1px #cc4242!important;
	    background: none!important;
	    text-decoration: none!important;
	    padding: 6px 2% 6px 2%!important;
	    border-radius: 100px!important;
	    margin: 10px 0!important;
	    margin-bottom: 20px!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    font-weight: 400!important;
	    font-size: 14px!important;
	    float: left!important;
	    background-size: 16%!important;
	    background-position: 6% center!important;
	    background-repeat: no-repeat!important;
	}

	.hover-eliminar-cuenta-mobile:hover{
		color: white!important;
	    text-align: center!important;
	    display: block!important;
	    border: solid 1px #cc4242!important;
	    background: #cc4242!important;
	    text-decoration: none!important;
	    padding: 6px 2% 6px 2%!important;
	    border-radius: 100px!important;
	    margin: 10px 0!important;
	    margin-bottom: 20px!important;
	    font-family: 'Open Sans', sans-serif!important; 
	    font-weight: 400!important;
	    font-size: 14px!important;
	    float: left!important;
	    background-size: 16%!important;
	    background-position: 6% center!important;
	    background-repeat: no-repeat!important;
	}
	.accordion, .accordion * {
		-webkit-box-sizing:border-box; 
		-moz-box-sizing:border-box; 
		box-sizing:border-box;
	}

	.accordion {
		overflow:hidden;
		border-radius:3px;
		background:#fff;
	}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding-top:15px;
	padding-left: 0px;
	padding-bottom: 10px;
	display:inline-block;
	border-bottom:2px solid #dedddd;
	background:#fff;
	transition:all linear 0.15s;
	/* Type */
	font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
	font-size:18px;
	color:#000;
}

.accordion-section-title.active, .accordion-section-title:hover {
	/* Type */
	color: #000;
	text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:5px;
	display:none;
}

.acordeon {
  width: 100%!important;
  margin: 0 0;
  max-width: 960px;
  position: relative;
}

.image-edit-foto{
	width: 40px !important;
	height: 30px !important;
	margin-right: auto !important;
	margin-left: auto !important;
	border: 0px !important;
}

.content-img{
	height: 190px !important;
}

div.profile-img{
	display: none;
	position: relative;
	top: -190px;
	margin-right: auto;
	margin-left: auto;
	width: 170px;
	height: 170px;
}

div.profile-img:hover{
	display: block;
}

div.profile-img form{
	position: absolute;
	top: 0px;
}
.input-file-profile{
	width: 170px;
	height: 170px;
	background: transparent !important;
	margin-right: auto !important;
	margin-left: auto !important;
	/*background: #0CF left top no-repeat !important;*/
	/*background: url(assets/images/detail/hover_foto.png) left top no-repeat !important;*/
	padding-left: 170px;
	vertical-align: middle;
	border-radius: 100px;
}

.btn-text{
	color: #fff !important;
	width: 140px !important;
	display: block !important;
	margin-right: auto !important;
	margin-left: auto !important;
	padding-right: 3px !important;
	padding-left: 3px !important;
	padding-top: 15px !important;
	font-size: 12px !important;
	border: 0px !important;
	font-family: 'opensans', sans-serif;
}
.btn-text:hover{
	background: none !important;
}

.content-visible-img{
	display: block !important;
}
input[type=file]:focus{
	outline: none !important;
	outline-offset: 0 !important;
}
.mobile-menu-data{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #000;
	text-align: left;	
	padding: 25px 0px 25px 0px;
}
.no-padding{
	padding: 0px;	
}
.row-input-mb{
	margin-top:15px;
	font-family: 'Open Sans';
	font-size: 14px;	
}
.input-mb{
	width: 100% !important;
}
.input-mb:hover{
	width: 100% !important;
}
.row-input-mb p{
	color: #354f5e ;
}
.row-menu-data{
	cursor:pointer;
	border-bottom: 1px solid #dedddd;
}
.error-profile{
	color: #cc4242 !important;
}
.mb-profile{
	display:none;
}

.pointer {
	cursor: pointer;
}

@media screen and (max-width: 767px){
	.desk-profile{
		display:none;
	}
	.mb-profile{
		display:block;
	}
	.content-img{
		height: 115px !important;
	}	
	#profile-img{
		display: block;
	}
	div.profile-img{
		top: -103px;
		width: 120px;
		height: 120px;		
		display: block;
	}
	div.profile-img form #submit-file{
		width: 123px !important;
	}
	.profile-info-row{
		min-height: 200px;
		height: 200px;
	}
	.input-file-profile{
		width: 120px;
		height: 120px;
		padding-left: 120px;
	}
	.profile-info-row > .col-xs-12.col-sm-12.col-md-12.col-lg-12.no-padding:nth-child(1){
		height: 110px;
	}
	#perfil-general{
		display: none;
	}
	#nuevo-acordeon{
		display: block;
	}
	.no-margin-label{
		display: block;
	}
	.no-margin-label .campo-mobile{
		width: 100%;
	}
	.no-margin-label .descripcion-responsive{
		width: 100%;
	}
	textarea:focus{
		border: 1px !important;
		border-color: #3db29c !important;
		border: 1px solid #3db29c !important;
	}
}