/**
 * Relationship main style
 */

@import 'helper';

.main-content {
	min-height: 480px;
}

// Pagina de relaciones
.relationship-wrapper {
	margin: 0 auto;
	margin-top: 15px;
	max-width: 1280px;
}

// Contenedor principal
h1 {
	font-family: $font-opsans-regular;
	font-weight: 400;
	font-size: 24px;
	padding-top: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	border-bottom: 2px solid;
}

// Controlador de tabulacion
.row.tabs {
	margin-bottom:15px; 
	margin-top:10px;
	.tabs-wrapper {
		
		margin-bottom:15px;
		.tab {
			border: 1px solid $color-grey;
			float: left;
			font-family: $font-opsans-regular;
			font-size: 24px;
			text-align: center;
			padding: 5px;
			
		}
		.tab.active {
			background-color: $color-blue;
			color: white;
		}
		.tab:first-child {
			/*-webkit-border-top-left-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;*/
		}
		.tab:last-child {
			/*-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-moz-border-radius-topright: 10px;
			-moz-border-radius-bottomright: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;*/
			border-left: 0 solid transparent;
		}
	}
}

.indicador1 {
	color: $color-new-grey;
	margin-top: 20px;
	margin-bottom: 30px;
}

.abc {
	letter-spacing: 2px;
	float: left;
	cursor: default;
	a {
		color: $color-new-grey;
		&:hover {
			color: $color-green;
		}
	}
}

/* Buscar */
.buscar {
	width: 100% !important;
	padding: 0px 15px 0px;
}

.buscador {
	width: 90%;
	height: 46px;
	font-family: $font-opsans-regular !important;
	border-radius: 3px !important;
	border-color: $color-blue !important;
	float: left;
	display: block;
}

.lupa {
	background-color: #fff !important;
	border: none !important;
	float: right;
	margin-top: 6px;
}

/* Tarjetas de usuarios */
.profile-user-card {
	margin-bottom: 15px;
	.row {
		border: 1px solid $color-grey;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 99%;
		.profile-user-body {
			padding-left: 25px;
			.profile-user-fullname {
				color: $color-blue;
				font-family: $font-opsans-regular;
				font-size: 14px;
				a {
					color: $color-blue;
					font-family: $font-opsans-regular;
					font-size: 16px;
					&:active, &:hover {
						text-decoration: none;
					}
				}
			}
			.profile-user-more-data {
				color: $color-grey;
				font-family: $font-opsans-regular;
				font-size: 14px;
				a {
					color: $color-dark-grey;
					&:active, &:hover {
						text-decoration: none;
					}
				}
			}
			.profile-user-actions {
				margin-top: 25px;
				a {
					color: $color-blue;
					font-family: $font-opsans-regular;
					font-size: 14px;
					&:active, &:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

/* Widgets de laterales */
.widget {
	&:not(:last-child) {
		margin-bottom: 16*1.5px;
	}
	.widget-body {
		font-family: $font-opsans-regular;
		font-size: 16px;
		font-weight: 100;
	}
}

/* Widget de encontrar usuarios */
@import 'relationship-follow';

.input-amigos {
	width: 100%;
	height: 32px;
	border: $color-grey;
	font-family: $font-opsans-light;
	font-weight: 300;
	display: block;
}

.buscador-anadir {
	background-color: white;
	border: 1px solid $color-new-grey;
	display: none;
	max-height: 250px;
	overflow: auto;
	position: absolute;
	top: 38%;
	width: 100%;
	z-index: 10;
	a {
		font-family: $font-opsans-regular;
		font-weight: 400;
		font-size: 16px;
		color: $color-blue;
	}
	&.show {
		display: block;
	}
	.no-results {
		color: $color-dark-grey;
		text-align: center;
		min-height: 40px;
		p {
			margin: 0;
			padding: 0;
			line-height: 40px;
		}
	}
	@media screen and (max-width: 991px) {
		max-height: 190px;
	}
	@media screen and (max-width: 480px) {
	    top: 43%;
	}
}

.search-user-result {
	border-bottom: 1px solid $color-grey;
	min-height: 75px;
}

.tarjeta-anadir {
	padding: 10px;
	.foto-usuario-sm,
	.tarjeta-name {
		float: left;
		padding-top: 10px;
	}
	.tarjeta-name {
		width: 65%;
		a {
			@media screen and (max-width: 480px) {
				font-size: 12px;
			}
		}
		@media screen and (max-width: 480px) {
			width: 175px; 
		}
	}
	.foto-usuario-sm {
		padding: 10px 10px 10px 0;
	}
	.tarjeta-add {
		float: right;
		padding-top: 10px;
		.btn-anadir {
			@media screen and (max-width: 480px) {
				margin-bottom: 10px;
			}
		}
		@media screen and (max-width: 480px) {
			padding-top: 0px;
		}
	}
}

.tarjeta-aceptar {

}

.btn-solicitud {
	border: 1px solid $color-blue;
	border-radius: 15px;
	width: 90px;
	height: 30px;
	font-family: $font-opsans-regular;
	font-size: 12px;
	font-weight: 400;
	color: $color-blue;
	background: none;
	margin-bottom: 15px;
	margin-left: 10px;
	float: right;
	&:hover {
		background: $color-blue;
		color: #fff;
	}
	&[disabled],
	&[disabled]:active,
	&[disabled]:hover {
		background: $color-new-grey;
		color: #fff;
		border: 1px solid $color-new-grey;
		.btn-spinner {
			margin-left: 5px;
		}
		&.success {
			border: 0px;
			color: $color-dark-green;
			margin: 0px;
			background: white;
			.btn-spinner {
				margin-left: 0px;
			}
		}
	}
	&.disabled {
		background: $color-new-grey;
		color: #fff;
		border: 1px solid $color-new-grey;
		pointer-events: none;
		cursor: default; 
	}
	.btn-spinner {
		margin-left: 0px;
		position: relative;
	}
}

.btn-reject {
	color: $color-red;
	border: 1px solid $color-red;
	&:hover {
		background: $color-red;
		color: #fff;
	}
	&[disabled],
	&[disabled]:active,
	&[disabled]:hover {
		background: $color-new-grey;
		color: #fff;
		border: 1px solid $color-new-grey;
		.btn-spinner {
			margin-left: 5px;
		}
		&.success {
			border: 0px;
			color: $color-dark-green;
			margin: 0px;
			background: white;
			.btn-spinner {
				margin-left: 0px;
			}
		}
	}
	&.disabled {
		background: $color-new-grey;
		color: #fff;
		border: 1px solid $color-new-grey;
		pointer-events: none;
		cursor: default; 
	}
	.btn-spinner {
		margin-left: 0px;
		position: relative;
	}
}

/* Widget para invitar a mis amigos */
.invite-friends-widget {
	.invite-friends-row {
		margin-bottom: 10px;
		.lm-btn-blue {
			width: 150px;
		}
	}
}

/**
 * Dialogos para invitar a los demas usuarios
 */

.friends_input,
.contacts_input {
	display: inline-block;
}

#import-contacts-gmail-modal {
	.modal-dialog {
		min-width: 700px;
	}
	#auth-invite-gmail-table {
		font-size: 12px;
	}
}

#import-contacts-ms-modal {
	.modal-dialog {
		min-width: 700px;
	}
	#auth-invite-ms-table {
		font-size: 12px;
	}
}

#lm-invite-wrapper {
	margin-bottom: 20px;
	li {
		margin-bottom: 10px;
	}
}

.dataTables_length,
.dataTables_info,
.dataTables_filter, 
.dataTables_paginate,
.modal-body {
	font-size: 12px;
	font-weight: normal !important;
	label {
		font-size: 12px;
		font-weight: normal !important;
	}
	input {
		display: inline-block;
		border: 1px solid $color-blue;
		border-radius: 4px;
	}
	select {
		background-image: url('../images/backend/bullet_arrow_down.png');
		background-position: 96% center;
		background-repeat: no-repeat;
		width: 40px;
		padding-left: 5px;
	}
}

.contacts-selected {
	font-size: 12px;
	font-weight: normal !important;
}

#invite-email { 
	.modal-body {
		font-size: 12px;
		font-weight: normal !important;
		input.email-list {
			width: 100%;
			border-radius: 2px;
		}
	}
}