html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent; 
	list-style: none;

	}
	body{
		line-height:1
		}
		ol,ul{
			list-style:none;
			}
			blockquote,q{
				quotes:none;
				}
				blockquote:before,blockquote:after,q:before,q:after{
					content:'';content:none;
					}
					:focus{
						outline:0;
						}ins{
							text-decoration:none;
							}
							del{
								text-decoration:line-through;
								}
								table{
									border-collapse:collapse;
									border-spacing:0;
									}
									.clearfix{
										clear:both;

										}
										
/* Clear */
.clear:after {
		content:"";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
		
}

.clear {display:inline-block;
}

.clear {display:block;
}

* html .clear {height:1px;}

a {
	text-decoration:none;
}




select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background: none;
	cursor:pointer;
	color: #ababab;
    font-family: EuroStile, Arial;
	font-size: 12px;
}

body {

	 overflow-x:hidden;
	 -webkit-font-smoothing: antialiased;
	 -moz-font-smoothing: antialiased;
	 -ms-font-smoothing: antialiased;
	 -o-font-smoothing: antialiased;
	 font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}										
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
}
textarea {
	border-radius:0;
	resize:none;
	
}
input[type="button"] {
}
input[type="submit"], input[type="button"]  {
	cursor:pointer;
	border:none;
	-webkit-appearance:none;
	border-radius:0;	
}

figure {
	margin:0;
	padding:0;
	
}