.book-container-list {
  padding: 0; }

.mi-library {
  margin-top: 20px; }

img.mini-list-book {
  width: 100%;
  height: 162px;
  }

/*media query*/

@media screen and (max-width: 991px) {
  .book-container-list {
    float:left;
  }
}


@media screen and (max-width: 991px) {
  img.mini-list-book {
    height: 195px;
  }
}
@media screen and (max-width: 880px) {
  img.mini-list-book {
    height: 180px;
  }
}
@media screen and (max-width: 826px) {
  img.mini-list-book {
    height: 175px;
  }
}
@media screen and (max-width: 767px) {
  img.mini-list-book {
    height: 145px;
  }
}
@media screen and (max-width: 710px) {
  img.mini-list-book {
    height: 130px;
  }
}
@media screen and (max-width: 599px) {
  img.mini-list-book {
    height: 110px;
  }
}
@media screen and (max-width: 550px) {
  img.mini-list-book {
    height: 100px;
  }
}
@media screen and (max-width: 479px) {
  img.mini-list-book {
    height: 150px;
  }
}
@media screen and (max-width: 423px) {
  img.mini-list-book {
    height: 135px;
  }
}

  img.mini-list-book:hover {
    cursor: pointer; }

.no-margin-right {
  margin-right: 0 !important; }

.no-padding {
  padding: 0; }

.list-info-container {
  margin-bottom: 40px; }

.delete-list {
  float: right;
  margin-top: 7px; }
  .delete-list:hover {
    cursor: pointer; }

.section-list-title {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px; }
  .section-list-title a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000; }
    .section-list-title a:hover {
      cursor: pointer; }

.section-see-list {
  padding: 15px 0px 15px 0px;
  text-align: right; }
  .section-see-list a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    margin: 0; }
    .section-see-list a:hover {
      cursor: pointer; }

.classic-list {
  border-bottom: 2px solid #3db29c; }
  .classic-list a {
    color: #3db29c; }

.dynamic-list {
  border-bottom: 2px solid #f27e30; }
  .dynamic-list a {
    color: #f27e30; }

.genius-list {
  border-bottom: 2px solid #354f5e; }
  .genius-list a {
    color: #354f5e; }


.item-list-wrp {
  position: relative;
  float: left;
  width: 14.28%;
  padding-left: 5px;
  padding-right: 5px;
}
.fix-5px-sides {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.is_new_book{
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: #359685;
  color: #fff;
  font-family: 'montserrat';
  padding: 5px;
}



@media screen and (max-width: 480px) {
  .remove-mobile {
    display: none;
  }
  .item-list-wrp {
    width: 25%;
  }
  p.new-books-lbl {
    display: block;
  }
}
/*css updated*/

