// Montserrat font
$font-montserrat: 'Montserrat';
// Open sans font
$font-opsans-regular: 'Open Sans';
$font-opsans-light: 'Open Sans';
$font-opsans-semibold: 'Open Sans';

// Color palette
$color-dark-red: #cc4242;
$color-red: #f32f3a;
$color-dark-yellow: #d8b645;
$color-yellow: #efc84e;
$color-dark-orange: #ef6c15;
$color-orange: #f27e30;
$color-dark-green: #359685;
$color-green: #3db29c;
$color-dark-blue: #233b48;
$color-blue: #354f5e;
$color-grey: #dedddd;
$color-light-grey: #f4f4f4;
$color-dark-grey: #989898;
$color-op-grey: #ba0404;
$color-black: #000000;
$color-white: #ffffff;
$color-alt-light-grey: #a0a0a0;

// Color palette (new colors not stablished on styleguide)
$color-new-grey: #898989;
$color-grey-divider: #ddd;
$color-new-yellow: #FD4;

.sidebar {
  margin-top: 24px;
  .sidebar-header,
  .sidebar-header h2 {
    color: black;
    font-family: $font-opsans-regular;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .sidebar-header {
    padding-bottom: 12px;
    border-bottom: 2px solid $color-green;
  }
  .sidebar-header-green {
    border-bottom-color: $color-green;
  }
  .sidebar-header-red {
    border-bottom-color: $color-red;
  }
  .sidebar-header-yellow {
    border-bottom-color: $color-yellow;
  }
  .sidebar-header-blue {
    border-bottom-color: $color-blue;
  }
}

.trivia-action
{
  padding-left: 20px;
  padding-top: 0px!important;
}

.sidebar-trivia {
  &:first-child {
    margin-top: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  .sidebar-trivia-header {
    background-size: cover;
    text-align: center;
    .trivia-book {
      width: 175px;
      height: 270px;
    }
  }
  .sidebar-trivia-body {
    padding-top: 20px;
    .trivia-title {
      font-family: $font-opsans-regular;
      font-size: 20px;
    }
    .trivia-data-action-wrapper {
      color: $color-dark-grey;
      font-family: $font-opsans-regular;
      font-size: 14px;
    }
    .trivia-data {
      float: left;
    }
    .trivia-action {
      float: right;
      padding-top: 20px;
    }
    .lm-btn {
      background-color: $color-white;
      border: 1px solid $color-green;
      border-radius: 15px;
      color: $color-green;
      height: 30px;
      font-family: $font-opsans-regular;
      font-size: 16px;
      min-width: 175px;
      text-decoration: none;
      padding: 5px 15px;
      .fa {
        color: $color-green;
      }
      &:hover {
        .fa {
          color: $color-white;
        }
        background-color: $color-green !important;
        color: $color-white;
        text-decoration: none;
      }
    }
  }
}

/*
.sidebar-trivia {
  &:first-child {
    margin-top: 15px;
  }
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  div {
    float: left;
  }
  .sidebar-trivia-book {
    width: 100px;
    .book {
      width: 100px;
      height: 153px;
    }
  }
  .sidebar-trivia-data {
    height: 153px;
    margin-left: 10px;
    position: relative;
    width: 263px;
    h3 {
      font-size: 24px;
      margin: 0;
      padding: 0;
      a {
        color: black;
        &:hover {
          color: black;
        }
      }
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .lm-btn {
    background-color: $color-white;
    border: 1px solid $color-green;
    border-radius: 15px;
    bottom: 0;
    color: $color-green;
    height: 30px;
    font-family: $font-opsans-regular;
    font-size: 16px;
    min-width: 100px;
    text-decoration: none;
    padding: 5px 15px;
    position: absolute;
    right: 0;
    .fa {
      color: $color-green;
    }
    &:hover {
      .fa {
        color: $color-white;
      }
      background-color: $color-green;
      color: $color-white;
      text-decoration: none;
    }
  }
}*/