.static-wraper {
    max-width: 842px;
    margin: 0 auto 60px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    border-bottom: 2px solid #cc4242;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-family: 'montserrat',serif;
    font-weight: 400;
    font-size: 22px;    
} 

.static-body p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    text-align: justify;
    font-size: 16px;
}

h3 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 50px;
}

h4 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 22px;
}

h5 {
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    font-size: 18px;  
}

.txt {
    margin-left: 20px; 
    margin-right: 20px; 
    font-size: 13px !important;"
}

.static-body ul li {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 14px;
    list-style: initial !important;
    margin-left: 30px;
    float: none;
    text-align: justify;
}