/**
*
*  Para poder compilar este archivo es necesario Sass CSS Importer Plugin
* 
*     https://github.com/chriseppstein/sass-css-importer
*     sass -r sass-css-importer styles_l.scss styles_l.css
*     sass -r sass-css-importer -t compressed styles_l.scss styles_l.css
*
*     (sass -r sass-css-importer --watch sass_dir:css_dir)
* 
*/

.header-form {
	background: rgba(61, 178, 156, 1);
	text-align: center;
	color: #FFF;

	h2, h3 {
		border-bottom: 0px;
		color: white;
		font-family: 'Open Sans', sans-serif !important;
		font-size: 30px;
		padding: 10px 0px;
	}

	p {
		font-family: 'opensans', sans-serif;
	}

	.form-group {
		p {
			color: #fff;
			font-family: 'opensans', sans-serif !important;
		}
	}

	.btn-fb {
		margin: 15px 0;
		background: #44619d;
		border-color:  #44619d !important;
		color: #fff !important;
	}

	.btn {
		font-family: 'Open Sans' !important;
	}
}

.btn:focus{
	outline: none !important;
	outline-offset: 0 !important;
}
.margen-input-principal,
.margen-input{
	.text-danger{
		margin-bottom: 0px !important;
		margin-top: 5px !important;
		font-family: 'opensans', sans-serif !important !important;
	}	
}

#form-registro,
.view-recover,
.view-login {
	input:focus{
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
		-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
		-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

		box-shadow:0 !important;
	}
	.btn{
		font-family: 'Open Sans' !important;
	}
	.header-form {
		background: rgba(53, 150, 133, 1);
		h2, h3 {
			border-bottom: 0px;
			color: white;
			font-family: 'Open Sans', sans-serif !important;
			font-size: 30px;
			padding: 10px 0px;
		}
	}
	label{
		font-family: 'Open Sans' !important;
	}
	span{
		font-family: 'Open Sans' !important;
		a{
			font-family: 'Open Sans' !important;
		}
	}
}
.right.btn-closed_welcome{
	float: right !important;
}
#inscripcion{
	.checkboxw{
		.text-gray{
			font-weight: 300;
			a{
				color: #979797;
				font-weight: 600;
				font-size: 16px;
			}
		}		
	}
	.form-group{
		fieldset.row{
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	label{
		font-family: 'Open Sans' !important;
	}
	span{
		font-family: 'Open Sans' !important;
		a{
			font-family: 'Open Sans' !important;
		}
	}

	input[type=text],
	input[type=email],
	input[type=password] {
		border-color: #dedddd !important;
	}

	input[type=text]:focus,
	input[type=email]:focus,
	input[type=password]:focus{
		border-color: #3db29c !important;
	}
}

.remember-me {
	font-family: 'Open Sans' !important;
	margin-bottom: 1em !important;
	input {
		display: inline-block !important;
	}
}

.inputs-error{
	border: 1px solid #d77676;
	border-color: #d77676 !important;
}

.bg-color-blue:hover{
	background: #354f5e;
	color: #fff !important;
}

input[type="submit"], 
.btn{
	transition: all 0s ease 0s !important;
	-webkit-transition: 0s !important;
	-moz-transition: 0s !important;
	-o-transition: 0s !important;
	transition: 0s !important;
}

#form-registro{
	label.span-css{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select:none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
 
 	input[type="checkbox"]{
 		display: none;
 	}

	input[type="checkbox"] + label.span-css{
		background: url(../images/check_box.svg) left top no-repeat;
	    display: block !important;
	    vertical-align: middle;
	    margin: -1px 4px 0 0;
	    padding-left: 20px;
	    cursor:pointer;
	    height: 18px;
	}
	.btn-rounded-green#save_user{
		border-radius: 50px !important;

	}
}


.text-green{
	color: rgb(61, 178, 156);
}
.text-green:hover{
	color: rgb(61, 178, 156);
}
#error_email.text-danger,
#error_password.text-danger,
label.text-danger{
		color: #cc4242;
		font-weight: 300 !important;
		font-family: 'opensans', sans-serif !important;
	}


.inner-block.home-signup{
	padding-bottom: 1px;
	.dos{
		width: 55%;
		margin-right: auto;
		margin-left: auto;
	}
	.block_1{
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}

.btn-con-cuenta {
	border: 1px solid #fff !important;
	color: #fff !important;
	float: right;
	margin: 25px 0 10px 0;
	&:hover {
		background: #233b48 !important;
		border-color: #233b48 !important;
	}
}

.btn-rounded-green{
	border-color:#3cb19c !important;
	color: #3cb19c !important;
	width: 20%;
	margin-right: 40%;
	margin-left: 40%;
	float: none;
	margin-bottom: 10px !important;
}
.btn-rounded-green:hover{
	background:#3cb19c !important;
	color: #fff !important;	
	img{
		color: #000 !important;
	}
}

.btn-visible{
	display: none !important;
	margin-right: auto !important;
	margin-left: auto !important;
	float: none;
	width: 20%;
}

#save_user{
	float: none;
	width: 20%;
	margin-right: auto;
	margin-left: auto;
}
#save_user:hover{
	color: #fff !important;
	border-color: #3cb19c !important;
	background:#3cb19c !important;
}
#bienvenidos{
	#save_user:hover{
		color: #fff !important;
		background: #354f5e !important;
		border-color: #354f5e !important;
	}	
}
.block_1 h2{
	margin-right: auto !important;
	margin-left: auto !important;
}

.btn-rounded{
	border-radius: 30px !important;
}
.inscripcion{
	.header-form{
		.row-img-bienbenidos{

			p{
				font-weight: 300;
				span{
					font-weight: 500;
				}
			}
		}
	}
}
.view-recover,
.view-login{
	.dos{
		.inscripcion{
			.header-form{
				h3{
					padding-top: 10px;
				}
				h3,
				p{
					color: #fff !important;
				}
				
			}
		}
		#inscripcion{
			#login{
				width: 30%;
				margin-right: auto;
				margin-left: auto;
			}
			#login:hover{
				background:#3cb19c;
				color: #fff !important;	
			}

			#recover_button{
				width: 30%;
				margin-right: auto;
				margin-left: auto;
			}

			#recover_button:hover{
				background:#3cb19c;
				color: #fff !important;		
			}

		}		
	}
}
.view-recover{
	.dos{
		.inscripcion{
			.header-form{
				h3{
					padding-top: 40px;
				}
				p{
					padding-top: 20px;
					padding-bottom: 30px;
				}
			}
		}
	}
}

.view-login .inscripcion .header-form .row-img p,
.view-recover .inscripcion .header-form .row-img p{
	color: #000 !important;
	font-family: 'Open Sans' !important;
}

.view-login form#inscripcion,
.view-recover form#inscripcion{
	padding-top: 80px;
}

form#inscripcion{
	background: #fff;
	padding-top: 60px;
	padding-bottom: 20px;

	.col.col-xs-12.col-sm-12.col-lg-8.form-group{
		margin-right: auto;
		margin-left: auto;
		float: none;
		label{
			display: block;
			input.required{
				width: 100%;
			}
		}
	}
	ol.checkboxw{
		margin-right: auto;
		margin-left: auto;
		float: none;
		border-top: 0px;
		border-bottom: 0px;
	}

	.text-light{
		label{
			font-weight: 300;	
		}
		
	}
}

.row-img{
	height: 50px;
	.position-conten{
		position: relative;
		width: 100%;
		height: 100px;
	}
	.content-imagen{
		width: 100px;
		height: 100px;
		border-radius: 100px;
		background: #233b48;
		margin-right: auto;
		margin-left: auto;
	}
	.circle-img{
		width: 50px;
		height: 50px;
		margin-right: auto;
		margin-left: auto;
		margin-top: 25px;
	}
	p{
		color: #000;
		text-align: center;
		font-family: 'Open Sans' !important;
	}
}

#bienvenidos{
	/*display: none;*/
	padding-top: 100px;
	padding-bottom: 80px;
	
	hgroup{
		padding-top: 10px;
		h2{
			color: #264f66;
			font-family: 'Open Sans' !important;
		}
		h3{
			color: #045345;
			font-weight: 300;
			font-family: 'Open Sans' !important;
		}
	}
	.row-img-bienbenidos.form-group{
		
		margin-right: 30px;
		margin-left: 30px;
		margin-bottom: 0px;

		p{
			padding-right: 10px;
			padding-left: 10px;
			margin-top: 20px;
			padding-bottom: 20px;
			margin-bottom: 0px;
			font-size: 20px;
			font-weight: 300;
			line-height: 24px;
			font-family: 'opensans', sans-serif;
			span{
				font-weight: 500;
				font-family: 'opensans', sans-serif;
			}
		}
	}
	form#inscripcion{
		p{
			font-size: 20px;
			font-style: normal;
			font-family: 'opensans', sans-serif;
			span{
				font-weight: 500;
				color: #264f66;
				font-family: 'opensans', sans-serif;
			}
		}
		.group-btns{
			padding-bottom: 20px;
			.btn{
				width: 35%;
				display: inline-block;
				margin-right: 0;
				margin-left: 0;
			}
			a{
				float: right;
			}
			input{
				float: left;
			}
		}
	}
}
.text-gray{
	color: #979797;
	font-weight: 300;
}

#inscripcion #error_name.text-danger,
#inscripcion #error_password_count.text-danger,
#inscripcion #error_passw_coincidencia.text-danger,
#inscripcion #error_check.text-danger,
#inscripcion #error_email_formato.text-danger{
	font-family: 'opensans', sans-serif !important;
}
.ajax-loader-login{
	display: none;
	background-color: rgba(36, 60, 73, 0.9);
	position: fixed;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	text-align: center;
	padding-top: 100px;
}
@media screen and (min-width: 1200px) and (max-width: 1490px) {
	#inscripcion{
		ol.checkboxw{
			li.text-gray{
				padding-bottom: 15px;
			}		
		}
	}

}
@media screen and (min-width: 600px) and (max-width: 1280px){
	.block_1.type_A{
		padding-right: 20px;
		padding-left: 20px;
	}

	.header-form{
		padding-right: 10px;
		padding-left: 10px;
		
		p{
			text-align: center !important;	
		}
	}
	#inscripcion{
		ol.checkboxw{
			li.text-gray{
				label {
					height: auto;
				}
			}		
		}
	}
}

@media screen and (min-width: 751px) and (max-width: 1024px){
	.inner-block.home-signup.view-login{
		display: block !important;
		.dos{
			width: 100% !important;
		}
	}

	#inscripcion{
		.form-group{
			fieldset.row{
				margin-right: 0;
				margin-left: 0;
			}
		}
		.checkboxw{
			padding-left: 15px;
			padding-right: 15px;
			
			width: 65%;
		}
		#save_user,
		#recover_button,
		#login{
			width: 50% !important;
		}

	}

}
@media screen and (min-width: 768px) and (max-width: 1024px){
	#form-registro{
		.row.block_1{
			padding-bottom: 15px;
		}
	}
	#bienvenidos{
		.inscripcion.form-group{
			.header-form{
				.row:nth-child(1){
					float: right;
					.right.btn-closed_welcome{
						float: right;
					}
				}
			}
		}
		.group-btns.welcome-btns{
			#btn-ver-img{
				width: 45% !important;	
			}
		}
		#save_user.btn.btn-rounded.right.btn-cansel-wcm{
			padding: 6px 12px;
			width: 45% !important;
		}
	}

	form#inscripcion ol.checkboxw{
		width: 100% !important;
		li:nth-child(2){
			#error_check{
				margin-top: 25px;
			}
		}
	}
}
@media screen and (max-width: 750px) and (orientation: landscape){
	.inner-block.home-signup.wcm-cont{
		padding-bottom: 0px;
		.inscripcion.form-group{
			margin-bottom: 0px;
		}
	}
	#bienvenidos{
		.group-btns.welcome-btns{
			#btn-ver-img{
				width: 45% !important;	
			}
		}
		#save_user.btn.btn-rounded.right.btn-cansel-wcm{
			padding: 6px 12px;
			width: 45% !important;
			clear: none;
		}
	}
	
}
@media screen and (min-height: 360px) and (max-width: 640px){
	form#inscripcion ol.checkboxw{
		li:nth-child(2){
			
			#error_check{
				margin-top: 25px !important;
			}
		}
	}
	#bienvenidos{
		.group-btns.welcome-btns{
			#btn-ver-img{
				width: 45% !important;	
			}
		}
		#save_user.btn.btn-rounded.right.btn-cansel-wcm{
			padding: 6px 12px;
			width: 45% !important;
		}
	}
	#inscripcion{
		ol.checkboxw{
			li.text-gray{
				
				label {
					height: auto;
				}
			}		
		}
	}
}
@media screen and (min-height: 360px) and (max-width: 640px) and (orientation: landscape){
	#bienvenidos{
		.group-btns.welcome-btns{
			#btn-ver-img{
				width: 45% !important;	
			}
		}
		#save_user.btn.btn-rounded.right.btn-cansel-wcm{
			padding: 6px 12px;
			width: 45% !important;
		}
	}
}
@media screen and (min-height: 360px) and (max-width: 640px) and (orientation: portrait){
	#bienvenidos{
		.group-btns.welcome-btns{
			#btn-ver-img{
				width: 90% !important;	
			}
		}
		#save_user.btn.btn-rounded.right.btn-cansel-wcm{
			padding: 6px 12px;
			width: 90% !important;
		}
	}
}

@media screen and (max-width: 750px){
	.inner-block.home-signup,
	.inner-block.home-signup.view-recover,
	.inner-block.home-signup.view-login{
		display: block !important;
		.dos{
			width: 100% !important;
			.btn-con-cuenta{
				width: 175px;
			}
		}
	}
	.block_1.type_A{
		.header-form{
			p{
				text-align: center !important;
			}
		}
	}
	.btn.btn-fb{
		width: 70%;
	}
	#inscripcion{
		.form-group{
			fieldset.row{
				margin-right: 0;
				margin-left: 0;
			}
		}
		.checkboxw{
			padding-left: 15px;
			padding-right: 15px;
		}
		#save_user,
		#recover_button,
		#login{
			width: 90% !important;
		}

	}
	#bienvenidos .inscripcion a.right.btn-closed_welcome{
		float: right !important;
	}
	#bienvenidos{
		padding-top: 0px;
		padding-bottom: 0px;
		#inscripcion{
			padding-bottom: 50px !important;
		}
	}
}


@media screen and (min-height: 481px ) and (max-width: 583px){
	.inner-block.home-signup{
		padding-bottom: 0px;
	}
	.dos{
		margin-bottom: 0px;
		.block_1.type_A{
			.header-form{
				h3{
					margin-top: 0px;
				}
				p{
					text-align: center !important;
				}
			}
		}
	}
	
	.row.block_1{
				display: none;
			}
	.btn-visible{
		display: block !important;
		width: 90%;
	}
	.inscripcion.form-group{
		margin-bottom: 0px !important;
	}


	#bienvenidos .inscripcion a.right.btn-closed_welcome{
		float: right !important;
	}

	#bienvenidos{
		padding-top: 0px;
		padding-bottom: 0px;
		#inscripcion{
			padding-bottom: 50px;
		}
	}
}

@media screen and (max-width: 480px){
	#bienvenidos .inscripcion a.right.btn-closed_welcome{
		float: right !important;
	}
	#bienvenidos{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.inner-block.home-signup{
		padding-bottom: 0px;
		display: block !important;
		.dos{
			width: 100% !important;
			margin-bottom: 0px;
			.inscripcion.form-group{
				margin-bottom: 0px;
			}
			.type_A p{
				text-align: center !important;
				padding: 0px 10px;
			}
			.row.block_1{
				display: none;
			}
			#inscripcion{
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
	#save_user{
		width: 90%;
	}

	#bienvenidos{
		hgroup{
			h3{
				font-size: 20px;
			}
		}
		.inscripcion{
			.row-img-bienbenidos{
				margin-right: 15px;
				margin-left: 15px;
			}
		}
		#inscripcion{
			.row{
				p{
					font-style: normal;
				}
			}
			.group-btns{
				.btn.btn-rounded{
					width: 90%;
					float: none;
					margin-right: 5%;
					margin-left: 5%;
					padding-bottom: 10px;
					padding-top: 10px;
					margin-bottom: 10px;
				}
			}
			.welcome-btns{
				padding-bottom: 0px !important;
				margin-bottom: 0px;
				#save_user.btn-cansel-wcm{
					margin-bottom: 0px;
				}
			}
		}
	}
	.btn-visible{
		display: block !important;
		width: 90%;
	}
	.view-recover,
	.view-login{
		.dos{
			.inscripcion{
				.header-form{
					text-align: center !important;
					h3 {
						margin-top: 0px;
					}
				}
			}
		}
		.btn.btn-rounded{
			float: none;
			margin-right: 5%;
			margin-left: 5%;
			width: 90%;
		}
	}

	#inscripcion{
		.row{
			margin-right: auto;
			margin-left: auto;
		}
	}
}

#wrapper > header > div.row.no-margin.desktop-menu > div > a {
	text-decoration: none;
	&:hover, &:active, &:focus, &:visited {
		text-decoration: none;
	}
}
