@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#search,
#wrapper,
.inner-block {
    position: relative
}

#search,
.iniciar_sesion,
.inner-block {
    display: block
}

#wrapper,
.image,
footer {
    overflow: hidden
}

body,
html {
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none
}
::-webkit-input-placeholder {
    color: #a5a4a4
}
::-moz-placeholder {
    color: #a5a4a4
}
:-ms-input-placeholder {
    color: #a5a4a4
}
:-moz-placeholder {
    color: #a5a4a4
}

h1,
h2,
h4 {
    color: #132032
}

h2 {
    font-size: 30px;
}

#wrapper {
    min-height: 100%;
    width: 100%
}
.inner-block {
    margin: 0 auto
}

.btn,
.image div,
a,
header .inner-block ul li a,
header ol li a,
input[type=submit],
input[type=button],
input[type=text],
input[type=email],
textarea {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    color: #626262;
    border: 1px solid #98a2a6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    border-radius: 0
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
    border: 1px solid #04ab81
}
h3 strong {
    font-weight: 600
}
.iniciar_sesion a,
h1,
h2,
h4 {
    font-weight: 400
}
h1 {
    text-transform: uppercase
}
h2 {
    line-height: 24px
}

#search {
    width: auto
}

#search input[type=submit] {
    right: 6px;
    top: 5px;
    height: 27px;
    width: 24px;
    position: absolute;
    z-index: 1;
    background: url(../images/search.png) left no-repeat;
    border: none;
    display: block;
    cursor: pointer
}

.image {
    cursor: pointer
}

.image div {
    background: rgba(252, 52, 48, .7);
    position: absolute;
    z-index: 1;
    display: block
}
.image div a {
    border: 1px solid #fff;
    display: block;
    color: #fff;
    font-weight: 400
}

ul li aside p {
    text-align: center;
    clear: left;
    width: 100%;
    display: block;
    white-space: normal!important;
    word-break: break-all
}

ul li aside p span {
    text-align: center;
    font-style: italic
}

.type_A h4.linea {
    border-bottom: solid 1px #32464d
}

.type_A h6 a {
    text-decoration: underline
}

footer {
    color: #fff;
    width: 100%;
    bottom: 0
}

.image div {
    position: absolute
}

.inscripcion form ul li>div,
.inscripcion form ul li>label {
    position: relative
}

.type_A p {
    font-weight: 400;
    color: #777;
    line-height: 20px
}

.type_A h4 {
    color: #32464d;
    font-weight: 600
}
.type_A h4.linea {
    padding: 0 0 10px
}
.type_A h5 {
    color: #777;
    font-weight: 600;
    padding-bottom: 10px
}

.type_A h6 {
    font-weight: 400;
    color: #777
}
.type_A h6 {
    font-style: italic;
    padding-top: 10px
}

.inscripcion form aside ol li,
.inscripcion form p {
    font-size: 16px
}

.inscripcion form {
    font-weight: 400
}

.inscripcion form>div {
    margin: 0 0 15px
}
.inscripcion form h4 {
    border-bottom: solid 1px #32464d
}
.inscripcion form p {
    color: #424345;
    font-style: italic;
    text-align: center
}
.inscripcion form ul>li {
    display: inline-block;
    width: 100%
}
.inscripcion form ul li>span {
    text-align: right;
    display: block;
    font-weight: 400
}
.inscripcion form ul li>label small {
    width: 100%;
    display: block;
    font-style: italic
}
.inscripcion form aside {
    background: #04ab80;
    color: #fff;
    font-weight: 300
}
.inscripcion form aside h4 {
    color: #fff;
    font-weight: 600;
    border: none
}
.inscripcion form aside h5 {
    color: #fff;
    font-weight: 400
}
.inscripcion form aside p {
    color: #fff
}
.inscripcion form aside span {
    background: #c0c4c5;
    width: 100%;
    display: block
}
.inscripcion form aside small {
    display: block;
    background: #fff
}
.inscripcion form aside ol li h5 {
    font-weight: 400
}
.check li {
    background: url(../images/check.png) left 3px no-repeat;
    cursor: pointer;
    width: auto
}
.check li.active {
    background: url(../images/check_active.png) left 3px no-repeat;
    background-size: 15px
}

.inscripcion form h6 {
    color: #333;
    text-align: right;
    display: block;
    font-weight: 400
}
.inscripcion form ul>li.contrasena {
    overflow: visible;
    position: relative
}

form fieldset {
    overflow: hidden
}

input[type=submit],
input[type=button] {
    color: #32464d;
    text-align: center;
    display: block;
    border: 1px solid #32464d;
    background: 0 0;
    font-family: 'Open Sans';
    font-weight: 400
}

.inscripcion form ul li.nums input[type=text],
.inscripcion form ul li.nums span {
    display: block
}

.btn,
.imagen aside {
    text-align: center
}
form fieldset {
    width: 100%;
    margin: 20px 0 0
}

.inscripcion form fieldset input[type=submit],
.inscripcion form fieldset input[type=button] {
    float: right;
    margin: 0 0 0 3%
}

.descripcion p {
    color: #777
}

.descripcion {
    font-weight: 400
}
.descripcion h2 {
    padding-right: 7%
}
.descripcion h5 {
    padding-bottom: 20px;
    font-style: italic
}


.share {
    background: url(../images/share.png) left top no-repeat;
    display: block
}
.share a {
    display: block
}

.left {
    display: block;
    color: #777
}
.right {
    display: block;
    color: #fd4c4b
}
.right span {
    display: block
}

.conseguir a {
    color: #30464c
}

.imagen aside,
.imagen aside p {
    color: #31464d
}

.imagen aside h5 {
    font-weight: 400;
    color: #31464d
}
.imagen aside h5 strong {
    font-weight: 800
}

.btn {
    color: #32464d!important;
    border: 1px solid #32464d!important;
    font-weight: 400!important
}

div.file {
    position: relative;
    overflow: hidden;
    width: 257px
}

.form .sidebox div.file>input.file {
    float: left;
    width: 145px;
    margin-right: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}
.checkboxw,
div.file>div.uploadify {
    float: right
}
div.file>div.preview {
    text-align: center;
    padding-top: 10px;
    clear: both
}
div.file>div.preview img {
    max-width: 100%
}
.uploadify-queue-item {
    font-size: 10px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-top: 36px;
    max-width: 350px
}
.uploadify-error {
    background-color: #f0f!important
}
.uploadify-queue-item .cancel a {
    background: url(../images/backend/uploadify-cancel.png) no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px
}
.uploadify-queue-item.completed {
    background-color: #0ff
}
.uploadify-progress {
    background: -moz-linear-gradient(top, #b3b3b3, #e6e6e6);
    background: -webkit-linear-gradient(top, #b3b3b3, #e6e6e6);
    background: -o-linear-gradient(top, #b3b3b3, #e6e6e6);
    background: -ms-linear-gradient(top, #b3b3b3, #e6e6e6);
    margin-top: 10px;
    height: 14px;
    width: auto;
    border: 1px solid #8c8c8c;
    border-radius: 4px
}
.uploadify-progress-bar {
    background: url(../images/backend/upload-progress.png);
    height: 14px;
    width: 1px
}
.log input {
    color: #a5a4a4;
    border: 1px solid #98a2a6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 5px 2%;
    width: 98%;
    margin: 0 0 13px
}

.datos_personales ol.checkboxw {
    width: 100%
}
.checkboxw {
    margin-bottom: 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 20px 0;
    border-color: #ebebeb
}
.news-block ul li article,
.news-block ul li figure,
.terms {
    float: left
}
.checkboxw li {
    width: 100%;
    height: auto;
    font-weight: 700
}
.terms a {
    width: 100%!important
}
.checkboxw li input {
    margin-right: 10px
}
.checkboxw li a {
    color: #25464c;
    font-weight: 700;
    font-size: 13px
}
#like-block .elastislide-wrapper nav span {
    display: none!important
}
.terms {
    padding: 10px 0;
    font-weight: 700;
    margin-bottom: 8px
}

.icon-device {
    width: 20px!important;
    height: 25px!important;
    position: absolute;
    right: 8px;
    top: 5px;
    z-index: 2
}
#dibujitos,
.contact-form,
.news-block,
.news-block ul,
.wrapp-list {
    height: auto
}
section {
    margin: 0 auto;
    width: 934px
}
section .error {
    margin-top: 1.2em;
    width: 100%
}
section .error article {
    margin-top: 2em;
    overflow: hidden;
    min-height: 330px
}
section .error article h3 {
    color: #fc3430;
    font-family: 'Open Sans';
    font-size: 1.5em
}
section .error article h4 {
    color: #33464c;
    font-family: 'Open Sans';
    font-size: 1.3em
}
section .error article input {
    background: url(../images/search.png) 97% center no-repeat;
    border: 1px solid #989898;
    border-radius: 25px;
    color: #b6b6b6;
    font-size: 1.3em;
    margin: 1em 0;
    padding: .5em 0 .5em 1em;
    width: 100%;
    font-style: italic
}
section .error article .opciones {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 1.5em;
    padding: 1em 0
}
section .error article .opciones a {
    color: #33464c;
    font-family: 'Open Sans';
    padding: 0 1em 0 0;
    text-decoration: none
}
section .error article .opciones .inicio:after {
    content: '|';
    padding: 0 0 0 1em
}
.center {
    text-align: center
}
@media screen and (max-width: 860px) {
    section {
        width: 90%
    }
    section .error {
        width: 100%;
        padding-bottom: 40px
    }
    section .error article img {
        width: 20%
    }
}
@media screen and (max-width: 768px) {
    .left,
    .right {
        float: none
    }
    section .error article img {
        width: 20%;
        margin-bottom: 20px
    }
    section .error article .center,
    section .error article form .searching {
        display: none
    }
}
@media screen and (max-width: 580px) {
    .left,
    .right {
        float: none
    }
    section .error article .opciones,
    section .error article form input {
        font-size: 12px
    }
}
/*
@font-face{font-family:playfair;src:url(../fonts/pfregular-webfont.eot);src:url(../fonts/pfregular-webfont.eot?#iefix) format('embedded-opentype'),
url(../fonts/pfregular-webfont.woff2) format('woff2'),
url(../fonts/pfregular-webfont.woff) format('woff'),
url(../fonts/pfregular-webfont.ttf) format('truetype'),
url(../fonts/pfregular-webfont.svg#playfair_displayregular) format('svg');
font-weight:400;
font-style:normal
}
 @font-face{font-family:FontAwesome;src:url(../fonts/fontawesome-webfont.eot?v=4.2.0);src:url(../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format('embedded-opentype'),
url(../fonts/fontawesome-webfont.woff?v=4.2.0) format('woff'),
url(../fonts/fontawesome-webfont.ttf?v=4.2.0) format('truetype'),
url(../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format('svg');
font-weight:400;
font-style:normal
} */
.contact-form input {
    width:100%
}
.contact-form textarea {
    resize:none;
    width:100%
}
.contact-form select {
    width:100%;
    padding:0 10px;
    font-weight:lighter
}
.contact-form button {
    cursor:pointer;
    clear:both;
    color:#32464d;
    text-align:center;
    display:block;
    border:1px solid #32464d;
    font-weight:300;
    background:0 0;
    margin:0;
    float:right;
    border-radius:30px
}


.actividad_amigos .comments,
.show-div {
    clear:both
}

.choices {
    padding-right:10px
}

.fa-caret-down:before {
    content:"\f0d7"
}
.fa-angle-left:before {
    content:"\f104"
}
.fa-angle-right:before {
    content:"\f105"
}
.fa-share-alt:before {
    content:"\f1e0"
}
.fa-group:before,
.fa-users:before {
    content:"\f0c0"
}

.ui-autocomplete {
    background:#fff;
    padding:10px;
    border:1px solid #ebebeb;
    border-radius:4px;
    margin-top:3px
}
.ui-autocomplete li {
    cursor:pointer
}

.mostrar_log_editor {
    text-decoration:underline;
    margin-left:0;
    padding-left:0!important;
    font-weight:500;
    font-size:14px
}
@font-face{font-family:Flaticon;src:url(../fonts/flaticon.eot);src:url(../fonts/flaticon.eot#iefix) format("embedded-opentype"),
url(../fonts/flaticon.woff) format("woff"),
url(../fonts/flaticon.ttf) format("truetype"),
url(../fonts/flaticon.svg) format("svg");
font-weight:400;
font-style:normal
}
[class*=" flaticon-"]:after,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class^=flaticon-]:before {
    font-family:Flaticon;
    font-style:normal
}
.flaticon-small59:before {
    content:"\e00f"
}
.flaticon-dollars31:before {
    content:"\e005"
}
.flaticon-drawing4:before {
    content:"\e006"
}
.flaticon-home86:before {
    content:"\e009"
}
.flaticon-book37:before {
    content:"\e001"
}
.captcha_text {
    color:#25464c;
    font-family:'Open Sans',
    serif;
    font-weight:300;
    font-style:italic;
    padding-left:5px
}
#cancel-close-session-button,
#close_session_button,
#confirm-close_session_button,
.filter-block h4 {
    font-family:'Open Sans',
    sans-serif!important
}
#dibujitos {
    width:100%;
    list-style:none
}
#dibujitos li {
    display:inline-block
}
#dibujitos li a,
.hide_module {
    display:block
}
#dibujitos li a.active {
    color:#04ab81
}
#dibujitos li:last-child {
    padding-right:0
}
.dos.active .block_1:last-child {
    border-bottom:0
}
.dos.active iframe {
    border:6px solid #a2b9c2;
    width:100%;
    height:330px
}
.dos.active .block_1 h2 {
    padding-bottom:10px;
    margin-bottom:20px;
    border-bottom:1px solid #000
}
.block_1 {
    position:relative
}
.block_1 h2 {
    width:100%;
    border-bottom:1px solid;
    padding-bottom:10px;
    padding-right:20%
}
.share-block {
    position:absolute;
    width:100%;
    line-height:31px!important;
    font-weight:400!important;
    text-align:right;
    padding-right:25px;
    margin-bottom:0!important;
    right:0;
    top:1px;
    font-size:13px!important
}
.actividad_amigos section,
.filter-block h4,
.fix-module,
.wysig div,
.wysig label {
    position:relative
}

.show-div a,
a#pdfviewer {
    text-decoration:underline
}

.open_article {
    cursor:pointer
}

#email_inv {
    width:94%
}
.cke_chrome {
    width:94%!important;
    margin-bottom:10px!important
}

.form-home a {
    display:none
}
.filter-block {
    float:left
}
.filter-block h4 {
    border-bottom:1px solid;
    border-color:#132032;
    padding-bottom:10px;
    margin-bottom:10px
}
.filter-block h4 i,
img.tooltip-club,
img.tooltip-club-sn {
    position:absolute;
    top:0
}
.filter-block h4 i {
    right:2%;
    font-size:15px;
    height:100%;
    line-height:23px
}
.filter-block ul {
    list-style:none;
    width:100%;
    height:auto
}
.filter-block ul li {
    border-bottom:1px solid;
    width:100%;
    border-color:#eee;
    text-align:left!important
}
.filter-block ul li a.active {
    color:#132032;
    text-decoration:underline
}
input[disabled]#email_ed {
    opacity:.3;
    background:#F1F1F1
}
#confirm-close_session_button {
    cursor:pointer;
    background:0 0;
    font-size:16px;
    min-width:172px;
    max-width:250px
}
#cancel-close-session-button,
#close_session_button {
    cursor:pointer;
    max-width:inherit;
    min-width:inherit;
    float:left
}
.inscripcion.crea_club {
    width:77%;
    margin:0 auto
}
img.tooltip-club {
    margin-top:3px;
    right:-6px;
    cursor:pointer
}
#confirm-close-session {
    margin-bottom:25px
}

#chosen-select1,
.show-div {
    font-size:16px;
    font-family:'Open Sans',
    sans-serif
}

.show-div {
    padding:5%;
    background:#F2F2F2;
    width:94%;
    float:left;
    color:#777!important;
    line-height:20px;
    font-weight:400;
    margin-top:10px
}
.show-div a {
    color:#777
}
a#pdfviewer {
    font-style:italic
}
a#pdfviewer:hover {
    color:#04ab81;
    text-decoration:none
}
#confirm-add-session .btn:hover {
    background:#33464C!important;
    color:#fff!important;
    cursor:pointer
}
#general_comment_email {
    display:none
}
.wysig input {
    width:94%!important
}
.wysig label {
    width:100%;
    display:block
}
#cancel-close-session-button,
#ok_close_club {
    width:45%!important;
    max-width:inherit;
    min-width:inherit;
    margin-right:2%!important;
    float:left
}
input[name=video_club] {
    width:94%!important
}

#chosen-select1 {
    color:#a5a4a4;
    font-weight:lighter
}
.add_comment,
.comment_txt {
    margin-bottom:15px
}

.botones_filtro {
    padding:20px 0;
    border-bottom:1px solid #777;
    margin-bottom:25px
}
.botones_filtro a {
    display:inline-block;
    padding:7px 13px 9px;
    border-radius:30px;
    margin:0 20px 0 0;
    border:1px solid silver;
    font-weight:400
}
.botones_filtro a:hover {
    color:#fff;
    background:#33464C;
    border:1px solid #33464C
}

.actividad_amigos div img {
    float:left;
    margin:2% 0 0 1%;
    width:66px;
    height:66px;
    border-radius:100em
}
.actividad_amigos .detalles {
    float:right;
    width:80%;
    font-weight:400;
    overflow:hidden
}
.actividad_amigos .detalles a {
    text-decoration:none
}
.actividad_amigos .detalles span {
    font-size:12px;
    text-transform:lowercase;
    margin:0 7px;
    font-weight:400
}
.actividad_amigos .detalles b {
    font-size:12px;
    font-weight:400;
    float:right
}
.actividad_amigos section {
    float:right;
    width:80%;
    overflow:hidden;
    background:#eceff1;
    padding:15px 2% 24px 20%;
    margin:10px 0 0
}

.actividad_amigos section figure {
    position:absolute;
    width:20%;
    height:auto;
    margin:0 3% 5% 0;
    border-radius:0;
    left:2%;
    top:3%
}
.actividad_amigos section figure img {
    width:90%;
    height:auto;
    border-radius:0
}
.actividad_amigos section p,
.actividad_amigos section span {
    font-size:16px;
    font-weight:400
}
.actividad_amigos section p.text {
    color:#777;
    margin:5px 0 15px
}
.actividad_amigos section p a {
    display:inline;
    padding:0;
    border:none;
    margin:0;
    color:#0aac82
}
.actividad_amigos section.active {
    min-height:inherit;
    padding:15px 2%
}
.actividad_amigos div img.icon-device {
    margin:0 4px 0 0;
    position:absolute
}
.actividad_amigos section span {
    font-style:italic;
    margin:5px 0 20px;
    display:block
}
.actividad_amigos section a {
    color:#32464d;
    text-align:center;
    display:inline-block;
    border:1px solid #32464d;
    background:10px center no-repeat;
    font-family:'Open Sans';
    font-weight:400;
    text-decoration:none;
    padding:4px 15px 6px;
    border-radius:100px;
    width:auto;
    margin:0 9px 10px 0;
    background-size:21px
}
.actividad_amigos section a.no_icon {
    padding:3px 9px 4px
}
.actividad_amigos section a.active {
    background-size:21px;
    background-repeat:no-repeat;
    background-position:10px center;
    background-color:#32464d;
    color:#fff
}
.actividad_amigos section a i {
    color:#32464d;
    margin:0 10px 0 0
}
.actividad_amigos section a.ver {
    background-image:url(../images/eye_icon.png)
}
.actividad_amigos section a.biblio {
    background-image:url(../images/book_icon.png)
}
.actividad_amigos section a.star {
    background-image:url(../images/star_icon.png)
}
.actividad_amigos section a.file {
    background-image:url(../images/file_icon.png)
}
.actividad_amigos .comments section a.comment-like-button,
.actividad_amigos .share_like a.activity-like-button {
    padding-left:0
}

.actividad_amigos .share_like {
    float:right;
    width:80%;
    margin:15px 0 2px;
    font-weight:400;
    font-size:14px
}
.actividad_amigos .share_like a {
    text-decoration:none;
    color:#222;
    display:inline-block;
    margin-right:20px;
    padding:2px 0 2px 25px;
    background-size:23px;
    background-repeat:no-repeat
}
.actividad_amigos .share_like a i {
    color:#222;
    margin:-2px 5px 0 0;
    font-size:18px
}
.actividad_amigos .share_like a.active,
.actividad_amigos .share_like a.active i {
    color:#0aac82
}
.actividad_amigos .share_like a.star {
    background-image:url(../images/star_icon.png)
}
.actividad_amigos .share_like a.star.active {
    background-image:url(../images/star_icon_active.png);
    background-color:transparent
}
.actividad_amigos .share_like a.compartir {
    background-image:url(../images/share_icon.png)
}
.actividad_amigos .share_like a.compartir.active {
    background-image:url(../images/share_icon_active.png)
}
.actividad_amigos .share_like a.insc {
    background-image:url(../images/login_icon.png)
}
.actividad_amigos .share_like a.insc:hover {
    background-image:url(../images/login_icon_active.png)
}
.actividad_amigos .share_like a.coment {
    background-image:url(../images/comment_icon.png);
    display:none
}
.actividad_amigos .share_like a.coment.active {
    background-image:url(../images/comment_icon_active.png)
}
.actividad_amigos .likes {
    word-spacing:2px;
    width:100%;
    clear:both;
    float:left;
    margin:3px 0 0;
    font-size:13px;
    font-style:italic;
    padding-left:3%
}
.actividad_amigos .title {
    display:block;
    padding:6px 3% 8px;
    border-top:1px solid #d6d6d6;
    border-bottom:1px solid #d6d6d6;
    width:105%;
    margin:15px 0 18px -3%
}
.actividad_amigos .title a {
    text-decoration:underline;
    color:#777
}
.actividad_amigos .comments section {
    float:none;
    width:98%;
    padding:10px 2% 10px 20%;
    margin:10px 0;
    background:0 0;
    min-height:inherit
}

.actividad_amigos .comments section img {
    margin:0 3% 0 0;
    width:14%;
    border-radius:100px;
    position:absolute;
    left:3%;
    height:75px
}
.actividad_amigos .comments section h5 {
    color:#0aac82;
    margin-bottom:8px
}
.actividad_amigos .comments section p {
    color:#777;
    overflow:hidden;
    padding-bottom:7%;
    position:relative
}
.actividad_amigos .comments section a {
    color:#222;
    text-align:left;
    border:none;
    font-weight:400;
    text-decoration:none;
    border-radius:none;
    margin:10px 0 0;
    font-size:14px;
    position:absolute;
    bottom:0;
    left:0;
    padding:0 0 0 26px;
    background-position:0 center
}
.actividad_amigos .comments section a.active,
.actividad_amigos .comments section a:hover {
    color:#0aac82;
    background-color:transparent;
    text-decoration:none
}
.actividad_amigos .comments section a.active i,
.actividad_amigos .comments section a:hover i {
    color:#0aac82!important
}
.actividad_amigos .post {
    overflow:hidden;
    margin:10px 3%
}
.actividad_amigos .post input {
    float:left;
    width:74%;
    border:1px solid #ccc!important
}
.actividad_amigos .post button {
    color:#333;
    border:1px solid #ccc;
    background:0 0;
    width:23%;
    padding:5px 0 7px;
    border-radius:100px;
    float:right;
    font-size:16px;
    cursor:pointer;
    font-family: 'Open Sans'
}
.actividad_amigos .post button:hover {
    background:#32464d;
    color:#fff
}
.actividad_amigos .comments section h5 a {
    position:inherit;
    color:#0aac82;
    margin:0;
    padding:0;
    background:0 0;
    width:auto;
    font-size:16px
}

.recomendamos article {
    border-top:1px solid #b6b6b6;
    border-bottom:none;
    padding:15px 6px 16px;
    margin:0 0 10px;
    overflow:hidden
}
.recomendamos article:last-child {
    border-bottom:1px solid #b6b6b6
}
.recomendamos article figure {
    float:left;
    height:auto;
    position:relative
}
.recomendamos article figure img {
    width:100%;
    height:auto
}
.recomendamos article figure img.icon-device {
    position:absolute!important;
    right:6px!important
}
.recomendamos article h4 {
    color:#777;
    margin-bottom:5px
}
.recomendamos article p {
    font-style:italic;
    font-weight:400;
    color:#333;
    font-size:16px;
    margin-bottom:10px
}
.recomendamos article a {
    font-style:italic;
    text-decoration:underline;
    color:#333;
    font-weight:400
}
.recomendamos article a:hover {
    color:#0aac82;
    text-decoration:none
}

.sesion {
    overflow:visible
}

.sesion.fixed {
    width:100%;
    top:0;
    left:0;
    position:fixed;
    z-index:9999
}

.sesion {
    min-height:80px;
    position:relative;
    z-index:9999
}

.invitar_amigos textarea {
    width:100%;
    margin-bottom:10px
}
.lightbox.eliminar_amigos p img,
.lightbox.inv_amigo p img {
    display:block;
    margin:4px auto 10px;
    width:70px;
    height:70px;
    border-radius:50%
}
.lightbox.eliminar_amigos,
.lightbox.inv_amigo,
.lightbox.invitar_amigos {
    position:fixed
}

.lightbox.eliminar_amigos p {
    text-align:center;
    font-size:1.25em
}
.lightbox.eliminar_amigos p strong {
    color:#0aac82;
    display:block;
    font-weight:400;
    font-size:1.28em
}
.lightbox.inv_amigo p span.restan {
    display:block;
    text-align:right
}
.lightbox.inv_amigo p textarea {
    height:60px;
    width:100%
}
.social_counter {
    clear:both;
    font-size:14px;
    color:#555;
    margin:14px 0 0;
    display:none
}
.social_counter span {
    margin:0 10px
}
.social_counter p {
    padding-top:20px
}
#invitar_content input[type=email] {
    font-size:15px!important;
    color:#a5a4a4;
    border:1px solid #98a2a6;
    font-family:'Open Sans',
    sans-serif;
    font-weight:300
}
#invitar_content input[type=button] {
    margin:0
}
#invitar_content input[type=email]:focus {
    border-color:red!important
}
#invitar_content h3 {
    width:200px
}
#submit_message {
    margin:0!important
}
div.add-friend {
    width:100%;
    height:auto
}
div.add-friend a,
div.add-friend a:hover {
    clear:both;
    color:#0aac82;
    border:none!important;
    padding:0!important;
    width:100%!important;
    text-align:left!important;
    margin:0!important
}
div.add-friend a {
    display:inline
}
div.add-friend span {
    padding:3px 0 2px;
    clear:both;
    display:inline;
    margin:0 7px
}
.custom-file-upload {
    color:#fff;
    background:#32464d;
    font-weight:400;
    border-radius:30px;
    text-align:center;
    display:block;
    cursor:pointer
}
.share_success {
    width:100%;
    clear:both;
    float:left;
    margin-bottom:10px;
    font-size:13px;
    font-style:italic;
    padding-left:3%
}
.text_recomend {
    background:0 0!important;
    padding:0!important
}
#pagination {
    width:100%;
    height:auto;
    margin-bottom:20px;
    text-align:center
}
#pagination li {
    display:inline-block;
    margin-right:15px;
    font-weight:400;
    float:inherit
}
#pagination li a:hover {
    text-decoration:underline;
    color:#0aac82
}
.change-status-button,
.enviar_solicitud {
    color:#32464d!important;
    text-align:center;
    display:inline-block;
    border:1px solid #32464d;
    background:10px center no-repeat;
    font-family:'Open Sans';
    font-weight:400;
    text-decoration:none!important;
    padding:4px 15px 6px;
    border-radius:100px;
    width:auto;
    background-size:21px;
    margin:0 0 20px
}
.enviar_solicitud {
    margin-right:10px
}
.change-status-button:hover,
.enviar_solicitud:hover {
    background:#32464d;
    color:#fff!important;
    border-color:#32464d
}
.actividad_amigos section a.active i {
    color:#fff
}
.actividad_amigos section .before_coment {
    margin-bottom:10px
}
.actividad_amigos section .before_coment a {
    border:none;
    color:#0aac82;
    padding:0;
    display:inline
}
.actividad_amigos section .before_coment a:hover {
    color:#0aac82;
    text-decoration:underline;
    background:0 0
}
.actividad_amigos section .before_coment span {
    display:inline-block;
    font-size:12px;
    padding:0;
    margin:0
}

.no-padding,
.padding-removed {
    padding:0!important
}
@media screen and (max-width: 480px) {
    .notifyjs-corner {
        left:0!important;
        width:98%
    }
    .notifyjs-bootstrap-base span {
        white-space:pre-wrap
    }
    .notifyjs-bootstrap-base {
        text-align:center
    }
}
header {
    background:#fff!important
}
header hr {
    margin-top:6px;
    margin-bottom:5px;
    color:#ddd
}
.main-content {
    overflow:hidden;
    width:100%;
    display:block
}
.top-row {
    background-color:#F4F4F4;
    min-height:37px
}
.usr-top-row {
    background-color:#354F5E;
    min-height:37px
}
.no-margin {
    margin:0
}
.centered-col {
    float:none;
    margin:0 auto
}
.uppercase {
    text-transform:uppercase!important
}
.lowercase {
    text-transform:lowercase!important
}
.no-border {
    border:none!important
}
.usr-top-link {
    color:#fff!important;
    font-family:'Open Sans',
    sans-serif;
    padding:11px 11px 0 0;
    display:inline-block;
    font-size:14px
}
@media screen and (max-width: 1278px) {
    .usr-top-link {
        font-size:12px!important
    }
}
@media screen and (max-width: 1262px) {
    .usr-top-link {
        font-size:11px!important
    }
}
@media screen and (max-width: 949px) {
    .usr-top-link {
        font-size:10px!important
    }
}
.usr-top-link:hover {
    text-decoration:none;
    color:#3db29c
}
.usr-top-link:active,
.usr-top-link:focus {
    text-decoration:none;
    color:#fff
}
.dsk-destacados {
    display:block
}
@media screen and (max-width: 599px) {
    .dsk-destacados {
        display:none
    }
}
.mbl-destacados {
    display:none
}
.mbl-book-author,
.mbl-book-name {
    display:block;
    font-family:"Open Sans" serif;
    color:#000
}
@media screen and (max-width: 599px) {
    .mbl-destacados {
        display:block
    }
}
.section-line {
    margin-top:3px!important;
    margin-bottom:12px!important;
    border:0!important;
    border-top:1px solid #ddd!important
}
.book-mbl-container {
    margin-bottom:20px
}
.mbl-book-portrait {
    width:68px!important;
    height:104px!important
}
.mbl-book-name {
    width:100%!important;
    padding:0 10px 5px!important;
    text-align:left!important;
    font-weight:600;
    line-height:17px
}
.mbl-book-author {
    width:100%;
    padding-left:10px;
    text-align:left;
    font-weight:400
}
.usr-mbl-messages-icon,
.usr-messages-icon,
.usr-nomessages-icon {
    float:right;
    display:inline-block
}
.usr-top-menu {
    padding-right:19px;
    background-image:url(../images/flecha_blanco.svg);
    background-position:right 18px;
    background-size:11px;
    background-repeat:no-repeat;
    -webkit-transition:color .4s;
    -moz-transition:color .4s;
    -o-transition:color .4s;
    transition:color .4s
}
.usr-top-menu:hover {
    background-image:url(../images/flecha_verde.svg);
    background-size:11px;
    -webkit-transition:0s;
    -moz-transition:0s;
    -o-transition:0s;
    transition:0s
}
.usr-messages-icon {
    width:50px;
    height:26px;
    background:url(../images/usuario_notificacion.svg) center no-repeat;
    background-size:26px;
    margin-top:8px;
    color:#fff;
    padding-top:13px;
    padding-left:15px;
    font-size:10px
}
.usr-mbl-messages-icon {
    width:13px;
    height:13px;
    margin-top:17px;
    color:#fff;
    font-size:10px;
    background-color:red;
    border-radius:13px;
    line-height:13px;
    text-align:center;
    padding-right:2px
}
.usr-nomessages-icon {
    width:50px;
    height:26px;
    background:url(../images/usuario.svg) center no-repeat;
    background-size:23px;
    margin-top:9px
}
.centered-item {
    display:block;
    float:none;
    margin:0 auto
}
.shadowed {
    box-shadow:0 8px 2px -2px rgba(0,
    0,
    0,
    .25)
}
.mobile-topbar {
    background-color:#fff;
    display:none;
    padding-top:19px;
    padding-bottom:19px
}
@media screen and (max-width: 767px) {
    .mobile-topbar {
        display:block
    }
}
.btn-big {
    border-radius:24px;
    height:60px;
    color:#fff!important;
    font-family: 'Open Sans',
    sans-serif;
    font-weight:400;
    font-size:30px;
    line-height:30px;
    line-height:53px;
    padding:0!important
}
.signup-btn {
    border:1px solid #3db29c!important;
    background-color:#3db29c!important;
    border-radius:30px;
    margin:0 auto;
    display:block;
    width:377px
}
.signup-btn:hover {
    border:1px solid #359685!important;
    background-color:#359685!important
}
.default-btn {
    border:1px solid #3db29c!important;
    background-color:#3db29c!important
}
.default-btn:hover {
    border:1px solid #354f5e!important;
    background-color:#354f5e!important
}
.danger-btn {
    border:1px solid #cc4242!important;
    background-color:#cc4242!important
}
.danger-btn:hover {
    border:1px solid #ba0404!important;
    background-color:#ba0404!important
}
.search-and-login {
    min-height:37px;
    margin-top:1px;
    max-width:1280px;
    padding:0 40px
}
.search-and-login .form-group {
    margin-bottom:0
}
.search-and-login form {
    width:100%!important;
    float:none!important;
    margin:0!important;
    display:inline-block!important
}
.search-and-login form input[type=text],
.search-and-login form select {
    border:1px solid #ddd!important;
    -webkit-box-shadow:none!important;
    -moz-box-shadow:none!important;
    width:100%
}
.search-and-login form input[type=text] {
    border-radius:0!important;
    box-shadow:none!important;
    font-family:'Open Sans',
    sans-serif;
    font-size:14px;
    font-weight:400;
    height:32px;
    margin-top:4px;
    padding:0 10px!important
}
.search-and-login form select {
    border-radius:0!important;
    color:#999!important;
    box-shadow:none!important;
    font-family:'Open Sans',
    sans-serif;
    font-size:15px;
    font-weight:400;
    height:32px;
    margin-left:-1px;
    margin-top:4px;
    padding:0 10px;
    background-image:url(../images/backend/bullet_arrow_down.png);
    background-position:96% center;
    background-repeat:no-repeat
}
.search-and-login .login a,
.search-and-login form a {
    text-decoration:none;
    font-family:'Open Sans',
    sans-serif;
    font-size:13px
}
.search-and-login form .form-control:focus {
    border-color:#ccc;
    -webkit-box-shadow:none;
    box-shadow:none
}
.search-and-login form input[type=submit] {
    background-size:contain!important;
    display:inline-block!important;
    float:left;
    margin-top:4px;
    height:28px!important;
    width:18px!important;
    position:relative!important;
    top:3px!important
}
.search-and-login form .search-submit-default {
    background:url(../images/icono_buscar.svg) left no-repeat!important
}
.search-and-login form .search-submit-usr {
    background:url(../images/icono_buscar_blanco.svg) left no-repeat!important
}
.search-and-login form a {
    color:#898989;
    display:inline-block;
    height:32px;
    padding-top:11px;
    padding-left:5px
}
.search-and-login form a:hover {
    text-decoration:none
}
.search-and-login .login {
    float:right;
    position:relative;
    top:-30px;
    height:0;
    padding-right:5px;
    text-align:right
}
.search-and-login .login a {
    color:#000;
    font-weight:400
}
.search-and-login .login a:hover {
    text-decoration:none
}
@media screen and (max-width: 987px) {
    .search-and-login .login {
        padding-right:18px
    }
}
@media screen and (max-width: 767px) {
    .search-and-login {
        display:none
    }
}
@media screen and (max-width: 949px) {
    .search-and-login {
        padding:0 20px
    }
}
.main-menu {
    background:#fff;
    float:none;
    min-height:105px;
    margin:0 auto;
    max-width:1280px;
    padding:20px 40px 0
}
.main-menu span {
    color:#A0A0A0;
    display:inline-block;
    font-family:'Open Sans',
    sans-serif;
    font-size:14px;
    font-weight:700
}
.main-menu span a {
    color:#000;
    font-size:16px;
    font-weight:400;
    text-decoration:none
}
@media screen and (max-width: 1279px) {
    .main-menu span a {
        font-size:14px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu span a {
        font-size:13px
    }
}
@media screen and (max-width: 1019px) {
    .main-menu span a {
        font-size:12px
    }
}
@media screen and (max-width: 987px) {
    .main-menu span a {
        font-size:11px
    }
}
.main-menu span a:hover {
    color:#D05555;
    text-decoration:none
}
.main-menu .tag {
    padding:10px 20px
}
@media screen and (max-width: 1279px) {
    .main-menu span {
        font-size:12px
    }
    .main-menu .tag {
        padding:10px 16px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu span {
        font-size:11px
    }
    .main-menu .tag {
        padding:10px 14px
    }
}
.main-menu .link {
    padding:10px 72px
}
@media screen and (max-width: 1279px) {
    .main-menu .link {
        padding:10px 60px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu .link {
        padding:10px 52px
    }
}
@media screen and (max-width: 1059px) {
    .main-menu .link {
        padding:10px 39px
    }
}
@media screen and (max-width: 949px) {
    .main-menu .tag {
        display:none
    }
    .main-menu .link {
        padding:10px 45px
    }
}
.main-menu .submenu {
    background:url(../images/flecha_negro.svg) right center no-repeat;
    padding:10px 24px 10px 57px;
    background-size:11px
}
@media screen and (max-width: 1279px) {
    .main-menu .submenu {
        padding:10px 24px 10px 49px;
        background-size:9px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu .submenu {
        padding:10px 18px 10px 48px;
        background-size:7px
    }
}
@media screen and (max-width: 1059px) {
    .main-menu .submenu {
        padding:10px 18px 10px 40px;
        background-size:7px
    }
}
@media screen and (max-width: 949px) {
    .main-menu .submenu {
        padding:10px 14px 10px 40px;
        background-size:7px
    }
}
.main-menu .submenu:hover {
    color:#D05555;
    background:url(../images/flecha_rojo.svg) right center no-repeat;
    background-size:11px
}
.main-menu .submenu:hover a {
    color:#D05555
}
@media screen and (max-width: 1279px) {
    .main-menu .submenu:hover {
        background-size:9px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu .submenu:hover {
        background-size:7px
    }
}
@media screen and (max-width: 1059px) {
    .main-menu .submenu:hover {
        background-size:7px
    }
}
@media screen and (max-width: 949px) {
    .main-menu .submenu:hover {
        background-size:7px
    }
}
.main-menu .usr-low-submenu {
    background:url(../images/flecha_negro.svg) right center no-repeat;
    padding:10px 24px 10px 48px;
    background-size:11px
}
@media screen and (max-width: 1279px) {
    .main-menu .usr-low-submenu {
        padding:10px 27px 10px 41px;
        background-size:9px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu .usr-low-submenu {
        padding:10px 18px 10px 33px;
        background-size:7px
    }
}
@media screen and (max-width: 1059px) {
    .main-menu .usr-low-submenu {
        padding:10px 18px 10px 22px;
        background-size:7px
    }
}
@media screen and (max-width: 949px) {
    .main-menu .usr-low-submenu {
        padding:10px 14px 10px 30px;
        background-size:7px
    }
}
.main-menu .usr-low-submenu:hover {
    color:#D05555;
    background:url(../images/flecha_rojo.svg) right center no-repeat;
    background-size:11px
}
.main-menu .usr-low-submenu:hover a {
    color:#D05555
}
@media screen and (max-width: 1279px) {
    .main-menu .usr-low-submenu:hover {
        background-size:9px
    }
}
.main-menu .submenu-wrapper {
    position:relative;
    left:0;
    top:10px
}
@media screen and (max-width: 1132px) {
    .main-menu .usr-low-submenu:hover {
        background-size:7px
    }
    .main-menu .submenu-wrapper {
        left:-21px
    }
}
@media screen and (max-width: 1059px) {
    .main-menu .usr-low-submenu:hover {
        background-size:7px
    }
    .main-menu .submenu-wrapper {
        left:-38px
    }
}
@media screen and (max-width: 949px) {
    .main-menu .usr-low-submenu:hover {
        background-size:7px
    }
    .main-menu .submenu-wrapper {
        left:-3px
    }
}
.main-menu .submenu-arrow {
    z-index:3;
    background:url(../images/triangulo_gris.svg) right top no-repeat;
    position:absolute;
    top:-4px;
    left:-65px;
    width:176px;
    height:10px
}
@media screen and (max-width: 949px) {
    .main-menu .submenu-arrow {
        left:-95px
    }
}
.main-menu .submenu-items {
    border:1px solid #E8E8E8;
    left:-70px;
    position:absolute;
    top:5px;
    width:176px;
    z-index:2
}
.main-menu .submenu-items a .submenu-item {
    background-color:#F4F4F4;
    color:#000;
    font-family:'Open Sans',
    sans-serif;
    font-size:14px;
    font-weight:400;
    padding:15px;
    text-transform:none!important;
    width:100%;
    cursor:pointer
}

@media screen and (max-width: 1279px) {
    .main-menu .submenu-items a .submenu-item {
        font-size:14px
    }
}
@media screen and (max-width: 1132px) {
    .main-menu .submenu-items a .submenu-item {
        font-size:13px
    }
}
@media screen and (max-width: 1059px) {
    .main-menu .submenu-items a .submenu-item {
        font-size:12px;
        padding:11px 15px
    }
}
@media screen and (max-width: 1019px) {
    .main-menu .submenu-items a .submenu-item {
        font-size:12px
    }
}
@media screen and (max-width: 987px) {
    .main-menu .submenu-items a .submenu-item {
        font-size:11px
    }
}
.main-menu .submenu-items a .submenu-item:hover {
    background-color:#DDD;
    color:#D05555
}
@media screen and (max-width: 949px) {
    .main-menu .submenu-items {
        left:-100px
    }
    .main-menu {
        padding:20px 20px 0
    }
}
@media screen and (max-width: 767px) {
    .desktop-menu {
        display:none
    }
}
.mobile-menu {
    display:none;
    min-height:41px;
    padding:0 12px
}
.mobile-menu .item {
    background-size:contain!important;
    cursor:pointer;
    display:inline-block;
    height:23px;
    width:23px
}
.mobile-menu .main {
    background:url(../images/icono_menu.svg) no-repeat;
    margin-right:5px;
    float:left
}
.mobile-menu .user {
    background:url(../images/icono_usuario.svg) left no-repeat;
    margin-left:5px;
    float:left
}
.mobile-menu .search {
    background:url(../images/icono_buscar.svg) left no-repeat;
    float:right
}
@media screen and (max-width: 767px) {
    .mobile-menu {
        display:block
    }
}
.mobile-submenu {
    background-color:#F4F4F4;
    left:0;
    padding:0 20px;
    position:absolute;
    top:147px;
    width:100%;
    z-index:10
}
.mobile-submenu a {
    text-decoration:none
}
.mobile-submenu a .mobile-submenu-item {
    border-bottom:1px solid #000;
    color:#000;
    display:block;
    font-family:'Open Sans',
    sans-serif;
    font-weight:500;
    padding:20px 0;
    text-align:center
}
.mobile-submenu a .mobile-submenu-item:hover {
    color:red
}
.mobile-user-submenu .mbl-sub_usrname,
.mobile-user-submenu a .mobile-usr-submenu-item:hover {
    color:#fff
}
.mobile-submenu a:hover {
    text-decoration:none
}
.mobile-user-submenu {
    background-color:#233B48;
    padding:20px
}
.mobile-user-submenu .profile-img {
    display:block;
    background-color:#233B48;
    margin:5px auto;
    height:76px!important;
    width:76px!important;
    border-radius:40px
}
.mobile-user-submenu .short-padding {
    padding:14px 0 8px!important
}
.mobile-user-submenu a {
    text-decoration:none
}
.mobile-user-submenu a .link-wrapper {
    background-color:#354f5e!important;
    display:block;
    padding:0 3%;
    height:47px;
    line-height:47px
}
.mobile-user-submenu a .logout-usr-sub {
    height:54px!important
}
.mobile-user-submenu a img {
    display:inline-block;
    margin:5px;
    height:25px;
    width:25px
}
.mobile-user-submenu a .mobile-submenu-item {
    display:block
}
.mobile-user-submenu a .mobile-usr-submenu-item {
    color:#fff;
    display:inline-block;
    font-family:'Open Sans',
    sans-serif;
    font-weight:500
}
.mobile-user-submenu a .top-btn {
    margin-bottom:16px
}
.mobile-user-submenu a:hover {
    text-decoration:none
}
footer {
    background:0 0!important;
    height:auto!important;
    min-height:181px;
    position:relative!important
}
footer .footer-links {
    background-color:#F4F4F4;
    min-height:148px
}
footer .footer-links .footer-sections {
    max-width:1280px;
    display:block;
    margin:0 auto;
    padding:0 16px
}
footer .footer-links .footer-sections .image-section {
    padding-top:40px
}
@media screen and (max-width: 767px) {
    footer .footer-links .footer-sections .image-section {
        padding-top:5px
    }
}
footer .footer-links .footer-sections .menu-section {
    padding:20px 20px 0;
    max-width:376px;
    float:none;
    margin:0 auto;
    display:block
}
@media screen and (max-width: 1132px) {
    footer .footer-links .footer-sections .menu-section {
        padding:26px 20px 0
    }
}
@media screen and (max-width: 767px) {
    footer .footer-links .footer-sections .menu-section {
        padding:0
    }
}
footer .footer-links .footer-sections .social-section {
    padding:20px 0;
    max-width:178px;
    float:none;
    margin:0 auto;
    display:block
}
footer .footer-links .footer-sections .social-section img {
    width:15px;
    height:15px;
    display:inline-block;
    margin-right:9px
}
@media screen and (max-width: 1132px) {
    footer .footer-links .footer-sections .social-section {
        padding:26px 0
    }
}
@media screen and (max-width: 767px) {
    footer .footer-links .footer-sections .social-section img {
        width:10px;
        height:10px;
        margin-right:6px
    }
    footer .footer-links .footer-sections .social-section {
        padding:0 0 47px
    }
}
footer .footer-links .footer-sections img {
    display:block;
    height:71px;
    margin:0 auto;
    width:175px
}
@media screen and (max-width: 1132px) {
    footer .footer-links .footer-sections img {
        width:141px;
        height:71px
    }
}
@media screen and (max-width: 1059px) {
    footer .footer-links .footer-sections img {
        width:125px;
        height:71px
    }
}
@media screen and (max-width: 830px) {
    footer .footer-links .footer-sections img {
        font-size:94px
    }
}
footer .footer-links .footer-sections a {
    text-decoration:none
}
footer .footer-links .footer-sections a .footer-menu-item {
    display:block;
    font-family:'Open Sans',
    sans-serif;
    font-weight:400;
    color:#000;
    padding:8px 10px
}
@media screen and (max-width: 1132px) {
    footer .footer-links .footer-sections a .footer-menu-item {
        font-size:12px
    }
}
@media screen and (max-width: 1019px) {
    footer .footer-links .footer-sections img {
        width:102px;
        height:71px
    }
    footer .footer-links .footer-sections a .footer-menu-item {
        font-size:11px
    }
}
@media screen and (max-width: 949px) {
    footer .footer-links .footer-sections a .footer-menu-item {
        font-size:10px
    }
}
@media screen and (max-width: 830px) {
    footer .footer-links .footer-sections a .footer-menu-item {
        font-size:9px;
        padding:8px 4px
    }
}
@media screen and (max-width: 767px) {
    footer .footer-links .footer-sections img {
        width:88px
    }
    footer .footer-links .footer-sections a .footer-menu-item {
        font-size:10px
    }
}
footer .low-bar {
    background-color:#ddd;
    min-height:33px
}
footer .low-bar .low-bar-wrapper {
    max-width:1280px;
    padding:0 43px;
    display:block;
    margin:0 auto;
    float:none
}
footer .low-bar .low-bar-wrapper .low-bar-col {
    padding:9px 0
}
footer .low-bar .low-bar-wrapper .low-bar-col span {
    color:#000;
    font-family:'Open Sans',
    sans-serif;
    font-size:13px;
    font-weight:400
}
@media screen and (max-width: 767px) {
    footer .low-bar .low-bar-wrapper .low-bar-col span a {
        width:100%;
        display:block;
        padding-right:0!important
    }
    footer .low-bar .low-bar-wrapper .low-bar-col span {
        font-size:12px
    }
}
footer .low-bar .low-bar-wrapper .low-bar-col a {
    color:#000
}
footer .low-bar .low-bar-wrapper .low-bar-col .policy {
    padding-right:20px
}
footer .low-bar .low-bar-wrapper .text-right {
    text-align:right
}
@media screen and (max-width: 949px) {
    footer .low-bar .low-bar-wrapper .text-right {
        text-align:center
    }
    footer .low-bar .low-bar-wrapper {
        width:100%!important;
        text-align:center
    }
}
@media screen and (max-width: 767px) {
    .logos-bar {
        width:100%;
        padding-left:0;
        padding-right:0
    }
    .menu-bar {
        width:73%;
        padding-left:0;
        padding-right:0
    }
    .social-bar {
        width:27%;
        padding-left:0;
        padding-right:0
    }
}
.usr-submenu .usr-submenu-wrapper {
    position:relative;
    right:0;
    top:36px
}
@media screen and (max-width: 1132px) {
    .usr-submenu .usr-submenu-wrapper {
        right:21px
    }
}
@media screen and (max-width: 1059px) {
    .usr-submenu .usr-submenu-wrapper {
        right:38px
    }
}
@media screen and (max-width: 949px) {
    .usr-submenu .usr-submenu-wrapper {
        right:3px
    }
}
.usr-submenu .submenu-arrow {
    z-index:3;
    background:url(../images/triangulo_gris.svg) 85% top no-repeat;
    position:absolute;
    top:-4px;
    right:20px;
    width:176px;
    height:10px
}
.usr-submenu .submenu-items {
    border:1px solid #E8E8E8;
    right:20px;
    position:absolute;
    top:5px;
    width:176px;
    z-index:2
}
.usr-submenu .submenu-items a {
    text-decoration:none
}
.usr-submenu .submenu-items a .submenu-item {
    background-color:#F4F4F4;
    color:#000;
    font-family:'Open Sans',
    sans-serif;
    font-size:14px;
    font-weight:400;
    padding:10px 15px;
    text-transform:none!important;
    width:100%;
    cursor:pointer;
    display:block
}
.home-books h2,
.home-signup h1 {
    font-weight:400;
    font-family: 'Open Sans',
    sans-serif
}
@media screen and (max-width: 1279px) {
    .usr-submenu .submenu-items a .submenu-item {
        font-size:14px
    }
}
@media screen and (max-width: 1132px) {
    .usr-submenu .submenu-items a .submenu-item {
        font-size:13px
    }
}
@media screen and (max-width: 1019px) {
    .usr-submenu .submenu-items a .submenu-item {
        font-size:12px
    }
}
.usr-submenu .submenu-items a .submenu-item:hover {
    background-color:#DDD;
    color:#D05555;
    text-decoration:none
}
@media screen and (max-width: 1059px) {
    .usr-submenu .submenu-items a .submenu-item {
        font-size:12px
    }
    .usr-main-menu span a {
        font-size:11px
    }
}
@media screen and (max-width: 949px) {
    .usr-main-menu span a {
        font-size:11px
    }
}
@media screen and (max-width: 987px) {
    .usr-main-menu span a {
        font-size:11px
    }
}
.usr-main-menu .link {
    padding:10px 43px
}
@media screen and (max-width: 1279px) {
    .usr-main-menu .link {
        padding:10px 34px
    }
}
@media screen and (max-width: 1132px) {
    .usr-main-menu .link {
        padding:10px 32px
    }
}
@media screen and (max-width: 1059px) {
    .usr-main-menu .link {
        padding:10px 22px
    }
}
@media screen and (max-width: 949px) {
    .usr-main-menu .link {
        padding:10px 30px
    }
}
.home-signup {
    background-color:#354f5e;
    min-height:257px;
    width:100%
}
.home-signup h1 {
    color:#fff;
    font-size:30px;
    padding-top:67px;
    padding-bottom:20px;
    text-align:center;
    text-transform:none;
    margin:0
}
.home-usr-border {
    border-top:1px solid red;
    margin-top:2px;
    margin-bottom:10px
}
.home-row {
    min-height:620px;
    max-width:1280px;
    float:none;
    margin:0 auto
}
.home-books {
    padding:37px 17px 37px 40px
}
@media screen and (max-width: 767px) {
    .home-signup {
        display:none
    }
    .home-books {
        padding:37px 15px
    }
}
@media screen and (max-width: 599px) {
    .home-books {
        padding:37px 15px 5px
    }
}
.home-books .book-wrapper {
    width:173px;
    margin-bottom:39px;
    display:block;
    position:relative
}
@media screen and (max-width: 767px) {
    .home-books .book-wrapper {
        width:130px;
        display:inline-block
    }
    .home-books .row {
        text-align:center
    }
    .home-books .col {
        width:50%;
        display:inline-block;
        margin:0 auto
    }
}
.home-books h2 {
    color:#000;
    font-size:24px;
    margin:0
}
.home-books .dsk-book-author,
.home-books .dsk-book-name {
    text-align:center;
    display:block;
    font-family:"Open Sans" serif;
    color:#000
}
.home-books hr {
    margin-top:12px;
    margin-bottom:38px;
    border:0;
    border-top:2px solid #EF6C15
}
.home-books img {
    width:173px;
    height:267px;
    display:block
}
@media screen and (max-width: 767px) {
    .home-books h2 {
        font-size:18px
    }
    .home-books img {
        width:130px;
        height:203px;
        display:block
    }
}
.home-books .dsk-book-name {
    width:173px;
    padding:20px 10px 5px;
    font-weight:700;
    line-height:17px
}
@media screen and (max-width: 767px) {
    .home-books .dsk-book-name {
        width:130px
    }
}
.home-books .dsk-book-author {
    width:173px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:60px;
    font-weight:400
}
.home-information .cita h2,
.home-information .lectores-conectados h2,
.home-information .listas-destacadas h2 {
    color:#000;
    font-family: 'Open Sans',
    sans-serif;
    font-weight:400
}
.home-information {
    padding:37px 30px 37px 22px
}
@media screen and (max-width: 767px) {
    .home-books .dsk-book-author {
        width:130px
    }
    .home-information {
        padding:37px 15px
    }
}
@media screen and (max-width: 599px) {
    .home-information {
        padding:0 15px 37px
    }
}
.home-information .home-banner img {
    width:100%
}
@media screen and (max-width: 767px) {
    .home-information .lectores-conectados .row {
        text-align:center
    }
    .home-information .lectores-conectados .col {
        display:inline-block;
        width:25%;
        margin:0 -4px 0 auto;
        float:none;
        text-align:left
    }
}
.home-information .lectores-conectados h2 {
    font-size:24px;
    margin:30px 0 0
}
@media screen and (max-width: 767px) {
    .home-information .lectores-conectados h2 {
        font-size:18px
    }
}
.home-information .lectores-conectados hr {
    margin-top:12px;
    margin-bottom:38px;
    border:0;
    border-top:2px solid #3db29c
}
.home-information .lectores-conectados img {
    display:block;
    margin:0 auto 21px;
    width:61px
}
.home-information .listas-destacadas h2 {
    font-size:24px;
    margin:30px 0 0
}
@media screen and (max-width: 767px) {
    .home-information .listas-destacadas h2 {
        font-size:18px
    }
}
.home-information .listas-destacadas hr {
    margin-top:12px;
    margin-bottom:38px;
    border:0;
    border-top:2px solid #354F5E
}
.home-information .cita h2 {
    font-size:24px;
    margin:30px 0 0
}
.home-information .cita a,
.home-information .cita h4,
.home-information .cita span {
    font-family:'Open Sans',
    sans-serif;
    font-weight:400
}
.home-information .cita hr {
    margin-top:12px;
    margin-bottom:38px;
    border:0;
    border-top:2px solid #EFC84E
}
.home-information .cita h4 {
    font-size:18px;
    margin:30px 0 0;
    display:block
}
@media screen and (max-width: 767px) {
    .home-information .cita h2 {
        font-size:18px
    }
    .home-information .cita h4 {
        font-size:16px
    }
}
.home-information .cita span {
    font-size:18px;
    margin:11px 0 0;
    display:block;
    text-align:right
}
.home-information .cita a {
    font-size:16px;
    margin:0;
    display:inline-block;
    color:#C5A849;
    text-decoration:none
}
.sp-keyword-home a,
.sp-keyword-home a:active,
.sp-keyword-home a:hover {
    color:#fff!important;
    text-decoration:none!important
}
.home-list-name,
.mbl-view-more,
.see-more-lists {
    font-family:"Open Sans" serif
}
@media screen and (max-width: 767px) {
    .home-information .cita span {
        font-size:16px
    }
    .home-information .cita a {
        font-size:14px
    }
}
.mbl-view-more {
    font-weight:600;
    color:#ef6c15;
    cursor:pointer;
    display:inline-block;
    margin-bottom:20px;
    margin-top:3px
}
.more-news {
    color:#cc4242!important
}
.home-list-name {
    font-size:16px;
    margin-bottom:18px;
    color:#000
}
.home-list-book {
    width:68px;
    height:103px;
    display:inline-block;
    margin-bottom:20px
}
.list-push-right {
    margin-right:10px
}
.see-more-lists {
    font-size:18px;
    color:#354f5e
}
.home-autor,
.home-editorial,
.home-title,
.usr-messages-red-icon {
    font-family:'Open Sans',
    serif
}
.help-list-popup {
    width:179px;
    min-height:250px;
    border-radius:25px;
    background-color:#354f5e;
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    padding:15px 0
}
.help-list-popup .popup-lists-container {
    height:191px;
    width:100%;
    overflow:hidden;
    position:relative
}
.help-list-popup .popup-lists-container .popup-lists-items {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:-26px;
    overflow:auto
}
.help-list-popup .popup-lists-container .popup-lists-items span {
    font-weight:400!important;
    font-size:14px!important;
    padding-left:40px!important;
    background-repeat:no-repeat;
    background-size:20px;
    background-position:15px center
}
.help-list-popup .popup-lists-container .popup-lists-items span:hover {
    color:#3db29c
}
.help-list-popup .popup-lists-container .popup-lists-items .item-listp-active {
    color:#3db29c!important;
    background-image:url(../images/detail/checkbox_select.svg)
}
.help-list-popup .popup-lists-container .popup-lists-items .item-listp-inactive {
    background-image:url(../images/detail/checkbox.svg)
}
.help-list-popup .popup-lists-container .popup-lists-items .item-listp-inactive:hover {
    background-image:url(../images/detail/checkbox_hover.svg)
}
.help-list-popup .add-listp-section {
    position:relative;
    bottom:0;
    padding-right:0
}
.help-list-popup .add-listp-section .popup-add-list {
    color:#3db29c!important;
    font-size:14px!important;
    padding-top:10px!important;
    cursor:pointer
}
.help-list-popup .add-listp-section input {
    width:87px;
    margin-top:10px;
    display:inline-block
}
.help-list-popup .add-listp-section .add-list-popup-btn {
    color:#fff!important;
    display:inline-block!important;
    margin-left:10px;
    font-size:14px!important;
    padding-top:10px!important;
    cursor:pointer
}
.help-list-popup .add-listp-section .add-list-popup-btn:hover {
    color:#3db29c!important
}
.home-book-info-mask {
    width:173px;
    height:267px;
    background-color:rgba(36,
    60,
    73,
    .9);
    color:#fff;
    padding:10px;
    text-align:left;
    position:absolute;
    top:0;
    overflow:hidden
}
.home-title {
    font-weight:600
}
.home-autor,
.home-editorial {
    font-weight:300
}
.profile-home-dsk-top {
    width:30px;
    height:30px;
    display:inline-block;
    margin-top:7px;
    margin-right:11px;
    margin-left:8px;
    float:right;
    position:relative
}
.profile-img-home-dsk {
    width:30px;
    height:30px;
    border-radius:35px;
    position:relative
}
.usr-messages-red-icon {
    position:absolute;
    left:0;
    bottom:0;
    color:#fff;
    font-size:8px;
    font-weight:600;
    background-image:url(../images/circulo-notificaciones_red.svg);
    background-position:center;
    text-align:center;
    background-size:12px;
    min-width:12px;
    min-height:12px
}
.red-hr {
    margin-top:12px;
    margin-bottom:38px;
    border:0;
    border-top:2px solid #cc4242!important
}
.search-submit-default-mbl {
    display:inline-block!important;
    float:right!important;
    width:30px!important;
    height:30px!important;
    background:url(../images/icono_buscar.svg) left no-repeat!important;
    border-radius:0!important;
    background-size:22px!important;
    border:none!important
}
.key-words-home {
    position:absolute;
    bottom:8px;
    max-height:67px;
    overflow:auto;
    width:120%;
    padding-right:45px
}
.sp-keyword-home {
    background-color:#359685;
    font-family:'open sans',
    sans-serif;
    font-size:12px;
    padding:0 3px;
    margin:0;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    color:#fff!important
}
.sp-keyword-home a {
    font-family:"open sans",
    sans-serif!important;
    font-weight:600!important
}
.blue-hr {
    margin-top:12px;
    margin-bottom:38px;
    border:0;
    border-top:2px solid #354f5e!important
}
.home-type {
    position:absolute;
    bottom:0;
    margin-bottom:20px;
    background-color:red;
    color:#fff;
    padding:2px 10px;
    right:0;
    font-size:16px;
    font-family: 'Open Sans',
    serif;
    box-shadow:0 3px 0 0 #313131
}
.list-pagination-item {
    display:inline-block;
    font-family: 'Open Sans',
    serif;
    font-size:16px
}
.list-pagination-item a {
    text-decoration:none!important;
    padding:0 10px
}
.list-pagination-item a:active {
    color:#3db29c
}

.secretaria-logo-bar {
    background: #a7a9ac;
    height: 120px;
    text-align: center;
    .secretaria-logo-img {
        margin-top: 23px;
        width: 291px;
        height: 85px;
    }
}


.cita{
    h2.title{
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 24px
    }
    hr.hr-cita{
        border: 1px solid #efc84e;
    }
    .quote{
        color: #777;
        margin-top: 10px
    }
}

.home-header-info {
    h1,
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #fff;
    }
    .no-margin,
    div {
        h3 {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
            line-height: 1.42857143;
        }
    }
}
.home-header-login {
    #home-header-form {
        .home-header-terms {
            line-height: 1.42857143;
        }
        .home-header-actions {
            .btn-fb {
                .social-icon {
                    vertical-align: middle;
                }
            }
        }
    }
}
.desktop-menu {
    .main-menu.usr-main-menu {
        a {
            img {
                vertical-align: middle;
            }
        }
        .span {
            .tag {
                line-height: 1.42857143;
                vertical-align: middle;
            }
        }
    }
}
.notif-content {
    .social-row {
        .social-links {
            .notif-share-social-fb {
                img {
                    vertical-align: middle;
                }
            }
        }
    }
}
/** https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css */
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
/** https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css */
@import url(//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css);
/** template */
@import 'template';
/** modal-register */
@import 'modal-register';
/** styles_l */
@import 'styles_l';
/** importar home_alternative */
@import 'homepage_alternative'