@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
header {
  background: white !important; }
  header hr {
    margin-top: 6px;
    margin-bottom: 5px;
    color: #ddd; }

.main-content {
  overflow: hidden;
  width: 100%;
  display: block; }

.top-row {
  background-color: #F4F4F4;
  min-height: 37px; }

.usr-top-row {
  background-color: #354F5E;
  min-height: 37px; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.padding-removed {
  padding: 0 !important; }

.centered-col {
  float: none;
  margin: 0 auto; }

.uppercase {
  text-transform: uppercase !important; }

.lowercase {
  text-transform: lowercase !important; }

.no-border {
  border: none !important; }

.usr-top-link {
  color: white !important;
  font-family: 'Open Sans', sans-serif;
  padding: 11px 11px 0 0;
  display: inline-block;
  font-size: 14px; }
  @media screen and (max-width: 1278px) {
    .usr-top-link {
      font-size: 12px !important; } }
  @media screen and (max-width: 1262px) {
    .usr-top-link {
      font-size: 11px !important; } }
  @media screen and (max-width: 949px) {
    .usr-top-link {
      font-size: 10px !important; } }

.usr-top-link:hover {
  text-decoration: none;
  color: #3db29c; }

.usr-top-link:active {
  text-decoration: none;
  color: white; }

.usr-top-link:focus {
  text-decoration: none;
  color: white; }

.dsk-destacados {
  display: block; }
  @media screen and (max-width: 599px) {
    .dsk-destacados {
      display: none; } }

.mbl-destacados {
  display: none; }
  @media screen and (max-width: 599px) {
    .mbl-destacados {
      display: block; } }

.section-line {
  margin-top: 3px !important;
  margin-bottom: 12px !important;
  border: 0 !important;
  border-top: 1px solid #dddddd !important; }

.book-mbl-container {
  margin-bottom: 20px; }

.mbl-book-portrait {
  width: 68px !important;
  height: 104px !important; }

.mbl-book-name {
  width: 100% !important;
  padding: 0px 10px 5px 10px !important;
  text-align: left !important;
  display: block;
  font-family: "Open Sans" serif;
  font-weight: 600;
  line-height: 17px;
  color: black; }

.mbl-book-author {
  width: 100%;
  padding-left: 10px;
  text-align: left;
  display: block;
  font-family: "Open Sans" serif;
  font-weight: 400;
  color: black; }

.usr-top-menu {
  padding-right: 19px;
  background-image: url("../images/flecha_blanco.svg");
  background-position: right 18px;
  background-size: 11px;
  background-repeat: no-repeat;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s; }

.usr-top-menu:hover {
  background-image: url("../images/flecha_verde.svg");
  background-size: 11px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }

.usr-messages-icon {
  width: 50px;
  height: 26px;
  background: url("../images/usuario_notificacion.svg") no-repeat;
  float: right;
  background-size: 26px;
  background-position: center;
  display: inline-block;
  margin-top: 8px;
  color: white;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 10px; }

.usr-mbl-messages-icon {
  width: 13px;
  height: 13px;
  float: right;
  display: inline-block;
  margin-top: 17px;
  color: white;
  font-size: 10px;
  background-color: red;
  border-radius: 13px;
  line-height: 13px;
  text-align: center;
  padding-right: 2px; }

.usr-nomessages-icon {
  width: 50px;
  height: 26px;
  background: url("../images/usuario.svg") no-repeat;
  float: right;
  background-size: 23px;
  background-position: center;
  display: inline-block;
  margin-top: 9px; }

.centered-item {
  display: block;
  float: none;
  margin: 0 auto; }

.shadowed {
  box-shadow: 0 8px 2px -2px rgba(0, 0, 0, 0.25); }

.mobile-topbar {
  background-color: white;
  display: none;
  padding-top: 19px;
  padding-bottom: 19px; }
  @media screen and (max-width: 767px) {
    .mobile-topbar {
      display: block; } }

.btn-big {
  border-radius: 24px;
  height: 60px;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  line-height: 53px;
  padding: 0 !important; }

.signup-btn {
  border: 1px solid #3db29c !important;
  background-color: #3db29c !important;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
  width: 377px; }

.signup-btn:hover {
  border: 1px solid #359685 !important;
  background-color: #359685 !important; }

.default-btn {
  border: 1px solid #3db29c !important;
  background-color: #3db29c !important; }

.default-btn:hover {
  border: 1px solid #354f5e !important;
  background-color: #354f5e !important; }

.danger-btn {
  border: 1px solid #cc4242 !important;
  background-color: #cc4242 !important; }

.danger-btn:hover {
  border: 1px solid #ba0404 !important;
  background-color: #ba0404 !important; }

.search-and-login {
  min-height: 37px;
  margin-top: 1px;
  max-width: 1280px;
  padding: 0 40px; }
  .search-and-login .form-group {
    margin-bottom: 0; }
  .search-and-login form {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    display: inline-block !important; }
    .search-and-login form input[type="text"] {
      border: 1px solid #ddd !important;
      border-radius: 0 !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      height: 32px;
      margin-top: 4px;
      padding: 0px 10px !important;
      width: 100%; }
    .search-and-login form select {
      border: 1px solid #ddd !important;
      border-radius: 0 !important;
      color: #999999 !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: 400;
      height: 32px;
      margin-left: -1px;
      margin-top: 4px;
      padding: 0 10px;
      width: 100%;
      background-image: url("../images/backend/bullet_arrow_down.png");
      background-position: 96% center;
      background-repeat: no-repeat; }
    .search-and-login form .form-control:focus {
      border-color: #cccccc;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .search-and-login form input[type="submit"] {
      background-size: contain !important;
      display: inline-block !important;
      float: left;
      margin-top: 4px;
      height: 28px !important;
      width: 18px !important;
      position: relative !important;
      top: 3px !important; }
    .search-and-login form .search-submit-default {
      background: url("../images/icono_buscar.svg") no-repeat left !important; }
    .search-and-login form .search-submit-usr {
      background: url("../images/icono_buscar_blanco.svg") no-repeat left !important; }
    .search-and-login form a {
      color: #898989;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      height: 32px;
      padding-top: 11px;
      padding-left: 5px;
      text-decoration: none; }
    .search-and-login form a:hover {
      text-decoration: none; }
  .search-and-login .login {
    float: right;
    position: relative;
    top: -30px;
    height: 0px;
    padding-right: 5px;
    text-align: right; }
    .search-and-login .login a {
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none; }
    .search-and-login .login a:hover {
      text-decoration: none; }
    @media screen and (max-width: 987px) {
      .search-and-login .login {
        padding-right: 18px; } }
  @media screen and (max-width: 767px) {
    .search-and-login {
      display: none; } }
  @media screen and (max-width: 949px) {
    .search-and-login {
      padding: 0 20px; } }

.main-menu {
  background: white;
  float: none;
  min-height: 105px;
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px 40px 0 40px; }
  .main-menu span {
    color: #A0A0A0;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700; }
    .main-menu span a {
      color: black;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none; }
      @media screen and (max-width: 1279px) {
        .main-menu span a {
          font-size: 14px; } }
      @media screen and (max-width: 1132px) {
        .main-menu span a {
          font-size: 13px; } }
      @media screen and (max-width: 1019px) {
        .main-menu span a {
          font-size: 12px; } }
      @media screen and (max-width: 987px) {
        .main-menu span a {
          font-size: 11px; } }
    .main-menu span a:hover {
      color: #D05555;
      text-decoration: none; }
    @media screen and (max-width: 1279px) {
      .main-menu span {
        font-size: 12px; } }
    @media screen and (max-width: 1132px) {
      .main-menu span {
        font-size: 11px; } }
  .main-menu .tag {
    padding: 10px 20px; }
    @media screen and (max-width: 1279px) {
      .main-menu .tag {
        padding: 10px 16px; } }
    @media screen and (max-width: 1132px) {
      .main-menu .tag {
        padding: 10px 14px; } }
    @media screen and (max-width: 949px) {
      .main-menu .tag {
        display: none; } }
  .main-menu .link {
    padding: 10px 72px; }
    @media screen and (max-width: 1279px) {
      .main-menu .link {
        padding: 10px 60px; } }
    @media screen and (max-width: 1132px) {
      .main-menu .link {
        padding: 10px 52px; } }
    @media screen and (max-width: 1059px) {
      .main-menu .link {
        padding: 10px 39px; } }
    @media screen and (max-width: 949px) {
      .main-menu .link {
        padding: 10px 45px; } }
  .main-menu .submenu {
    background: url("../images/flecha_negro.svg") no-repeat;
    background-position: right center;
    padding: 10px 24px 10px 57px;
    background-size: 11px; }
    @media screen and (max-width: 1279px) {
      .main-menu .submenu {
        padding: 10px 24px 10px 49px;
        background-size: 9px; } }
    @media screen and (max-width: 1132px) {
      .main-menu .submenu {
        padding: 10px 18px 10px 48px;
        background-size: 7px; } }
    @media screen and (max-width: 1059px) {
      .main-menu .submenu {
        padding: 10px 18px 10px 40px;
        background-size: 7px; } }
    @media screen and (max-width: 949px) {
      .main-menu .submenu {
        padding: 10px 14px 10px 40px;
        background-size: 7px; } }
  .main-menu .submenu:hover {
    color: #D05555;
    background: url("../images/flecha_rojo.svg") no-repeat;
    background-position: right center;
    background-size: 11px; }
    .main-menu .submenu:hover a {
      color: #D05555; }
    @media screen and (max-width: 1279px) {
      .main-menu .submenu:hover {
        background-size: 9px; } }
    @media screen and (max-width: 1132px) {
      .main-menu .submenu:hover {
        background-size: 7px; } }
    @media screen and (max-width: 1059px) {
      .main-menu .submenu:hover {
        background-size: 7px; } }
    @media screen and (max-width: 949px) {
      .main-menu .submenu:hover {
        background-size: 7px; } }
  .main-menu .usr-low-submenu {
    background: url("../images/flecha_negro.svg") no-repeat;
    background-position: right center;
    padding: 10px 24px 10px 48px;
    background-size: 11px; }
    @media screen and (max-width: 1279px) {
      .main-menu .usr-low-submenu {
        padding: 10px 27px 10px 41px;
        background-size: 9px; } }
    @media screen and (max-width: 1132px) {
      .main-menu .usr-low-submenu {
        padding: 10px 18px 10px 33px;
        background-size: 7px; } }
    @media screen and (max-width: 1059px) {
      .main-menu .usr-low-submenu {
        padding: 10px 18px 10px 22px;
        background-size: 7px; } }
    @media screen and (max-width: 949px) {
      .main-menu .usr-low-submenu {
        padding: 10px 14px 10px 30px;
        background-size: 7px; } }
  .main-menu .usr-low-submenu:hover {
    color: #D05555;
    background: url("../images/flecha_rojo.svg") no-repeat;
    background-position: right center;
    background-size: 11px; }
    .main-menu .usr-low-submenu:hover a {
      color: #D05555; }
    @media screen and (max-width: 1279px) {
      .main-menu .usr-low-submenu:hover {
        background-size: 9px; } }
    @media screen and (max-width: 1132px) {
      .main-menu .usr-low-submenu:hover {
        background-size: 7px; } }
    @media screen and (max-width: 1059px) {
      .main-menu .usr-low-submenu:hover {
        background-size: 7px; } }
    @media screen and (max-width: 949px) {
      .main-menu .usr-low-submenu:hover {
        background-size: 7px; } }
  .main-menu .submenu-wrapper {
    position: relative;
    left: 0;
    top: 10px; }
    @media screen and (max-width: 1132px) {
      .main-menu .submenu-wrapper {
        left: -21px; } }
    @media screen and (max-width: 1059px) {
      .main-menu .submenu-wrapper {
        left: -38px; } }
    @media screen and (max-width: 949px) {
      .main-menu .submenu-wrapper {
        left: -3px; } }
  .main-menu .submenu-arrow {
    z-index: 3;
    background: url("../images/triangulo_gris.svg") no-repeat;
    background-position: right top;
    position: absolute;
    top: -4px;
    left: -65px;
    width: 176px;
    height: 10px; }
    @media screen and (max-width: 949px) {
      .main-menu .submenu-arrow {
        left: -95px; } }
  .main-menu .submenu-items {
    border: 1px solid #E8E8E8;
    left: -70px;
    position: absolute;
    top: 5px;
    width: 176px;
    z-index: 2; }
    .main-menu .submenu-items a .submenu-item {
      background-color: #F4F4F4;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      padding: 15px 15px;
      text-transform: none !important;
      width: 100%;
      cursor: pointer; }
      @media screen and (max-width: 1279px) {
        .main-menu .submenu-items a .submenu-item {
          font-size: 14px; } }
      @media screen and (max-width: 1132px) {
        .main-menu .submenu-items a .submenu-item {
          font-size: 13px; } }
      @media screen and (max-width: 1059px) {
        .main-menu .submenu-items a .submenu-item {
          font-size: 12px;
          padding: 11px 15px; } }
      @media screen and (max-width: 1019px) {
        .main-menu .submenu-items a .submenu-item {
          font-size: 12px; } }
      @media screen and (max-width: 987px) {
        .main-menu .submenu-items a .submenu-item {
          font-size: 11px; } }
    .main-menu .submenu-items a .submenu-item:hover {
      background-color: #DDD;
      color: #D05555; }
    @media screen and (max-width: 949px) {
      .main-menu .submenu-items {
        left: -100px; } }
  @media screen and (max-width: 949px) {
    .main-menu {
      padding: 20px 20px 0 20px; } }

@media screen and (max-width: 767px) {
  .desktop-menu {
    display: none; } }

.mobile-menu {
  display: none;
  min-height: 41px;
  padding: 0 12px; }
  .mobile-menu .item {
    background-size: contain !important;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    width: 23px; }
  .mobile-menu .main {
    background: url("../images/icono_menu.svg") no-repeat;
    margin-right: 5px;
    float: left; }
  .mobile-menu .user {
    background: url("../images/icono_usuario.svg") no-repeat left;
    margin-left: 5px;
    float: left; }
  .mobile-menu .search {
    background: url("../images/icono_buscar.svg") no-repeat left;
    float: right; }
  @media screen and (max-width: 767px) {
    .mobile-menu {
      display: block; } }

.mobile-submenu {
  background-color: #F4F4F4;
  left: 0;
  padding: 0 20px;
  position: absolute;
  top: 147px;
  width: 100%;
  z-index: 10; }
  .mobile-submenu a {
    text-decoration: none; }
    .mobile-submenu a .mobile-submenu-item {
      border-bottom: 1px solid black;
      color: black;
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      padding: 20px 0;
      text-align: center; }
    .mobile-submenu a .mobile-submenu-item:hover {
      color: red; }
  .mobile-submenu a:hover {
    text-decoration: none; }

.mobile-user-submenu {
  background-color: #233B48;
  padding: 20px 20px; }
  .mobile-user-submenu .profile-img {
    display: block;
    background-color: #233B48;
    margin: 5px auto 5px;
    height: 76px !important;
    width: 76px !important;
    border-radius: 40px; }
  .mobile-user-submenu .short-padding {
    padding: 14px 0 8px 0 !important; }
  .mobile-user-submenu .mbl-sub_usrname {
    color: white; }
  .mobile-user-submenu a {
    text-decoration: none; }
    .mobile-user-submenu a .link-wrapper {
      background-color: #354f5e !important;
      display: block;
      padding: 0 3%;
      height: 47px;
      line-height: 47px; }
    .mobile-user-submenu a .logout-usr-sub {
      height: 54px !important; }
    .mobile-user-submenu a img {
      display: inline-block;
      margin: 5px;
      height: 25px;
      width: 25px; }
    .mobile-user-submenu a .mobile-submenu-item {
      display: block; }
    .mobile-user-submenu a .mobile-usr-submenu-item {
      color: white;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500; }
    .mobile-user-submenu a .mobile-usr-submenu-item:hover {
      color: white; }
    .mobile-user-submenu a .top-btn {
      margin-bottom: 16px; }
  .mobile-user-submenu a:hover {
    text-decoration: none; }

footer {
  background: none !important;
  height: auto !important;
  min-height: 181px;
  position: relative !important; }
  footer .footer-links {
    background-color: #F4F4F4;
    min-height: 148px; }
    footer .footer-links .footer-sections {
      max-width: 1280px;
      display: block;
      margin: 0 auto;
      padding: 0 16px; }
      footer .footer-links .footer-sections .image-section {
        padding-top: 40px; }
        @media screen and (max-width: 767px) {
          footer .footer-links .footer-sections .image-section {
            padding-top: 5px; } }
      footer .footer-links .footer-sections .menu-section {
        padding: 20px 20px 0 20px;
        max-width: 376px;
        float: none;
        margin: 0 auto;
        display: block; }
        @media screen and (max-width: 1132px) {
          footer .footer-links .footer-sections .menu-section {
            padding: 26px 20px 0 20px; } }
        @media screen and (max-width: 767px) {
          footer .footer-links .footer-sections .menu-section {
            padding: 0; } }
      footer .footer-links .footer-sections .social-section {
        padding: 20px 0;
        max-width: 178px;
        float: none;
        margin: 0 auto;
        display: block; }
        footer .footer-links .footer-sections .social-section img {
          width: 15px;
          height: 15px;
          display: inline-block;
          margin-right: 9px; }
          @media screen and (max-width: 767px) {
            footer .footer-links .footer-sections .social-section img {
              width: 10px;
              height: 10px;
              margin-right: 6px; } }
        @media screen and (max-width: 1132px) {
          footer .footer-links .footer-sections .social-section {
            padding: 26px 0; } }
        @media screen and (max-width: 767px) {
          footer .footer-links .footer-sections .social-section {
            padding: 0px 0 47px 0; } }
      footer .footer-links .footer-sections img {
        display: block;
        height: 71px;
        margin: 0 auto;
        width: 175px; }
        @media screen and (max-width: 1132px) {
          footer .footer-links .footer-sections img {
            width: 141px;
            height: 71px; } }
        @media screen and (max-width: 1059px) {
          footer .footer-links .footer-sections img {
            width: 125px;
            height: 71px; } }
        @media screen and (max-width: 1019px) {
          footer .footer-links .footer-sections img {
            width: 102px;
            height: 71px; } }
        @media screen and (max-width: 830px) {
          footer .footer-links .footer-sections img {
            font-size: 94px; } }
        @media screen and (max-width: 767px) {
          footer .footer-links .footer-sections img {
            width: 88px; } }
      footer .footer-links .footer-sections a {
        text-decoration: none; }
        footer .footer-links .footer-sections a .footer-menu-item {
          display: block;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400;
          color: black;
          padding: 8px 10px; }
          @media screen and (max-width: 1132px) {
            footer .footer-links .footer-sections a .footer-menu-item {
              font-size: 12px; } }
          @media screen and (max-width: 1019px) {
            footer .footer-links .footer-sections a .footer-menu-item {
              font-size: 11px; } }
          @media screen and (max-width: 949px) {
            footer .footer-links .footer-sections a .footer-menu-item {
              font-size: 10px; } }
          @media screen and (max-width: 830px) {
            footer .footer-links .footer-sections a .footer-menu-item {
              font-size: 9px;
              padding: 8px 4px; } }
          @media screen and (max-width: 767px) {
            footer .footer-links .footer-sections a .footer-menu-item {
              font-size: 10px; } }
  footer .low-bar {
    background-color: #ddd;
    min-height: 33px; }
    footer .low-bar .low-bar-wrapper {
      max-width: 1280px;
      padding: 0	43px;
      display: block;
      margin: 0 auto;
      float: none; }
      footer .low-bar .low-bar-wrapper .low-bar-col {
        padding: 9px 0; }
        footer .low-bar .low-bar-wrapper .low-bar-col span {
          color: black;
          font-family: 'Open Sans', sans-serif;
          font-size: 13px;
          font-weight: 400; }
          @media screen and (max-width: 767px) {
            footer .low-bar .low-bar-wrapper .low-bar-col span a {
              width: 100%;
              display: block;
              padding-right: 0 !important; } }
          @media screen and (max-width: 767px) {
            footer .low-bar .low-bar-wrapper .low-bar-col span {
              font-size: 12px; } }
        footer .low-bar .low-bar-wrapper .low-bar-col a {
          color: black; }
        footer .low-bar .low-bar-wrapper .low-bar-col .policy {
          padding-right: 20px; }
      footer .low-bar .low-bar-wrapper .text-right {
        text-align: right; }
        @media screen and (max-width: 949px) {
          footer .low-bar .low-bar-wrapper .text-right {
            text-align: center; } }
      @media screen and (max-width: 949px) {
        footer .low-bar .low-bar-wrapper {
          width: 100% !important;
          text-align: center; } }

@media screen and (max-width: 767px) {
  .logos-bar {
    width: 100%;
    padding-left: 0;
    padding-right: 0; } }

@media screen and (max-width: 767px) {
  .menu-bar {
    width: 73%;
    padding-left: 0;
    padding-right: 0; } }

@media screen and (max-width: 767px) {
  .social-bar {
    width: 27%;
    padding-left: 0;
    padding-right: 0; } }

.usr-submenu .usr-submenu-wrapper {
  position: relative;
  right: 0;
  top: 36px; }
  @media screen and (max-width: 1132px) {
    .usr-submenu .usr-submenu-wrapper {
      right: 21px; } }
  @media screen and (max-width: 1059px) {
    .usr-submenu .usr-submenu-wrapper {
      right: 38px; } }
  @media screen and (max-width: 949px) {
    .usr-submenu .usr-submenu-wrapper {
      right: 3px; } }
.usr-submenu .submenu-arrow {
  z-index: 3;
  background: url("../images/triangulo_gris.svg") no-repeat;
  background-position: 85% top;
  position: absolute;
  top: -4px;
  right: 20px;
  width: 176px;
  height: 10px; }
.usr-submenu .submenu-items {
  border: 1px solid #E8E8E8;
  right: 20px;
  position: absolute;
  top: 5px;
  width: 176px;
  z-index: 2; }
  .usr-submenu .submenu-items a {
    text-decoration: none; }
    .usr-submenu .submenu-items a .submenu-item {
      background-color: #F4F4F4;
      color: black;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 15px;
      text-transform: none !important;
      width: 100%;
      cursor: pointer;
      display: block; }
      @media screen and (max-width: 1279px) {
        .usr-submenu .submenu-items a .submenu-item {
          font-size: 14px; } }
      @media screen and (max-width: 1132px) {
        .usr-submenu .submenu-items a .submenu-item {
          font-size: 13px; } }
      @media screen and (max-width: 1059px) {
        .usr-submenu .submenu-items a .submenu-item {
          font-size: 12px; } }
      @media screen and (max-width: 1019px) {
        .usr-submenu .submenu-items a .submenu-item {
          font-size: 12px; } }
    .usr-submenu .submenu-items a .submenu-item:hover {
      background-color: #DDD;
      color: #D05555;
      text-decoration: none; }

@media screen and (max-width: 1059px) {
  .usr-main-menu span a {
    font-size: 11px; } }
@media screen and (max-width: 949px) {
  .usr-main-menu span a {
    font-size: 11px; } }
@media screen and (max-width: 987px) {
  .usr-main-menu span a {
    font-size: 10px; } }
@media screen and (max-width: 987px) {
  .usr-main-menu span a {
    font-size: 11px; } }
.usr-main-menu .link {
  padding: 20px 43px;
  padding-bottom: 0px; }
  @media screen and (max-width: 1279px) {
    .usr-main-menu .link {
      padding: 20px 34px;
      padding-bottom: 0px; } }
  @media screen and (max-width: 1132px) {
    .usr-main-menu .link {
      padding: 20px 32px;
      padding-bottom: 0px; } }
  @media screen and (max-width: 1059px) {
    .usr-main-menu .link {
      padding: 20px 22px;
      padding-bottom: 0px; } }
  @media screen and (max-width: 949px) {
    .usr-main-menu .link {
      padding: 20px 30px;
      padding-bottom: 0px; } }

.home-signup {
  background-color: #354f5e;
  min-height: 257px;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .home-signup {
      display: none; } }
  .home-signup h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-top: 67px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: none;
    margin: 0; }

.home-usr-border {
  border-top: 1px solid red;
  margin-top: 2px;
  margin-bottom: 10px; }

.home-row {
  min-height: 620px;
  max-width: 1280px;
  float: none;
  margin: 0 auto; }

.home-books {
  padding: 37px 17px 37px 40px; }
  @media screen and (max-width: 767px) {
    .home-books {
      padding: 37px 15px 37px 15px; } }
  @media screen and (max-width: 599px) {
    .home-books {
      padding: 37px 15px 5px 15px; } }
  .home-books .book-wrapper {
    width: 173px;
    margin-bottom: 39px;
    display: block;
    position: relative; }
    @media screen and (max-width: 767px) {
      .home-books .book-wrapper {
        width: 130px;
        display: inline-block; } }
  @media screen and (max-width: 767px) {
    .home-books .row {
      text-align: center; } }
  @media screen and (max-width: 767px) {
    .home-books .col {
      width: 50%;
      display: inline-block;
      margin: 0 auto; } }
  .home-books h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0; }
    @media screen and (max-width: 767px) {
      .home-books h2 {
        font-size: 18px; } }
  .home-books hr {
    margin-top: 12px;
    margin-bottom: 38px;
    border: 0;
    border-top: 2px solid #EF6C15; }
  .home-books img {
    width: 173px;
    height: 267px;
    display: block; }
    @media screen and (max-width: 767px) {
      .home-books img {
        width: 130px;
        height: 203px;
        display: block; } }
  .home-books .dsk-book-name {
    width: 173px;
    padding: 20px 10px 5px 10px;
    text-align: center;
    display: block;
    font-family: "Open Sans" serif;
    font-weight: 700;
    line-height: 17px;
    color: black; }
    @media screen and (max-width: 767px) {
      .home-books .dsk-book-name {
        width: 130px; } }
  .home-books .dsk-book-author {
    width: 173px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
    text-align: center;
    display: block;
    font-family: "Open Sans" serif;
    font-weight: 400;
    color: black; }
    @media screen and (max-width: 767px) {
      .home-books .dsk-book-author {
        width: 130px; } }

.home-information {
  padding: 37px 30px 37px 22px; }
  @media screen and (max-width: 767px) {
    .home-information {
      padding: 37px 15px 37px 15px; } }
  @media screen and (max-width: 599px) {
    .home-information {
      padding: 0px 15px 37px 15px; } }
  .home-information .home-banner img {
    width: 100%; }
  @media screen and (max-width: 767px) {
    .home-information .lectores-conectados .row {
      text-align: center; } }
  @media screen and (max-width: 767px) {
    .home-information .lectores-conectados .col {
      display: inline-block;
      width: 25%;
      margin: 0 auto;
      float: none;
      text-align: left;
      margin-right: -4px; } }
  .home-information .lectores-conectados h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      .home-information .lectores-conectados h2 {
        font-size: 18px; } }
  .home-information .lectores-conectados hr {
    margin-top: 12px;
    margin-bottom: 38px;
    border: 0;
    border-top: 2px solid #3db29c; }
  .home-information .lectores-conectados img {
    display: block;
    margin: 0 auto;
    width: 61px;
    margin-bottom: 21px; }
  .home-information .listas-destacadas h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      .home-information .listas-destacadas h2 {
        font-size: 18px; } }
  .home-information .listas-destacadas hr {
    margin-top: 12px;
    margin-bottom: 38px;
    border: 0;
    border-top: 2px solid #354F5E; }
  .home-information .cita h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px; }
    @media screen and (max-width: 767px) {
      .home-information .cita h2 {
        font-size: 18px; } }
  .home-information .cita hr {
    margin-top: 12px;
    margin-bottom: 38px;
    border: 0;
    border-top: 2px solid #EFC84E; }
  .home-information .cita h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 30px;
    display: block; }
    @media screen and (max-width: 767px) {
      .home-information .cita h4 {
        font-size: 16px; } }
  .home-information .cita span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 11px;
    display: block;
    text-align: right; }
    @media screen and (max-width: 767px) {
      .home-information .cita span {
        font-size: 16px; } }
  .home-information .cita a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 0;
    display: inline-block;
    color: #C5A849;
    text-decoration: none; }
    @media screen and (max-width: 767px) {
      .home-information .cita a {
        font-size: 14px; } }

.mbl-view-more {
  font-family: "Open Sans" serif;
  font-weight: 600;
  color: #ef6c15;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 3px; }

.more-news {
  color: #cc4242 !important; }

.home-list-name {
  font-family: "Open Sans" serif;
  font-size: 16px;
  margin-bottom: 18px;
  color: black; }

.home-list-book {
  width: 68px;
  height: 103px;
  display: inline-block;
  margin-bottom: 20px; }

.list-push-right {
  margin-right: 10px; }

.see-more-lists {
  font-family: "Open Sans" serif;
  font-size: 18px;
  color: #354f5e; }

.help-list-popup {
  width: 179px;
  min-height: 250px;
  border-radius: 25px;
  background-color: #354f5e;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 15px 0; }
  .help-list-popup .popup-lists-container {
    height: 191px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .help-list-popup .popup-lists-container .popup-lists-items {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: -26px;
      overflow: auto; }
      .help-list-popup .popup-lists-container .popup-lists-items span {
        font-size: "Open Sans", serif !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        padding-left: 40px !important;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 15px center; }
        .help-list-popup .popup-lists-container .popup-lists-items span:hover {
          color: #3db29c; }
      .help-list-popup .popup-lists-container .popup-lists-items .item-listp-active {
        color: #3db29c !important;
        background-image: url("../images/detail/checkbox_select.svg"); }
      .help-list-popup .popup-lists-container .popup-lists-items .item-listp-inactive {
        background-image: url("../images/detail/checkbox.svg"); }
        .help-list-popup .popup-lists-container .popup-lists-items .item-listp-inactive:hover {
          background-image: url("../images/detail/checkbox_hover.svg"); }
  .help-list-popup .add-listp-section {
    position: relative;
    bottom: 0;
    padding-right: 0; }
    .help-list-popup .add-listp-section .popup-add-list {
      color: #3db29c !important;
      font-size: 14px !important;
      padding-top: 10px !important;
      cursor: pointer; }
    .help-list-popup .add-listp-section input {
      width: 87px;
      margin-top: 10px;
      display: inline-block; }
    .help-list-popup .add-listp-section .add-list-popup-btn {
      color: white !important;
      display: inline-block !important;
      margin-left: 10px;
      font-size: 14px !important;
      padding-top: 10px !important;
      cursor: pointer; }
      .help-list-popup .add-listp-section .add-list-popup-btn:hover {
        color: #3db29c !important; }

.home-book-info-mask {
  width: 173px;
  height: 267px;
  background-color: rgba(36, 60, 73, 0.9);
  color: #fff;
  padding: 10px;
  text-align: left;
  position: absolute;
  top: 0px;
  overflow: hidden; }

.home-title {
  font-family: 'Open Sans',serif;
  font-weight: 600; }

.home-autor {
  font-family: 'Open Sans',serif;
  font-weight: 300; }

.home-editorial {
  font-family: 'Open Sans',serif;
  font-weight: 300; }

.profile-home-dsk-top {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 7px;
  margin-right: 11px;
  margin-left: 8px;
  float: right;
  position: relative; }

.profile-img-home-dsk {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  position: relative; }

.usr-messages-red-icon {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 8px;
  font-weight: 600;
  background-image: url("../images/circulo-notificaciones_red.svg");
  background-position: center;
  text-align: center;
  font-family: 'Open Sans',serif;
  background-size: 12px;
  min-width: 12px;
  min-height: 12px; }

.red-hr {
  margin-top: 12px;
  margin-bottom: 38px;
  border: 0;
  border-top: 2px solid #cc4242 !important; }

.search-submit-default-mbl {
  display: inline-block !important;
  float: right !important;
  width: 30px !important;
  height: 30px !important;
  background: url("../images/icono_buscar.svg") no-repeat left !important;
  border-radius: 0px !important;
  background-size: 22px !important;
  border: none !important; }

.key-words-home {
  position: absolute;
  bottom: 8px;
  max-height: 67px;
  overflow: auto;
  width: 120%;
  padding-right: 45px; }

.sp-keyword-home {
  background-color: #359685;
  font-family: 'open sans',sans-serif;
  font-size: 12px;
  padding: 0 3px;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white !important; }
  .sp-keyword-home a {
    font-family: "open sans", sans-serif !important;
    color: white !important;
    text-decoration: none !important;
    font-weight: 600 !important; }
    .sp-keyword-home a:hover {
      color: white !important;
      text-decoration: none !important; }
    .sp-keyword-home a:active {
      color: white !important;
      text-decoration: none !important; }

.blue-hr {
  margin-top: 12px;
  margin-bottom: 38px;
  border: 0;
  border-top: 2px solid #354f5e !important; }

.home-type {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  background-color: red;
  color: white;
  padding: 2px 10px;
  right: 0;
  font-size: 16px;
  font-family: 'Montserrat', serif;
  box-shadow: 0px 3px 0px 0px #313131; }

.list-pagination-item {
  display: inline-block;
  font-family: "Montserrat", serif;
  font-size: 16px; }
  .list-pagination-item a {
    text-decoration: none !important;
    padding: 0 10px; }
    .list-pagination-item a:active {
      color: #3db29c; }
