//sass --watch tick.scss:tick.css
$gray: #dedddd;
$dark-gray: #9c9c9c;
$red:  #f32f3a;
$black: #424242;
$red-sinopsis: #cc4242;
$tags: #354f5e;
$stars: #eec74e;
$green: #3db29c;
$blue: #354f5e;

#reportDialog.modal-dialog{
	width: 325px;
	@media only screen and (max-width : 844px){		
		min-width: 270px;
		width: 270px;
		float: none;
		margin: auto;
		margin-top: 15px;
	}	
}
.form-group{
	color:$green;
	font-family:"Open Sans";
	font-size: 14px;

	input[type="checkbox"],input[type="radio"]{ 
		display: none; 
		color:$dark-gray;		
	} 
	input[type="text"]{ 
		display: inline-block; 
		width: 100%;
		border: 1px solid $gray;
		color:$dark-gray;	
		font-family:"Open Sans";			
		&:active{
			border: 1px solid $green;			
		}
		&:focus{
			border: 1px solid $green;			
		}
	} 

	label{
	  padding: 2px;
	  transition: all .2s;
	}	
	input:checked ~ label.tickit:before {
	  content: url('../images/detail/radio-button_active.svg');  
	  color: #FD4;
	  transition: all .25s;
	}	
	label:before {
	  content: url('../images/detail/radio-button_inactive_green.svg');
	  &:hover{
	  	cursor:pointer;
	  }
	}
	p{margin-bottom: 10px}

	p.title-data{
		font-family: "Open Sans";
	}
	::-webkit-input-placeholder { color:$dark-gray; font-family:'Open Sans' }
	::-moz-placeholder { color:$dark-gray; font-family:'Open Sans' }
	:-ms-input-placeholder { color:$dark-gray; font-family:'Open Sans' }
	input:-moz-placeholder { color:$dark-gray; font-family:'Open Sans' }

	.col-data{
		margin-bottom: 15px;
	}
	#send-report.modal-footer{
		text-align: center !important;
	}
	textarea{
		width: 100%;
		resize: vertical;
		overflow:hidden;
		border: 1px solid $gray;
		color:$dark-gray;
		&:focus{
			border: 1px solid $green;		
		}
	}
	p.error-data{
		color: $red-sinopsis !important;
		font-family: "Open Sans";
		font-size: 14px;
		display: none;
	}
}	

.btn-add-library{
	cursor: pointer;
	padding:8px 10px 8px 10px;
	border-radius: 30px;
	background-color: #FFF;
	border-color: $blue;
	border:1px solid $blue;
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
	font-size: 12px;	
	color: $blue;
	width: 175px;
	&:hover{
		background-color:$blue;
		color:#FFF !important;
	}
}
