/*estilo para la cita*/
.cita-divisor
{
    margin-top: 12px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #EFC84E !important;
}

.cita-span 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 11px;
    display: block;
    text-align: right;
}
.cita h2 {
    font-family: 'Open Sans', sans-serif;
}

.cita-text
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    display: block;
}

.cita-share
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 0;
    display: inline-block;
    color: #C5A849;
    text-decoration: none;
}

.header-form
{
	background:#3db29c;
	text-align:center;
	color:#FFF
}

.header-form h2
{
	padding:0px;
	border-bottom:0px;
	padding-top:10px;
	font-family:'montserrat', sans-serif !important
}

.header-form h3
{
	font-family:'montserrat', sans-serif !important

}

.header-form p
{
	font-family:'opensans', sans-serif
}

.header-form .form-group p
{
	color:#fff;
	font-family:'opensans', 
	sans-serif !important
}

.header-form .btn-fb
{
	margin-bottom:15px
	;background:#44619d;
	border-color:#44619d !important;
	color:#fff !important
}

.listas-destacadas h2 {
    font-family:'opensans', sans-serif;
}

.header-form .btn
{
	font-family:'montserrat' !important
}

.btn:focus
{
	outline:none !important;
	outline-offset:0 !important
}

.margen-input-principal .text-danger,.margen-input .text-danger
{
	margin-bottom:0px !important;
	margin-top:5px !important;
	font-family:'opensans', sans-serif !important !important
}

#form-registro input:focus,.view-recover input:focus,.view-login input:focus
{
	box-shadow:0px 0px 0px transparent;
	-webkit-box-shadow:0px 0px 0px transparent;
	-moz-box-shadow:0px 0px 0px transparent;
	box-shadow:0 !important
}

#form-registro .btn,.view-recover .btn,.view-login .btn
{
	font-family:'montserrat' !important
}

#form-registro .header-form,.view-recover .header-form,.view-login .header-form
{
	background:#359685
}

#form-registro label,.view-recover label,.view-login label
{
	font-family:'montserrat' !important
}

#form-registro span,.view-recover span,.view-login span
{
	font-family:'montserrat' !important
}

#form-registro span a,.view-recover span a,.view-login span a
{font-family:'montserrat' !important}

.right.btn-closed_welcome
{float:right !important}

#inscripcion .checkboxw .text-gray
{font-weight:300}

#inscripcion .checkboxw .text-gray a
{color:#979797;font-weight:600}

#inscripcion .form-group fieldset.row
{margin-left:0px;margin-right:0px}

#inscripcion label
{font-family:'montserrat' !important}

#inscripcion span{font-family:'montserrat' !important}

#inscripcion span a{font-family:'montserrat' !important}

#inscripcion input[type=text],#inscripcion input[type=email],#inscripcion input[type=password]
{
	border-color:#dedddd !important
}

#inscripcion input[type=text]:focus,#inscripcion input[type=email]:focus,#inscripcion input[type=password]:focus
{
	border-color:#3db29c !important
}

.inputs-error
{border:1px solid #d77676;border-color:#d77676 !important}

.bg-color-blue:hover
{background:#354f5e;color:#fff !important}

input[type="submit"],.btn
{transition:all 0s ease 0s !important;-webkit-transition:0s !important;-moz-transition:0s !important;-o-transition:0s !important;transition:0s !important}

#form-registro label.span-css
{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}

#form-registro input[type="checkbox"]
{display:none}

#form-registro input[type="checkbox"]+label.span-css
{background:url(../images/check_box.svg) left top no-repeat;display:block !important;vertical-align:middle;margin:-1px 4px 0 0;padding-left:20px;cursor:pointer;height:18px}

#form-registro .btn-rounded-green#save_user
{border-radius:50px !important}

.text-green
{color:#3db29c}

.text-green:hover
{color:#3db29c}

#error_email.text-danger,#error_password.text-danger,label.text-danger
{color:#cc4242;font-weight:300 !important;font-family:'opensans', sans-serif !important}

.inner-block.home-signup
{padding-bottom:1px}

.inner-block.home-signup .dos
{width:55%;margin-right:auto;margin-left:auto}

.inner-block.home-signup .block_1
{float:none;margin-right:auto;margin-left:auto}

.btn-con-cuenta
{float:right;margin-right:20px;margin-top:25px;color:#fff !important;border:1px solid #fff !important}

.btn-con-cuenta:hover
{background:#233b48 !important;border-color:#233b48 !important}

/*los estilos de la lista de trivias*/
.trivia
{
    float: left; 
    width: 50%; 
    height:391px;

}

.trivias-list-img img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width:370px;
    height:235px;
}

.trivias-list-background-image 
{
  background-size: cover;
  display: block;
  filter: grayscale(0.7);
  -webkit-filter: grayscale(0.7);
  width:370px;
  height: 235px;
  z-index: 1;
   margin-left: auto;
  margin-right: auto;
  cursor: pointer; 
  cursor: hand;
}

.trivias-list-portada img{
  background: rgba(255, 255, 255, 0.35);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -235px;
  z-index: 2;
  padding: 0 0px;
  height:235px;
  width:170px;
  object-fit:fill;
  display: block;
  cursor: pointer; 
  cursor: hand;
} 

/*paginacion*/
.trivias_footer
{
    float:right;
}

.flecha-back
{
    background-image: url(../images/flechas.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-right: 10px;
}
.flecha-back:hover
{
    background-position: 0 -13px;
}

.flecha-front
{
    background-image: url(../images/flechas.svg);
    background-repeat: no-repeat;
    background-position: -39px 0;
    cursor: pointer;
    display: inline-block;
    height: 13px;
    width: 13px;
    margin-left: 10px;
}
.flecha-front:hover
{
    background-position: -39px -13px;
}

.yo-soy-verde
{
    font-size: 14px;
    font-style: normal;
    font-family: 'Open sans', sans-serif;
    color: #359685;
}

.trivias_footer a
{
    font-size: 14px;
    font-style: normal;
    font-family: 'Open sans', sans-serif;
    color: #989898;
}

.trivias_footer a:hover
{
    font-size: 14px;
    font-style: normal;
    font-family: 'Open sans', sans-serif;
    color: #359685;
}

.yo-soy-gris
{
    font-size: 14px;
    font-style: normal;
    font-family: 'Open sans', sans-serif;
    color: #989898;
}

/*busquedas*/
.lupa
{
    background-color:#ffffff !important;
    border:none !important;
    float:right;
    margin-top 6px;
}
.lupa img
{
    vertical-align:middle;
}

.trivias-search form 
{
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    display: inline-block !important;
    max-height:50px;
}

.text-busqueda
{
    display: block!important;
    width: 100%;
    height: 46px;
    font-family: "Open Sans", sans-serif !important;
    border-radius: 3px !important;
    border-color: #354f5e !important;
    float: left;
    display: block;
}

.trivia-busqueda-text
{
    float:left;
    width: 90%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;

}
.trivia-busqueda-select
{
    display:none;
    float:left;
    width: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

.trivia-busqueda-select select
{
    background-image: url("../images/backend/bullet_arrow_down.png");
    background-position: 96% center;
    background-repeat: no-repeat;
}

.trivias_header, .trivias_footer, .trivias-search
{
	padding-left: 20px;
	padding-right: 20px;
}

.trivias_header h2 {
    padding-bottom: 12px;
    font-family: "Open Sans";
}

.trivias-search
{
    margin-bottom:20px;
}

/*Estos son los de mi ventana modal*/
.modal-header 
{
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #359685;
    color:#ffffff;
}

.img-portada-grande
{
    width:173px;
    height:267px;
    object-fit cover;
}

.img-circle
{
    width:225px;
    height:225px;
    object-fit: cover;
}

.modal .modal-dialog .social-medios-mini {
    vertical-align: middle;
}

.cita .social-medios-mini {
    vertical-align: middle;
}

/*Estos son los botones que uso*/
.btn-create-green
{
	border-color:#359685 !important;
	color:#359685 !important;
	background:#FFFFFF !important;
	float:none;
	margin-bottom:10px !important;
	width: initial;
	margin-bottom: 0px;
    margin-top: 16px;
    width: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 4px 12px ;
}

.btn-create-green:hover
{
	background:#359685 !important;
	color:#fff !important}


.btn-rounded-green
{
	border-color:#359685 !important;
	color:#359685 !important;
	background:#FFFFFF !important;
	float:none;
	width: initial;
	margin:0px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 4px 12px ;
    right:0;
    vertical-align: middle;
}

.btn-rounded-green:hover
{background:#359685 !important;color:#fff !important}

.btn-rounded-green:hover img
{color:#000 !important}

.btn-round 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg 
{
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm 
{
    width: 34px;
    height: 34px;
}

.btn-sm-green-label
{
	float:right;
    position:relative;
    top: -27px;
    right: -52px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color:#FFFFFF;
    z-index:2;
    /*display:none;*/
}
.btn-sm-green-label-num
{
	width:60px;
	height:60px;
	border-radius:50%;
	font-size:20px;
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	background:#359685;
	float:right;
    position:relative;
    top: -55px;
    right: 0px;
    font-family: "Open Sans", sans-serif;
    z-index:1;
    /*display:none;*/
}

.btn-round.btn-sm-green 
{
    width: 60px;
    height: 60px;
    border-color:#359685 !important;
    color:#ffffff !important;
    background:#359685 !important;
    align-content: center;
    float:right;
    position:relative;
    top: -65px;
    right: 0px;
    font-family: "Open Sans", sans-serif;
}


.btn-round.btn-xs 
{
    width: 24px;
    height: 24px;
}

.modal-footer .btn-group .btn+.btn 
{
    margin-left: 20px;
}


.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child),.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle)
{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
    
}

.btn-group-vertical>.btn:first-child:not(:last-child), .btn-group-vertical>.btn:not(:first-child):not(:last-child) 
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn.active, .btn:active 
{
    background-color: #354f5e;
}

.btn.btn-success
{
	border-color:#359685 !important;
    background-color: #ffffff;
    color:#359685 !important;
    margin:0px;
    border: 1px;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.btn.btn-success.active, .btn.btn-success.passed.active
{
    border-color:#354f5e !important;
    background-color: #354f5e;
    color:#ffffff !important;
    margin:0px;
    border: 1px;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}

.btn.btn-success.passed 
{
    border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
    margin:0px;
    border: 1px;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}

.btn.btn-success2
{
	border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
        font-family: 'Open Sans';
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    white-space:normal 
}

.btn.btn-success2.active, .btn.btn-success2.passed.active
{
    border-color:#354f5e !important;
    background-color: #354f5e;
    color:#ffffff !important;
        font-family: 'Open Sans';
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    white-space:normal 
}

.btn-success2:hover
{
	border-color:#354f5e !important;
    background-color: #354f5e;
    color:#ffffff !important;
        font-family: 'Open Sans';
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    white-space:normal 

}

.btn.btn-success2.passed 
{
    border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
       font-family: 'Open Sans';
    font-size: 20px;
    min-width: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.btn-paginator
{
    border-color:#359685 !important;
    background-color: #ffffff;
    color:#359685 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding-top: 3px;
    border-radius: 50%;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;

}

.btn-paginator.active, .btn-paginator.passed.active
{
    border-color:#354f5e !important;
    background-color: #354f5e;
    color:#ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding-top: 3px;
    border-radius: 50%;
}

.btn-paginator.passed 
{
    border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding-top: 3px;
    border-radius: 50%;
}

.btn-paginator:hover
{
    border-color:#354f5e !important;
    background-color: #354f5e;
    color:#ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding-top: 3px;
    border-radius: 50%;

}

.btn-visible
{display:none !important;margin-right:auto !important;margin-left:auto !important;float:none;width:20%}

.side-btn
{
    position:absolute !important;
    right:0;
    bottom:0;
}

.green-hr
{
	    margin-top: 12px;
	    margin-bottom: 38px;
	    border: 0;
	    border-top: 2px solid #359685 !important;
}

h2
{
	color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

.trivia-pregunta-label
{
	font-family:'Open sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	padding-top: 35px;
    margin-bottom: 50px;
}

.trivias_body_ind
{
    padding-left: 20px;
    padding-right: 20px;
}

.trivias_footer_ind
{
    padding-left: 20px;
    padding-right: 20px;
}

.descubre-btn
{
    display:none;
    margin-top:30px;
    text-align: center;
}

.br-boton 
{
	text-align: center;
  margin:0em 0;/* FF for instance */
  line-height:0.2em;/* chrome for instance */
}

.titulo-trivia
{
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	padding-left: 20px;
	margin-bottom: 0px;
    cursor: pointer; 
    cursor: hand;
}

.trivia_boton
{
    width: 50%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.metadata-trivia
{
	font-size:14px;
	font-style:normal;
	font-family:'Open sans', sans-serif;
	color:#989898;
	padding-left: 20px;
	width:50%;
    float: left; 
}

.metadata-trivia p
{
	margin-bottom: 0px;

}

.trivia-boton
{
    float: right; 
    width: 50%;
}

/*lo de la ventana modal*/

@media (min-width: 820px){

.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
}

.modal-header
{
	border-bottom: 0px;
	padding: 10px;
}

.modal-footer
{
	border-bottom: 20px;
	padding: 20px;
}

.modal-trivia-title
{
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    height:40px;
}



.btn-rounded-green-modal
{
	border-color:#359685 !important;
	color:#359685 !important;
	background:#FFFFFF !important;
	float:none;
	width: initial;
	margin:0px;
    width: initial;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 4px 12px ;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:10px;
    padding-bottom: 9px;
}

.btn-rounded-green-modal:hover
{background:#359685 !important;color:#fff !important}

.portada-img
{
    float: left;
    width: 22.6%;
}

.portada-txt
{
    float: right;
    width: 77.4%;
    padding-left: 20px;
    min-height: 267px;
    position:relative;
}

.portada-button
{
    bottom:0px;
    position: absolute;
}

.trivia-modal-title
{
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.trivia-modal-title2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    display:none;
}

.trivia-modal-title3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin: 0px;
    border:0px;
    padding:0px;

}

.trivia-modal-creator
{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300; /*lo light*/
    margin-top:0px;
    margin-bottom: 20px;
}
.trivia-modal-description
{
	font-family: 'Open sans', sans-serif;
    font-size: 18px;
    font-weight: 300; /*lo light*/
    margin-bottom: 40px;
}

.trivia-modal-created
{
	font-family: 'Open sans', sans-serif;
    font-size: 14px;
    font-weight: 300; /*lo light*/
    float:right;
    margin-bottom:20px;
}

.trivia-modal-libros
{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-top:30px;
    margin-bottom: 20px;
}

.modal-backdrop 
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #233b48;
  opacity:0.9 !important;
}

.trivia-results-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top:10px;
    margin-bottom: 30px;
}

.trivia-results-ok
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #359685;
    float:right;
    /*margin-top:30px;
    margin-bottom: 30px;*/
}

.trivia-results-mal
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #cc4242;
    float:right;
    /*margin-top:30px;
    margin-bottom: 30px;*/
}

.trivia-results-neutro
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #000000;
    float:left;
}

.row-results
{
    text-align: center;
    padding-bottom: 10px;

}

.tabla-result td:nth-child(1)
{
    text-align: right;
    vertical-align:middle;
}

.tabla-result td:nth-child(3)
{
    text-align: left;
    vertical-align:middle;
}

.tabla-result td:nth-child(1),
.tabla-result td:nth-child(3) {
  width: 45%;
}
.tabla-result td:nth-child(2) {
  width: 10%;
  vertical-align: middle;
  text-align: center;
} 

.tabla-result
{
    table-layout: fixed;
    vertical-align:middle;
}

.tabla-result tr
{
    vertical-align:middle;
}


.col-left{ float: left; width: 45%; }
.col-right{ float: right; width: 45%; }
.col-cen{ display: inline-block; width: 10%; }


.keyw-p
{
	margin-bottom: 0px;
	font-family: 'Open sans', sans-serif;
    font-size: 14px;
}

.likes
{
	margin-bottom: 0px;
	font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #354f5e;
    width: 50%;
    float: left;
}

.like-link
{
    cursor:pointer!important; 
    color:#000;
}

.keywords
{
    background-color: #354f5e;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.list-books-trivia
{
	width: 100px;
    height: 153px;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 5px;
}

/*finale*/
.congratulation-trivia
{
    color:#3cb19c;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 35px;
}

.result-gral-trivia
{
    color:#000000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.recomendacion-trivia
{
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 50px;
}

.share-results-trivia
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-rounded-green-sidebar 
{
    border-color: #359685 !important;
    color: #359685 !important;
    background: #FFFFFF !important;
    float: none;

    max-width: 374px;
    margin: 0px;
    width: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 4px 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 9px;
    border:none;
}

.share-modal
    {
        float:right;
        width: 150px;
    }

.biblos-circle{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background-color: #359685;
    position: absolute;
    bottom: 3px;
    left: 18px;
    font-family: 'Montserrat', sans-serif;
}
.biblos-text{
    border-radius: 50%;
    border-color: #fff;
    border: solid 1px #fff;
    width: 60px;
    height: 60px;
    margin: 3px;
    font-size: 13px;
    padding: 6px;
}
.biblos-text .num{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}
.biblos-text .

/*con media querys*/
/*@media screen and (max-width: 920px)*/
@media screen and (max-width: 1296px)

{
    /*lista de trivias*/
    .trivias_list
    {
        width:100%;
    }

    .trivias_header
    {
        width: 100%;
    }
    .trivias_body
    {
        width: 100%;
    }
    .trivia-busqueda-text
    {
        float: left;
        width: 90%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        list-style: none;
    }

    .trivia 
    {
        
        width: 50%;
        height: 391px;

    }
    .trivias-list-background-image
    {
        background-size: cover;
        display: block;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
        width: 90%;
        height: 235px;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        cursor: hand;
    }

    /*vista modal*/
    .portada-txt 
    {
        float: right;
        min-width: 370px;
        max-width: 550px;
        width:70%;
        min-height: 267px;
        position: relative;
    }
    .btn-rounded-green-modal
    {
        font-size: 14px;
    }

    .share-modal
    {
        float:right;
        width: 150px;
    }


}

@media screen and (min-width: 310px) and (max-width: 620px)
{

    .trivias_list
    {
        width:100%;
    }

    .trivias_header
    {
        width: 100%;
    }
    .trivias_body
    {
        width: 100%;
    }
    .trivia-busqueda-text
    {
        float: left;
        width: 75%;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        list-style: none;
    }

    .trivia 
    {
        
        width: 100%;
        max-width: 370px;
        min-height: 391px;
        height:auto;
        float:none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .trivias-list-background-image
    {
        background-size: cover;
        display: block;
        filter: grayscale(0.7);
        -webkit-filter: grayscale(0.7);
        width: 90%;
        height: 235px;
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        cursor: hand;
    }

    /*vista modal*/
    .portada-txt 
    {
        float: right;
        min-width: 130px;
        max-width: 390px;
        width:70%;
        min-height: 267px;

    }

    .portada-img 
    {
        float: left;
        width: 28%;
    }

    .img-portada-grande 
    {
        width: 100%;
        height: auto;
    }
    .btn.btn-success2
    {
        min-width: 280px;
    }
    .btn-rounded-green-modal
    {
        font-size: 12px;
    }
        .share-modal
    {
        float:right;
        width: 150px;
    }
}
@media screen and (max-width: 320px)
{
    .portada-button 
    {

        position: relative;
        right:50px;
    }
    .trivia
    {
        height:auto;
    }
    .metadata-trivia
    {
        max-height: 70px;
    }
    .likes
    {
        width:40%;
    }
    .btn.btn-success2
    {
        min-width: 250px;
    }
    .btn-rounded-green-sidebar
    {
        max-width: 280px;
        font-size: 11px;
    }
    .btn-rounded-green-modal
    {
        font-size: 12px;
    }
    .share-modal
    {
        float:right;
        width: 150px;
    }
}

    
}


#save_user
{float:none;width:20%;margin-right:auto;margin-left:auto}

#save_user:hover
{color:#fff !important;border-color:#3cb19c !important;background:#3cb19c !important}

#bienvenidos #save_user:hover
{color:#fff !important;background:#354f5e !important;border-color:#354f5e !important}

.block_1 h2
{margin-right:auto !important;margin-left:auto !important}

.btn-rounded
{border-radius:30px !important}

.inscripcion .header-form .row-img-bienbenidos p
{font-weight:300}

.inscripcion .header-form .row-img-bienbenidos p span
{font-weight:500}

.view-recover .dos .inscripcion .header-form h3,.view-login .dos .inscripcion .header-form h3
{padding-top:10px}

.view-recover .dos .inscripcion .header-form h3,.view-recover .dos .inscripcion .header-form p,.view-login .dos .inscripcion .header-form h3,.view-login .dos .inscripcion .header-form 
{color:#fff !important}

.view-recover .dos #inscripcion #login,.view-login .dos #inscripcion #login
{width:30%;margin-right:auto;margin-left:auto}

.view-recover .dos #inscripcion #login:hover,.view-login .dos #inscripcion #login:hover
{background:#3cb19c;color:#fff !important}

.view-recover .dos #inscripcion #recover_button,.view-login .dos #inscripcion #recover_button
{width:30%;margin-right:auto;margin-left:auto}

.view-recover .dos #inscripcion #recover_button:hover,.view-login .dos #inscripcion #recover_button:hover
{background:#3cb19c;color:#fff !important}

.view-recover .dos .inscripcion .header-form h3
{padding-top:40px}

.view-recover .dos .inscripcion .header-form p
{padding-top:20px;padding-bottom:30px}

.view-login .inscripcion .header-form .row-img p,.view-recover .inscripcion .header-form .row-img p
{color:#000 !important;font-family:'montserrat' !important}

.view-login form#inscripcion,.view-recover form#inscripcion
{padding-top:80px}

form#inscripcion
{background:#fff;padding-top:60px;padding-bottom:20px}

form#inscripcion .col.col-xs-12.col-sm-12.col-lg-8.form-group
{margin-right:auto;margin-left:auto;float:none}

form#inscripcion .col.col-xs-12.col-sm-12.col-lg-8.form-group label
{display:block}

form#inscripcion .col.col-xs-12.col-sm-12.col-lg-8.form-group label input
.required{width:100%}

form#inscripcion ol.checkboxw
{margin-right:auto;margin-left:auto;float:none;border-top:0px;border-bottom:0px}

form#inscripcion .text-light label
{font-weight:300}

.row-img{height:50px}.row-img .position-conten
{position:relative;width:100%;height:100px}

.row-img .content-imagen
{width:100px;height:100px;border-radius:100px;background:#233b48;margin-right:auto;margin-left:auto}

.row-img .circle-img
{width:50px;height:50px;margin-right:auto;margin-left:auto;margin-top:25px}

.row-img  p
{color:#000;text-align:center;font-family:'montserrat' !important}

#bienvenidos
{padding-top:100px;padding-bottom:80px}

#bienvenidos hgroup
{padding-top:10px}

#bienvenidos hgroup h2
{color:#264f66;font-family:'montserrat' !important}

#bienvenidos hgroup h3
{color:#045345;font-weight:300;font-family:'montserrat' !important}

#bienvenidos .row-img-bienbenidos.form-group
{margin-right:30px;margin-left:30px;margin-bottom:0px}

#bienvenidos .row-img-bienbenidos.form-group p
{padding-right:10px;padding-left:10px;margin-top:20px;padding-bottom:20px;margin-bottom:0px;font-size:20px;font-weight:300;line-height:24px;font-family:'opensans', sans-serif}

#bienvenidos .row-img-bienbenidos.form-group p span
{font-weight:500;font-family:'opensans', sans-serif}

#bienvenidos form#inscripcion p
{font-size:20px;font-style:normal;font-family:'opensans', sans-serif}

#bienvenidos form#inscripcion p span
{font-weight:500;color:#264f66;font-family:'opensans', sans-serif}

#bienvenidos form#inscripcion .group-btns
{padding-bottom:20px}

#bienvenidos form#inscripcion .group-btns .btn
{width:35%;display:inline-block;margin-right:0;margin-left:0}

#bienvenidos form#inscripcion .group-btns a
{float:right}

#bienvenidos form#inscripcion .group-btns input
{float:left}

.text-gray
{color:#979797;font-weight:300}

#inscripcion #error_name.text-danger,#inscripcion #error_password_count.text-danger,#inscripcion #error_passw_coincidencia.text-danger,#inscripcion #error_check.text-danger,#inscripcion #error_email_formato.text-danger
{font-family:'opensans', sans-serif !important}

.ajax-loader-login
{display:none;background-color:rgba(36,60,73,0.9);position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;text-align:center;padding-top:100px}

@media screen and (min-width: 600px) and (max-width: 1280px)

{.block_1.type_A{padding-right:20px;padding-left:20px}.header-form{padding-right:10px;padding-left:10px}.header-form p{text-align:center !important}}

@media screen and (min-width: 751px) and (max-width: 1024px)
{.inner-block.home-signup.view-login{display:block !important}}

.inner-block.home-signup.view-login .dos
{width:100% !important}

#inscripcion .form-group fieldset.row
{margin-right:0;margin-left:0}

#inscripcion .checkboxw
{padding-left:15px;padding-right:15px;width:65%}

#inscripcion #save_user,#inscripcion #recover_button,#inscripcion #login
{width:50% !important}}

@media screen and (min-width: 768px) and (max-width: 1024px)
{#form-registro .row.block_1{padding-bottom:15px}

#bienvenidos .inscripcion.form-group .header-form .row:nth-child(1)
{float:right}

#bienvenidos .inscripcion.form-group .header-form .row:nth-child(1) .right.btn-closed_welcome
{float:right}

#bienvenidos .group-btns.welcome-btns #btn-ver-im
g{width:45% !important}

#bienvenidos #save_user.btn.btn-rounded.right.btn-cansel-wcm
{padding:6px 12px;width:45% !important}

form#inscripcion ol.checkboxw
{width:100% !important}

form#inscripcion ol.checkboxw li:nth-child(2) #error_check
{margin-top:25px}}

@media screen and (max-width: 750px) and (orientation: landscape)
{
	.inner-block.home-signup.wcm-cont
	{padding-bottom:0px}

	.inner-block.home-signup.wcm-cont .inscripcion.form-group
	{margin-bottom:0px}

	#bienvenidos .group-btns.welcome-btns #btn-ver-img
	{width:45% !important}

	#bienvenidos #save_user.btn.btn-rounded.right.btn-cansel-wcm
	{padding:6px 12px;width:45% !important;clear:none}}
	@media screen and (min-height: 360px) and (max-width: 640px)
	{
		form#inscripcion ol.checkboxw li:nth-child(2) #error_check
		{margin-top:25px !important}
		#bienvenidos .group-btns.welcome-btns #btn-ver-img
		{width:45% !important}

		#bienvenidos #save_user.btn.btn-rounded.right.btn-cansel-wcm
		{padding:6px 12px;width:45% !important}
		@media screen and (min-height: 360px) and (max-width: 640px) and (orientation: landscape)
		{
			#bienvenidos .group-btns.welcome-btns #btn-ver-img
			{width:45% !important}
		#bienvenidos #save_user.btn.btn-rounded.right.btn-cansel-wcm
	{
		padding:6px 12px;width:45% !important
	}

}

@media screen and (min-height: 360px) and (max-width: 640px) and (orientation: portrait)
{
	#bienvenidos .group-btns.welcome-btns #btn-ver-img
	{width:90% !important}
	#bienvenidos #save_user.btn.btn-rounded.right.btn-cansel-wcm
	{padding:6px 12px;width:90% !important}
}

@media screen and (max-width: 750px)
{
	.inner-block.home-signup,.inner-block.home-signup.view-recover,.inner-block.home-signup.view-login
	{display:block !important}
	.inner-block.home-signup .dos,.inner-block.home-signup.view-recover .dos,.inner-block.home-signup.view-login .dos
	{width:100% !important}
	.inner-block.home-signup .dos .btn-con-cuenta,.inner-block.home-signup.view-recover .dos .btn-con-cuenta,.inner-block.home-signup.view-login .dos .btn-con-cuenta
	{width:175px}
	.block_1.type_A .header-form p
	{text-align:center !important}
	.btn.btn-fb
	{width:70%}
	#inscripcion .form-group fieldset.row
	{margin-right:0;margin-left:0}
	#inscripcion .checkboxw
	{
		padding-left:15px;
		padding-right:15px
	}
	#inscripcion #save_user,#inscripcion #recover_button,#inscripcion #login
	{width:90% !important}
	#bienvenidos .inscripcion a.right.btn-closed_welcome
	{float:right !important}
	#bienvenidos
	{
		padding-top:0px;
		padding-bottom:0px
	}
	#bienvenidos #inscripcion
	{padding-bottom:50px !important}
}
@media screen and (min-height: 481px) and (max-width: 583px)
{
	.inner-block.home-signup
	{padding-bottom:0px}

	.dos
	{margin-bottom:0px}

	dos .block_1.type_A .header-form h3
	{margin-top:0px}

	.dos .block_1.type_A .header-form p
	{text-align:center !important

}

.row.block_1
{display:none}

.btn-visible
{display:block !important;width:90%}

.inscripcion.form-group
{margin-bottom:0px !important}

#bienvenidos .inscripcion a.right.btn-closed_welcome
{float:right !important}

#bienvenidos
{padding-top:0px;padding-bottom:0px}

#bienvenidos #inscripcion
{padding-bottom:50px}

}

@media screen and (max-width: 480px)
{
	#bienvenidos .inscripcion a.right.btn-closed_welcome
	{float:right !important}

	#bienvenidos{padding-top:0px;padding-bottom:0px}

	.inner-block.home-signup{padding-bottom:0px;display:block !important}

	.inner-block.home-signup .dos{width:100% !important;margin-bottom:0px}

	.inner-block.home-signup .dos .inscripcion.form-group{margin-bottom:0px}

	.inner-block.home-signup .dos .type_A p{text-align:center !important;padding:0px 10px}

	.inner-block.home-signup .dos .row.block_1{display:none}

	.inner-block.home-signup .dos #inscripcion{padding-right:15px;padding-left:15px}#save_user{width:90%}#bienvenidos hgroup h3{font-size:20px}#bienvenidos .inscripcion .row-img-bienbenidos{margin-right:15px;margin-left:15px}#bienvenidos #inscripcion .row p{font-style:normal}#bienvenidos #inscripcion .group-btns .btn.btn-rounded{width:90%;float:none;margin-right:5%;margin-left:5%;padding-bottom:10px;padding-top:10px;margin-bottom:10px}#bienvenidos #inscripcion .welcome-btns{padding-bottom:0px !important;margin-bottom:0px}#bienvenidos #inscripcion .welcome-btns #save_user.btn-cansel-wcm{margin-bottom:0px}.btn-visible{display:block !important;width:90%}.view-recover .dos .inscripcion .header-form,.view-login .dos .inscripcion .header-form{text-align:center !important}.view-recover .dos .inscripcion .header-form h3,.view-login .dos .inscripcion .header-form h3{margin-top:0px}.view-recover .btn.btn-rounded,.view-login .btn.btn-rounded{float:none;margin-right:5%;margin-left:5%;width:90%}#inscripcion .row{margin-right:auto;margin-left:auto}}#wrapper>header>div.row.no-margin.desktop-menu>div>a{text-decoration:none}#wrapper>header>div.row.no-margin.desktop-menu>div>a:hover,#wrapper>header>div.row.no-margin.desktop-menu>div>a:active,#wrapper>header>div.row.no-margin.desktop-menu>div>a:focus,#wrapper>header>div.row.no-margin.desktop-menu>div>a:visited{text-decoration:none}
/*# sourceMappingURL=styles_l.css.map */
