/*estilos para los elementos modales*/
.ajax-loader
{
    text-align: center;
    display: none; 
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 15px;
}

.modal-header 
{
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 2px solid #3db29c !important;
}

.modal-title 
{
    margin: 0;
    line-height: 1.42857143;
}

.modal-content 
{
    border-radius: 0;
    padding: 0 15px 0 15px;
    font-family: 'Montserrat';
    font-size: 20px;
}

.no-padding-sides 
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.modal-footer 
{
    padding: 15px;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}

.modal .modal-footer button 
{
    font-size: 12px;
    width: 120px;
    height: 24px;
    vertical-align: bottom;
    background-color: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.modal .each_list .book_title 
{
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-weight: 00;
}

.modal .each_list .book_autor 
{
    font-size: 12px;
}

.modal .each_list .book_editorial {
    font-size: 12px;
}

.modal .each_list p 
{
    margin: 0 0 3px;
}

.modal .each_list .book_title a {
    color: #333;
}

.modal .showrow 
{
    display: block;
}

.modal .each_list 
{
    border-bottom: 1px solid #eee;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    margin: 8px 0;
    padding: 8px 0;
    position: relative;
}
.modal .div_add_book_search {
    width: 66%;
}

.modal #add_book_search 
{
    width: 100%;
}

.modal-title, h4 
{
    font-size: 18px;
}

input[type="text"], .modal-input-textarea:focus 
{
    border: solid 1px #354f5e;
}
input[type="text"], .modal-input-textarea {
    font-family: 'Montserrat';
    font-size: 14px;
}

.modal #search_result  /*contenedor de los resultados de la busqueda*/
{
    max-height: 360px;
    overflow: scroll;
}

.modal .each_list img /*portadas de la lista de busqueda*/
{
    width: 50px;
    height: auto;
}

.modal .each_list .list-rating img /*Las estrellitas*/
{
    width: 15px;
}

.modal .each_list .chk-add-book /*chkbox*/
{
    left: 10px;
    position: absolute;
    top: 10px;
}

.modal select 
{
    background-image: url("../images/backend/bullet_arrow_down.png");
    background-position: 96% center;
    background-repeat: no-repeat;
    border-color: #354f5e;
    color: #354f5e;
    font-family: 'montserrat';
    font-size: 16px;
    width: 110px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modal .btn-search-book 
{
    background-image: url("../images/icono_buscar.svg");
    background-color: transparent;
    background-size: cover;
    border: 0 solid #fff !important;
    height: 30px;
    width: 30px;
}

.btn-blue 
{
    border: 1px solid #354f5e;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    font-family: "Montserrat";
    color: #354f5e;
    background-color: white;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 8px;
    float: right;
    position: relative;
    display: block;
    font-size: 12px;
}

#add_book_list 
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    height: 30px;
}

/*Estilos para los elementos de fuera*/
.imagen-libro
{
    width: 100px;
    height: 153px;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 5px;
}

.table-layout
{
    width:100%;
    /*border: 2px solid black;*/
}

tr, td
{
    width:100%;
    max-width: 823px;
    /*border: 2px solid black;*/
}

input[type=text], input[type=email], input[type=password], textarea 
{
    width:100%;
}

.create-input-txt-short
{
    height:32px;
}

.create-input-txt-huge
{
    height:60px;
}

.text-inputs
{

    width: 100%;
    height: 46px;
    font-family: "Montserrat" !important;
    border-radius: 3px !important;
    border-color: #354f5e !important;
    /*border:1px  !important;*/

}
.text-inputs-resp
{

    width: 80% !important;
    height: 46px;
    font-family: "Montserrat" !important;
    border-radius: 3px !important;
    border-color: #354f5e !important;
    /*border:1px  !important;*/

}

.date-inputs
{
    width: 100%;
    height: 46px;
    font-family: "Montserrat" !important;
    border:1px inset;
    border-radius: 3px !important;
    border-color: #354f5e !important;
    padding-left: 15px;
    color:#98a2a6;
}

.label-pregunta
{
    color: #359685;
}


.btn-con-cuenta
{float:right;margin-right:20px;margin-top:25px;color:#fff !important;border:1px solid #fff !important}

.btn-con-cuenta:hover
{background:#233b48 !important;border-color:#233b48 !important}


.trivias_header, .trivias_footer
{
    padding-left: 20px;
    padding-right: 20px;
}

input[type=submit], input[type=button] 
{
    border-color: #359685 !important;
    color: #359685 !important;
    background: #FFFFFF !important;
    float: none;
    margin-bottom: 10px !important;
    width: initial;
    margin-bottom: 0px;
    margin-top: 16px;
    width: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 4px 12px;
    border-radius: 30px !important;
}

/*Estos son los botones que uso*/
.btn-create-green
{
    border-color:#359685 !important;
    color:#359685 !important;
    background:#FFFFFF !important;
    float:none;
    margin-bottom:10px !important;
    width: initial;
    margin-bottom: 0px;
    margin-top: 16px;
    width: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 4px 12px ;
    border-radius: 30px;
}

.btn-create-green:hover
{
    background:#359685 !important;
    color:#fff !important}


.btn-rounded-green
{
    border-color:#359685 !important;
    color:#359685 !important;
    background:#FFFFFF !important;
    float:none;
    width: initial;
    margin:0px;
    width: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 4px 12px ;
}

.btn-rounded-green:hover
{background:#359685 !important;color:#fff !important}

.btn-rounded-green:hover img
{color:#000 !important}

.btn-round 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-round.btn-lg 
{
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm 
{
    width: 34px;
    height: 34px;
}

.btn-sm-green-label
{
    float:right;
    position:relative;
    top: -27px;
    right: -55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#FFFFFF;
}
.btn-sm-green-label-num
{
    width:60px;
    height:60px;
    border-radius:50%;
    font-size:20px;
    color:#FFFFFF;
    line-height:40px;
    text-align:center;
    background:#359685;
    float:right;
    position:relative;
    top: -55px;
    right: 0px;
    font-family: 'Montserrat', sans-serif;
}

.btn-round.btn-sm-green 
{
    width: 60px;
    height: 60px;
    border-color:#359685 !important;
    color:#ffffff !important;
    background:#359685 !important;
    align-content: center;
    float:right;
    position:relative;
    top: -65px;
    right: 0px;
    font-family: 'Montserrat', sans-serif;
}


.btn-round.btn-xs 
{
    width: 24px;
    height: 24px;
}

.modal-footer .btn-group .btn+.btn 
{
    margin-left: 20px;
}


.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child),.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle)
{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
    
}

.btn-group-vertical>.btn:first-child:not(:last-child), .btn-group-vertical>.btn:not(:first-child):not(:last-child) 
{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn.active, .btn:active 
{
    background-color: #000000;
}

.btn.btn-success
{
    border-color:#359685 !important;
    background-color: #ffffff;
    color:#359685 !important;
    margin:0px;
    border: 1px;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.btn.btn-success.active, .btn.btn-success.passed.active
{
    border-color:#000000 !important;
    background-color: #000000;
    color:#ffffff !important;
    margin:0px;
    border: 1px;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.btn.btn-success.passed 
{
    border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
    margin:0px;
    border: 1px;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}

.btn.btn-success2
{
    border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
        font-family: Montserrat;
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.btn.btn-success2.active, .btn.btn-success2.passed.active
{
    border-color:#000000 !important;
    background-color: #000000;
    color:#ffffff !important;
        font-family: Montserrat;
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.btn-success2:hover
{
    border-color:#000000 !important;
    background-color: #000000;
    color:#ffffff !important;
        font-family: Montserrat;
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;

}

.btn.btn-success2.passed 
{
    border-color:#359685 !important;
    background-color: #359685;
    color:#ffffff !important;
       font-family: Montserrat;
    font-size: 20px;
    min-width: 370px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.btn-visible
{display:none !important;margin-right:auto !important;margin-left:auto !important;float:none;width:20%}

.green-hr
{
        margin-top: 12px;
        margin-bottom: 38px;
        border: 0;
        border-top: 2px solid #359685 !important;
}

h2
{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
}

.trivia-pregunta-label
{
    font-family:'opensans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-top: 65px;
    margin-bottom: 50px;
}



.br-boton 
{
    text-align: center;
  margin:0em 0;/* FF for instance */
  line-height:0.2em;/* chrome for instance */
}

.titulo-trivia
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.metadata-trivia
{
    font-size:14px;
    font-style:normal;
    font-family:'opensans', sans-serif;
    color:#989898;
    padding-left: 20px;
    width:50%;

}

.metadata-trivia p
{
    margin-bottom: 0px;

}



/*lo de la ventana modal*/

@media (min-width: 820px){

.modal-dialog {
    width: 800px;
    margin: 30px auto;
}
}

.modal-header
{
    border-bottom: 0px;
    padding: 10px;
}

.modal-footer
{
    border-bottom: 20px;
    padding: 20px;
}


.btn-rounded-green-modal
{
    border-color:#359685 !important;
    color:#359685 !important;
    background:#FFFFFF !important;
    float:none;
    width: initial;
    margin:0px;
    width: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 4px 12px ;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:10px;
    padding-bottom: 9px;
}

.btn-rounded-green-modal:hover
{background:#359685 !important;color:#fff !important}

.trivia-modal-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top:20px;
    margin-bottom: 0px;
}

.trivia-modal-creator
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300; /*lo light*/
    margin-top:20px;
    margin-bottom: 40px;
}
.trivia-modal-description
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    font-weight: 300; /*lo light*/
    margin-top:40px;
    margin-bottom: 40px;
}

.trivia-modal-created
{
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    font-weight: 300; /*lo light*/
    float:right;
}

.trivia-modal-libros
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top:30px;
    margin-bottom: 20px;
}


.trivia-results-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top:10px;
    margin-bottom: 30px;
}

.trivia-results-ok
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #359685;
    float:right;
    /*margin-top:30px;
    margin-bottom: 30px;*/
}

.trivia-results-mal
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #cc4242;
    float:right;
    /*margin-top:30px;
    margin-bottom: 30px;*/
}

.trivia-results-neutro
{
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    color: #000000;
    float:left;
}

.row
{
    text-align: center;
    padding-bottom: 10px;

}


.col-left{ float: left; width: 45%; }
.col-right{ float: right; width: 45%; }
.col-cen{ display: inline-block; width: 10%; }


.keyw-p
{
    margin-bottom: 0px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
}

.likes
{
    margin-bottom: 0px;
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
}

.keywords
{
    background-color: #354f5e;
    color: #fff;
    padding: 1px 4px;
    margin: 0 4px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.list-books-trivia
{
    width: 100px;
    height: 153px;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 5px;
}

/*finale*/
.congratulation-trivia
{
    color:#3cb19c;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 35px;
}

.result-gral-trivia
{
    color:#000000;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.recomendacion-trivia
{
    color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 50px;
}

.share-results-trivia
{
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}



@media screen and (min-height: 481px) and (max-width: 583px)
{
    .inner-block.home-signup
    {padding-bottom:0px}

    .dos
    {margin-bottom:0px}

    dos .block_1.type_A .header-form h3
    {margin-top:0px}

    .dos .block_1.type_A .header-form p
    {text-align:center !important

}

.row.block_1
{display:none}

.btn-visible
{display:block !important;width:90%}

.inscripcion.form-group
{margin-bottom:0px !important}

#bienvenidos .inscripcion a.right.btn-closed_welcome
{float:right !important}

#bienvenidos
{padding-top:0px;padding-bottom:0px}

#bienvenidos #inscripcion
{padding-bottom:50px}

}

@media screen and (max-width: 480px)
{
    #bienvenidos .inscripcion a.right.btn-closed_welcome
    {float:right !important}

    #bienvenidos{padding-top:0px;padding-bottom:0px}

    .inner-block.home-signup{padding-bottom:0px;display:block !important}

    .inner-block.home-signup .dos{width:100% !important;margin-bottom:0px}

    .inner-block.home-signup .dos .inscripcion.form-group{margin-bottom:0px}

    .inner-block.home-signup .dos .type_A p{text-align:center !important;padding:0px 10px}

    .inner-block.home-signup .dos .row.block_1{display:none}

    .inner-block.home-signup .dos #inscripcion{padding-right:15px;padding-left:15px}#save_user{width:90%}#bienvenidos hgroup h3{font-size:20px}#bienvenidos .inscripcion .row-img-bienbenidos{margin-right:15px;margin-left:15px}#bienvenidos #inscripcion .row p{font-style:normal}#bienvenidos #inscripcion .group-btns .btn.btn-rounded{width:90%;float:none;margin-right:5%;margin-left:5%;padding-bottom:10px;padding-top:10px;margin-bottom:10px}#bienvenidos #inscripcion .welcome-btns{padding-bottom:0px !important;margin-bottom:0px}#bienvenidos #inscripcion .welcome-btns #save_user.btn-cansel-wcm{margin-bottom:0px}.btn-visible{display:block !important;width:90%}.view-recover .dos .inscripcion .header-form,.view-login .dos .inscripcion .header-form{text-align:center !important}.view-recover .dos .inscripcion .header-form h3,.view-login .dos .inscripcion .header-form h3{margin-top:0px}.view-recover .btn.btn-rounded,.view-login .btn.btn-rounded{float:none;margin-right:5%;margin-left:5%;width:90%}#inscripcion .row{margin-right:auto;margin-left:auto}}#wrapper>header>div.row.no-margin.desktop-menu>div>a{text-decoration:none}#wrapper>header>div.row.no-margin.desktop-menu>div>a:hover,#wrapper>header>div.row.no-margin.desktop-menu>div>a:active,#wrapper>header>div.row.no-margin.desktop-menu>div>a:focus,#wrapper>header>div.row.no-margin.desktop-menu>div>a:visited{text-decoration:none}
/*# sourceMappingURL=styles_l.css.map */
