.update-info-block{
	border: 1px solid #dedddd;
	padding: 0px;
	font-family: "Open Sans";
	margin-bottom: 20px;
}
.lateral-info{
	border: 0px;
	text-align: left;
	padding-left: 10px;
}
.privacy-panel{
	font-family: 'Open Sans' !important;
}
.lateral-item{
	border-bottom: 1px solid #dedddd;
	padding: 20px 10px 20px 10px; 
	cursor: pointer !important;
}

.update-data{
	border-left: 1px solid #dedddd;
	background-color: #f6f7f7;
	padding-top: 25px;
	padding-bottom: 25px;
}

.lateral-item:hover{
	background-color:#3cb19c;
	color: #FFF !important;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.active-item{
	background-color:#3cb19c;
	color: #FFF !important;
}

.btn-submit{
	margin-top:30px;
	margin-bottom:30px;
	border-top: 1px solid #dedddd;
	padding-top: 30px !important;
}

.update-title{
	font-size: 24px;
	color:#354f5e !important;
	margin-bottom: 25px
}
.update-rows{
	margin-bottom: 15px;
}

.advice-mini{
	margin-top: 50px;
	font-size: 11px;
	color: #bbb;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus{
		border-color: #3cb19c !important;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;		
}

input[type=text],
input[type=email],
input[type=password]{
	border-color: #dedddd !important;
	font-family: 'Open Sans' !important;
	font-size: 14px;
}

textarea{
	border: 1px solid #dedddd !important;	
	font-family: 'Open Sans' !important;	
	font-size: 14px;	
}
textarea:focus{
	border: 1px solid #3cb19c !important;	
}
.form-group{
	margin-bottom: 0px !important;
}
.form-group input {
	display: none; 
}
.form-group label {
	padding: 2px;
	transition: all .2s; 
}
.form-group input:checked ~ label.tick:before {
	content: url("../images/detail/checkbox_select.svg");
	color: #FD4;
	transition: all .25s;
}
.form-group label:before {
	content: url("../images/detail/checkbox_hover.svg"); 
}
.form-group label:before:hover {
  cursor: pointer; 
}
label{
	font-weight: normal !important;
}

.error-profile{
	display: none;
	margin-top: 50px;	
	color:#cc4242 ;
	font-size: 12px;
}

	input.privacy-tick{ 
		display: none; 
	} 
	label.privacy-tick{
	  padding: 2px;
	  transition: all .2s;
	}	
	input.privacy-tick:checked ~ label.privacy-tick:before {
	  content: url('../images/detail/radio-button_active.svg');  
	  color: #FD4;
	  transition: all .25s;
	}	
	label.privacy-tick:before {
	  content: url('../images/detail/radio-button_inactive_green.svg');
	  &:hover{
	  	cursor:pointer;
	  }
	}